<script setup>
import { Head } from "@inertiajs/vue3";
import SiteLayout from "../../Layouts/SiteLayout.vue";
defineOptions({ layout: SiteLayout });
</script>

<template>
    <Head title="บริการ" />

    <Head>
        <!-- HTML Meta Tags -->
        <meta
            name="description"
            content="มหาวิทยาลัยราชภัฏกำแพงเพชร เป็นมหาวิทยาลัยที่เป็นที่พึ่งทางวิชาการของท้องถิ่นให้มีความเข้มแข็งอย่างยั่งยืน สถาปนาเมื่อ ปี 2516 ปัจจุบันประกอบด้วย 5 คณะ"
        />
        <!-- Keywords Meta Tags -->
        <meta
            name="Keywords"
            lang="en"
            content="Covid, Kamphaeng Phet Rajabhat University, Rajabhat, KamphaengPhet, KPRU, KP, Kamphaeng, Thailand, Thai University"
        />
        <meta
            name="Keywords"
            lang="th"
            content="มหาวิทยาลัยราชภัฏกำแพงเพชร, ราชภัฏกำแพงเพชร, มรภ.กพ., วิทยาลัยครูกำแพงเพชร, วิทยาลัยครู, ราชภัฏภาคเหนือ, มหาวิทยาลัยราชภัฏ, มหาวิทยาลัย, สถาบันการศึกษา"
        />
        <!-- Google / Search Engine Tags -->
        <meta
            itemprop="name"
            content="บริการ | คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร"
        />
        <meta
            itemprop="description"
            content="คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร เป็นศูนย์กลางในการพัฒนาองค์ความรู้ด้านการบริหารจัดการ โดยการบูรณาการทางวิชาการ วิชาชีพ เพื่อการพัฒนาชุมชนท้องถิ่นของมหาวิทยาลัยราชภัฏภาคเหนือตอนล่าง"
        />
        <meta itemprop="image" content="/storage/fb_og_image.jpg" />

        <!-- Facebook Meta Tags -->
        <meta property="og:url" content="https://fms.kpru.ac.th" />
        <meta property="og:type" content="website" />
        <meta
            property="og:title"
            content="บริการ | คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร"
        />
        <meta
            property="og:description"
            content="คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร เป็นศูนย์กลางในการพัฒนาองค์ความรู้ด้านการบริหารจัดการ โดยการบูรณาการทางวิชาการ วิชาชีพ เพื่อการพัฒนาชุมชนท้องถิ่นของมหาวิทยาลัยราชภัฏภาคเหนือตอนล่าง"
        />
        <meta property="og:image" content="/storage/fb_og_image.jpg" />

        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta
            name="twitter:title"
            content="บริการ | คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร"
        />
        <meta
            name="twitter:description"
            content="คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร เป็นศูนย์กลางในการพัฒนาองค์ความรู้ด้านการบริหารจัดการ โดยการบูรณาการทางวิชาการ วิชาชีพ เพื่อการพัฒนาชุมชนท้องถิ่นของมหาวิทยาลัยราชภัฏภาคเหนือตอนล่าง"
        />
        <meta name="twitter:image" content="/storage/fb_og_image.jpg" />
    </Head>
    <!-- Breadcrumb -->
    <div class="container pt-4 mx-auto">
        <nav
            class="flex px-5 py-3 text-gray-700 border border-gray-200 rounded-lg bg-gray-50"
            aria-label="Breadcrumb"
        >
            <ol
                class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse"
            >
                <li class="inline-flex items-center">
                    <a
                        href="/"
                        class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600"
                    >
                        <svg
                            class="w-3 h-3 me-2.5"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor"
                            viewBox="0 0 20 20"
                        >
                            <path
                                d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"
                            />
                        </svg>
                        หน้าแรก
                    </a>
                </li>
                <li>
                    <div class="flex items-center">
                        <svg
                            class="block w-3 h-3 mx-1 text-gray-400 rtl:rotate-180"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 6 10"
                        >
                            <path
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="m1 9 4-4-4-4"
                            />
                        </svg>
                        <a
                            href="/service"
                            class="text-sm font-medium text-gray-700 ms-1 hover:text-blue-600 md:ms-2"
                            >บริการ</a
                        >
                    </div>
                </li>
            </ol>
        </nav>
    </div>
    <!-- Service Content -->
    <div class="container grid items-center grid-cols-1 px-20 py-24 mx-auto">
        <h2 class="text-3xl font-bold tracking-tight text-center text-gray-900">
            บริการ
        </h2>
        <p class="mb-4 text-center text-gray-500">
            รวบรวมการให้บริการจาก
            <a
                class="font-bold text-gray-500 hover:text-primary-500"
                href="https://www.kpru.ac.th/th/information-service-online/"
                target="_blank"
                rel="nofollow"
                >ระบบสารสนเทศออนไลน์ (e-University)</a
            >
            และบริการอื่นๆที่คณะวิทยาการจัดการมี
        </p>

        <dl
            class="grid grid-cols-1 mt-16 gap-x-6 gap-y-10 sm:grid-cols-3 sm:gap-y-16 lg:gap-x-8"
        >
            <div>
                <dt
                    class="pb-4 font-medium text-gray-900 border-b border-gray-200"
                >
                    บริการคณะ
                </dt>
                <dd class="pl-5 mt-2 text-sm text-gray-500">
                    <a
                        class="text-gray-500 hover:text-primary-500"
                        href="https://fms2.kpru.ac.th/fmsbooking/"
                        target="_blank"
                        rel="nofollow"
                        >ระบบจองห้องประชุม</a
                    >
                </dd>
                <dd class="pl-5 mt-2 text-sm text-gray-500">
                    <a
                        class="text-gray-500 hover:text-primary-500"
                        href="https://fms2.kpru.ac.th/fmsnews/"
                        target="_blank"
                        rel="nofollow"
                        >ระบบแจ้งข่าวสารการจัดโครงการ/กิจกรรม</a
                    >
                </dd>
                <dd class="pl-5 mt-2 text-sm text-gray-500">
                    <a
                        class="text-gray-500 hover:text-primary-500"
                        href="https://fms2.kpru.ac.th/academic-work/"
                        target="_blank"
                        rel="nofollow"
                        >ระบบงานวิชาการ</a
                    >
                </dd>
                <dt class="pl-2 mt-4">
                    - ศูนย์ฝึกประสบการณ์วิชาชีพ สหกิจศึกษา
                </dt>
                <dd class="pl-10 mt-2 text-sm text-gray-500">
                    <a
                        class="text-gray-500 hover:text-primary-500"
                        href="https://management.kpru.ac.th/internship/"
                        target="_blank"
                        rel="nofollow"
                        >ระบบบริหารจัดการฝึกประสบการณ์วิชาชีพ</a
                    >
                </dd>
            </div>
            <div>
                <dt
                    class="pb-4 font-medium text-gray-900 border-b border-gray-200"
                >
                    หน่วยงานย่อย/ศูนย์/สำนัก
                </dt>
                <dd class="mt-2 text-sm">
                    <a
                        class="text-gray-500 hover:text-primary-500"
                        href="https://eoa2.kpru.ac.th/"
                        target="_blank"
                        rel="nofollow"
                        >ระบบสำนักงานอัตโนมัติ (E-Office)<span
                            class="ml-2 text-xs text-blue-500"
                            >หน่วยงานกองกลาง</span
                        ></a
                    >
                </dd>
                <dd class="mt-2 text-sm text-gray-500">
                    <a
                        class="text-gray-500 hover:text-primary-500"
                        href="https://reg.kpru.ac.th/teachertable/"
                        target="_blank"
                        rel="nofollow"
                        >ระบบตรวจสอบตารางเรียน ตารางสอน<span
                            class="ml-2 text-xs text-blue-500"
                            >สำนักส่งเสริมวิชาการและงานทะเบียน</span
                        ></a
                    >
                </dd>
                <!--<dd class="mt-2 text-sm text-gray-500">ระบบ 8</dd>
            <dd class="mt-2 text-sm text-gray-500">ระบบสารสนเทศออนไลน์ (e-University)</dd>
            <dd class="mt-2 text-sm text-gray-500"></dd> -->
            </div>
            <div>
                <dt
                    class="pb-4 font-medium text-gray-900 border-b border-gray-200"
                >
                    บริการมหาวิทยาลัย
                </dt>
                <dd class="mt-2 text-sm">
                    <a
                        class="text-gray-500 hover:text-primary-500"
                        href="https://e-par.kpru.ac.th/timeKPRU/"
                        target="_blank"
                        rel="nofollow"
                        >ระบบ TimeKPRU (ลงเวลาปฏิบัติงาน)</a
                    >
                </dd>
                <dd class="mt-2 text-sm">
                    <a
                        class="text-gray-500 hover:text-primary-500"
                        href="https://e-student.kpru.ac.th/web2016/main.html"
                        target="_blank"
                        rel="nofollow"
                        >ระบบกรอกผลการเรียนออนไลน์และวิเคราะห์ศักยภาพผู้เรียน</a
                    >
                </dd>
                <dd class="mt-2 text-sm">
                    <a
                        class="text-gray-500 hover:text-primary-500"
                        href="https://dashboard.kpru.ac.th/"
                        target="_blank"
                        rel="nofollow"
                        >ระบบ DASHBOARD (มหาวิทยาลัยราชภัฏกำแพงเพชร)</a
                    >
                </dd>
            </div>
            <div>
                <dt
                    class="pb-4 font-medium text-gray-900 border-b border-gray-200"
                >
                    ดาวโหลด
                </dt>
                <dd class="mt-2 text-sm">
                    <a
                        class="text-gray-500 hover:text-primary-500"
                        href="https://fms.kpru.ac.th/storage/fms-documents/FMSDOC-Budgetdisbursementmanual-062567.pdf"
                        target="_blank"
                        rel="nofollow"
                        >คู่มือการเบิกจ่ายงบประมาณ<span
                            class="ml-2 text-xs text-red-500"
                            >PDF</span
                        ><span class="ml-2 text-xs text-primary-500"
                            >มิถุนายน 2567</span
                        ></a
                    >
                </dd>
                <dd class="mt-2 text-sm">
                    <a
                        class="text-gray-500 hover:text-primary-500"
                        href="https://fms.kpru.ac.th/storage/fms-documents/fms-budget-2568.zip"
                        target="_blank"
                        rel="nofollow"
                        >โครงการงบประมาณ ประจำปี 2568<span
                            class="ml-2 text-xs text-red-500"
                            >ZIP</span
                        ></a
                    >
                </dd>
                <dd class="mt-2 text-sm">
                    <a
                        class="text-gray-500 hover:text-primary-500"
                        href="https://fms.kpru.ac.th/storage/fms-documents/FMS-LOGO.zip"
                        target="_blank"
                        rel="nofollow"
                        >FMS Logo<span class="ml-2 text-xs text-red-500"
                            >ZIP</span
                        ></a
                    >
                </dd>
                <dd class="mt-2 text-sm">
                    <a
                        class="text-gray-500 hover:text-primary-500"
                        href="https://fms.kpru.ac.th/storage/fms-documents/Online-Meeting-Background.zip"
                        target="_blank"
                        rel="nofollow"
                        >Online Meeting Background<span
                            class="ml-2 text-xs text-red-500"
                            >ZIP</span
                        ></a
                    >
                </dd>
                <dd class="mt-2 text-sm">
                    <a
                        class="text-gray-500 hover:text-primary-500"
                        href="https://fms.kpru.ac.th/storage/fms-documents/Powerpoint-Templates.zip"
                        target="_blank"
                        rel="nofollow"
                        >Powerpoint Templates<span
                            class="ml-2 text-xs text-red-500"
                            >ZIP</span
                        ></a
                    >
                </dd>
            </div>
        </dl>
    </div>
</template>
