<script setup>
import { usePage } from '@inertiajs/vue3';
const page = usePage()
import { Head } from "@inertiajs/vue3";
import BlankLayout from '../../Layouts/BlankLayout.vue';
defineOptions({ layout: BlankLayout });

// รับ props ที่ส่งมาจาก Inertia
const props = defineProps({
    personnels: Object // ข้อมูลบุคลากรที่ได้รับมา
});
</script>

<template>

    <Head title="สาขาวิชานิเทศศาสตร์" />

    <Head>
        <!-- HTML Meta Tags -->
        <meta name="description"
            content="มหาวิทยาลัยราชภัฏกำแพงเพชร เป็นมหาวิทยาลัยที่เป็นที่พึ่งทางวิชาการของท้องถิ่นให้มีความเข้มแข็งอย่างยั่งยืน สถาปนาเมื่อ ปี 2516 ปัจจุบันประกอบด้วย 5 คณะ">
        <!-- Keywords Meta Tags -->
        <meta name="Keywords" lang="en"
            content="Kamphaeng Phet Rajabhat University, Rajabhat, KamphaengPhet, KPRU, KP, Kamphaeng, Thailand, Thai University">
        <meta name="Keywords" lang="th"
            content="มหาวิทยาลัยราชภัฏกำแพงเพชร, ราชภัฏกำแพงเพชร, มรภ.กพ., วิทยาลัยครูกำแพงเพชร, วิทยาลัยครู, ราชภัฏภาคเหนือ, มหาวิทยาลัยราชภัฏ, มหาวิทยาลัย, สถาบันการศึกษา">
        <!-- Google / Search Engine Tags -->
        <meta itemprop="name" content="สาขาวิชานิเทศศาสตร์ | คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร">
        <meta itemprop="description"
            content="คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร เป็นศูนย์กลางในการพัฒนาองค์ความรู้ด้านการบริหารจัดการ โดยการบูรณาการทางวิชาการ วิชาชีพ เพื่อการพัฒนาชุมชนท้องถิ่นของมหาวิทยาลัยราชภัฏภาคเหนือตอนล่าง">
        <meta itemprop="image" content="/storage/fb_og_image.jpg">

        <!-- Facebook Meta Tags -->
        <meta property="og:url" content="https://fms.kpru.ac.th">
        <meta property="og:type" content="website">
        <meta property="og:title" content="สาขาวิชานิเทศศาสตร์ | คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร">
        <meta property="og:description"
            content="คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร เป็นศูนย์กลางในการพัฒนาองค์ความรู้ด้านการบริหารจัดการ โดยการบูรณาการทางวิชาการ วิชาชีพ เพื่อการพัฒนาชุมชนท้องถิ่นของมหาวิทยาลัยราชภัฏภาคเหนือตอนล่าง">
        <meta property="og:image" content="/storage/fb_og_image.jpg">

        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="สาขาวิชานิเทศศาสตร์ | คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร">
        <meta name="twitter:description"
            content="คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร เป็นศูนย์กลางในการพัฒนาองค์ความรู้ด้านการบริหารจัดการ โดยการบูรณาการทางวิชาการ วิชาชีพ เพื่อการพัฒนาชุมชนท้องถิ่นของมหาวิทยาลัยราชภัฏภาคเหนือตอนล่าง">
        <meta name="twitter:image" content="/storage/fb_og_image.jpg">
    </Head>

    <header class="relative overflow-hidden text-white bg-pink-600">
        <div class="container mx-auto">
            <div class="flex justify-between py-2 min-h-12">
                <div>
                    <a :href="route('home')" class="flex">
                        <svg class="w-6 h-6 mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                            height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M8.757 6 3.24 10.95a1.05 1.05 0 0 0 0 1.549l5.611 5.088m5.73-3.214v1.615a.948.948 0 0 1-1.524.845l-5.108-4.251a1.1 1.1 0 0 1 0-1.646l5.108-4.251a.95.95 0 0 1 1.524.846v1.7c3.312 0 6 2.979 6 6.654v1.329a.7.7 0 0 1-1.345.353 5.174 5.174 0 0 0-4.652-3.191l-.003-.003Z" />
                        </svg>
                        กลับเว็บไซต์ คณะวิทยาการจัดการ
                    </a>
                </div>
                <div>
                    <ul class="flex">
                        <li>
                            <a href="https://www.facebook.com/commartsofficial/" class="text-white hover:text-blue-500"
                                target="_blank" ref="nofollow">
                                <svg class="w-8 h-8" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                                    <path fill-rule="evenodd"
                                        d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z"
                                        clip-rule="evenodd" />
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="flex justify-between py-2">
                <div class="flex">
                    <a :href="route('digital-business-technology-major')">
                        <img class="mr-2" src="/images/fms-logo.png" alt="FMS-Logo">
                    </a>
                    <div>
                        <a :href="route('digital-business-technology-major')">
                            <p class="block text-xl">สาขาวิชานิเทศศาสตร์</p>
                        </a>
                        <a :href="route('digital-business-technology-major')">
                            <p class="block text-sm">คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร</p>
                        </a>
                    </div>
                </div>
                <div class="flex space-x-4">
                    <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700" -->
                    <a href="https://admission.kpru.ac.th/" target="_blank"
                        class="px-2 py-2 font-medium rounded-md hover:text-red-600 hover:bg-white">สมัครเรียน
                    </a>
                    <a href="#about"
                        class="px-2 py-2 rounded-md hover:text-red-600 hover:bg-white">เกี่ยวกับสาขาวิชา</a>
                    <a href="#personnels" class="px-2 py-2 rounded-md hover:text-red-600 hover:bg-white">อาจารย์</a>
                    <a href="#mou"
                        class="px-2 py-2 rounded-md hover:text-red-600 hover:bg-white">บันทึกข้อตกลงความร่วมมือ</a>
                    <a href="#contact" class="px-2 py-2 rounded-md hover:text-red-600 hover:bg-white">ติดต่อ</a>
                </div>
            </div>
        </div>

    </header>
    <section id="images&slogan">
        <!-- images -->
        <div class="bg-pink-500 bg-footer-texture">
            <div class="container mx-auto">
                <img class="mx-auto w-fit" src="images/com-arts-banner.webp" alt="Business Management Major" />
            </div>
        </div>

        <!-- slogan  -->
        <div class="relative pt-10 pb-20 text-white bg-pink-600">
            <div class="container px-4 mx-auto">
                <h2 class="text-3xl text-right">“ สื่อสารสร้างสรรค์ สื่อสัมพันธ์เพื่อมวลชน ”</h2>
                <p class="mt-4 text-right">สาขาวิชานิเทศศาสตร์ คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร</p>
            </div>
            <!-- การใช้คลิปเพื่อสร้างการแยกส่วนแบบโค้ง -->
            <div class="absolute bottom-0 left-0 w-full h-20 origin-bottom-left transform bg-white rotate-2"></div>
        </div>
    </section>
    <section id="about">
        <!-- about -->
        <div class="py-10">
            <div class="container px-4 mx-auto">
                <!-- เนื้อหาใน Section ด้านล่าง -->
                <h2 class="text-3xl font-bold text-pink-600">เกี่ยวกับสาขาวิชานิเทศศาสตร์</h2>
                <p class="mt-4 break-words indent-8"> สาขาวิชานิเทศศาสตร์ คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกําแพงเพชร
                    จัดตั้งขึ้นในช่วงที่ความต้องการในการศึกษาต่อด้านการศึกษาลดลงไปมาก เนื่องจากเหตุผลหลายประการ อาทิ
                    การจํากัดอัตรากําลังในบุคลากรสายครู ทําให้นักเรียน
                    นักศึกษามีความสนใจที่จะศึกษาต่อในสายศิลปศาสตร์เพิ่มมากขึ้น
                    ผู้บริหารมหาวิทยาลัยราชภัฏกําแพงเพชรในขณะนั้น จึงมีการปรึกษาหารือกับคณบดีคณะต่างๆ
                    เพื่อศึกษาความเป็นไปได้ในการเปิดสอนในสายศิลปศาสตร์สาขาวิชาใหม่ๆ ที่เป็นความต้องการของท้องถิ่น
                    การศึกษาต่อในด้านนิเทศศาสตร์
                    ก็เป็นอีกสาขาหนึ่งที่มีนักเรียนระดับมัธยมปลายสนใจเข้าศึกษาต่อเป็นจํานวนมากเช่นกัน
                    ทําให้ผู้บริหารคณะวิทยาการจัดการ ได้เสนอให้มีการเปิดสอนในด้านนิเทศศาสตร์
                    โดยการจัดประชุมเชิงปฏิบัติการหลายครั้งทั้งในระดับคณะ และระดับมหาวิทยาลัย
                    และได้จัดทําแผนการจัดการศึกษาด้านนิเทศศาสตร์ไว้ในแผนพัฒนาการศึกษาฉบับที่ 8 (พ.ศ.2540-2544)
                </p>
                <p class="mt-4 break-words indent-8">ปลายปี พ.ศ.2543 ได้มีการแต่งตั้งคณะกรรมการสาขาวิชานิเทศศาสตร์ขึ้น
                    โดยอาจารย์ผู้สอนมาจากบุคลากรที่มีความรู้ ทักษะและประสบการณ์ด้านนิเทศศาสตร์จากคณะต่างๆ
                    เนื่องจากการเรียน การสอนด้านนิเทศศาสตร์ เป็นสหวิทยาการทําให้ต้องแต่งตั้งกรรมการสาขาวิชา
                    ซึ่งประกอบด้วยอาจารย์จากหลายคณะ โดยคณะที่เป็นผู้รับผิดชอบหลักคือ คณะวิทยาการจัดการ
                    โดยมีอาจารย์ผู้รับผิดชอบ 2 ท่าน คือ อาจารย์อารีรัตน์ วงษ์นายะ (รองศาสตราจารย์ ดร.ณัฐรดา วงษ์นายะ)
                    ทําหน้าที่เป็นประธานโปรแกรมวิชานิเทศศาสตร์ และ อาจารย์ปิยาภรณ์ ประภัสสร (ผู้ช่วยศาสตราจารย์
                    ดร.พธุรําไพ ประภัสสร) กรรมการสาขาวิชาเป็นผู้รับผิดชอบหลัก และกรรมการจากคณะต่างๆ อีก 5
                    ท่านเป็นกรรมการสาขา หลังจากนั้นก็ได้เตรียมความพร้อมในการเปิดสอน ในด้านอุปกรณ์การเรียนการสอน
                    ห้องปฏิบัติการ ทรัพยากรสนับสนุนการเรียนการสอนด้านอื่นๆ
                    ได้ทําการเปิดสอนนักศึกษารุ่นแรกในระดับปริญญาตรี สาขาการประชาสัมพันธ์ ในปี พ.ศ.2544 และในปี พ.ศ.2552
                    เปิดหลักสูตรศิลปศาสตรบัณฑิต สาขาวิชานิเทศศาสตร์และในปี พ.ศ.2556 เปิดหลักสูตรนิเทศศาสตรบัณฑิต
                    สาขาวิชานิเทศศาสตร์ และในปี 2560 เปิดหลักสูตรนิเทศศาสตรบัณฑิต สาขาวิชานิเทศศาสตร์ (หลักสูตรปรับปรุง)
                    ปัจจุบันสาขาวิชานิเทศศาสตร์ มีสํานักงานสาขาวิชาฯ อยู่บริเวณชั้น 7 คณะวิทยาการจัดการ (อาคาร 11)
                    มหาวิทยาลัยราชภัฏกําแพงเพชร
                </p>
                <div class="flex justify-center gap-5 mt-10">
                    <div class="ml-8">
                        <div class="mt-10">
                            <h2 class="text-3xl font-bold text-pink-600">หลักสูตรที่เปิดสอน</h2>
                            <ul>
                                <li class="mt-4 ml-8 text-2xl">ภาคปกติ</li>
                                <li class="mt-2 ml-16 text-xl">หลักสูตรระดับปริญญาตรี 4 ปี</li>
                            </ul>
                        </div>
                        <div class="mt-10">
                            <h2 class="text-3xl font-bold text-pink-600">แนวทางการประกอบอาชีพ</h2>
                            <ul class="ml-8 list-disc">
                                <li class="mt-2">Content Creator</li>
                                <li class="mt-2">YouTuber</li>
                                <li class="mt-2">นักออกแบบภาพเคลื่อนไหว</li>
                                <li class="mt-2">อาชีพอิสระด้านการผลิตสื่อ</li>
                                <li class="mt-2">นักสื่อสารการตลาด , นักการตลาดดิจิทัล</li>
                                <li class="mt-2">นักสื่อสารชุมชน</li>
                                <li class="mt-2">นักสื่อสารมวลชน</li>
                                <li class="mt-2">นักข่าว</li>
                                <li class="mt-2">ช่างภาพ</li>
                                <li class="mt-2">influencer</li>
                                <li class="mt-2">ผู้จัดการโซเซียลมีเดีย</li>
                                <li class="mt-2">นักเขียนสื่อออนไลน์</li>
                                <li class="mt-2">นักโฆษณา</li>
                                <li class="mt-2">นักแสดง, ผู้กำกับการแสดง, ผู้เขียนบทละคร</li>
                                <li class="mt-2">นักประชาสัมพันธ์</li>
                                <li class="mt-2">นักจัดรายการวิทยุกระจายเสียง, ผู้ประกาศ</li>
                                <li class="mt-2">นักวิชาการเยผแพร่, นักวิชาการสื่อสาร</li>
                            </ul>
                        </div>
                    </div>
                    <div> <img class="scale-75" src="images/com-arts-image-2.webp" alt="Accounting" /></div>
                </div>
                <div class="flex justify-center gap-5 py-10">
                    <div> <img src="images/com-arts-image-1.webp" alt="Accounting" /></div>
                    <div class="ml-8">
                        <div class="mt-10 text-left">
                            <h2 class="text-3xl font-bold text-pink-600">รายวิชาที่น่าสนใจ</h2>
                            <ul class="ml-8 list-disc">
                                <li class="mt-2">หลักการโฆษณาและการประชาสัมพันธ์</li>
                                <li class="mt-2">การถ่ายภาพดิจิทัล</li>
                                <li class="mt-2">คอมพิวเตอร์เพื่อการออกแบบสื่อ</li>
                                <li class="mt-2">การสร้างไอดอล</li>
                                <li class="mt-2">การสร้างสรรค์คอนเทนต์สื่อดิจิทัล</li>
                                <li class="mt-2">กระบวนการผลิตสื่อดิจิทัล</li>
                                <li class="mt-2">การแสดง</li>
                            </ul>

                        </div>
                    </div>

                </div>
                <div class="p-4 text-center">
                    <a :href="route('curriculum-communication-arts')"
                        class="inline-flex items-center justify-center py-3 text-2xl font-medium text-center text-white bg-pink-600 border border-pink-500 rounded-md px-7 hover:bg-pink-800">
                        รายละเอียด หลักสูตรศิลปศาสตรบัณฑิต สาขาวิชานิเทศศาสตร์
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section id="personnels" class="py-10">
        <div class="container px-4 mx-auto">
            <h2 class="text-3xl font-bold text-center text-pink-600">อาจารย์ และ บุคลากร ประจำสาขาวิชานิเทศศาสตร์</h2>
            <div class="grid gap-8 my-10 lg:gap-16 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
                <div v-for="item in personnels" :key="item.id" class="text-center text-gray-500 ">
                    <img class="mx-auto mb-4 rounded-full w-36 h-36" v-bind:src="item.picture" alt="Bonnie Avatar">
                    <div v-if="item.bullet_link4" class="flex justify-center text-primary-500">
                        <svg class="w-6 h-6 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m8.032 12 1.984 1.984 4.96-4.96m4.55 5.272.893-.893a1.984 1.984 0 0 0 0-2.806l-.893-.893a1.984 1.984 0 0 1-.581-1.403V7.04a1.984 1.984 0 0 0-1.984-1.984h-1.262a1.983 1.983 0 0 1-1.403-.581l-.893-.893a1.984 1.984 0 0 0-2.806 0l-.893.893a1.984 1.984 0 0 1-1.403.581H7.04A1.984 1.984 0 0 0 5.055 7.04v1.262c0 .527-.209 1.031-.581 1.403l-.893.893a1.984 1.984 0 0 0 0 2.806l.893.893c.372.372.581.876.581 1.403v1.262a1.984 1.984 0 0 0 1.984 1.984h1.262c.527 0 1.031.209 1.403.581l.893.893a1.984 1.984 0 0 0 2.806 0l.893-.893a1.985 1.985 0 0 1 1.403-.581h1.262a1.984 1.984 0 0 0 1.984-1.984V15.7c0-.527.209-1.031.581-1.403Z" />
                        </svg>
                        <p class="mr-1 text-lg text-primary-500" v-html="item.bullet_link4"></p>
                    </div>
                    <div v-else class="hidden"></div>
                    <div class="flex justify-center text-xl font-bold tracking-tight text-gray-900">
                        <span class="mr-1" v-if="item.position_rank_name === 'อาจารย์'">อ.</span>
                        <span class="mr-1" v-else-if="item.position_rank_name === 'อาจารย์ประจำตามสัญญาจ้าง'">อ.</span>
                        <span class="mr-1" v-else-if="item.position_rank_name === 'อาจารย์รายชั่วโมง'">อ.</span>
                        <span class="mr-1" v-else-if="item.position_rank_name === 'ผู้ช่วยศาสตราจารย์'">ผศ.</span>
                        <span class="mr-1" v-else-if="item.position_rank_name === 'รองศาสตราจารย์'">รศ.</span>
                        <span class="mr-1" v-else-if="item.position_rank_name === 'ศาสตราจารย์'">ศ.</span>
                        <span class="mr-1" v-html="item.bullet_link3"></span>
                        <h3 class="mb-1 text-left" v-html="item.first_name_tha + '&nbsp&nbsp' + item.last_name_tha">
                        </h3>
                    </div>


                    <p class="text-blue-600" v-html="item.position_rank_name"></p>
                    <p class="text-xs" v-html="item.sunit_name"></p>


                    <ul class="flex justify-center mt-4 space-x-4">

                        <li v-if="item.bullet_link1" class="block">
                            <a :href="item.bullet_link1" class="text-[#39569c] hover:text-gray-900" target="_blank"
                                rel="nofollow">
                                <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                                    <path fill-rule="evenodd"
                                        d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z"
                                        clip-rule="evenodd" />
                                </svg>

                            </a>
                        </li>
                        <li v-else class="hidden"></li>
                        <li v-if="item.bullet_link2" class="block">
                            <a :href="item.bullet_link2" target="_blank" rel="nofollow">
                                <svg class="w-6 h-6 hover:text-gray-900" xmlns="http://www.w3.org/2000/svg" x="0px"
                                    y="0px" viewBox="0 0 48 48">
                                    <path fill="#1e88e5"
                                        d="M24,4C12.954,4,4,12.954,4,24s8.954,20,20,20s20-8.954,20-20S35.046,4,24,4z">
                                    </path>
                                    <path fill="#1565c0"
                                        d="M35,16.592v-3.878L37,11H27l0.917,1.833c-1.236,0-2.265,0-2.265,0S19.095,13,19.095,18.748	c0,5.752,5.732,5.088,5.732,5.088s0,0.865,0,1.453c0,0.594,0.77,0.391,0.864,1.583c-0.388,0-7.964-0.208-7.964,4.998	s6.679,4.959,6.679,4.959s7.722,0.365,7.722-6.104c0-3.871-4.405-5.121-4.405-6.686c0-1.563,3.319-2.012,3.319-5.684	c0-0.823-0.028-1.524-0.149-2.12L34,13.571v3.02c-0.581,0.207-1,0.756-1,1.408v4.5c0,0.829,0.672,1.5,1.5,1.5s1.5-0.671,1.5-1.5V18	C36,17.348,35.581,16.799,35,16.592z M30.047,31.169c0.131,2.024-1.929,3.811-4.603,3.998c-2.671,0.188-4.946-1.295-5.077-3.316	c-0.133-2.016,1.927-3.805,4.6-3.996C27.641,27.667,29.914,29.152,30.047,31.169z M26.109,22.453	c-1.592,0.451-3.375-1.062-3.982-3.367c-0.604-2.312,0.195-4.543,1.786-4.992c1.593-0.453,3.374,1.059,3.981,3.367	C28.499,19.77,27.702,22.004,26.109,22.453z">
                                    </path>
                                    <path fill="#e8eaf6"
                                        d="M34,16.592V12c0-0.051-0.015-0.097-0.029-0.143L35,11H21l-9,8h5.383	c0.174,5.466,5.715,4.836,5.715,4.836s0,0.865,0,1.453c0,0.594,0.771,0.391,0.865,1.583c-0.388,0-7.964-0.208-7.964,4.998	s6.679,4.959,6.679,4.959s7.721,0.365,7.721-6.104c0-3.871-4.404-5.121-4.404-6.686c0-1.563,3.318-2.012,3.318-5.684	c0-0.971-0.047-1.763-0.232-2.422L33,12.667v3.925c-0.581,0.207-1,0.756-1,1.408v4.5c0,0.829,0.672,1.5,1.5,1.5s1.5-0.671,1.5-1.5	V18C35,17.348,34.581,16.799,34,16.592z M28.319,31.169c0.131,2.024-1.928,3.811-4.602,3.998c-2.671,0.188-4.946-1.295-5.077-3.316	c-0.133-2.016,1.927-3.805,4.599-3.996C25.914,27.667,28.187,29.152,28.319,31.169z M24.38,22.453	c-1.591,0.451-3.373-1.062-3.981-3.367c-0.604-2.312,0.194-4.543,1.785-4.992c1.593-0.453,3.374,1.059,3.982,3.367	C26.77,19.77,25.973,22.004,24.38,22.453z">
                                    </path>
                                </svg>
                            </a>
                        </li>
                        <li v-else class="hidden"></li>
                        <!-- <li v-if="item.bullet_link3" class="block">
                            <a :href="item.bullet_link3" target="_blank" rel="nofollow">
                                bullet_link3
                            </a>
                        </li>
                        <li v-else class="hidden"></li> -->
                        <!-- <li v-if="item.bullet_link3" class="block">
                            <a :href="'mailto:' + item.bullet_link3" class="text-yellow-500 hover:text-gray-900">
                                <svg class="w-6 h-6 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                                    viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-width="2"
                                        d="m3.5 5.5 7.893 6.036a1 1 0 0 0 1.214 0L20.5 5.5M4 19h16a1 1 0 0 0 1-1V6a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1Z" />
                                </svg>
                            </a>
                        </li>
                        <li v-else class="hidden"></li> -->
                        <li>
                            <a :href="`/personnel/${item.employee_id}`" class="text-green-400 hover:text-gray-900"
                                aria-label="Profile">
                                <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                                    viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M7 6H5m2 3H5m2 3H5m2 3H5m2 3H5m11-1a2 2 0 0 0-2-2h-2a2 2 0 0 0-2 2M7 3h11a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1Zm8 7a2 2 0 1 1-4 0 2 2 0 0 1 4 0Z" />
                                </svg>
                            </a>

                        </li>

                        <li>
                            <a :href="'https://arit.kpru.ac.th/ap/KPRUme/' + item.employee_id"
                                class="text-primary-500 hover:text-gray-900" target="_blank" rel="nofollow">
                                <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                                    viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M13.213 9.787a3.391 3.391 0 0 0-4.795 0l-3.425 3.426a3.39 3.39 0 0 0 4.795 4.794l.321-.304m-.321-4.49a3.39 3.39 0 0 0 4.795 0l3.424-3.426a3.39 3.39 0 0 0-4.794-4.795l-1.028.961" />
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!--<section id="mou" class="py-10">
        <div class="container px-4 mx-auto">
            <h2 class="text-3xl font-bold text-center text-pink-600">บันทึกข้อตกลงความร่วมมือ (MOU)</h2>
            <div class="my-10 text-center">
                <p>-- เร็วๆ นี้ --</p>
            </div>
        </div>
    </section> -->

    <footer class="py-10 text-center text-white bg-pink-600">
        <div class="container px-4 mx-auto" id="contact">
            <h2 class="mb-4 text-3xl font-bold">ติดต่อ</h2>
            <p>ห้องสาขาวิชานิเทศศาสตร์ ชั้น 7</p>
            <p>คณะวิทยาการจัดการ ( ตึก 11 ) มหาวิทยาลัยราชภัฎกำแพงเพชร</p>
            <p>เลขที่ 69 หมู่ 1 ต.นครชุม อ.เมือง จ.กำแพงเพชร 62000</p>
        </div>
    </footer>
</template>

