<script setup>
import { Head } from '@inertiajs/vue3';
</script>

<template>
    <Head title="Event" />

    <Head>
        <!-- HTML Meta Tags -->
        <meta name="description"
            content="มหาวิทยาลัยราชภัฏกำแพงเพชร เป็นมหาวิทยาลัยที่เป็นที่พึ่งทางวิชาการของท้องถิ่นให้มีความเข้มแข็งอย่างยั่งยืน สถาปนาเมื่อ ปี 2516 ปัจจุบันประกอบด้วย 5 คณะ">
        <!-- Keywords Meta Tags -->
        <meta name="Keywords" lang="en"
            content="Covid, Kamphaeng Phet Rajabhat University, Rajabhat, KamphaengPhet, KPRU, KP, Kamphaeng, Thailand, Thai University">
        <meta name="Keywords" lang="th"
            content="มหาวิทยาลัยราชภัฏกำแพงเพชร, ราชภัฏกำแพงเพชร, มรภ.กพ., วิทยาลัยครูกำแพงเพชร, วิทยาลัยครู, ราชภัฏภาคเหนือ, มหาวิทยาลัยราชภัฏ, มหาวิทยาลัย, สถาบันการศึกษา">
        <!-- Google / Search Engine Tags -->
        <meta itemprop="name" content="เกี่ยวกับเรา | คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร">
        <meta itemprop="description"
            content="คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร เป็นศูนย์กลางในการพัฒนาองค์ความรู้ด้านการบริหารจัดการ โดยการบูรณาการทางวิชาการ วิชาชีพ เพื่อการพัฒนาชุมชนท้องถิ่นของมหาวิทยาลัยราชภัฏภาคเหนือตอนล่าง">
        <meta itemprop="image" content="/storage/fb_og_image.jpg">

        <!-- Facebook Meta Tags -->
        <meta property="og:url" content="https://fms.kpru.ac.th">
        <meta property="og:type" content="website">
        <meta property="og:title" content="เกี่ยวกับเรา | คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร">
        <meta property="og:description"
            content="คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร เป็นศูนย์กลางในการพัฒนาองค์ความรู้ด้านการบริหารจัดการ โดยการบูรณาการทางวิชาการ วิชาชีพ เพื่อการพัฒนาชุมชนท้องถิ่นของมหาวิทยาลัยราชภัฏภาคเหนือตอนล่าง">
        <meta property="og:image" content="/storage/fb_og_image.jpg">

        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="เกี่ยวกับเรา | คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร">
        <meta name="twitter:description"
            content="คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร เป็นศูนย์กลางในการพัฒนาองค์ความรู้ด้านการบริหารจัดการ โดยการบูรณาการทางวิชาการ วิชาชีพ เพื่อการพัฒนาชุมชนท้องถิ่นของมหาวิทยาลัยราชภัฏภาคเหนือตอนล่าง">
        <meta name="twitter:image" content="/storage/fb_og_image.jpg">
    </Head>

    <div>
        Event Index
    </div>
</template>
