<script setup>
import { Head } from "@inertiajs/vue3";
import BlankLayout from "../../Layouts/BlankLayout.vue";
import FwbCarousel from "@/Components/FwbCarousel/FwbCarousel.vue";
defineOptions({ layout: BlankLayout });

const NACM14thPictures = [
    {
        featured_media: "/NACM14th/images/banner-1.webp",
        title: "14th National Academic Conference on Management",
    },
    {
        featured_media: "/NACM14th/images/banner-2.webp",
        title: "การแข่งขัน FMS Pitching Contest 2025",
    },

    {
        featured_media: "/NACM14th/images/banner-3.webp",
        title: "การแข่งขันตอบปัญหาด้านธุรกิจ",
    },
    {
        featured_media: "/NACM14th/images/banner-4.webp",
        title: "การแข่งขัน E-Sport 'ROV FMS Championship 2025'",
    },
    {
        featured_media: "/NACM14th/images/banner-5.webp",
        title: "การแข่งขัน The Storytelling Master Award",
    },
    {
        featured_media: "/NACM14th/images/banner-6.webp",
        title: "การแข่งขัน FMS CWIE 2025",
    },
];
</script>

<template>
    <Head
        title="งานประชุมวิชาการครั้งที่ 14 คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏภาคเหนือ 8 แห่ง : 14th National Academic Conference on Management"
    />
    <Head>
        <!-- HTML Meta Tags -->
        <meta
            name="description"
            content="มหาวิทยาลัยราชภัฏกำแพงเพชร เป็นมหาวิทยาลัยที่เป็นที่พึ่งทางวิชาการของท้องถิ่นให้มีความเข้มแข็งอย่างยั่งยืน สถาปนาเมื่อ ปี 2516 ปัจจุบันประกอบด้วย 5 คณะ"
        />
        <!-- Keywords Meta Tags -->
        <meta
            name="Keywords"
            lang="en"
            content="NACM14th, Kamphaeng Phet Rajabhat University, Rajabhat, KamphaengPhet, KPRU, KP, Kamphaeng, Thailand, Thai University"
        />
        <meta
            name="Keywords"
            lang="th"
            content="งานประชุมวิชาการครั้งที่ 14, มหาวิทยาลัยราชภัฏกำแพงเพชร, ราชภัฏกำแพงเพชร, มรภ.กพ., วิทยาลัยครูกำแพงเพชร, วิทยาลัยครู, ราชภัฏภาคเหนือ, มหาวิทยาลัยราชภัฏ, มหาวิทยาลัย, สถาบันการศึกษา, คณะวิทยาการจัดการ, มหาวิทยาลัยราชภัฏภาคเหนือ 8 แห่ง"
        />
        <!-- Google / Search Engine Tags -->
        <meta
            itemprop="name"
            content="NACM14th | คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร"
        />
        <meta
            itemprop="description"
            content="คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร เป็นศูนย์กลางในการพัฒนาองค์ความรู้ด้านการบริหารจัดการ โดยการบูรณาการทางวิชาการ วิชาชีพ เพื่อการพัฒนาชุมชนท้องถิ่นของมหาวิทยาลัยราชภัฏภาคเหนือตอนล่าง"
        />
        <meta itemprop="image" content="/storage/fb_og_image.jpg" />

        <!-- Facebook Meta Tags -->
        <meta property="og:url" content="https://fms.kpru.ac.th" />
        <meta property="og:type" content="website" />
        <meta
            property="og:title"
            content="NACM14th | คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร"
        />
        <meta
            property="og:description"
            content="คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร เป็นศูนย์กลางในการพัฒนาองค์ความรู้ด้านการบริหารจัดการ โดยการบูรณาการทางวิชาการ วิชาชีพ เพื่อการพัฒนาชุมชนท้องถิ่นของมหาวิทยาลัยราชภัฏภาคเหนือตอนล่าง"
        />
        <meta property="og:image" content="/storage/fb_og_image.jpg" />

        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta
            name="twitter:title"
            content="NACM14th | คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร"
        />
        <meta
            name="twitter:description"
            content="คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร เป็นศูนย์กลางในการพัฒนาองค์ความรู้ด้านการบริหารจัดการ โดยการบูรณาการทางวิชาการ วิชาชีพ เพื่อการพัฒนาชุมชนท้องถิ่นของมหาวิทยาลัยราชภัฏภาคเหนือตอนล่าง"
        />
        <meta name="twitter:image" content="/storage/fb_og_image.jpg" />
    </Head>

    <section id="Top-Menu" class="sticky top-0 z-50 bg-primary-500">
        <nav class="container mx-auto">
            <div
                class="relative justify-center block gap-2 p-0 md:flex md:justify-between md:p-1 lg:p-2 xl:p-2 2xl:p-0"
            >
                <!-- Mobile menu button-->
                <!-- <button
                    :data-collapse-toggle="mobile - menu"
                    type="button"
                    class="inline-flex items-center justify-center w-10 h-10 p-2 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                    aria-controls="mobile-menu"
                    aria-expanded="false"
                >
                    <span class="sr-only">Open main menu</span>
                    <svg
                        class="w-5 h-5"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 17 14"
                    >
                        <path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M1 1h15M1 7h15M1 13h15"
                        />
                    </svg>
                </button> -->
                <!-- left top-->
                <div class="hidden sm:flex">
                    <a
                        :href="route('home')"
                        class="flex p-2 text-white hover:text-pink-800"
                    >
                        <svg
                            class="w-6 h-6 mr-2"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            fill="none"
                            viewBox="0 0 24 24"
                        >
                            <path
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M8.757 6 3.24 10.95a1.05 1.05 0 0 0 0 1.549l5.611 5.088m5.73-3.214v1.615a.948.948 0 0 1-1.524.845l-5.108-4.251a1.1 1.1 0 0 1 0-1.646l5.108-4.251a.95.95 0 0 1 1.524.846v1.7c3.312 0 6 2.979 6 6.654v1.329a.7.7 0 0 1-1.345.353 5.174 5.174 0 0 0-4.652-3.191l-.003-.003Z"
                            />
                        </svg>
                        เว็บไซต์คณะวิทยาการจัดการ
                    </a>
                    <a
                        :href="route('NACM14th')"
                        class="p-2 text-white hover:text-pink-800"
                        >|&emsp;14th National Management Sciences Conference</a
                    >
                </div>

                <!-- Right top -->
                <ul class="hidden w-full md:flex md:w-auto">
                    <li class="p-2">
                        <a href="#BMC" class="text-white hover:text-pink-800">
                            ประกวดแผนธุรกิจ
                        </a>
                    </li>
                    <li class="p-2">
                        <a
                            href="#BQC"
                            class="flex text-white hover:text-pink-800"
                        >
                            ตอบปัญหาด้านธุรกิจ
                        </a>
                    </li>
                    <li class="p-2">
                        <a
                            href="#e-Sport"
                            class="flex text-white hover:text-pink-800"
                        >
                            E-Sport
                        </a>
                    </li>
                    <li class="p-2">
                        <a
                            href="#Storytelling"
                            class="flex text-white hover:text-pink-800"
                        >
                            Storytelling
                        </a>
                    </li>
                    <li class="p-2">
                        <a
                            href="#CWIE-Competition"
                            class="flex text-white hover:text-pink-800"
                        >
                            CWIE
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </section>

    <section id="FullCarousel" class="z-10 bg-primary-50">
        <div class="container mx-auto">
            <FwbCarousel
                :pictures="NACM14thPictures"
                :noIndicators="false"
                :noControls="false"
                :slide="true"
                :slideInterval="5000"
            />
        </div>
    </section>

    <section id="Hero-Header" class="py-5">
        <div class="container py-8 mx-auto my-4">
            <div class="flex-col lg:flex lg:flex-row lg:justify-center">
                <div class="px-10 lg:w-1/2">
                    <h1 class="mb-4 text-4xl font-bold text-primary-600">
                        งานประชุมวิชาการครั้งที่ 14
                    </h1>
                    <p class="mb-2 text-2xl text-primary-500">
                        คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏภาคเหนือ 8 แห่ง
                    </p>
                    <p class="mb-6 text-xl">
                        การแข่งขันทักษะวิชาการและวิชาชีพ ภายใต้หัวข้อ
                        ซอฟท์พาวเวอร์ (Soft Power)
                    </p>
                    <div class="block gap-4 lg:flex">
                        <a
                            href="https://www.facebook.com/watch/live/?ref=watch_permalink&v=1559907701335928"
                            target="_blank"
                            class="inline-flex items-center justify-center px-5 py-3 mr-3 text-base font-medium text-center text-white bg-red-700 rounded-lg hover:bg-red-500 focus:ring-4 focus:ring-primary-300"
                        >
                            ถ่ายทอดสดพิธีเปิด
                            <svg
                                class="w-5 h-5 mx-1"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                fill="none"
                                viewBox="0 0 24 24"
                            >
                                <path
                                    stroke="currentColor"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M14 6H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1Zm7 11-6-2V9l6-2v10Z"
                                />
                            </svg>
                        </a>
                        <a
                            href="https://www.facebook.com/watch/live/?ref=watch_permalink&v=973669714700725"
                            target="_blank"
                            class="inline-flex items-center justify-center px-5 py-3 mr-3 text-base font-medium text-center text-white bg-red-500 rounded-lg hover:bg-red-300 focus:ring-4 focus:ring-primary-300"
                        >
                            ถ่ายทอดสดพิธีปิด
                            <svg
                                class="w-5 h-5 mx-1"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                fill="none"
                                viewBox="0 0 24 24"
                            >
                                <path
                                    stroke="currentColor"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M14 6H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1Zm7 11-6-2V9l6-2v10Z"
                                />
                            </svg>
                        </a>
                        <a
                            href="/NACM14th/files/Schedule-14thNACM.pdf"
                            target="_blank"
                            class="inline-flex items-center justify-center px-5 py-3 mr-3 text-base font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300"
                        >
                            รายละเอียดกิจกรรม
                            <svg
                                class="w-5 h-5 ml-2 -mr-1"
                                fill="currentColor"
                                viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    fill-rule="evenodd"
                                    d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                                    clip-rule="evenodd"
                                ></path>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="hidden px-10 lg:block">
                    <div class="grid grid-cols-4 gap-2">
                        <div>
                            <img
                                class="w-16 h-auto rounded-lg"
                                src="/NACM14th/images/kpru-logo.webp"
                                alt="คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร"
                            />
                        </div>
                        <div>
                            <img
                                class="w-16 h-auto rounded-lg"
                                src="/NACM14th/images/cmru-logo.webp"
                                alt="คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏเชียงใหม่"
                            />
                        </div>
                        <div>
                            <img
                                class="w-16 h-auto rounded-lg"
                                src="/NACM14th/images/crru-logo.webp"
                                alt="คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏเชียงราย"
                            />
                        </div>
                        <div>
                            <img
                                class="w-16 h-auto rounded-lg"
                                src="/NACM14th/images/lpru-logo.webp"
                                alt="คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏลำปาง"
                            />
                        </div>
                        <div>
                            <img
                                class="w-16 h-auto rounded-lg"
                                src="/NACM14th/images/nsru-logo.webp"
                                alt="คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏนครสวรรค์"
                            />
                        </div>
                        <div>
                            <img
                                class="w-16 h-auto rounded-lg"
                                src="/NACM14th/images/pbru-logo.webp"
                                alt="คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏเพชรบุรี"
                            />
                        </div>
                        <div>
                            <img
                                class="w-16 h-auto rounded-lg"
                                src="/NACM14th/images/psru-logo.webp"
                                alt="คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏพิบูลสงคราม"
                            />
                        </div>
                        <div>
                            <img
                                class="w-16 h-auto rounded-lg"
                                src="/NACM14th/images/uru-logo.webp"
                                alt="คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏอุตรดิตถ์"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="Outstanding-Personnel" class="py-10 bg-gray-200">
        <div class="container mx-auto my-10">
            <div class="text-center">
                <h2 class="mb-8 text-4xl font-extrabold">
                    การเสนอชื่อบุคลากรดีเด่น
                </h2>
                <div class="flex flex-wrap justify-center">
                    <a
                        href="/NACM14th/files/หลักเกณฑ์ในการพิจารณารางวัลบุคลากร.pdf"
                        target="_blank"
                        class="inline-flex items-center justify-center px-5 py-3 mr-3 text-base font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900"
                    >
                        หลักเกณฑ์ในการพิจารณา
                        <svg
                            class="w-6 h-6 ml-2 text-white"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            fill="none"
                            viewBox="0 0 24 24"
                        >
                            <path
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M5 17v-5h1.5a1.5 1.5 0 1 1 0 3H5m12 2v-5h2m-2 3h2M5 10V7.914a1 1 0 0 1 .293-.707l3.914-3.914A1 1 0 0 1 9.914 3H18a1 1 0 0 1 1 1v6M5 19v1a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-1M10 3v4a1 1 0 0 1-1 1H5m6 4v5h1.375A1.627 1.627 0 0 0 14 15.375v-1.75A1.627 1.627 0 0 0 12.375 12H11Z"
                            />
                        </svg>
                    </a>
                    <a
                        href="/NACM14th/files/ด้านการวิจัย.docx"
                        target="_blank"
                        class="inline-flex items-center justify-center px-5 py-3 mr-3 text-base font-medium text-center text-white bg-blue-500 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900"
                    >
                        ด้านการวิจัย
                        <svg
                            class="w-6 h-6 ml-2 text-white"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            fill="none"
                            viewBox="0 0 24 24"
                        >
                            <path
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M5 10V7.914a1 1 0 0 1 .293-.707l3.914-3.914A1 1 0 0 1 9.914 3H18a1 1 0 0 1 1 1v6M5 19v1a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-1M10 3v4a1 1 0 0 1-1 1H5m14 9.006h-.335a1.647 1.647 0 0 1-1.647-1.647v-1.706a1.647 1.647 0 0 1 1.647-1.647L19 12M5 12v5h1.375A1.626 1.626 0 0 0 8 15.375v-1.75A1.626 1.626 0 0 0 6.375 12H5Zm9 1.5v2a1.5 1.5 0 0 1-1.5 1.5v0a1.5 1.5 0 0 1-1.5-1.5v-2a1.5 1.5 0 0 1 1.5-1.5v0a1.5 1.5 0 0 1 1.5 1.5Z"
                            />
                        </svg>
                    </a>
                    <a
                        href="/NACM14th/files/ด้านวิชาการ.docx"
                        target="_blank"
                        class="inline-flex items-center justify-center px-5 py-3 mr-3 text-base font-medium text-center text-white bg-blue-500 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900"
                    >
                        ด้านวิชาการ
                        <svg
                            class="w-6 h-6 ml-2 text-white"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            fill="none"
                            viewBox="0 0 24 24"
                        >
                            <path
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M5 10V7.914a1 1 0 0 1 .293-.707l3.914-3.914A1 1 0 0 1 9.914 3H18a1 1 0 0 1 1 1v6M5 19v1a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-1M10 3v4a1 1 0 0 1-1 1H5m14 9.006h-.335a1.647 1.647 0 0 1-1.647-1.647v-1.706a1.647 1.647 0 0 1 1.647-1.647L19 12M5 12v5h1.375A1.626 1.626 0 0 0 8 15.375v-1.75A1.626 1.626 0 0 0 6.375 12H5Zm9 1.5v2a1.5 1.5 0 0 1-1.5 1.5v0a1.5 1.5 0 0 1-1.5-1.5v-2a1.5 1.5 0 0 1 1.5-1.5v0a1.5 1.5 0 0 1 1.5 1.5Z"
                            />
                        </svg>
                    </a>
                    <a
                        href="/NACM14th/files/ด้านการปฏิบัติงาน.docx"
                        target="_blank"
                        class="inline-flex items-center justify-center px-5 py-3 mr-3 text-base font-medium text-center text-white bg-blue-500 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900"
                    >
                        ด้านการปฏิบัติงาน
                        <svg
                            class="w-6 h-6 ml-2 text-white"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            fill="none"
                            viewBox="0 0 24 24"
                        >
                            <path
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M5 10V7.914a1 1 0 0 1 .293-.707l3.914-3.914A1 1 0 0 1 9.914 3H18a1 1 0 0 1 1 1v6M5 19v1a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-1M10 3v4a1 1 0 0 1-1 1H5m14 9.006h-.335a1.647 1.647 0 0 1-1.647-1.647v-1.706a1.647 1.647 0 0 1 1.647-1.647L19 12M5 12v5h1.375A1.626 1.626 0 0 0 8 15.375v-1.75A1.626 1.626 0 0 0 6.375 12H5Zm9 1.5v2a1.5 1.5 0 0 1-1.5 1.5v0a1.5 1.5 0 0 1-1.5-1.5v-2a1.5 1.5 0 0 1 1.5-1.5v0a1.5 1.5 0 0 1 1.5 1.5Z"
                            />
                        </svg>
                    </a>
                </div>
                <div class="mt-5">
                    <a
                        href="/NACM14th/files/NACM14th-outstanding-personnel.pdf"
                        target="_blank"
                        class="inline-flex items-center justify-center px-5 py-3 mr-3 text-base font-medium text-center text-white bg-green-500 rounded-lg hover:bg-green-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900"
                    >
                        ประกาศรายชื่อบุคลากรดีเด่น
                        <svg
                            class="w-6 h-6 ml-2 text-white"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            fill="none"
                            viewBox="0 0 24 24"
                        >
                            <path
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M5 17v-5h1.5a1.5 1.5 0 1 1 0 3H5m12 2v-5h2m-2 3h2M5 10V7.914a1 1 0 0 1 .293-.707l3.914-3.914A1 1 0 0 1 9.914 3H18a1 1 0 0 1 1 1v6M5 19v1a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-1M10 3v4a1 1 0 0 1-1 1H5m6 4v5h1.375A1.627 1.627 0 0 0 14 15.375v-1.75A1.627 1.627 0 0 0 12.375 12H11Z"
                            />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section id="BMC" class="py-5">
        <div class="container mx-auto my-10">
            <div class="justify-center lg:flex">
                <div class="lg:px-10 lg:w-1/2">
                    <img
                        class="w-[516px] h-[516px] mx-auto"
                        src="/NACM14th/images/FMS-BMC.webp"
                        alt="FMS Pitching Contest"
                    />
                </div>
                <div class="px-10 mt-4 lg:w-1/2 md:mt-0">
                    <h2
                        class="mb-4 text-4xl font-extrabold tracking-tight text-gray-900"
                    >
                        การแข่งขัน FMS Pitching Contest 2025
                    </h2>
                    <p class="mb-2 text-gray-500">
                        ชูอัตลักษณ์สินค้าไทย สร้างความแปลกใหม่ ก้าวไกลสู่ Soft
                        Power <br />
                        &emsp;ภายใต้แนวคิด
                        “สร้างสรรค์อัตลักษณ์สินค้าชุมชนไทยก้าวไกลสู่ Soft Power”
                        การนำเสนอผลงานที่แสดงถึงการประยุกต์/ดัดแปลง/สร้างสรรค์นวัตกรรมสินค้าในชุมชนไทยที่ชูความมีอัตลักษณ์โดดเด่น
                        ดึงดูดใจและสามารถพัฒนาต่อยอดสินค้าไปสู่การเป็น Soft
                        Power ได้ ภายใต้รูปแบบ Business Model Canvas: BMC
                        ด้วยการใช้สื่อประกอบ อาทิ คลิปวีดีโอ สื่อ
                        Canva/PowerPoint หรือสินค้าตัวอย่างประกอบ
                    </p>
                    <p class="mb-6 text-gray-900">
                        คุณสมบัติผู้เข้าแข่งขัน นักศึกษาคณะวิทยาการจัดการ
                        ชั้นปีที่ 1 - 4 มหาวิทยาลัยราชภัฏภาคเหนือ ทั้ง 8 แห่ง
                    </p>

                    <div class="block lg:flex">
                        <a
                            href="https://arit.kpru.ac.th/sh/5511d3"
                            target="_blank"
                            class="cursor-not-allowed flex w-full my-2 lg:my-0 items-center text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
                        >
                            สมัครเข้าร่วม
                            <svg
                                class="w-5 h-5 ml-2 -mr-1"
                                fill="currentColor"
                                viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    fill-rule="evenodd"
                                    d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                                    clip-rule="evenodd"
                                ></path>
                            </svg>
                        </a>
                        <a
                            href="/NACM14th/files/FMS-Pitching-Contest-2025-Final.pdf"
                            target="_blank"
                            class="lg:ml-2 flex my-2 lg:my-0 w-full items-center text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
                        >
                            รายละเอียดเพิ่มเติม
                            <svg
                                class="w-5 h-5 ml-2 -mr-1"
                                fill="currentColor"
                                viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    stroke="currentColor"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M5 12h14m-7 7V5"
                                />
                            </svg>
                        </a>
                    </div>
                    <div id="Buttom-Announce">
                        <a
                            href="/NACM14th/files/List-FMS-Pitching-Contest-2025.pdf"
                            target="_blank"
                            class="w-full my-2 flex items-center text-white bg-green-700 hover:bg-gray-500 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:focus:ring-primary-900"
                        >
                            ประกาศรายชื่อ
                            <svg
                                class="w-5 h-5 mx-1"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                fill="none"
                                viewBox="0 0 24 24"
                            >
                                <path
                                    stroke="currentColor"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M11 9h6m-6 3h6m-6 3h6M6.996 9h.01m-.01 3h.01m-.01 3h.01M4 5h16a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1Z"
                                />
                            </svg>
                        </a>
                    </div>
                    <div class="block gap-2 lg:flex">
                        <a
                            href="/NACM14th/files/ผลการแข่งขัน FMS Pitching Contest 2025.pdf"
                            target="_blank"
                            class="flex w-full items-center text-white bg-sky-400 hover:bg-sky-600 focus:ring-4 focus:ring-sky-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
                        >
                            <svg
                                class="w-5 h-5 mx-1"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                fill="none"
                                viewBox="0 0 24 24"
                            >
                                <path
                                    stroke="currentColor"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="m8.032 12 1.984 1.984 4.96-4.96m4.55 5.272.893-.893a1.984 1.984 0 0 0 0-2.806l-.893-.893a1.984 1.984 0 0 1-.581-1.403V7.04a1.984 1.984 0 0 0-1.984-1.984h-1.262a1.983 1.983 0 0 1-1.403-.581l-.893-.893a1.984 1.984 0 0 0-2.806 0l-.893.893a1.984 1.984 0 0 1-1.403.581H7.04A1.984 1.984 0 0 0 5.055 7.04v1.262c0 .527-.209 1.031-.581 1.403l-.893.893a1.984 1.984 0 0 0 0 2.806l.893.893c.372.372.581.876.581 1.403v1.262a1.984 1.984 0 0 0 1.984 1.984h1.262c.527 0 1.031.209 1.403.581l.893.893a1.984 1.984 0 0 0 2.806 0l.893-.893a1.985 1.985 0 0 1 1.403-.581h1.262a1.984 1.984 0 0 0 1.984-1.984V15.7c0-.527.209-1.031.581-1.403Z"
                                />
                            </svg>

                            ผลการแข่งขัน
                        </a>
                        <a
                            href="https://arit.kpru.ac.th/ap/icc/index.php?nu=list&q=%E0%B8%81%E0%B8%B2%E0%B8%A3%E0%B9%81%E0%B8%82%E0%B9%88%E0%B8%87%E0%B8%82%E0%B8%B1%E0%B8%99+FMS+Pitching+Contest+2025"
                            target="_blank"
                            class="flex w-full items-center text-white bg-amber-400 hover:bg-amber-600 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
                        >
                            <svg
                                class="w-5 h-5 mx-1"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                fill="none"
                                viewBox="0 0 24 24"
                            >
                                <path
                                    stroke="currentColor"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="m7.171 12.906-2.153 6.411 2.672-.89 1.568 2.34 1.825-5.183m5.73-2.678 2.154 6.411-2.673-.89-1.568 2.34-1.825-5.183M9.165 4.3c.58.068 1.153-.17 1.515-.628a1.681 1.681 0 0 1 2.64 0 1.68 1.68 0 0 0 1.515.628 1.681 1.681 0 0 1 1.866 1.866c-.068.58.17 1.154.628 1.516a1.681 1.681 0 0 1 0 2.639 1.682 1.682 0 0 0-.628 1.515 1.681 1.681 0 0 1-1.866 1.866 1.681 1.681 0 0 0-1.516.628 1.681 1.681 0 0 1-2.639 0 1.681 1.681 0 0 0-1.515-.628 1.681 1.681 0 0 1-1.867-1.866 1.681 1.681 0 0 0-.627-1.515 1.681 1.681 0 0 1 0-2.64c.458-.361.696-.935.627-1.515A1.681 1.681 0 0 1 9.165 4.3ZM14 9a2 2 0 1 1-4 0 2 2 0 0 1 4 0Z"
                                />
                            </svg>
                            เกียรติบัตร
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="BQC" class="py-5">
        <div class="container mx-auto my-10">
            <div class="flex flex-col-reverse justify-center lg:flex-row">
                <div class="px-10 mt-4 lg:w-1/2 md:mt-0">
                    <h2
                        class="mb-4 text-4xl font-extrabold tracking-tight text-gray-900"
                    >
                        การแข่งขันตอบปัญหาด้านธุรกิจ
                    </h2>
                    <p class="mb-2 text-gray-500">
                        &emsp;เนื้อหาครอบคลุมความรู้ทั่วไปทางด้านบริหารธุรกิจ
                        ได้แก่ การจัดการเชิงกลยุทธ์ การบริหารทรัพยากรมนุษย์
                        การจัดการโลจิสติกส์ ธุรกิจระหว่างประเทศ การตลาด
                        เทคโนโลยีสารสนเทศ การบัญชี และการเงิน
                    </p>
                    <p class="mb-6 text-gray-900">
                        &emsp;คุณสมบัติผู้เข้าแข่งขัน
                        นักศึกษาที่กำลังศึกษาอยู่ในระดับปริญญาตรี ชั้นปีที่ 1 -
                        4 และสังกัดสาขาบริหารธุรกิจหรือสาขาที่เกี่ยวข้อง
                    </p>
                    <div class="block lg:flex">
                        <a
                            href="https://arit.kpru.ac.th/sh/7107af"
                            target="_blank"
                            class="cursor-not-allowed flex w-full my-2 items-center text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:focus:ring-primary-900"
                        >
                            สมัครเข้าร่วม
                            <svg
                                class="w-5 h-5 ml-2 -mr-1"
                                fill="currentColor"
                                viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    fill-rule="evenodd"
                                    d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                                    clip-rule="evenodd"
                                ></path>
                            </svg>
                        </a>
                        <a
                            href="/NACM14th/files/FMS-BQC-2025-Final.pdf"
                            target="_blank"
                            class="w-full my-2 lg:ml-2 flex items-center text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:focus:ring-primary-900"
                        >
                            รายละเอียดเพิ่มเติม
                            <svg
                                class="w-5 h-5 ml-2 -mr-1"
                                fill="currentColor"
                                viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    stroke="currentColor"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M5 12h14m-7 7V5"
                                />
                            </svg>
                        </a>
                    </div>
                    <div id="Buttom-Announce">
                        <a
                            href="/NACM14th/files/Liat-FMS-BQC-2025.pdf"
                            target="_blank"
                            class="w-full my-2 flex items-center text-white bg-green-700 hover:bg-gray-500 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:focus:ring-primary-900"
                        >
                            ประกาศรายชื่อ
                            <svg
                                class="w-5 h-5 mx-1"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                fill="none"
                                viewBox="0 0 24 24"
                            >
                                <path
                                    stroke="currentColor"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M11 9h6m-6 3h6m-6 3h6M6.996 9h.01m-.01 3h.01m-.01 3h.01M4 5h16a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1Z"
                                />
                            </svg>
                        </a>
                    </div>
                    <div class="block gap-2 lg:flex">
                        <a
                            href="/NACM14th/files/ผลการแข่งขัน BQC.pdf"
                            target="_blank"
                            class="flex w-full items-center text-white bg-sky-400 hover:bg-sky-600 focus:ring-4 focus:ring-sky-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
                        >
                            <svg
                                class="w-5 h-5 mx-1"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                fill="none"
                                viewBox="0 0 24 24"
                            >
                                <path
                                    stroke="currentColor"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="m8.032 12 1.984 1.984 4.96-4.96m4.55 5.272.893-.893a1.984 1.984 0 0 0 0-2.806l-.893-.893a1.984 1.984 0 0 1-.581-1.403V7.04a1.984 1.984 0 0 0-1.984-1.984h-1.262a1.983 1.983 0 0 1-1.403-.581l-.893-.893a1.984 1.984 0 0 0-2.806 0l-.893.893a1.984 1.984 0 0 1-1.403.581H7.04A1.984 1.984 0 0 0 5.055 7.04v1.262c0 .527-.209 1.031-.581 1.403l-.893.893a1.984 1.984 0 0 0 0 2.806l.893.893c.372.372.581.876.581 1.403v1.262a1.984 1.984 0 0 0 1.984 1.984h1.262c.527 0 1.031.209 1.403.581l.893.893a1.984 1.984 0 0 0 2.806 0l.893-.893a1.985 1.985 0 0 1 1.403-.581h1.262a1.984 1.984 0 0 0 1.984-1.984V15.7c0-.527.209-1.031.581-1.403Z"
                                />
                            </svg>

                            ผลการแข่งขัน
                        </a>
                        <a
                            href="https://arit.kpru.ac.th/ap/icc/index.php?nu=list&q=%E0%B8%81%E0%B8%B2%E0%B8%A3%E0%B9%81%E0%B8%82%E0%B9%88%E0%B8%87%E0%B8%82%E0%B8%B1%E0%B8%99%E0%B8%95%E0%B8%AD%E0%B8%9A%E0%B8%9B%E0%B8%B1%E0%B8%8D%E0%B8%AB%E0%B8%B2%E0%B8%97%E0%B8%B2%E0%B8%87%E0%B8%94%E0%B9%89%E0%B8%B2%E0%B8%99%E0%B8%9A%E0%B8%A3%E0%B8%B4%E0%B8%AB%E0%B8%B2%E0%B8%A3%E0%B8%98%E0%B8%B8%E0%B8%A3%E0%B8%81%E0%B8%B4%E0%B8%88"
                            target="_blank"
                            class="w-full flex items-center text-white bg-amber-400 hover:bg-amber-600 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
                        >
                            <svg
                                class="w-5 h-5"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                fill="none"
                                viewBox="0 0 24 24"
                            >
                                <path
                                    stroke="currentColor"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="m7.171 12.906-2.153 6.411 2.672-.89 1.568 2.34 1.825-5.183m5.73-2.678 2.154 6.411-2.673-.89-1.568 2.34-1.825-5.183M9.165 4.3c.58.068 1.153-.17 1.515-.628a1.681 1.681 0 0 1 2.64 0 1.68 1.68 0 0 0 1.515.628 1.681 1.681 0 0 1 1.866 1.866c-.068.58.17 1.154.628 1.516a1.681 1.681 0 0 1 0 2.639 1.682 1.682 0 0 0-.628 1.515 1.681 1.681 0 0 1-1.866 1.866 1.681 1.681 0 0 0-1.516.628 1.681 1.681 0 0 1-2.639 0 1.681 1.681 0 0 0-1.515-.628 1.681 1.681 0 0 1-1.867-1.866 1.681 1.681 0 0 0-.627-1.515 1.681 1.681 0 0 1 0-2.64c.458-.361.696-.935.627-1.515A1.681 1.681 0 0 1 9.165 4.3ZM14 9a2 2 0 1 1-4 0 2 2 0 0 1 4 0Z"
                                />
                            </svg>
                            เกียรติบัตร
                        </a>
                    </div>
                </div>
                <div class="lg:px-10 lg:w-1/2">
                    <img
                        class="w-[516px] h-[516px] mx-auto"
                        src="/NACM14th/images/FMS-BQC.webp"
                        alt="Questions Business"
                    />
                </div>
            </div>
        </div>
    </section>

    <section id="e-Sport" class="py-5">
        <div class="container mx-auto my-10">
            <div class="justify-center lg:flex">
                <div class="lg:px-10 lg:w-1/2">
                    <img
                        class="w-[516px] h-[516px] mx-auto"
                        src="/NACM14th/images/e-sport-ROV.webp"
                        alt="E-Sport"
                    />
                </div>
                <div class="px-10 mt-4 lg:w-1/2 md:mt-0">
                    <h2
                        class="mb-4 text-4xl font-extrabold tracking-tight text-gray-900"
                    >
                        การแข่งขัน E-Sport
                    </h2>
                    <p class="mb-2">" ROV FMS Championship 2025 "</p>
                    <p class="mb-2 text-gray-500">
                        &emsp;ท้าชิงบัลลังก์แห่งสนามรบ!
                        ศึกครั้งยิ่งใหญ่ที่เหล่านักรบต้องพิสูจน์ฝีมือ
                        สู่ความเป็นหนึ่งในโลกแห่งการต่อสู้
                    </p>
                    <p class="mb-6 text-gray-900">
                        &emsp;คุณสมบัติผู้เข้าแข่งขัน นักศึกษาคณะวิทยาการจัดการ
                        ชั้นปีที่ 1 - 4 มหาวิทยาลัยราชภัฏกลุ่มภาคเหนือ ทั้ง 8
                        แห่งเท่านั้น
                    </p>

                    <div class="block lg:flex">
                        <a
                            href="https://docs.google.com/forms/d/e/1FAIpQLSc6mIZex8io1UzqhLh1ooUwPPNGRT4rhrTn6Q8QB_PhZleBhQ/viewform"
                            target="_blank"
                            class="cursor-not-allowed w-full my-2 flex items-center text-white bg-primary-700 hover:bg-primary-500 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:focus:ring-primary-900"
                        >
                            สมัครเข้าร่วม
                            <svg
                                class="w-5 h-5 ml-2 -mr-1"
                                fill="currentColor"
                                viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    fill-rule="evenodd"
                                    d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                                    clip-rule="evenodd"
                                ></path>
                            </svg>
                        </a>
                        <a
                            href="/NACM14th/files/ROV-FMS-Championship-2025-Final.pdf"
                            target="_blank"
                            class="lg:ml-2 flex w-full my-2 items-center text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:focus:ring-primary-900"
                        >
                            รายละเอียดเพิ่มเติม
                            <svg
                                class="w-5 h-5 ml-2 -mr-1"
                                fill="currentColor"
                                viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    stroke="currentColor"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M5 12h14m-7 7V5"
                                />
                            </svg>
                        </a>
                    </div>
                    <div id="Buttom-Announce" class="block lg:flex">
                        <a
                            href="/NACM14th/files/List-ROV-FMS-Championship-2025.pdf"
                            target="_blank"
                            class="w-full my-2 flex items-center text-white bg-green-700 hover:bg-gray-500 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:focus:ring-primary-900"
                        >
                            ประกาศรายชื่อ
                            <svg
                                class="w-5 h-5 mx-1"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                fill="none"
                                viewBox="0 0 24 24"
                            >
                                <path
                                    stroke="currentColor"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M11 9h6m-6 3h6m-6 3h6M6.996 9h.01m-.01 3h.01m-.01 3h.01M4 5h16a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1Z"
                                />
                            </svg>
                        </a>
                        <a
                            href="https://www.facebook.com/watch/live/?ref=watch_permalink&v=1376250053342317"
                            target="_blank"
                            class="w-full flex lg:ml-2 items-center my-2 text-white bg-red-700 hover:bg-red-500 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
                        >
                            บันทึกถ่ายทอดสด
                            <svg
                                class="w-5 h-5 mx-1"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                fill="none"
                                viewBox="0 0 24 24"
                            >
                                <path
                                    stroke="currentColor"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M14 6H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1Zm7 11-6-2V9l6-2v10Z"
                                />
                            </svg>
                        </a>
                    </div>
                    <div id="Buttom-Announce" class="block gap-2 lg:flex">
                        <a
                            href="/NACM14th/files/ผลการแข่งขัน ROV.pdf"
                            target="_blank"
                            class="flex w-full items-center text-white bg-sky-400 hover:bg-sky-600 focus:ring-4 focus:ring-sky-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
                        >
                            <svg
                                class="w-5 h-5 mx-1"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                fill="none"
                                viewBox="0 0 24 24"
                            >
                                <path
                                    stroke="currentColor"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="m8.032 12 1.984 1.984 4.96-4.96m4.55 5.272.893-.893a1.984 1.984 0 0 0 0-2.806l-.893-.893a1.984 1.984 0 0 1-.581-1.403V7.04a1.984 1.984 0 0 0-1.984-1.984h-1.262a1.983 1.983 0 0 1-1.403-.581l-.893-.893a1.984 1.984 0 0 0-2.806 0l-.893.893a1.984 1.984 0 0 1-1.403.581H7.04A1.984 1.984 0 0 0 5.055 7.04v1.262c0 .527-.209 1.031-.581 1.403l-.893.893a1.984 1.984 0 0 0 0 2.806l.893.893c.372.372.581.876.581 1.403v1.262a1.984 1.984 0 0 0 1.984 1.984h1.262c.527 0 1.031.209 1.403.581l.893.893a1.984 1.984 0 0 0 2.806 0l.893-.893a1.985 1.985 0 0 1 1.403-.581h1.262a1.984 1.984 0 0 0 1.984-1.984V15.7c0-.527.209-1.031.581-1.403Z"
                                />
                            </svg>

                            ผลการแข่งขัน
                        </a>
                        <a
                            href="https://arit.kpru.ac.th/ap/icc/index.php?nu=list&q=ROV+FMS+Championship+2025"
                            target="_blank"
                            class="w-full flex items-center text-white bg-amber-400 hover:bg-amber-600 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
                        >
                            <svg
                                class="w-5 h-5 mx-1"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                fill="none"
                                viewBox="0 0 24 24"
                            >
                                <path
                                    stroke="currentColor"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="m7.171 12.906-2.153 6.411 2.672-.89 1.568 2.34 1.825-5.183m5.73-2.678 2.154 6.411-2.673-.89-1.568 2.34-1.825-5.183M9.165 4.3c.58.068 1.153-.17 1.515-.628a1.681 1.681 0 0 1 2.64 0 1.68 1.68 0 0 0 1.515.628 1.681 1.681 0 0 1 1.866 1.866c-.068.58.17 1.154.628 1.516a1.681 1.681 0 0 1 0 2.639 1.682 1.682 0 0 0-.628 1.515 1.681 1.681 0 0 1-1.866 1.866 1.681 1.681 0 0 0-1.516.628 1.681 1.681 0 0 1-2.639 0 1.681 1.681 0 0 0-1.515-.628 1.681 1.681 0 0 1-1.867-1.866 1.681 1.681 0 0 0-.627-1.515 1.681 1.681 0 0 1 0-2.64c.458-.361.696-.935.627-1.515A1.681 1.681 0 0 1 9.165 4.3ZM14 9a2 2 0 1 1-4 0 2 2 0 0 1 4 0Z"
                                />
                            </svg>
                            เกียรติบัตร
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="Storytelling" class="py-5">
        <div class="container mx-auto my-10">
            <div class="flex flex-col-reverse justify-center lg:flex-row">
                <div class="px-10 mt-4 lg:w-1/2 md:mt-0">
                    <h2
                        class="mb-4 text-4xl font-extrabold tracking-tight text-gray-900"
                    >
                        การแข่งขัน The Storytelling Master Award
                    </h2>
                    <p class="mb-2 text-gray-500">
                        &emsp;ปลุกพลังเสียง เล่าเรื่องราว สร้างแรงบันดาลใจ
                        ภายใต้แนวคิด ปลุกพลัง SOFT
                        POWER...เรื่องราวของเทศกาลที่คุณต้องฟัง
                    </p>
                    <p class="mb-6 text-gray-900">
                        &emsp;คุณสมบัติผู้เข้าแข่งขัน นักศึกษาคณะวิทยาการจัดการ
                        ชั้นปีที่ 1 – 4 มหาวิทยาลัยราชภัฏภาคเหนือ ทั้ง 8 แห่ง
                    </p>
                    <div class="block lg:flex">
                        <a
                            href="https://arit.kpru.ac.th/sh/b733c9"
                            target="_blank"
                            class="cursor-not-allowed flex w-full my-2 items-center text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
                        >
                            สมัครเข้าร่วม
                            <svg
                                class="w-5 h-5 ml-2 -mr-1"
                                fill="currentColor"
                                viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    fill-rule="evenodd"
                                    d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                                    clip-rule="evenodd"
                                ></path>
                            </svg>
                        </a>
                        <a
                            href="/NACM14th/files/The-Storytelling-Master-Award-2025-Final.pdf"
                            target="_blank"
                            class="lg:ml-2 w-full my-2 flex items-center text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:focus:ring-primary-900"
                        >
                            รายละเอียดเพิ่มเติม
                            <svg
                                class="w-5 h-5 ml-2 -mr-1"
                                fill="currentColor"
                                viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    stroke="currentColor"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M5 12h14m-7 7V5"
                                />
                            </svg>
                        </a>
                        <a
                            href="/NACM14th/images/StageSize-TheStorytellingAward.jpg"
                            target="_blank"
                            class="flex lg:ml-2 w-full my-2 items-center text-white bg-blue-400 hover:bg-blue-300 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
                            >ขนาดพื้นที่เวทีการแข่งขัน
                            <svg
                                class="w-6 h-6 ml-2 text-white"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                fill="none"
                                viewBox="0 0 24 24"
                            >
                                <path
                                    stroke="currentColor"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M9 7H7m2 3H7m2 3H7m4 2v2m3-2v2m3-2v2M4 5v14a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-9a1 1 0 0 1-1-1V5a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1Z"
                                />
                            </svg>
                        </a>
                    </div>
                    <div id="Buttom-Announce" class="block lg:flex">
                        <a
                            href="/NACM14th/files/List-The-Storytelling-Master-Award.pdf"
                            target="_blank"
                            class="w-full my-2 flex items-center text-white bg-green-700 hover:bg-gray-500 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:focus:ring-primary-900"
                        >
                            ประกาศรายชื่อ
                            <svg
                                class="w-5 h-5 mx-1"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                fill="none"
                                viewBox="0 0 24 24"
                            >
                                <path
                                    stroke="currentColor"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M11 9h6m-6 3h6m-6 3h6M6.996 9h.01m-.01 3h.01m-.01 3h.01M4 5h16a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1Z"
                                />
                            </svg>
                        </a>
                        <a
                            href="https://www.facebook.com/watch/live/?ref=watch_permalink&v=1359243068765705"
                            target="_blank"
                            class="w-full flex lg:ml-2 items-center my-2 text-white bg-red-700 hover:bg-red-500 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
                        >
                            บันทึกการถ่ายทอดสด
                            <svg
                                class="w-5 h-5 mx-1"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                fill="none"
                                viewBox="0 0 24 24"
                            >
                                <path
                                    stroke="currentColor"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M14 6H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1Zm7 11-6-2V9l6-2v10Z"
                                />
                            </svg>
                        </a>
                    </div>
                    <div class="block gap-2 lg:flex">
                        <a
                            href="/NACM14th/files/ผลการแข่งขัน The Storytelling Master Award.pdf"
                            target="_blank"
                            class="flex w-full items-center text-white bg-sky-400 hover:bg-sky-600 focus:ring-4 focus:ring-sky-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
                        >
                            <svg
                                class="w-5 h-5 mx-1"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                fill="none"
                                viewBox="0 0 24 24"
                            >
                                <path
                                    stroke="currentColor"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="m8.032 12 1.984 1.984 4.96-4.96m4.55 5.272.893-.893a1.984 1.984 0 0 0 0-2.806l-.893-.893a1.984 1.984 0 0 1-.581-1.403V7.04a1.984 1.984 0 0 0-1.984-1.984h-1.262a1.983 1.983 0 0 1-1.403-.581l-.893-.893a1.984 1.984 0 0 0-2.806 0l-.893.893a1.984 1.984 0 0 1-1.403.581H7.04A1.984 1.984 0 0 0 5.055 7.04v1.262c0 .527-.209 1.031-.581 1.403l-.893.893a1.984 1.984 0 0 0 0 2.806l.893.893c.372.372.581.876.581 1.403v1.262a1.984 1.984 0 0 0 1.984 1.984h1.262c.527 0 1.031.209 1.403.581l.893.893a1.984 1.984 0 0 0 2.806 0l.893-.893a1.985 1.985 0 0 1 1.403-.581h1.262a1.984 1.984 0 0 0 1.984-1.984V15.7c0-.527.209-1.031.581-1.403Z"
                                />
                            </svg>

                            ผลการแข่งขัน
                        </a>
                        <a
                            href="https://arit.kpru.ac.th/ap/icc/index.php?nu=list&q=%E0%B8%81%E0%B8%B2%E0%B8%A3%E0%B9%81%E0%B8%82%E0%B9%88%E0%B8%87%E0%B8%82%E0%B8%B1%E0%B8%99+The+Storytelling+Master+Award"
                            target="_blank"
                            class="flex w-full items-center text-white bg-amber-400 hover:bg-amber-600 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
                        >
                            <svg
                                class="w-5 h-5 mx-1"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                fill="none"
                                viewBox="0 0 24 24"
                            >
                                <path
                                    stroke="currentColor"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="m7.171 12.906-2.153 6.411 2.672-.89 1.568 2.34 1.825-5.183m5.73-2.678 2.154 6.411-2.673-.89-1.568 2.34-1.825-5.183M9.165 4.3c.58.068 1.153-.17 1.515-.628a1.681 1.681 0 0 1 2.64 0 1.68 1.68 0 0 0 1.515.628 1.681 1.681 0 0 1 1.866 1.866c-.068.58.17 1.154.628 1.516a1.681 1.681 0 0 1 0 2.639 1.682 1.682 0 0 0-.628 1.515 1.681 1.681 0 0 1-1.866 1.866 1.681 1.681 0 0 0-1.516.628 1.681 1.681 0 0 1-2.639 0 1.681 1.681 0 0 0-1.515-.628 1.681 1.681 0 0 1-1.867-1.866 1.681 1.681 0 0 0-.627-1.515 1.681 1.681 0 0 1 0-2.64c.458-.361.696-.935.627-1.515A1.681 1.681 0 0 1 9.165 4.3ZM14 9a2 2 0 1 1-4 0 2 2 0 0 1 4 0Z"
                                />
                            </svg>
                            เกียรติบัตร
                        </a>
                    </div>
                </div>
                <div class="lg:px-10 lg:w-1/2">
                    <img
                        class="w-[516px] h-[516px] mx-auto"
                        src="/NACM14th/images/FMS-Talk-Awards.webp"
                        alt="Festivities"
                    />
                </div>
            </div>
        </div>
    </section>

    <section id="CWIE-Competition" class="py-5">
        <div class="container mx-auto my-10">
            <div class="justify-center lg:flex">
                <div class="lg:px-10 lg:w-1/2">
                    <img
                        class="w-[516px] h-[516px] mx-auto"
                        src="/NACM14th/images/FMS-CWIE-2025.webp"
                        alt="Cwie"
                    />
                </div>
                <div class="px-10 mt-4 lg:w-1/2 md:mt-0">
                    <h2
                        class="mb-4 text-4xl font-extrabold tracking-tight text-gray-900"
                    >
                        การแข่งขัน FMS CWIE 2025
                    </h2>
                    <p class="mb-2">
                        การประกวดผลงานสหกิจศึกษาและการศึกษาเชิงบูรณาการกับการทำงาน
                        ประเภท Oral Presentation
                    </p>
                    <div>
                        <p class="mb-2">หลักเกณฑ์การแข่งขัน</p>
                        <ul class="ml-10 text-gray-500 list-decimal">
                            <li>
                                สถานศึกษาสามารถส่งผลงานเข้าร่วมการแข่งขันได้สถาบันละ
                                1 ผลงาน
                            </li>
                            <li>
                                เป็นโครงงานหรือผลการปฏิบัติงานสหกิจศึกษาและการศึกษาเชิงบูรณาการกับการทำงาน
                                ด้าน
                            </li>
                            <li>
                                สังคมศาสตร์มนุษยศาสตรและการจัดการ ทีมละ 1 - 3 คน
                            </li>
                            <li>
                                เป็นผลงานหรือโครงงาน ในปีการศึกษา 2567
                                ที่ไม่เคยได้รับรางวัลระดับชาติมาก่อน
                            </li>
                            <li>
                                ส่งเอกสารประกอบการส่งผลงานประกวด
                                ตามแบบเสนอข้อมูล (Template) ที่กำหนดในรูปแบบไฟล์
                                PDF ภายในวันที่ 15 มกราคม 2568
                            </li>
                            <li>
                                คณะกรรมการพิจารณาจากแบบเสนอข้อมูลของผู้เข้าร่วมประกวด
                                พร้อมรับฟังการนำเสนอ เวลาไม่เกิน 5 นาที
                                และคณะกรรมการซักถาม เวลาไม่เกิน 3 - 5 นาทีณ
                                ห้องประชุมสุพรรณิการ์ อาคารกิจกรรมนักศึกษา (SAC)
                                ชั้น 3 มหาวิทยาลัยราชภัฏกำแพงเพชร
                            </li>
                            <li>การตัดสินของคณะกรรมการถือเป็นที่สิ้นสุด</li>
                        </ul>
                    </div>
                    <p class="mt-4 mb-6 text-gray-900">
                        &emsp;คุณสมบัติผู้เข้าแข่งขัน นักศึกษาคณะวิทยาการจัดการ
                        ชั้นปีที่ 1 - 4 มหาวิทยาลัยราชภัฏกลุ่มภาคเหนือ ทั้ง 8
                        แห่งเท่านั้น
                    </p>
                    <div class="block lg:flex">
                        <a
                            href="https://arit.kpru.ac.th/sh/b523e2"
                            target="_blank"
                            class="cursor-not-allowed w-full my-2 flex items-center text-white bg-primary-700 hover:bg-primary-500 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:focus:ring-primary-900"
                        >
                            สมัครเข้าร่วม
                            <svg
                                class="w-5 h-5 ml-2 -mr-1"
                                fill="currentColor"
                                viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    fill-rule="evenodd"
                                    d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                                    clip-rule="evenodd"
                                ></path>
                            </svg>
                        </a>
                        <a
                            href="/NACM14th/files/FMS-CWIE-2025-Final.pdf"
                            target="_blank"
                            class="lg:ml-2 flex w-full my-2 items-center text-white bg-blue-700 hover:bg-blue-400 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:focus:ring-primary-900"
                        >
                            รายละเอียดเพิ่มเติม
                            <svg
                                class="w-5 h-5 ml-2 -mr-1"
                                fill="currentColor"
                                viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    stroke="currentColor"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M5 12h14m-7 7V5"
                                />
                            </svg>
                        </a>
                        <a
                            href="/NACM14th/files/Template CWIE 2025.docx"
                            class="w-full my-2 lg:ml-2 flex items-center text-white bg-blue-400 hover:bg-blue-500 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:focus:ring-primary-900"
                        >
                            Template CWIE
                            <svg
                                class="w-6 h-6 ml-2"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                fill="currentColor"
                                viewBox="0 0 24 24"
                            >
                                <path
                                    d="M6 16v-3h.375a.626.626 0 0 1 .625.626v1.749a.626.626 0 0 1-.626.625H6Zm6-2.5a.5.5 0 1 1 1 0v2a.5.5 0 0 1-1 0v-2Z"
                                />
                                <path
                                    fill-rule="evenodd"
                                    d="M11 7V2h7a2 2 0 0 1 2 2v5h1a1 1 0 0 1 1 1v9a1 1 0 0 1-1 1h-1a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2H3a1 1 0 0 1-1-1v-9a1 1 0 0 1 1-1h6a2 2 0 0 0 2-2Zm7.683 6.006 1.335-.024-.037-2-1.327.024a2.647 2.647 0 0 0-2.636 2.647v1.706a2.647 2.647 0 0 0 2.647 2.647H20v-2h-1.335a.647.647 0 0 1-.647-.647v-1.706a.647.647 0 0 1 .647-.647h.018ZM5 11a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h1.376A2.626 2.626 0 0 0 9 15.375v-1.75A2.626 2.626 0 0 0 6.375 11H5Zm7.5 0a2.5 2.5 0 0 0-2.5 2.5v2a2.5 2.5 0 0 0 5 0v-2a2.5 2.5 0 0 0-2.5-2.5Z"
                                    clip-rule="evenodd"
                                />
                                <path
                                    d="M9 7V2.221a2 2 0 0 0-.5.365L4.586 6.5a2 2 0 0 0-.365.5H9Z"
                                />
                            </svg>
                        </a>
                    </div>
                    <div id="Buttom-Announce">
                        <a
                            href="/NACM14th/files/List-FMS-CWIE-2025.pdf"
                            target="_blank"
                            class="w-full my-2 flex items-center text-white bg-green-700 hover:bg-gray-500 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:focus:ring-primary-900"
                        >
                            ประกาศรายชื่อ
                            <svg
                                class="w-5 h-5 mx-1"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                fill="none"
                                viewBox="0 0 24 24"
                            >
                                <path
                                    stroke="currentColor"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M11 9h6m-6 3h6m-6 3h6M6.996 9h.01m-.01 3h.01m-.01 3h.01M4 5h16a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1Z"
                                />
                            </svg>
                        </a>
                    </div>
                    <div class="block gap-2 lg:flex">
                        <a
                            href="/NACM14th/files/ผลการแข่งขัน FMS CWIE 2025.pdf"
                            target="_blank"
                            class="flex w-full items-center text-white bg-sky-400 hover:bg-sky-600 focus:ring-4 focus:ring-sky-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
                        >
                            <svg
                                class="w-5 h-5 mx-1"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                fill="none"
                                viewBox="0 0 24 24"
                            >
                                <path
                                    stroke="currentColor"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="m8.032 12 1.984 1.984 4.96-4.96m4.55 5.272.893-.893a1.984 1.984 0 0 0 0-2.806l-.893-.893a1.984 1.984 0 0 1-.581-1.403V7.04a1.984 1.984 0 0 0-1.984-1.984h-1.262a1.983 1.983 0 0 1-1.403-.581l-.893-.893a1.984 1.984 0 0 0-2.806 0l-.893.893a1.984 1.984 0 0 1-1.403.581H7.04A1.984 1.984 0 0 0 5.055 7.04v1.262c0 .527-.209 1.031-.581 1.403l-.893.893a1.984 1.984 0 0 0 0 2.806l.893.893c.372.372.581.876.581 1.403v1.262a1.984 1.984 0 0 0 1.984 1.984h1.262c.527 0 1.031.209 1.403.581l.893.893a1.984 1.984 0 0 0 2.806 0l.893-.893a1.985 1.985 0 0 1 1.403-.581h1.262a1.984 1.984 0 0 0 1.984-1.984V15.7c0-.527.209-1.031.581-1.403Z"
                                />
                            </svg>

                            ผลการแข่งขัน
                        </a>
                        <a
                            href="https://arit.kpru.ac.th/ap/icc/index.php?nu=list&q=%E0%B8%81%E0%B8%B2%E0%B8%A3%E0%B9%81%E0%B8%82%E0%B9%88%E0%B8%87%E0%B8%82%E0%B8%B1%E0%B8%99+FMS+CWIE+2025"
                            target="_blank"
                            class="flex w-full items-center text-white bg-amber-400 hover:bg-amber-600 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
                        >
                            <svg
                                class="w-5 h-5 mx-1"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                fill="none"
                                viewBox="0 0 24 24"
                            >
                                <path
                                    stroke="currentColor"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="m7.171 12.906-2.153 6.411 2.672-.89 1.568 2.34 1.825-5.183m5.73-2.678 2.154 6.411-2.673-.89-1.568 2.34-1.825-5.183M9.165 4.3c.58.068 1.153-.17 1.515-.628a1.681 1.681 0 0 1 2.64 0 1.68 1.68 0 0 0 1.515.628 1.681 1.681 0 0 1 1.866 1.866c-.068.58.17 1.154.628 1.516a1.681 1.681 0 0 1 0 2.639 1.682 1.682 0 0 0-.628 1.515 1.681 1.681 0 0 1-1.866 1.866 1.681 1.681 0 0 0-1.516.628 1.681 1.681 0 0 1-2.639 0 1.681 1.681 0 0 0-1.515-.628 1.681 1.681 0 0 1-1.867-1.866 1.681 1.681 0 0 0-.627-1.515 1.681 1.681 0 0 1 0-2.64c.458-.361.696-.935.627-1.515A1.681 1.681 0 0 1 9.165 4.3ZM14 9a2 2 0 1 1-4 0 2 2 0 0 1 4 0Z"
                                />
                            </svg>
                            เกียรติบัตร
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section
        id="SAC"
        class="bg-[url('/NACM14th/images/std-sac.webp')] bg-no-repeat bg-fixed bg-center bg-cover h-screen"
    >
        <div class="container py-10 mx-auto">
            <div class="p-10 text-white bg-black/20">
                <p class="text-2xl">
                    ตึก SAC กองพัฒนานักศึกษา มหาวิทยาลัยราชภัฏกำแพงเพชร
                </p>
                <p class="mt-2 text-xl">รายละเอียดสถานที่จัดงาน</p>
                <p class="mt-2 text-xl">ชั้น G</p>
                <ul class="ml-5">
                    <li>ลานจอดรถใต้อาคาร</li>
                    <li>รถจักรยานยนต์</li>
                    <li>รถยนต์</li>
                </ul>
                <p class="mt-2 text-xl">ชั้น 1</p>
                <ul class="ml-5">
                    <li>-</li>
                </ul>
                <p class="mt-2 text-xl">ชั้น 2</p>
                <ul class="ml-5">
                    <li>ห้องติวเตอร์ (47221)</li>
                </ul>

                <p class="mt-2 text-xl">ชั้น 3</p>
                <ul class="ml-5">
                    <li>ห้องประชุมสุพรรณิการ์</li>
                </ul>
                <p class="mt-2 text-xl">ชั้น 4</p>
                <ul class="ml-5">
                    <li>ห้องประชุมจำปา</li>
                    <li>ห้องประชุมจำปี</li>
                </ul>
            </div>
        </div>
    </section>

    <footer class="py-10 text-center bg-gray-50">
        <div class="container px-4 mx-auto" id="contact">
            <h2 class="mb-4 text-3xl font-bold">ติดต่อ</h2>
            <p>คณะวิทยาการจัดการ ( ตึก 11 ) มหาวิทยาลัยราชภัฎกำแพงเพชร</p>
            <p>เลขที่ 69 หมู่ 1 ต.นครชุม อ.เมือง จ.กำแพงเพชร 62000</p>
            <p class="flex justify-center">
                <svg
                    class="w-6 h-6 mr-2"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    fill="none"
                    viewBox="0 0 24 24"
                >
                    <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M18.427 14.768 17.2 13.542a1.733 1.733 0 0 0-2.45 0l-.613.613a1.732 1.732 0 0 1-2.45 0l-1.838-1.84a1.735 1.735 0 0 1 0-2.452l.612-.613a1.735 1.735 0 0 0 0-2.452L9.237 5.572a1.6 1.6 0 0 0-2.45 0c-3.223 3.2-1.702 6.896 1.519 10.117 3.22 3.221 6.914 4.745 10.12 1.535a1.601 1.601 0 0 0 0-2.456Z"
                    ></path>
                </svg>
                (055) 706511
            </p>
            <ul class="flex justify-center mt-4 space-x-4">
                <li>
                    <a
                        href="https://www.facebook.com/fmskpru"
                        class="text-[#39569c] hover:text-gray-900"
                        target="_blank"
                        ref="nofollow"
                    >
                        <svg
                            class="w-8 h-8"
                            fill="currentColor"
                            viewBox="0 0 24 24"
                            aria-hidden="true"
                        >
                            <path
                                fill-rule="evenodd"
                                d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z"
                                clip-rule="evenodd"
                            />
                        </svg>
                    </a>
                </li>
                <li>
                    <a
                        href="https://www.instagram.com/fms.kpru/"
                        class="text-[#d62976] hover:text-gray-900"
                    >
                        <svg
                            class="w-8 h-8"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                        >
                            <path
                                fill="currentColor"
                                fill-rule="evenodd"
                                d="M3 8a5 5 0 0 1 5-5h8a5 5 0 0 1 5 5v8a5 5 0 0 1-5 5H8a5 5 0 0 1-5-5V8Zm5-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V8a3 3 0 0 0-3-3H8Zm7.597 2.214a1 1 0 0 1 1-1h.01a1 1 0 1 1 0 2h-.01a1 1 0 0 1-1-1ZM12 9a3 3 0 1 0 0 6 3 3 0 0 0 0-6Zm-5 3a5 5 0 1 1 10 0 5 5 0 0 1-10 0Z"
                                clip-rule="evenodd"
                            />
                        </svg>
                    </a>
                </li>
                <li>
                    <a
                        href="https://www.tiktok.com/@fms_kpru"
                        class="text-gray-800 hover:text-gray-900"
                    >
                        <img src="/NACM14th/svg/tiktok.svg" class="w-8 h-8" />
                    </a>
                </li>
                <li>
                    <a
                        href="https://www.youtube.com/@fmskpru324"
                        class="text-[#c4302b] hover:text-gray-900"
                    >
                        <svg
                            class="w-8 h-8"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor"
                            viewBox="0 0 24 24"
                        >
                            <path
                                fill-rule="evenodd"
                                d="M21.7 8.037a4.26 4.26 0 0 0-.789-1.964 2.84 2.84 0 0 0-1.984-.839c-2.767-.2-6.926-.2-6.926-.2s-4.157 0-6.928.2a2.836 2.836 0 0 0-1.983.839 4.225 4.225 0 0 0-.79 1.965 30.146 30.146 0 0 0-.2 3.206v1.5a30.12 30.12 0 0 0 .2 3.206c.094.712.364 1.39.784 1.972.604.536 1.38.837 2.187.848 1.583.151 6.731.2 6.731.2s4.161 0 6.928-.2a2.844 2.844 0 0 0 1.985-.84 4.27 4.27 0 0 0 .787-1.965 30.12 30.12 0 0 0 .2-3.206v-1.516a30.672 30.672 0 0 0-.202-3.206Zm-11.692 6.554v-5.62l5.4 2.819-5.4 2.801Z"
                                clip-rule="evenodd"
                            />
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </footer>
</template>
