<script setup>
import { Head } from '@inertiajs/vue3';
import SiteLayout from '../../Layouts/SiteLayout.vue';
defineOptions({ layout: SiteLayout })
</script>


<template>
    <Head title="ไม่มีหน้าเพจนี้ 500" />

    <Head>
        <!-- HTML Meta Tags -->
        <meta name="description"
            content="มหาวิทยาลัยราชภัฏกำแพงเพชร เป็นมหาวิทยาลัยที่เป็นที่พึ่งทางวิชาการของท้องถิ่นให้มีความเข้มแข็งอย่างยั่งยืน สถาปนาเมื่อ ปี 2516 ปัจจุบันประกอบด้วย 5 คณะ">
        <!-- Keywords Meta Tags -->
        <meta name="Keywords" lang="en"
            content="Covid, Kamphaeng Phet Rajabhat University, Rajabhat, KamphaengPhet, KPRU, KP, Kamphaeng, Thailand, Thai University">
        <meta name="Keywords" lang="th"
            content="มหาวิทยาลัยราชภัฏกำแพงเพชร, ราชภัฏกำแพงเพชร, มรภ.กพ., วิทยาลัยครูกำแพงเพชร, วิทยาลัยครู, ราชภัฏภาคเหนือ, มหาวิทยาลัยราชภัฏ, มหาวิทยาลัย, สถาบันการศึกษา">
        <!-- Google / Search Engine Tags -->
        <meta itemprop="name" content="หน้าแรก | คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร">
        <meta itemprop="description"
            content="คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร เป็นศูนย์กลางในการพัฒนาองค์ความรู้ด้านการบริหารจัดการ โดยการบูรณาการทางวิชาการ วิชาชีพ เพื่อการพัฒนาชุมชนท้องถิ่นของมหาวิทยาลัยราชภัฏภาคเหนือตอนล่าง">
        <meta itemprop="image" content="/storage/fb_og_image.jpg">

        <!-- Facebook Meta Tags -->
        <meta property="og:url" content="https://fms.kpru.ac.th">
        <meta property="og:type" content="website">
        <meta property="og:title" content="หน้าแรก | คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร">
        <meta property="og:description"
            content="คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร เป็นศูนย์กลางในการพัฒนาองค์ความรู้ด้านการบริหารจัดการ โดยการบูรณาการทางวิชาการ วิชาชีพ เพื่อการพัฒนาชุมชนท้องถิ่นของมหาวิทยาลัยราชภัฏภาคเหนือตอนล่าง">
        <meta property="og:image" content="/storage/fb_og_image.jpg">

        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="หน้าแรก | คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร">
        <meta name="twitter:description"
            content="คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร เป็นศูนย์กลางในการพัฒนาองค์ความรู้ด้านการบริหารจัดการ โดยการบูรณาการทางวิชาการ วิชาชีพ เพื่อการพัฒนาชุมชนท้องถิ่นของมหาวิทยาลัยราชภัฏภาคเหนือตอนล่าง">
        <meta name="twitter:image" content="/storage/fb_og_image.jpg">
    </Head>

<section class="bg-white dark:bg-gray-900">
    <div class="max-w-screen-xl px-4 py-8 mx-auto lg:py-16 lg:px-6">
        <div class="max-w-screen-sm mx-auto text-center">
            <h1 class="mb-4 font-extrabold tracking-tight text-7xl lg:text-9xl text-primary-600 dark:text-primary-500">500</h1>
            <p class="mb-4 text-3xl font-bold tracking-tight text-gray-900 md:text-4xl dark:text-white">อะไรบางอย่างที่ไม่ถูกต้อง</p>
            <p class="mb-4 text-lg font-light text-gray-500 dark:text-gray-400">ที่มาน่าสงสัย</p>
            <a :href="route('home')" class="inline-flex text-white bg-primary-600 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:focus:ring-primary-900 my-4">กลับไปหน้าแรก</a>
        </div>
    </div>
</section>
</template>
