<!-- src/components/FwbCarousel/FwbCarousel.vue -->
<template>
    <transition>
        <div class="relative">
            <!-- Carousel wrapper -->
            <div
                class="relative h-32 mx-auto overflow-hidden sm:h-80 md:h-32 xl:h-52 2xl:h-60"
            >
                <!--ita : relative h-32 overflow-hidden sm:h-60 md:h-24 xl:h-40 2xl:h-48 2xl:my-5 -->
                <!-- greenoffice : relative h-48 overflow-hidden sm:h-80 md:h-32 xl:h-52 2xl:h-60 -->
                <!-- Item 1 -->
                <!-- duration-700 ease-in-out-->
                <div
                    v-for="(picture, index) in pictures"
                    :key="index"
                    :class="[
                        'absolute inset-0 duration-700 ease-in-out ',
                        index === currentPicture
                            ? 'z-30 translate-x-0'
                            : index < currentPicture
                            ? 'z-0 -translate-x-full' // ภาพก่อนหน้าหายไปทางซ้าย
                            : 'z-0 translate-x-full', // ภาพถัดไปเริ่มทางขวา
                    ]"
                >
                    <img
                        :alt="picture.alt"
                        :src="picture.src"
                        :style="{
                            width: picture.width + 'px',
                            height: picture.height + 'px',
                        }"
                        class="absolute block object-contain mx-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
                    />
                </div>
            </div>
            <!-- Slider indicators -->
            <div
                v-if="!noIndicators"
                class="absolute z-30 flex space-x-3 -translate-x-1/2 bottom-5 left-1/2"
            >
                <button
                    v-for="(picture, index) in pictures"
                    :key="index"
                    :aria-label="'Slide ' + index"
                    :class="
                        index === currentPicture ? 'bg-white' : 'bg-white/50'
                    "
                    aria-current="false"
                    class="w-3 h-3 bg-white rounded-full"
                    type="button"
                    @click.prevent="slideTo(index)"
                />
            </div>
            <!-- Slider controls -->
            <template v-if="!noControls">
                <button
                    class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
                    data-carousel-prev
                    type="button"
                    @click.prevent="previousPicture"
                >
                    <span
                        class="inline-flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-primary-200/30 group-hover:bg-primary-400 group-focus:ring-4 group-focus:ring-white group-focus:outline-none"
                    >
                        <svg
                            class="w-5 h-5 text-primary-600 sm:w-6 sm:h-6"
                            fill="none"
                            stroke="currentColor"
                            viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M15 19l-7-7 7-7"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                            />
                        </svg>
                        <span class="hidden">Previous</span>
                    </span>
                </button>
                <button
                    class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
                    data-carousel-next
                    type="button"
                    @click.prevent="nextPicture"
                >
                    <span
                        class="inline-flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-primary-200/30 group-hover:bg-primary-400 group-focus:ring-4 group-focus:ring-white group-focus:outline-none"
                    >
                        <svg
                            class="w-5 h-5 text-primary-600 sm:w-6 sm:h-6"
                            fill="none"
                            stroke="currentColor"
                            viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M9 5l7 7-7 7"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                            />
                        </svg>
                        <span class="hidden">Next</span>
                    </span>
                </button>
            </template>
        </div>
    </transition>
</template>

<script lang="ts" setup>
import { onMounted, type PropType, ref } from "vue";
import type { PictureItem } from "@/components/FwbCarousel/types";

const props = defineProps({
    pictures: {
        type: Array as PropType<PictureItem[]>,
        default() {
            return [];
        },
    },
    noIndicators: {
        type: Boolean,
        default: false,
    },
    noControls: {
        type: Boolean,
        default: false,
    },
    slide: {
        type: Boolean,
        default: false,
    },
    slideInterval: {
        type: Number,
        default: 3000,
    },
    animation: {
        type: Boolean,
        default: false,
    },
});

const currentPicture = ref(0);
const direction = ref("");
const interval = ref();

const automaticSlide = () => {
    interval.value = setInterval(function () {
        nextPicture();
    }, props.slideInterval);
};

const resetInterval = () => {
    clearInterval(interval.value);
    automaticSlide();
};

const slideTo = (index: number) => {
    currentPicture.value = index;
    resetInterval();
};

const nextPicture = () => {
    if (currentPicture.value !== props.pictures.length - 1) {
        currentPicture.value++;
    } else {
        currentPicture.value = 0;
    }
    direction.value = "right";
    resetInterval();
};

const previousPicture = () => {
    if (currentPicture.value !== 0) {
        currentPicture.value--;
    } else {
        currentPicture.value = props.pictures.length - 1;
    }
    direction.value = "left";
    resetInterval();
};

onMounted(() => {
    if (props.slide) {
        automaticSlide();
    }
});
</script>
