<script setup>
import { Head } from '@inertiajs/vue3';
import SiteLayout from '../Layouts/SiteLayout.vue';
defineOptions({ layout: SiteLayout })
</script>

<template>

    <Head title="เกี่ยวกับเรา" />

    <Head>
        <!-- HTML Meta Tags -->
        <meta name="description"
            content="มหาวิทยาลัยราชภัฏกำแพงเพชร เป็นมหาวิทยาลัยที่เป็นที่พึ่งทางวิชาการของท้องถิ่นให้มีความเข้มแข็งอย่างยั่งยืน สถาปนาเมื่อ ปี 2516 ปัจจุบันประกอบด้วย 5 คณะ">
        <!-- Keywords Meta Tags -->
        <meta name="Keywords" lang="en"
            content="Covid, Kamphaeng Phet Rajabhat University, Rajabhat, KamphaengPhet, KPRU, KP, Kamphaeng, Thailand, Thai University">
        <meta name="Keywords" lang="th"
            content="มหาวิทยาลัยราชภัฏกำแพงเพชร, ราชภัฏกำแพงเพชร, มรภ.กพ., วิทยาลัยครูกำแพงเพชร, วิทยาลัยครู, ราชภัฏภาคเหนือ, มหาวิทยาลัยราชภัฏ, มหาวิทยาลัย, สถาบันการศึกษา">
        <!-- Google / Search Engine Tags -->
        <meta itemprop="name" content="เกี่ยวกับเรา | คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร">
        <meta itemprop="description"
            content="คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร เป็นศูนย์กลางในการพัฒนาองค์ความรู้ด้านการบริหารจัดการ โดยการบูรณาการทางวิชาการ วิชาชีพ เพื่อการพัฒนาชุมชนท้องถิ่นของมหาวิทยาลัยราชภัฏภาคเหนือตอนล่าง">
        <meta itemprop="image" content="/storage/fb_og_image.jpg">

        <!-- Facebook Meta Tags -->
        <meta property="og:url" content="https://fms.kpru.ac.th">
        <meta property="og:type" content="website">
        <meta property="og:title" content="เกี่ยวกับเรา | คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร">
        <meta property="og:description"
            content="คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร เป็นศูนย์กลางในการพัฒนาองค์ความรู้ด้านการบริหารจัดการ โดยการบูรณาการทางวิชาการ วิชาชีพ เพื่อการพัฒนาชุมชนท้องถิ่นของมหาวิทยาลัยราชภัฏภาคเหนือตอนล่าง">
        <meta property="og:image" content="/storage/fb_og_image.jpg">

        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="เกี่ยวกับเรา | คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร">
        <meta name="twitter:description"
            content="คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร เป็นศูนย์กลางในการพัฒนาองค์ความรู้ด้านการบริหารจัดการ โดยการบูรณาการทางวิชาการ วิชาชีพ เพื่อการพัฒนาชุมชนท้องถิ่นของมหาวิทยาลัยราชภัฏภาคเหนือตอนล่าง">
        <meta name="twitter:image" content="/storage/fb_og_image.jpg">
    </Head>

    <!-- Breadcrumb -->
    <div class="container pt-4 mx-auto">
        <nav class="flex px-5 py-3 text-gray-700 border border-gray-200 rounded-lg bg-gray-50 " aria-label="Breadcrumb">
            <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
                <li class="inline-flex items-center">
                    <a href="/" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 ">
                        <svg class="w-3 h-3 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor" viewBox="0 0 20 20">
                            <path
                                d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z" />
                        </svg>
                        หน้าแรก
                    </a>
                </li>
                <li>
                    <div class="flex items-center">
                        <svg class="block w-3 h-3 mx-1 text-gray-400 rtl:rotate-180 " aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m1 9 4-4-4-4" />
                        </svg>
                        <a href="/about"
                            class="text-sm font-medium text-gray-700 ms-1 hover:text-blue-600 md:ms-2 ">เกี่ยวกับเรา</a>
                    </div>
                </li>
            </ol>
        </nav>
    </div>


    <div class="container pt-2 mx-auto mb-4">
        <div class="mt-6 md:flex">
            <ul class="mb-4 space-y-4 text-sm font-medium text-gray-500 flex-column space-y md:me-4 md:mb-0"
                id="default-styled-tab" data-tabs-toggle="#default-styled-tab-content"
                data-tabs-active-classes="text-pink-600 hover:text-pink-600 border-pink-600"
                data-tabs-inactive-classes="text-gray-500 hover:text-gray-800 border-gray-100 hover:border-gray-300"
                role="tablist">
                <li>
                    <button class="inline-block w-full p-4 border-b-2 rounded-t-lg" id="history-styled-tab"
                        data-tabs-target="#styled-history" type="button" role="tab" aria-controls="history"
                        aria-selected="false">ประวัติความเป็นมา</button>
                </li>
                <li>
                    <button
                        class="inline-block w-full p-4 border-b-2 rounded-t-lg hover:text-gray-800 hover:border-gray-300"
                        id="vision-styled-tab" data-tabs-target="#styled-vision" type="button" role="tab"
                        aria-controls="vision" aria-selected="false">วิสัยทัศน์ พันธกิจ ค่านิยม สมรรถนะหลัก
                        วัฒนธรรม</button>
                </li>
                <li>
                    <button
                        class="inline-block w-full p-4 border-b-2 rounded-t-lg hover:text-gray-800 hover:border-gray-300"
                        id="organization-chart-styled-tab" data-tabs-target="#styled-organization-chart" type="button"
                        role="tab" aria-controls="organization-chart" aria-selected="false">โครงสร้างหน่วยงาน</button>
                </li>
                <li>
                    <button
                        class="inline-block w-full p-4 border-b-2 rounded-t-lg hover:text-gray-800 hover:border-gray-300"
                        id="organization-managed-styled-tab" data-tabs-target="#styled-organization-managed"
                        type="button" role="tab" aria-controls="organization-managed"
                        aria-selected="false">โครงสร้างคณะกรรมการบริหารคณะ<br /> โครงสร้างผู้บริหารคณะ<br />
                        โครงสร้างคณะกรรมการประจำคณะ</button>
                </li>
                <li>
                    <button
                        class="inline-block w-full p-4 border-b-2 rounded-t-lg hover:text-gray-800 hover:border-gray-300"
                        id="office-styled-tab" data-tabs-target="#styled-office" type="button" role="tab"
                        aria-controls="office" aria-selected="false">โครงสร้างสำนักงานคณบดี</button>
                </li>

                <li>
                    <button
                        class="inline-block w-full p-4 border-b-2 rounded-t-lg hover:text-gray-800 hover:border-gray-300"
                        id="symbol-styled-tab" data-tabs-target="#styled-symbol" type="button" role="tab"
                        aria-controls="symbol" aria-selected="false">สัญลักษณ์ </button>
                </li>
            </ul>

            <div class="w-full p-6 text-gray-600 rounded-lg bg-gray-50 text-medium" id="default-styled-tab-content">
                <div class="hidden p-4 rounded-lg bg-gray-50 " id="styled-history" role="tabpanel"
                    aria-labelledby="history-tab">
                    <h3 class="mb-4 text-xl text-center text-gray-800">ความเป็นมาของ คณะวิทยาการจัดการ</h3>
                    <p class="mb-2">&emsp;วิทยาลัยครูกำแพงเพชร มีการเตรียมการจัดตั้งคณะวิชาวิทยาการจัดการ
                        เพื่อทำหน้าที่รับผิดชอบผลิตบัณฑิต สาขาศิลปศาสตร์ ตั้งแต่ปี พ.ศ.2528 โดยมอบหมายให้อาจารย์สุวัฒน์
                        น้าคณาคุปต์ ซึ่งดำรงตำแหน่งหัวหน้าภาควิชาเศรษฐศาสตร์และการเมือง คณะมนุษยศาสตร์และสังคมศาสตร์
                        ในขณะนั้น ทำหน้าที่เป็นหัวหน้าคณะวิชาเพื่อดำเนินการในการจัดตั้ง โดยมีอาจารย์นิยม ชื่นนิรันดร์
                        และอาจารย์ประจวบ ทิพย์ปรีชา เป็นผู้ร่วมก่อตั้ง คณะผู้เริ่มก่อตั้งได้ดำเนินการจัดทำร่างหลักสูตร
                        จัดหาเอกสารตำรา ตลอดจนอาคารสถานที่ และวัสดุ ครุภัณฑ์
                        เพื่อเตรียมความพร้อมในการเปิดการจัดการเรียนการสอน และมีประกาศการจัดตั้ง
                        คณะวิชาวิทยาการจัดการขึ้น โดยรัฐมนตรีว่าการกระทรวงศึกษาธิการ ได้ลงนามในประกาศกระทรวงศึกษาธิการ
                        เมื่อวันที่ 12 มีนาคม พ.ศ.2530 โดยได้ทำการจัดการเรียนการสอนในระดับอนุปริญญา
                        หลักสูตรศิลปศาสตรบัณฑิต โปรแกรมวิชาการจัดการทั่วไป แขนงวิชาบัญชี แขนงการจัดการทั่วไป แขนงการตลาด
                        และแขนงเศรษฐศาสตร์สหกรณ์ ระดับปริญญาตรี (2 ปีหลัง) หลักสูตรศิลปศาสตรบัณฑิต
                        โปรแกรมวิชาการจัดการทั่วไป แขนงวิชาการบัญชี แขนงการจัดการทั่วไป แขนงการตลาด
                        และแขนงเศรษฐศาสตร์สหกรณ์</p>
                    <p class="mb-2">&emsp;คณะวิทยาการจัดการ ได้รับงบประมาณการก่อสร้างอาคารเรียน
                        จากการแปรญัตติงบประมาณรายจ่ายประจำปีงบประมาณ 2540 โดยก่อสร้างอาคารเรียน 8 ชั้น เป็นเงิน
                        42,940,000 บาท เริ่มก่อสร้าง เมื่อวันที่ 15 กันยายน พ.ศ. 2540 ทั้งนี้
                        อาคารเรียนของคณะวิทยาการจัดการ ได้ทำการเปิดใช้เป็นครั้งแรก เมื่อวันที่ 1 มิถุนายน พ.ศ. 2543
                        โดยได้รับพระราชทานนามว่า “อาคารเฉลิมพระเกียรติพระชนมพรรษา 2” หรือที่เรียกกันว่า “อาคาร 11”</p>
                    <p class="mb-2">&emsp;สถาบันราชภัฏกำแพงเพชร ยกฐานะเป็น “มหาวิทยาลัยราชภัฏกำแพงเพชร”
                        มีผลบังคับใช้ตั้งแต่ วันที่ 15 มิถุนายน พ.ศ. 2547 มีความเป็นอิสระและเป็นนิติบุคคล
                        เป็นส่วนราชการตามกฎหมายว่าด้วย วิธีการงบประมาณในสังกัดสำนักงานคณะกรรมการการอุดมศึกษา
                        กระทรวงศึกษาธิการ </p>
                    <p class="mb-2">&emsp;ในปีพ.ศ. 2562 มหาวิทยาลัยราชภัฏกำแพงเพชร
                        ได้มีการปรับเปลี่ยนสังกัดกระทรวงใหม่จากเดิม “สังกัดกระทรวงศึกษาธิการ” เปลี่ยนเป็น
                        “สังกัดกระทรวงการอุดมศึกษา วิทยาศาสตร์ วิจัยและนวัตกรรม” ซึ่งมีผลบังคับตั้งแต่วันที่ 1 พฤษภาคม
                        2562 ตามระเบียบบริหารราชการกระทรวงการอุดมศึกษา วิทยาศาสตร์ วิจัยและนวัตกรรม พ.ศ. 2562</p>
                    <p class="mb-2">&emsp;ปัจจุบันคณะวิทยาการจัดการ ได้ทำการจัดการเรียนการสอนระดับปริญญาตรี จำนวน 4
                        หลักสูตร ได้แก่ หลักสูตรบริหารธุรกิจบัณฑิต สาขาวิชาบริหารธุรกิจ ประกอบด้วย
                        สาขาวิชาเอกการจัดการธุรกิจ สาขาวิชาเอกการตลาด สาขาวิชาเอกการเงิน สาขาวิชาเอกการเป็นผู้ประกอบการ
                        และสาขาวิชาเอกเทคโนโลยีธุรกิจดิจิทัล หลักสูตรบัญชีบัณฑิต หลักสูตรนิเทศศาสตรบัณฑิต
                        สาขาวิชานิเทศศาสตร์ และหลักสูตรศิลปศาสตรบัณฑิต สาขาวิชาอุตสาหกรรมการท่องเที่ยว
                        และการจัดการเรียนการสอนในระดับบัณฑิตศึกษา จำนวน 1 หลักสูตร ได้แก่ หลักสูตรบริหารธุรกิจมหาบัณฑิต
                        สาขาวิชาการจัดการสมัยใหม่</p>
                </div>
                <div class="hidden p-4 rounded-lg bg-gray-50" id="styled-vision" role="tabpanel"
                    aria-labelledby="vision-tab">

                    <h3 class="mb-4 text-xl text-gray-800">วิสัยทัศน์</h3>
                    <p class="mb-4 text-gray-500">คณะวิทยาการจัดการเป็นศูนย์กลางในการพัฒนาองค์ความรู้ด้านการบริหารจัดการ
                        โดยการบูรณาการทางวิชาการ วิชาชีพ เพื่อการพัฒนาชุมชนท้องถิ่นของมหาวิทยาลัยราชภัฏภาคเหนือตอนล่าง
                    </p>

                    <h3 class="mb-4 text-xl text-gray-800">พันธกิจ</h3>
                    <ol class="pl-5 mb-4 ml-5 space-y-1 text-gray-500 list-decimal list-inside">
                        <li>บริการวิชาการเพื่อสร้างรายได้ พัฒนาคุณภาพชีวิต และยกระดับเศรษฐกิจให้กับชุมชนท้องถิ่น</li>
                        <li>พัฒนางานวิจัยเชิงนวัตกรรม และวิจัยเพื่อพัฒนาชุมชนท้องถิ่น
                            รวมทั้งส่งเสริมการจดทรัพย์สินทางปัญญา</li>
                        <li>พัฒนาหลักสูตรและรูปแบบการเรียนการสอนในรูปแบบการบูรณาการองค์ความรู้
                            เพื่อตอบสนองต่อความต้องการของตลาดแรงงานในปัจจุบันและอนาคต
                            และขยายฐานนักศึกษาทั้งในประเทศและต่างประเทศ</li>
                        <li>บริหารจัดการที่มุ่งเน้นความเป็นเลิศด้วยดิจิทัล ยึดหลักธรรมาภิบาล
                            สร้างสภาพแวดล้อมให้กับนักศึกษา บุคลากร และผู้มีส่วนได้ส่วนเสียให้มีความสุข
                            เกิดความผูกพันต่อองค์กร และจัดหารายได้ขององค์กรอย่างมีประสิทธิภาพ</li>
                    </ol>

                    <h3 class="mb-4 text-xl text-gray-800">ค่านิยม : “HAPPY”</h3>
                    <p class="mb-2 text-gray-500">&emsp;H : Human Resource ทรัพยากรมนุษย์ที่ดี</p>
                    <p class="mb-2 text-gray-500">&emsp;A : Activeness ความกระตือรือร้น</p>
                    <p class="mb-2 text-gray-500">&emsp;P : Participation ร่วมแรงร่วมใจ</p>
                    <p class="mb-2 text-gray-500">&emsp;P : Practitioner นักปฏิบัติ</p>
                    <p class="mb-4 text-gray-500">&emsp;Y : Yield ผลลัพธ์ที่มีคุณภาพ</p>

                    <h3 class="mb-4 text-xl text-gray-800">สมรรถนะหลัก</h3>
                    <ol class="pl-5 mb-4 ml-5 space-y-1 text-gray-500 list-decimal list-inside">
                        <li>สร้างองค์ความรู้ด้านการบริหารจัดการ ที่นำไปใช้ประโยชน์ในการพัฒนาเศรษฐกิจของชุมชนท้องถิ่น
                        </li>
                        <li>บูรณาการศาสตร์ด้านการบริหารจัดการและทักษะการจัดการเรียนรู้ที่มีความหลากหลายตอบสนองสอดคล้องกับความต้องการของผู้ใช้บัณฑิต
                        </li>

                    </ol>
                    <h3 class="mb-4 text-xl text-gray-800">วัฒนธรรม</h3>
                    <p class="mb-4 text-gray-500">เคารพอาวุโส ตรงต่อเวลา ใช้ทรัพยากรอย่างคุ้มค่า อนุรักษ์ศิลปวัฒนธรรม
                    </p>

                </div>


                <div class="hidden p-4 rounded-lg bg-gray-50 " id="styled-organization-chart" role="tabpanel"
                    aria-labelledby="organization-chart-tab">

                    <h3 class="mb-4 text-xl text-center text-gray-800">โครงสร้างหน่วยงาน (Organization Chart)</h3>
                    <img class="h-auto max-w-full mx-auto" src="/images/fms-chart/organization-chart.jpg"
                        alt="organization chart">

                </div>
                <div class="hidden p-4 rounded-lg bg-gray-50 " id="styled-organization-managed" role="tabpanel"
                    aria-labelledby="organization-managed-tab">
                    <h3 class="mb-4 text-xl text-center text-gray-800">โครงสร้างคณะกรรมการบริหารคณะ (Organization
                        Managed Chart)</h3>
                    <img class="h-auto max-w-full mx-auto mb-6" src="/images/fms-chart/organization-managed-chart.jpg"
                        alt="organization managed chart">

                    <h3 class="mb-4 text-xl text-center text-gray-800">โครงสร้างผู้บริหารคณะ (Organization Executive
                        Chart)</h3>
                    <img class="h-auto max-w-full mx-auto mb-6" src="/images/fms-chart/organization-executive-chart.jpg"
                        alt="organization executive chart">

                    <h3 class="mb-4 text-xl text-center text-gray-800">โครงสร้างคณะกรรมการประจำคณะ (Organization board
                        Chart)</h3>
                    <img class="h-auto max-w-full mx-auto mb-6" src="/images/fms-chart/organization-board-chart.jpg"
                        alt="organization board chart">
                </div>


                <div class="hidden p-4 rounded-lg bg-gray-50 " id="styled-office" role="tabpanel"
                    aria-labelledby="office-tab">
                    <h3 class="mb-4 text-xl text-center text-gray-800">โครงสร้างสำนักงานคณบดี (Organization Office
                        Chart) </h3>
                    <img class="h-auto max-w-full mx-auto mb-6" src="/images/fms-chart/organization-office-chart.jpg"
                        alt="organization office chart">

                </div>

                <div class="hidden p-4 rounded-lg bg-gray-50 " id="styled-symbol" role="tabpanel"
                    aria-labelledby="symbol-tab">
                    <h3 class="mb-4 text-xl text-center text-gray-800">สัญลักษณ์ คณะวิทยาการจัดการ</h3>
                    <div>
                        <img class="h-auto max-w-lg mx-auto" src="/images/fms-logo-text.png" alt="image description">
                        <p class="pl-5"></p>
                        <ul class="pl-5 mb-4 ml-5 space-y-1 text-gray-800 list-inside">
                            <li>สีประจำคณะวิทยาการจัดการ : <span class="text-pink-500">ชมพู</span></li>
                            <li>สัญลักษณ์ประจำคณะวิทยาการจัดการ : <span class="text-gray-500">ใบเรือ
                                    มีลักษณะเป็นดอกบัวตูม ซึ่งกำลังจะเบ่งบาน ให้ความหมายด้านสติปัญญา
                                    ที่สามารถเรียนรู้แล้วค่อยๆ เจริญสติขึ้นมา จนเป็นผู้มีปัญญา โดยมีสีแสดอมชมพูเข้ม
                                    ซึ่งแทนความหมายสี ดังนี้</span>
                                <ul class="pl-5 ml-5">
                                    <li><span class="text-orange-300">สีแสด</span> : แทนมหาวิทยาลัยราชภัฏกำแพงเพชร</li>
                                    <li><span class="text-pink-700">สีชมพูเข้ม</span> : แทนคณะวิทยาการจัดการ</li>
                                </ul>
                            </li>
                            <li>ลำเรือ มีสีเหลืองทอง ล่องผ่านน้ำ หมายถึง <span class="text-gray-500">ความเจริญรุ่งเรือง
                                    และความสำเร็จ เป็นเรือที่ล่องไปอย่างราบรื่น ไร้อุปสรรคใดๆ</span></li>
                            <li>วงกลม โดยรอบสัญลักษณ์ มีสีที่สื่อแทนหลักสูตร ดังนี้
                                <ul class="pl-5 ml-5">
                                    <li><span class="text-pink-500">สีชมพู</span> : แทนหลักสูตรบริหารธุรกิจบัณฑิต</li>
                                    <li><span class="text-sky-500">สีฟ้าเทา</span> : แทนหลักสูตรบัญชีบัณฑิต</li>
                                    <li><span class="text-amber-500">สีน้ำตาลทอง</span> : แทนหลักสูตรนิเทศศาสตรบัณฑิต
                                    </li>
                                    <li><span class="text-pink-400">สีชมพูบานเย็น</span> : แทนหลักสูตรเศรษฐศาสตรบัณฑิต
                                    </li>
                                    <li><span class="text-orange-300">สีแสด</span> :แทนหลักสูตรศิลปศาสตรบัณฑิต</li>
                                </ul>
                            </li>
                            <li>ความหมายโดยรวม คือ <span class="text-gray-500">เรือแห่งผู้เจริญสติปัญญา
                                    โดยอาศัยความร่วมมือร่วมใจจากทุกหลักสูตร
                                    เพื่อให้คณะวิทยาการจัดการสามารถขับเคลื่อนไปสู่เป้าหมาย และประสบความสำเร็จได้</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>


