<template>
    <Head title="วารสารการจัดการและการพัฒนาท้องถิ่น (JMLD)"/>
    <Head>
        <!-- HTML Meta Tags -->
        <meta name="description"
            content="มหาวิทยาลัยราชภัฏกำแพงเพชร เป็นมหาวิทยาลัยที่เป็นที่พึ่งทางวิชาการของท้องถิ่นให้มีความเข้มแข็งอย่างยั่งยืน สถาปนาเมื่อ ปี 2516 ปัจจุบันประกอบด้วย 5 คณะ">
        <!-- Keywords Meta Tags -->
        <meta name="Keywords" lang="en"
            content="JMLD, Kamphaeng Phet Rajabhat University, Rajabhat, KamphaengPhet, KPRU, KP, Kamphaeng, Thailand, Thai University">
        <meta name="Keywords" lang="th"
            content="JMLD, มหาวิทยาลัยราชภัฏกำแพงเพชร, ราชภัฏกำแพงเพชร, มรภ.กพ., วิทยาลัยครูกำแพงเพชร, วิทยาลัยครู, ราชภัฏภาคเหนือ, มหาวิทยาลัยราชภัฏ, มหาวิทยาลัย, สถาบันการศึกษา">
        <!-- Google / Search Engine Tags -->
        <meta itemprop="name" content="หน้าแรก | คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร">
        <meta itemprop="description"
            content="คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร เป็นศูนย์กลางในการพัฒนาองค์ความรู้ด้านการบริหารจัดการ โดยการบูรณาการทางวิชาการ วิชาชีพ เพื่อการพัฒนาชุมชนท้องถิ่นของมหาวิทยาลัยราชภัฏภาคเหนือตอนล่าง">
        <meta itemprop="image" content="/storage/fb_og_image.jpg">

        <!-- Facebook Meta Tags -->
        <meta property="og:url" content="https://fms.kpru.ac.th/fms-journal">
        <meta property="og:type" content="website">
        <meta property="og:title" content="วารสารการจัดการและการพัฒนาท้องถิ่น JMLD | คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร">
        <meta property="og:description"
            content="คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร เป็นศูนย์กลางในการพัฒนาองค์ความรู้ด้านการบริหารจัดการ โดยการบูรณาการทางวิชาการ วิชาชีพ เพื่อการพัฒนาชุมชนท้องถิ่นของมหาวิทยาลัยราชภัฏภาคเหนือตอนล่าง">
        <meta property="og:image" content="/storage/fb_og_image.jpg">

        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="หน้าแรก | คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร">
        <meta name="twitter:description"
            content="คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร เป็นศูนย์กลางในการพัฒนาองค์ความรู้ด้านการบริหารจัดการ โดยการบูรณาการทางวิชาการ วิชาชีพ เพื่อการพัฒนาชุมชนท้องถิ่นของมหาวิทยาลัยราชภัฏภาคเหนือตอนล่าง">
        <meta name="twitter:image" content="/storage/fb_og_image.jpg">
    </Head>

<section class="py-8 antialiased bg-gray-50 ">
  <div class="max-w-screen-xl px-4 mx-auto 2xl:px-0">
    <div class="flex items-center justify-between gap-4">
      <h2 class="text-xl font-semibold text-gray-900 dark:text-white sm:text-2xl">วารสารการจัดการและการพัฒนาท้องถิ่น (JMLD)</h2>

      <a href="https://so11.tci-thaijo.org/index.php/jMLD/" title="" class="flex items-center text-base font-medium text-primary-700 hover:underline" target="_blank">
        ThaiJO JMLD
        <svg class="w-5 h-5 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 12H5m14 0-4 4m4-4-4-4" />
        </svg>
      </a>
    </div>
  </div>
</section>

<section class="py-8 bg-white">
  <div class="max-w-screen-xl px-4 mx-auto">
    <div class="flex flex-wrap justify-between gap-4 mt-6">

        <a href="/storage/fms-journals/file/fms-journal_66-2.pdf" target="_blank" class="flex flex-col items-center bg-white border border-gray-200 shadow md:flex-row md:max-w-xl hover:bg-gray-100">
        <img class="object-cover w-48 h-auto" src="/storage/fms-journals/img/fms-journal66-2.jpg" alt="วารสารการจัดการและการพัฒนาท้องถิ่น">
        <div class="flex flex-col p-4 leading-normal justify-normal">
            <p class="text-gray-700 px-2.5 py-0.5">ปีที่ 6 ฉบับที่ 2</p>
            <span class="text-gray-700 px-2.5 py-0.5">(2566)</span>
        </div>
    </a>

    <a disabled href="/storage/fms-journals/file/fms-journal_66-1.pdf" target="_blank" class="flex flex-col items-center bg-white border border-gray-200 shadow md:flex-row md:max-w-xl hover:bg-gray-100">
        <img class="object-cover w-48 h-auto" src="/storage/fms-journals/img/fms-journal-none.jpg" alt="วารสารการจัดการและการพัฒนาท้องถิ่น">
        <div class="flex flex-col p-4 leading-normal justify-normal">
            <p class="text-gray-700 px-2.5 py-0.5">ปีที่ 6 ฉบับที่ 1</p>
            <span class="text-gray-700 px-2.5 py-0.5">(2566)</span>
            <span class="text-red-700 px-2.5 py-0.5">แก้ไขปรับปรุงเนื้อหา</span>
        </div>
    </a>

    <a href="/storage/fms-journals/file/fms-journal_65-2.pdf" target="_blank" class="flex flex-col items-center bg-white border border-gray-200 shadow md:flex-row md:max-w-xl hover:bg-gray-100">
        <img class="object-cover w-48 h-auto" src="/storage/fms-journals/img/fms-journal65-2.jpg" alt="วารสารการจัดการและการพัฒนาท้องถิ่น">
        <div class="flex flex-col p-4 leading-normal justify-normal">
            <p class="text-gray-700 px-2.5 py-0.5">ปีที่ 5 ฉบับที่ 2</p>
            <span class="text-gray-700 px-2.5 py-0.5">(2565)</span>
        </div>
    </a>

    <a href="/storage/fms-journals/file/fms-journal_65-1.pdf" target="_blank" class="flex flex-col items-center bg-white border border-gray-200 shadow md:flex-row md:max-w-xl hover:bg-gray-100">
        <img class="object-cover w-48 h-auto" src="/storage/fms-journals/img/fms-journal65-1.jpg" alt="วารสารการจัดการและการพัฒนาท้องถิ่น">
        <div class="flex flex-col p-4 leading-normal justify-normal">
            <p class="text-gray-700 px-2.5 py-0.5">ปีที่ 5 ฉบับที่ 1</p>
            <span class="text-gray-700 px-2.5 py-0.5">(2565)</span>
        </div>
    </a>

        <a href="/storage/fms-journals/file/fms-journal_64-2.pdf" target="_blank" class="flex flex-col items-center bg-white border border-gray-200 shadow md:flex-row md:max-w-xl hover:bg-gray-100">
        <img class="object-cover w-48 h-auto" src="/storage/fms-journals/img/fms-journal64-2.jpg" alt="วารสารการจัดการและการพัฒนาท้องถิ่น">
        <div class="flex flex-col p-4 leading-normal justify-normal">
            <p class="text-gray-700 px-2.5 py-0.5">ปีที่ 4 ฉบับที่ 2</p>
            <span class="text-gray-700 px-2.5 py-0.5">(2564)</span>
        </div>
    </a>

    <a href="/storage/fms-journals/file/fms-journal_64-1.pdf" target="_blank" class="flex flex-col items-center bg-white border border-gray-200 shadow md:flex-row md:max-w-xl hover:bg-gray-100">
        <img class="object-cover w-48 h-auto" src="/storage/fms-journals/img/fms-journal64-1.jpg" alt="วารสารการจัดการและการพัฒนาท้องถิ่น">
        <div class="flex flex-col p-4 leading-normal justify-normal">
            <p class="text-gray-700 px-2.5 py-0.5">ปีที่ 4 ฉบับที่ 1</p>
            <span class="text-gray-700 px-2.5 py-0.5">(2564)</span>
        </div>
    </a>

        <a href="/storage/fms-journals/file/fms-journal_63-2.pdf" target="_blank" class="flex flex-col items-center bg-white border border-gray-200 shadow md:flex-row md:max-w-xl hover:bg-gray-100">
        <img class="object-cover w-48 h-auto" src="/storage/fms-journals/img/fms-journal63-2.jpg" alt="วารสารการจัดการและการพัฒนาท้องถิ่น">
        <div class="flex flex-col p-4 leading-normal justify-normal">
            <p class="text-gray-700 px-2.5 py-0.5">ปีที่ 3 ฉบับที่ 2</p>
            <span class="text-gray-700 px-2.5 py-0.5">(2563)</span>
        </div>
    </a>

    <a href="/storage/fms-journals/file/fms-journal_63-1.pdf" target="_blank" class="flex flex-col items-center bg-white border border-gray-200 shadow md:flex-row md:max-w-xl hover:bg-gray-100">
        <img class="object-cover w-48 h-auto" src="/storage/fms-journals/img/fms-journal63-1.jpg" alt="วารสารการจัดการและการพัฒนาท้องถิ่น">
        <div class="flex flex-col p-4 leading-normal justify-normal">
            <p class="text-gray-700 px-2.5 py-0.5">ปีที่ 3 ฉบับที่ 1</p>
            <span class="text-gray-700 px-2.5 py-0.5">(2563)</span>
        </div>
    </a>

    <a href="/storage/fms-journals/file/fms-journal_61-2.pdf" target="_blank" class="flex flex-col items-center bg-white border border-gray-200 shadow md:flex-row md:max-w-xl hover:bg-gray-100">
        <img class="object-cover w-48 h-auto" src="/storage/fms-journals/img/fms-journal61-2.jpg" alt="วารสารการจัดการและการพัฒนาท้องถิ่น">
        <div class="flex flex-col p-4 leading-normal justify-normal">
            <p class="text-gray-700 px-2.5 py-0.5">ปีที่ 1 ฉบับที่ 2</p>
            <span class="text-gray-700 px-2.5 py-0.5">(2561)</span>
        </div>
    </a>

    <a href="/storage/fms-journals/file/fms-journal_61-1.pdf" target="_blank" class="flex flex-col items-center bg-white border border-gray-200 shadow md:flex-row md:max-w-xl hover:bg-gray-100">
        <img class="object-cover w-48 h-auto" src="/storage/fms-journals/img/fms-journal61-1.jpg" alt="วารสารการจัดการและการพัฒนาท้องถิ่น">
        <div class="flex flex-col p-4 leading-normal justify-normal">
            <p class="text-gray-700 px-2.5 py-0.5">ปีที่ 1 ฉบับที่ 1</p>
            <span class="text-gray-700 px-2.5 py-0.5">(2561)</span>
        </div>
    </a>
    </div>
  </div>
</section>
</template>

<script setup>
import { Head } from '@inertiajs/vue3';
import SiteLayout from '../Layouts/SiteLayout.vue';
defineOptions({ layout: SiteLayout })
</script>
