<template>
    <Head title="หน้าแรก" />
    <Head>
        <!-- HTML Meta Tags -->
        <meta
            name="description"
            content="มหาวิทยาลัยราชภัฏกำแพงเพชร เป็นมหาวิทยาลัยที่เป็นที่พึ่งทางวิชาการของท้องถิ่นให้มีความเข้มแข็งอย่างยั่งยืน สถาปนาเมื่อ ปี 2516 ปัจจุบันประกอบด้วย 5 คณะ"
        />
        <!-- Keywords Meta Tags -->
        <meta
            name="Keywords"
            lang="en"
            content="Covid, Kamphaeng Phet Rajabhat University, Rajabhat, KamphaengPhet, KPRU, KP, Kamphaeng, Thailand, Thai University"
        />
        <meta
            name="Keywords"
            lang="th"
            content="มหาวิทยาลัยราชภัฏกำแพงเพชร, ราชภัฏกำแพงเพชร, มรภ.กพ., วิทยาลัยครูกำแพงเพชร, วิทยาลัยครู, ราชภัฏภาคเหนือ, มหาวิทยาลัยราชภัฏ, มหาวิทยาลัย, สถาบันการศึกษา"
        />
        <!-- Google / Search Engine Tags -->
        <meta
            itemprop="name"
            content="หน้าแรก | คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร"
        />
        <meta
            itemprop="description"
            content="คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร เป็นศูนย์กลางในการพัฒนาองค์ความรู้ด้านการบริหารจัดการ โดยการบูรณาการทางวิชาการ วิชาชีพ เพื่อการพัฒนาชุมชนท้องถิ่นของมหาวิทยาลัยราชภัฏภาคเหนือตอนล่าง"
        />
        <meta itemprop="image" content="/storage/fb_og_image.jpg" />

        <!-- Facebook Meta Tags -->
        <meta property="og:url" content="https://fms.kpru.ac.th" />
        <meta property="og:type" content="website" />
        <meta
            property="og:title"
            content="หน้าแรก | คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร"
        />
        <meta
            property="og:description"
            content="คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร เป็นศูนย์กลางในการพัฒนาองค์ความรู้ด้านการบริหารจัดการ โดยการบูรณาการทางวิชาการ วิชาชีพ เพื่อการพัฒนาชุมชนท้องถิ่นของมหาวิทยาลัยราชภัฏภาคเหนือตอนล่าง"
        />
        <meta property="og:image" content="/storage/fb_og_image.jpg" />

        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta
            name="twitter:title"
            content="หน้าแรก | คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร"
        />
        <meta
            name="twitter:description"
            content="คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร เป็นศูนย์กลางในการพัฒนาองค์ความรู้ด้านการบริหารจัดการ โดยการบูรณาการทางวิชาการ วิชาชีพ เพื่อการพัฒนาชุมชนท้องถิ่นของมหาวิทยาลัยราชภัฏภาคเหนือตอนล่าง"
        />
        <meta name="twitter:image" content="/storage/fb_og_image.jpg" />
    </Head>

    <section id="FullCarousel" class="z-10 bg-footer-texture bg-primary-50">
        <div class="mx-auto 2xl:container">
            <FwbCarousel
                :pictures="carousels"
                :noIndicators="false"
                :noControls="false"
                :slide="true"
                :slideInterval="5000"
            />
        </div>
    </section>

    <section id="News&Dean" class="z-20 bg-white">
        <div class="container py-6 mx-auto">
            <div class="grid grid-cols-1 gap-0 md:gap-8 md:grid-cols-6">
                <!-- News -->
                <div
                    class="order-last col-span-3 md:order-first md:col-span-4 xl:col-span-4 sm:mt-10"
                >
                    <p class="inline-flex mb-8 ml-5 text-4xl text-primary-500">
                        <svg
                            class="w-10 h-10 mr-4 text-primary-800"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            width="40"
                            height="40"
                            fill="currentColor"
                            viewBox="0 0 24 24"
                        >
                            <path
                                fill-rule="evenodd"
                                d="M5 3a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h11.5c.07 0 .14-.007.207-.021.095.014.193.021.293.021h2a2 2 0 0 0 2-2V7a1 1 0 0 0-1-1h-1a1 1 0 1 0 0 2v11h-2V5a2 2 0 0 0-2-2H5Zm7 4a1 1 0 0 1 1-1h.5a1 1 0 1 1 0 2H13a1 1 0 0 1-1-1Zm0 3a1 1 0 0 1 1-1h.5a1 1 0 1 1 0 2H13a1 1 0 0 1-1-1Zm-6 4a1 1 0 0 1 1-1h6a1 1 0 1 1 0 2H7a1 1 0 0 1-1-1Zm0 3a1 1 0 0 1 1-1h6a1 1 0 1 1 0 2H7a1 1 0 0 1-1-1ZM7 6a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1H7Zm1 3V8h1v1H8Z"
                                clip-rule="evenodd"
                            />
                        </svg>
                        ข่าวประชาสัมพันธ์
                    </p>
                    <ul class="max-w-full px-5">
                        <li
                            v-for="n in news"
                            :key="n.id"
                            class="px-2 py-4 hover:bg-primary-50"
                        >
                            <a v-bind:href="n.link" class="" target="_blank">
                                <div
                                    class="flex items-center space-x-4 rtl:space-x-reverse"
                                >
                                    <div class="flex-shrink-0">
                                        <img
                                            class="w-10 h-10"
                                            src="https://fms.kpru.ac.th/pr-fms/wp-content/uploads/2024/08/icon_news_112-120x120.jpg"
                                        />
                                    </div>
                                    <div class="flex-1 min-w-0">
                                        <p
                                            v-html="n.title"
                                            class="font-medium text-gray-900 truncate"
                                        ></p>
                                        <p
                                            v-html="n.formattedDate"
                                            class="text-gray-500 truncate"
                                        ></p>
                                    </div>
                                    <div
                                        class="inline-flex items-center font-semibold text-gray-900"
                                    >
                                        <svg
                                            class="w-6 h-6 mr-2 text-primary-800"
                                            aria-hidden="true"
                                            xmlns="http://www.w3.org/2000/svg"
                                            width="24"
                                            height="24"
                                            fill="currentColor"
                                            viewBox="0 0 24 24"
                                        >
                                            <path
                                                fill-rule="evenodd"
                                                d="M9 2.221V7H4.221a2 2 0 0 1 .365-.5L8.5 2.586A2 2 0 0 1 9 2.22ZM11 2v5a2 2 0 0 1-2 2H4a2 2 0 0 0-2 2v7a2 2 0 0 0 2 2 2 2 0 0 0 2 2h12a2 2 0 0 0 2-2 2 2 0 0 0 2-2v-7a2 2 0 0 0-2-2V4a2 2 0 0 0-2-2h-7Zm-6 9a1 1 0 0 0-1 1v5a1 1 0 1 0 2 0v-1h.5a2.5 2.5 0 0 0 0-5H5Zm1.5 3H6v-1h.5a.5.5 0 0 1 0 1Zm4.5-3a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h1.376A2.626 2.626 0 0 0 15 15.375v-1.75A2.626 2.626 0 0 0 12.375 11H11Zm1 5v-3h.375a.626.626 0 0 1 .625.626v1.748a.625.625 0 0 1-.626.626H12Zm5-5a1 1 0 0 0-1 1v5a1 1 0 1 0 2 0v-1h1a1 1 0 1 0 0-2h-1v-1h1a1 1 0 1 0 0-2h-2Z"
                                                clip-rule="evenodd"
                                            />
                                        </svg>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <div class="p-4 text-right">
                        <a
                            href="https://fms.kpru.ac.th/pr-fms/fms-news/"
                            class="inline-flex items-center justify-center py-3 font-medium text-center text-white border rounded-md border-primary-500 px-7 bg-primary-500 hover:bg-primary-700 hover:bg-primary-800k"
                        >
                            ข่าวประชาสัมพันธ์ทั้งหมด
                        </a>
                    </div>
                </div>
                <!-- Dean -->
                <div
                    class="order-first col-span-1 md:order-last md:w-full md:col-span-2 xl:col-span-2"
                >
                    <div
                        class="grid justify-start grid-cols-1 pt-4 border rounded-lg bg-pink-50 md:grid-cols-1 lg:grid-cols-1 xl:grid-cols-1 2xl:grid-cols-2 xl:pt-0"
                    >
                        <div class="w-auto mx-auto xl:m-4">
                            <img
                                class="object-cover rounded-lg rounded-bl-lg"
                                src="/storage/images-personals/Deans/ผศ.การันต์-เจริญสุวรรณ.webp"
                                alt="FMS Dean"
                            />
                        </div>
                        <div
                            class="flex flex-col justify-between p-0 leading-normal md:p-4"
                        >
                            <div class="my-4">
                                <p
                                    class="text-xl font-bold tracking-tight text-center text-gray-900"
                                >
                                    ผศ.การันต์ เจริญสุวรรณ
                                </p>
                                <p class="font-bold text-center text-gray-700">
                                    คณบดีคณะวิทยาการจัดการ
                                </p>
                            </div>

                            <a
                                :href="route('dean')"
                                class="inline-flex items-center px-3 py-2 m-4 text-sm font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300"
                            >
                                <svg
                                    class="w-6 h-6 mx-4 text-white"
                                    aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="24"
                                    height="24"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                >
                                    <path
                                        stroke="currentColor"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M11 16v-5.5A3.5 3.5 0 0 0 7.5 7m3.5 9H4v-5.5A3.5 3.5 0 0 1 7.5 7m3.5 9v4M7.5 7H14m0 0V4h2.5M14 7v3m-3.5 6H20v-6a3 3 0 0 0-3-3m-2 9v4m-8-6.5h1"
                                    />
                                </svg>
                                สายตรงคณบดี
                            </a>
                            <!-- <button disabled
                                class="flex focus:outline-none text-white text-center cursor-not-allowed bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg px-5 py-2.5 my-2 xl:text-sm  mx-4">
                                <svg class="hidden w-6 h-6 mx-4 text-white " aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                    viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-width="2"
                                        d="M4.5 17H4a1 1 0 0 1-1-1 3 3 0 0 1 3-3h1m0-3.05A2.5 2.5 0 1 1 9 5.5M19.5 17h.5a1 1 0 0 0 1-1 3 3 0 0 0-3-3h-1m0-3.05a2.5 2.5 0 1 0-2-4.45m.5 13.5h-7a1 1 0 0 1-1-1 3 3 0 0 1 3-3h3a3 3 0 0 1 3 3 1 1 0 0 1-1 1Zm-1-9.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0Z" />
                                </svg>

                                ทำเนียบคณบดี
                            </button> -->
                            <!-- question-and-answer -->
                            <!-- <button disabled
                                class="flex focus:outline-none text-white text-center bg-red-700 cursor-not-allowed hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg px-5 py-2.5 mt-2 mb-4 text-sm  mx-4">
                                <svg class="hidden w-6 h-6 mx-4 text-white" aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                    viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M9.529 9.988a2.502 2.502 0 1 1 5 .191A2.441 2.441 0 0 1 12 12.582V14m-.01 3.008H12M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                </svg>

                                Q&A
                            </button> -->
                        </div>
                    </div>

                    <div id="Event Shortcut" class="mt-5">
                        <h4
                            class="flex my-2 text-xl font-extrabold text-center text-primary-500"
                        >
                            <svg
                                class="w-6 h-6 mr-2 text-primary-500"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                fill="none"
                                viewBox="0 0 24 24"
                            >
                                <path
                                    stroke="currentColor"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M4.248 19C3.22 15.77 5.275 8.232 12.466 8.232V6.079a1.025 1.025 0 0 1 1.644-.862l5.479 4.307a1.108 1.108 0 0 1 0 1.723l-5.48 4.307a1.026 1.026 0 0 1-1.643-.861v-2.154C5.275 13.616 4.248 19 4.248 19Z"
                                />
                            </svg>
                            อิเวนต์
                        </h4>
                        <a :href="route('NACM14th')">
                            <img
                                class="my-5"
                                src="/NACM14th/images/banner-1.webp"
                                alt="NACM14th"
                            />
                        </a>
                    </div>

                    <div id="ITA-Carousel">
                        <h4
                            class="flex my-2 text-xl font-extrabold text-center text-primary-500"
                        >
                            <svg
                                class="w-6 h-6 mr-2 text-primary-500"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                fill="none"
                                viewBox="0 0 24 24"
                            >
                                <path
                                    stroke="currentColor"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="m3 16 5-7 6 6.5m6.5 2.5L16 13l-4.286 6M14 10h.01M4 19h16a1 1 0 0 0 1-1V6a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1Z"
                                />
                            </svg>
                            ส่งเสริมความโปร่งใส/การป้องกันการทุจริต
                        </h4>
                        <!-- SubCarousel ITA-->
                        <SubCarousel
                            :pictures="ITAPictures"
                            :noIndicators="true"
                            :noControls="false"
                            :slide="true"
                            :slideInterval="5000"
                        />
                    </div>

                    <div id="Green-Offfice-Carousel">
                        <h4
                            class="flex my-2 text-xl font-extrabold text-center text-primary-500"
                        >
                            <svg
                                class="w-6 h-6 mr-2 text-primary-500"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                fill="none"
                                viewBox="0 0 24 24"
                            >
                                <path
                                    stroke="currentColor"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="m3 16 5-7 6 6.5m6.5 2.5L16 13l-4.286 6M14 10h.01M4 19h16a1 1 0 0 0 1-1V6a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1Z"
                                />
                            </svg>
                            สำนักงานสีเขียว
                        </h4>
                        <!-- SubCarousel Green Office -->
                        <SubCarousel
                            :pictures="GreenOfficePictures"
                            :noIndicators="true"
                            :noControls="false"
                            :slide="true"
                            :slideInterval="4000"
                        />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="activities" class="bg-white">
        <div class="container py-6 mx-auto md:px-3">
            <p class="inline-flex mb-8 ml-5 text-4xl text-primary-500">
                <svg
                    class="w-10 h-10 mr-4 text-primary-800"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    width="40"
                    height="40"
                    fill="none"
                    viewBox="0 0 24 24"
                >
                    <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="m3 16 5-7 6 6.5m6.5 2.5L16 13l-4.286 6M14 10h.01M4 19h16a1 1 0 0 0 1-1V6a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1Z"
                    />
                </svg>
                ภาพกิจกรรม
            </p>
            <div
                id="data-list"
                class="grid grid-cols-1 gap-2 mb-2 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-5"
            >
                <div
                    v-for="item in activities"
                    :key="item.id"
                    class="flex p-4 md:p-3 lg:p-2 xl:p-1 2xl:p-0"
                >
                    <div
                        class="relative max-w-sm border border-gray-200 rounded-lg shadow hover:bg-primary-50"
                    >
                        <div
                            class="absolute p-2 rounded-lg top-1 left-1 bg-primary-500/90"
                        >
                            <p
                                class="text-white"
                                v-html="item.formattedDate"
                            ></p>
                        </div>
                        <a v-bind:href="item.link" target="_blank">
                            <img
                                class="w-full max-w-full rounded-t-lg"
                                v-bind:src="item.featured_media"
                                v-bind:alt="item.title"
                            />
                        </a>
                        <div class="p-5">
                            <div id="Content">
                                <a v-bind:href="item.link" target="_blank">
                                    <p
                                        class="pb-4 text-base font-bold"
                                        v-html="item.title"
                                    ></p>
                                </a>
                                <a v-bind:href="item.link" target="_blank">
                                    <p
                                        class="px-2 line-clamp-3"
                                        v-html="item.excerpt"
                                    ></p>
                                </a>
                            </div>

                            <div id="card-link" class="mt-5">
                                <a
                                    v-bind:href="item.link"
                                    target="_blank"
                                    class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300"
                                >
                                    รายละเอียด
                                    <svg
                                        class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
                                        aria-hidden="true"
                                        xmlns="http://www.w3.org/2000/svg"
                                        fill="none"
                                        viewBox="0 0 14 10"
                                    >
                                        <path
                                            stroke="currentColor"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            stroke-width="2"
                                            d="M1 5h12m0 0L9 1m4 4L9 9"
                                        />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pt-8 text-center">
                <a
                    href="https://fms.kpru.ac.th/pr-fms/fms-activities/"
                    class="inline-flex items-center justify-center py-3 text-base font-medium text-center text-white border rounded-md border-primary-500 px-7 bg-primary-500 hover:bg-primary-700 hover:bg-primary-800k"
                >
                    ภาพกิจกรรมธ์ทั้งหมด
                </a>
            </div>
        </div>
    </section>

    <section id="Vdo&Introduction" class="bg-white">
        <div
            class="container flex flex-wrap justify-between p-6 mx-auto md:j xl:py-12"
        >
            <div class="p-1 mx-auto w-4/4 xl:w-2/4 xl:p-2">
                <video
                    class="h-auto border border-gray-200 rounded-lg muted"
                    autoplay
                    loop=""
                    muted="muted"
                    playsinline=""
                    controlslist="nodownload"
                >
                    <source src="videos/fms-vdo.mp4" type="video/mp4" />
                    Your browser does not support the video tag.
                </video>
            </div>
            <div class="p-1 w-4/4 xl:w-2/4 xl:p-2">
                <div class="mt-6 text-center">
                    <a
                        href="https://admission.kpru.ac.th/"
                        target="_blank"
                        class="inline-flex px-1 py-1 pr-4 text-sm text-gray-700 bg-white rounded-full ustify-between mb-7 hover:bg-gray-200"
                        role="alert"
                    >
                        <span
                            class="text-xs bg-primary-600 rounded-full text-white px-4 py-1.5 mr-3"
                            >รับสมัครนักศึกษาใหม่ 2568</span
                        >
                        <span class="text-sm font-medium"
                            >มีความสุขเหมือนอยู่บ้าน วิชาการมาตราฐานสากล</span
                        >
                        <svg
                            class="w-5 h-5 ml-2"
                            fill="currentColor"
                            viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                fill-rule="evenodd"
                                d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                clip-rule="evenodd"
                            ></path>
                        </svg>
                    </a>
                    <h1 class="mb-5 text-2xl font-bold leading-tight text-dark">
                        คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร
                    </h1>
                    <p class="mb-8 text-lg font-normal leading-relaxed">
                        เป็นศูนย์กลางในการพัฒนาองค์ความรู้ด้านการบริหารจัดการ
                        โดยการบูรณาการทางวิชาการ วิชาชีพ
                        เพื่อการพัฒนาชุมชนท้องถิ่นของมหาวิทยาลัยราชภัฏภาคเหนือตอนล่าง
                    </p>

                    <div class="flex flex-col space-y-4">
                        <a
                            target="_blank"
                            href="https://fms2.kpru.ac.th/"
                            class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-white rounded-lg bg-primary-500 hover:bg-primary-700 focus:ring-4 focus:ring-primary-300"
                        >
                            เว็บไซต์เดิม
                            <svg
                                class="w-5 h-5 ml-2 -mr-1"
                                fill="currentColor"
                                viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    fill-rule="evenodd"
                                    d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                                    clip-rule="evenodd"
                                ></path>
                            </svg>
                        </a>
                        <a
                            target="_blank"
                            rel="nofollow"
                            href="https://www.facebook.com/fmskpru/videos/7733881016656433/"
                            class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-gray-900 border border-gray-300 rounded-lg hover:bg-gray-200 focus:ring-4 focus:ring-gray-100"
                        >
                            <svg
                                class="w-5 h-5 mr-2 -ml-1"
                                fill="currentColor"
                                viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    d="M2 6a2 2 0 012-2h6a2 2 0 012 2v8a2 2 0 01-2 2H4a2 2 0 01-2-2V6zM14.553 7.106A1 1 0 0014 8v4a1 1 0 00.553.894l2 1A1 1 0 0018 13V7a1 1 0 00-1.447-.894l-2 1z"
                                ></path>
                            </svg>
                            วิดีโอแนะนำคณะ
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="Life&Atmosphere" class="bg-white">
        <div class="container mx-auto md:pb-12 md:pt-24">
            <div>
                <div class="flex flex-wrap items-center">
                    <div class="order-last px-4 md:order-first w-4/4 xl:w-2/4">
                        <div class="p-4 mb-12 text-center">
                            <h3
                                class="mb-5 text-3xl font-bold leading-tight text-dark"
                            >
                                ชีวิตในมหาวิทยาลัย
                            </h3>
                            <p
                                class="mb-10 text-base leading-relaxed text-body-color"
                            >
                                คณะวิทยาการจัดการ
                                มหาวิทยาลัยราชภัฏกำแพงเพชรมีหลักสูตรที่หลากหลายและครอบคลุมหลายสาขาวิชา
                                อาจารย์ที่นี่มีความเชี่ยวชาญและใส่ใจในนักศึกษา
                                การเรียนการสอนเน้นการปฏิบัติจริง
                                ซึ่งเป็นการเตรียมความพร้อมให้กับนักศึกษาในการทำงานในอนาคตได้อย่างมีประสิทธิภาพ
                            </p>
                            <h4
                                class="mb-5 text-2xl font-bold leading-tight text-dark"
                            >
                                สิ่งอำนวยความสะดวก
                            </h4>
                            <p
                                class="mb-10 text-base leading-relaxed text-body-color"
                            >
                                ที่มหาวิทยาลัยมีครบครัน ทั้งห้องสมุดที่ทันสมัย
                                ศูนย์กีฬาที่เปิดให้บริการทั้งในและนอกเวลาราชการ
                                รวมถึงหอพักนักศึกษาที่มีความปลอดภัยและสะดวกสบาย
                                นอกจากนี้
                                ยังมีกิจกรรมเสริมหลักสูตรที่นักศึกษาสามารถเข้าร่วมเพื่อพัฒนาทักษะที่ไม่เกี่ยวข้องกับการเรียน
                                เช่น กิจกรรมชุมนุม การประกวด การทำงานจิตอาสา
                                ซึ่งทำให้ชีวิตในมหาวิทยาลัยมีความสมบูรณ์และมีคุณค่า
                            </p>

                            <a
                                :href="route('introduction')"
                                class="inline-flex items-center justify-center py-3 text-base font-medium text-center text-white border rounded-md border-primary-500 px-7 bg-primary-500 hover:bg-primary-700 hover:bg-primary-800k"
                            >
                                แนะนำเพิ่มเติม
                            </a>
                        </div>
                    </div>

                    <div class="order-first p-4 md:order-last w-4/4 xl:w-2/4">
                        <div class="grid grid-cols-2 gap-2">
                            <div>
                                <img
                                    class="h-auto max-w-full mt-0 rounded-lg md:-mt-10"
                                    src="/images/university.webp"
                                    alt=""
                                />
                            </div>
                            <div>
                                <img
                                    class="h-auto max-w-full mt-0 rounded-lg md:mt-10"
                                    src="/images/university1.webp"
                                    alt=""
                                />
                            </div>
                            <div>
                                <img
                                    class="h-auto max-w-full mt-0 rounded-lg md:-mt-10"
                                    src="/images/university2.webp"
                                    alt=""
                                />
                            </div>
                            <div>
                                <img
                                    class="h-auto max-w-full mt-0 rounded-lg md:mt-10"
                                    src="/images/university3.webp"
                                    alt=""
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- KPRU Messenger -->
    <div class="fixed end-6 bottom-6">
        <a
            href="https://arit.kpru.ac.th/ap/messenger/"
            target="_blank"
            rel="noreferrer nofollow"
            class="flex items-center justify-center rounded-full messenger-icon w-14 h-14"
        >
        </a>
    </div>
</template>

<style scoped>
.messenger-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    background-color: #0078ff;
    background-image: url("https://arit.kpru.ac.th/ap/messenger/images/logoAP.png");
    background-size: cover;
    cursor: pointer;
}
</style>

<script setup>
import { Head } from "@inertiajs/vue3";
import SiteLayout from "../Layouts/SiteLayout.vue";
import FwbCarousel from "@/Components/FwbCarousel/FwbCarousel.vue";
import SubCarousel from "@/Components/FwbCarousel/SubCarousel.vue";
defineOptions({
    layout: SiteLayout,
});
defineProps({
    carousels: Array,
    news: Array,
    activities: Array,
});
const ITAPictures = [
    {
        src: "images/ITA-1.webp",
        alt: "ต่อต้านคอร์รัปชั่น คณะวิทยากาจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร",
        width: 1110,
        height: 406,
    },
    {
        src: "images/ITA-2.webp",
        alt: "ราชภัฏรวมพลัง ยับยั้งทุจริต คณะวิทยากาจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร",
        width: 1110,
        height: 406,
    },

    {
        src: "images/ITA-3.webp",
        alt: "งดให้ งดรับ สินบน คณะวิทยากาจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร",
        width: 1110,
        height: 406,
    },
    {
        src: "images/ITA-4.webp",
        alt: "zero tolerance for corruption คนไทยไม่ทนต่อการทุจริต คณะวิทยากาจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร",
        width: 1110,
        height: 406,
    },
];
const GreenOfficePictures = [
    {
        src: "images/green-office-1.webp",
        alt: "ลด ละ เลิก การใช้ภาชนะโฟมบรรจุอาหาร คณะวิทยากาจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร",
        width: 700,
        height: 350,
    },
    {
        src: "images/green-office-2.webp",
        alt: "ทำบุญปลอดถุงพลาสติก คณะวิทยากาจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร",
        width: 700,
        height: 350,
    },

    {
        src: "images/green-office-3.webp",
        alt: "ลดรับ ลดให้ ลดใช้ ถุงพลาสติก คณะวิทยากาจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร",
        width: 700,
        height: 350,
    },
];
</script>
