<script setup>
import { Head } from "@inertiajs/vue3";
import SiteLayout from "../Layouts/SiteLayout.vue";
defineOptions({
    layout: SiteLayout,
});
defineProps({
    carousels : Object
});
</script>

<template>
    <Head title="TEST POSTS" />
    <Head>
        <!-- HTML Meta Tags -->
        <meta
            name="description"
            content="มหาวิทยาลัยราชภัฏกำแพงเพชร เป็นมหาวิทยาลัยที่เป็นที่พึ่งทางวิชาการของท้องถิ่นให้มีความเข้มแข็งอย่างยั่งยืน สถาปนาเมื่อ ปี 2516 ปัจจุบันประกอบด้วย 5 คณะ"
        />
        <!-- Keywords Meta Tags -->
        <meta
            name="Keywords"
            lang="en"
            content="Covid, Kamphaeng Phet Rajabhat University, Rajabhat, KamphaengPhet, KPRU, KP, Kamphaeng, Thailand, Thai University"
        />
        <meta
            name="Keywords"
            lang="th"
            content="มหาวิทยาลัยราชภัฏกำแพงเพชร, ราชภัฏกำแพงเพชร, มรภ.กพ., วิทยาลัยครูกำแพงเพชร, วิทยาลัยครู, ราชภัฏภาคเหนือ, มหาวิทยาลัยราชภัฏ, มหาวิทยาลัย, สถาบันการศึกษา"
        />
        <!-- Google / Search Engine Tags -->
        <meta
            itemprop="name"
            content="หน้าแรก | คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร"
        />
        <meta
            itemprop="description"
            content="คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร เป็นศูนย์กลางในการพัฒนาองค์ความรู้ด้านการบริหารจัดการ โดยการบูรณาการทางวิชาการ วิชาชีพ เพื่อการพัฒนาชุมชนท้องถิ่นของมหาวิทยาลัยราชภัฏภาคเหนือตอนล่าง"
        />
        <meta itemprop="image" content="/storage/fb_og_image.jpg" />

        <!-- Facebook Meta Tags -->
        <meta property="og:url" content="https://fms.kpru.ac.th" />
        <meta property="og:type" content="website" />
        <meta
            property="og:title"
            content="หน้าแรก | คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร"
        />
        <meta
            property="og:description"
            content="คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร เป็นศูนย์กลางในการพัฒนาองค์ความรู้ด้านการบริหารจัดการ โดยการบูรณาการทางวิชาการ วิชาชีพ เพื่อการพัฒนาชุมชนท้องถิ่นของมหาวิทยาลัยราชภัฏภาคเหนือตอนล่าง"
        />
        <meta property="og:image" content="/storage/fb_og_image.jpg" />

        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta
            name="twitter:title"
            content="หน้าแรก | คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร"
        />
        <meta
            name="twitter:description"
            content="คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร เป็นศูนย์กลางในการพัฒนาองค์ความรู้ด้านการบริหารจัดการ โดยการบูรณาการทางวิชาการ วิชาชีพ เพื่อการพัฒนาชุมชนท้องถิ่นของมหาวิทยาลัยราชภัฏภาคเหนือตอนล่าง"
        />
        <meta name="twitter:image" content="/storage/fb_og_image.jpg" />
    </Head>
    <section id="FullCarousel" class="bg-gray-200">
        <div class="container py-6 mx-auto">
            <div
                id="controls-carousel"
                class="relative w-full"
                data-carousel="slide"
            >
                <!-- Carousel wrapper -->
                <div class="relative overflow-hidden rounded-lg h-[500px]">
                    <div
                        v-for="c in carousels"
                        :key="c.id"
                        class="hidden duration-700 ease-in-out"
                        data-carousel-item
                    >
                        <a v-bind:href="c.link" target="_blank">
                            <img
                                class="absolute block w-[1170px] -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
                                v-bind:src="
                                    c.media_details.sizes.full.source_url
                                "
                                v-bind:alt="c.title.rendered"
                            />
                        </a>
                    </div>
                </div>

                <!-- Slider indicators -->
                <div
                    class="absolute z-30 flex space-x-3 -translate-x-1/2 bottom-5 left-1/2 rtl:space-x-reverse"
                >
                    <button
                        type="button"
                        class="w-3 h-3 rounded-full"
                        aria-current="true"
                        aria-label="Slide 1"
                        v-bind:data-carousel-slide-to="carousels[0]"
                    ></button>
                    <button
                        type="button"
                        class="w-3 h-3 rounded-full"
                        aria-current="false"
                        aria-label="Slide 2"
                        v-bind:data-carousel-slide-to="carousels[1]"
                    ></button>
                    <button
                        type="button"
                        class="w-3 h-3 rounded-full"
                        aria-current="false"
                        aria-label="Slide 3"
                        v-bind:data-carousel-slide-to="carousels[2]"
                    ></button>
                    <button
                        type="button"
                        class="w-3 h-3 rounded-full"
                        aria-current="false"
                        aria-label="Slide 4"
                        v-bind:data-carousel-slide-to="carousels[3]"
                    ></button>
                    <button
                        type="button"
                        class="w-3 h-3 rounded-full"
                        aria-current="false"
                        aria-label="Slide 5"
                        v-bind:data-carousel-slide-to="carousels[4]"
                    ></button>
                    <button
                        type="button"
                        class="w-3 h-3 rounded-full"
                        aria-current="false"
                        aria-label="Slide 6"
                        v-bind:data-carousel-slide-to="carousels[5]"
                    ></button>
                    <button
                        type="button"
                        class="w-3 h-3 rounded-full"
                        aria-current="false"
                        aria-label="Slide 7"
                        v-bind:data-carousel-slide-to="carousels[6]"
                    ></button>
                    <button
                        type="button"
                        class="w-3 h-3 rounded-full"
                        aria-current="false"
                        aria-label="Slide 8"
                        v-bind:data-carousel-slide-to="carousels[7]"
                    ></button>
                    <button
                        type="button"
                        class="w-3 h-3 rounded-full"
                        aria-current="false"
                        aria-label="Slide 9"
                        v-bind:data-carousel-slide-to="carousels[8]"
                    ></button>
                    <button
                        type="button"
                        class="w-3 h-3 rounded-full"
                        aria-current="false"
                        aria-label="Slide 10"
                        v-bind:data-carousel-slide-to="carousels[9]"
                    ></button>
                </div>
                <!-- Slider controls -->
                <button
                    type="button"
                    class="absolute top-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer start-0 group focus:outline-none"
                    data-carousel-prev
                >
                    <span
                        class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-primary-200 group-hover:bg-primary-400 group-focus:ring-4 group-focus:ring-primary-600 group-focus:outline-none"
                    >
                        <svg
                            class="w-4 h-4 text-primary-600 rtl:rotate-180"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 6 10"
                        >
                            <path
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M5 1 1 5l4 4"
                            />
                        </svg>
                        <span class="sr-only">Previous</span>
                    </span>
                </button>
                <button
                    type="button"
                    class="absolute top-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer end-0 group focus:outline-none"
                    data-carousel-next
                >
                    <span
                        class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-primary-200 group-hover:bg-primary-400 group-focus:ring-4 group-focus:ring-primary-600 group-focus:outline-none"
                    >
                        <svg
                            class="w-4 h-4 text-primary-600 rtl:rotate-180"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 6 10"
                        >
                            <path
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="m1 9 4-4-4-4"
                            />
                        </svg>
                        <span class="sr-only">Next</span>
                    </span>
                </button>
            </div>
        </div>
    </section>
    <!-- <section id="News&Dean">
        <div class="container py-6 mx-auto">
            <div class="grid grid-cols-5 gap-4">
                <div class="col-span-3">
                    <p class="inline-flex mb-8 ml-5 text-4xl text-primary-500">
                                        <svg
                    class="w-10 h-10 mr-4 text-primary-800"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    width="40"
                    height="40"
                    fill="currentColor"
                    viewBox="0 0 24 24"
                >
                    <path
                        fill-rule="evenodd"
                        d="M5 3a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h11.5c.07 0 .14-.007.207-.021.095.014.193.021.293.021h2a2 2 0 0 0 2-2V7a1 1 0 0 0-1-1h-1a1 1 0 1 0 0 2v11h-2V5a2 2 0 0 0-2-2H5Zm7 4a1 1 0 0 1 1-1h.5a1 1 0 1 1 0 2H13a1 1 0 0 1-1-1Zm0 3a1 1 0 0 1 1-1h.5a1 1 0 1 1 0 2H13a1 1 0 0 1-1-1Zm-6 4a1 1 0 0 1 1-1h6a1 1 0 1 1 0 2H7a1 1 0 0 1-1-1Zm0 3a1 1 0 0 1 1-1h6a1 1 0 1 1 0 2H7a1 1 0 0 1-1-1ZM7 6a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1H7Zm1 3V8h1v1H8Z"
                        clip-rule="evenodd"
                    />
                </svg>
                ข่าวประชาสัมพันธ์</p>
                    <ul class="max-w-full px-5 divide-y divide-gray-200">
                        <li v-for="n in news"
                        :key="n.id"  class="px-2 py-4 hover:bg-primary-100">
                             <a v-bind:href="n.link" class="" target="_blank">
                            <div
                                class="flex items-center space-x-4 rtl:space-x-reverse"
                            >

                                <div class="flex-shrink-0">
                                    <img class="w-10 h-10" src="https://fms.kpru.ac.th/pr-fms/wp-content/uploads/2024/08/icon_news_112-120x120.jpg">

                                </div>
                                <div class="flex-1 min-w-0">
                                    <p v-html="n.title.rendered"
                                        class="text-sm font-medium text-gray-900 truncate"
                                    >

                                    </p>
                                    <p v-html="n.formattedDate"
                                        class="text-sm text-gray-500 truncate"
                                    >
                                    </p>
                                </div>
                                <div
                                    class="inline-flex items-center text-base font-semibold text-gray-900 "
                                >
                                    <svg class="w-6 h-6 mr-2 text-primary-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
  <path fill-rule="evenodd" d="M9 2.221V7H4.221a2 2 0 0 1 .365-.5L8.5 2.586A2 2 0 0 1 9 2.22ZM11 2v5a2 2 0 0 1-2 2H4a2 2 0 0 0-2 2v7a2 2 0 0 0 2 2 2 2 0 0 0 2 2h12a2 2 0 0 0 2-2 2 2 0 0 0 2-2v-7a2 2 0 0 0-2-2V4a2 2 0 0 0-2-2h-7Zm-6 9a1 1 0 0 0-1 1v5a1 1 0 1 0 2 0v-1h.5a2.5 2.5 0 0 0 0-5H5Zm1.5 3H6v-1h.5a.5.5 0 0 1 0 1Zm4.5-3a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h1.376A2.626 2.626 0 0 0 15 15.375v-1.75A2.626 2.626 0 0 0 12.375 11H11Zm1 5v-3h.375a.626.626 0 0 1 .625.626v1.748a.625.625 0 0 1-.626.626H12Zm5-5a1 1 0 0 0-1 1v5a1 1 0 1 0 2 0v-1h1a1 1 0 1 0 0-2h-1v-1h1a1 1 0 1 0 0-2h-2Z" clip-rule="evenodd"/>
</svg>
                                </div>
                            </div>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="col-span-2">
                    <div
                        class="grid justify-start grid-cols-2 mt-8 border rounded-lg bg-pink-50"
                    >
                        <div class="w-full">
                            <img
                                class="object-cover rounded-tl-lg rounded-bl-lg h-72"
                                src="https://fms2.kpru.ac.th/wp-content/uploads/2021/07/%E0%B8%9C%E0%B8%A8.%E0%B8%81%E0%B8%B2%E0%B8%A3%E0%B8%B1%E0%B8%99%E0%B8%95%E0%B9%8C-%E0%B9%80%E0%B8%88%E0%B8%A3%E0%B8%B4%E0%B8%8D%E0%B8%AA%E0%B8%B8%E0%B8%A7%E0%B8%A3%E0%B8%A3%E0%B8%93-2.jpg"
                                alt="FMS Dean"
                            />
                        </div>
                        <div
                            class="flex flex-col justify-between p-4 leading-normal"
                        >
                            <p
                                class="text-xl font-bold tracking-tight text-center text-gray-900"
                            >
                                ผศ.การันต์ เจริญสุวรรณ
                            </p>
                            <p
                                class="text-sm font-bold text-center text-gray-700"
                            >
                                คณบดีคณะวิทยาการจัดการ
                            </p>

                            <button
                                disabled
                                class="flex focus:outline-none text-center cursor-not-allowed text-white bg-pink-700 hover:bg-pink-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2"
                            >
                                <svg
                                    class="w-6 h-6 mx-4 text-white"
                                    aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="24"
                                    height="24"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                >
                                    <path
                                        stroke="currentColor"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M11 16v-5.5A3.5 3.5 0 0 0 7.5 7m3.5 9H4v-5.5A3.5 3.5 0 0 1 7.5 7m3.5 9v4M7.5 7H14m0 0V4h2.5M14 7v3m-3.5 6H20v-6a3 3 0 0 0-3-3m-2 9v4m-8-6.5h1"
                                    />
                                </svg>

                                สายตรงคณบดี
                            </button>
                            <button
                                disabled
                                class="flex focus:outline-none text-white text-center cursor-not-allowed bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2"
                            >
                                <svg
                                    class="w-6 h-6 mx-4 text-white"
                                    aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="24"
                                    height="24"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                >
                                    <path
                                        stroke="currentColor"
                                        stroke-linecap="round"
                                        stroke-width="2"
                                        d="M4.5 17H4a1 1 0 0 1-1-1 3 3 0 0 1 3-3h1m0-3.05A2.5 2.5 0 1 1 9 5.5M19.5 17h.5a1 1 0 0 0 1-1 3 3 0 0 0-3-3h-1m0-3.05a2.5 2.5 0 1 0-2-4.45m.5 13.5h-7a1 1 0 0 1-1-1 3 3 0 0 1 3-3h3a3 3 0 0 1 3 3 1 1 0 0 1-1 1Zm-1-9.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0Z"
                                    />
                                </svg>

                                ทำเนียบคณบดี
                            </button>
                            <button
                                disabled
                                class="flex focus:outline-none text-white text-center bg-red-700 cursor-not-allowed hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2"
                            >
                                <svg
                                    class="w-6 h-6 mx-4 text-white"
                                    aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="24"
                                    height="24"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                >
                                    <path
                                        stroke="currentColor"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M9.529 9.988a2.502 2.502 0 1 1 5 .191A2.441 2.441 0 0 1 12 12.582V14m-.01 3.008H12M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                                    />
                                </svg>

                                Q&A
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- <section id="activities">
        <div class="container py-6 mx-auto">
            <p class="inline-flex mb-8 ml-5 text-4xl text-primary-500">
                <svg class="w-10 h-10 mr-4 text-primary-800 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="none" viewBox="0 0 24 24">
    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m3 16 5-7 6 6.5m6.5 2.5L16 13l-4.286 6M14 10h.01M4 19h16a1 1 0 0 0 1-1V6a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1Z"/>
    </svg>
                ภาพกิจกรรม
            </p>
            <div id="data-list" class="grid grid-cols-5 gap-2 mb-2">
                <div v-for="item in activities" :key="item.id" class="flex">
                    <div
                        class="max-w-sm border border-gray-200 rounded-lg shadow"
                    >
                        <a v-bind:href="item.link" target="_blank">
                            <img
                                class="rounded-t-lg"
                                v-bind:src="
                                    item.media_details.sizes.medium.source_url
                                "
                                v-bind:alt="item.title.rendered"
                            />
                        </a>
                        <div class="p-5">
                            <a v-bind:href="item.link" target="_blank">
                                <p
                                    class="pb-4 text-base font-bold"
                                    v-html="item.title.rendered"
                                ></p>
                            </a>
                            <a
                                v-bind:href="item.link"
                                target="_blank"
                                class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300"
                            >
                                รายละเอียด
                                <svg
                                    class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
                                    aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="none"
                                    viewBox="0 0 14 10"
                                >
                                    <path
                                        stroke="currentColor"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M1 5h12m0 0L9 1m4 4L9 9"
                                    />
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="pt-8 text-center"><a
                                href="https://fms.kpru.ac.th/pr-fms/fms-activities/"
                                class="inline-flex items-center justify-center py-3 text-base font-medium text-center text-white border rounded-md border-primary-500 px-7 bg-primary-500 hover:bg-primary-700 hover:bg-primary-800k"
                            >
                                ข่าวประชาสัมพันธ์ทั้งหมด
                            </a></div>
        </div>
    </section> -->
</template>
