<script setup>
import { Head } from "@inertiajs/vue3";
defineProps({
    items: Array,
});
</script>

<template>
    <Head title="ยินดีต้อนรับนักศึกษาใหม่ ปีการศึกษา 2568" />
    <Head>
        <!-- HTML Meta Tags -->
        <meta
            name="description"
            content="คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร เปิดรับสมัครนักศึกษาใหม่ ปีการศึกษา 2568 เรียนรู้กับหลักสูตรคุณภาพและโอกาสพัฒนาศักยภาพสำหรับการทำงานในอนาคต"
        />

        <!-- Keywords Meta Tags -->
        <meta
            name="Keywords"
            lang="en"
            content="Kamphaeng Phet Rajabhat University, Rajabhat, KamphaengPhet, KPRU, KP, Kamphaeng, Thailand, Thai University, Internationa Students, Study at KPRU, Life in Thailand"
        />
        <meta
            name="Keywords"
            lang="th"
            content="สมัครเรียน, มหาวิทยาลัยราชภัฏกำแพงเพชร, คณะวิทยาการจัดการ, รับสมัครนักศึกษา, ปีการศึกษา 2568, หลักสูตรบริหาร, การจัดการธุรกิจ, มรภ.กพ. ,สมัครเรียนบริหาร, เรียนบริหารที่ไหนดี, มหาวิทยาลัยราชภัฏรับสมัคร 2568 , การบัญชี , การจัดการธุรกิจ , การตลาด , การเงินและการธนาคาร , เทคโนโลยีธุรกิจดิจิทัล , การเป็นผู้ประกอบการ , อุตสาหกรรมการท่องเที่ยว , นิเทศศาสตร์ , การจัดการสมัยใหม่"
        />

        <!-- Google / Search Engine Tags -->
        <meta
            itemprop="name"
            content="ยินดีต้อนรับนักศึกษาใหม่ ปีการศึกษา 2568 | คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร"
        />
        <meta
            itemprop="description"
            content="คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร เป็นศูนย์กลางในการพัฒนาองค์ความรู้ด้านการบริหารจัดการ โดยการบูรณาการทางวิชาการ วิชาชีพ เพื่อการพัฒนาชุมชนท้องถิ่นของมหาวิทยาลัยราชภัฏภาคเหนือตอนล่าง"
        />
        <meta itemprop="image" content="/storage/fms-admission-0.webp" />

        <!-- Facebook Meta Tags -->
        <meta property="og:url" content="https://fms.kpru.ac.th" />
        <meta property="og:type" content="website" />
        <meta
            property="og:title"
            content="ยินดีต้อนรับนักศึกษาใหม่ ปีการศึกษา 2568 | คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร"
        />
        <meta
            property="og:description"
            content="คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร เปิดรับสมัครนักศึกษาใหม่ มุ่งเน้นพัฒนาศักยภาพด้านวิชาการและวิชาชีพ"
        />
        <meta property="og:image" content="/images/fms-admission-0.webp" />
        <meta property="og:locale" content="th_TH" />

        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta
            name="twitter:title"
            content="ยินดีต้อนรับนักศึกษาใหม่ ปีการศึกษา 2568 | คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร"
        />
        <meta
            name="twitter:description"
            content="คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร พร้อมเปิดโอกาสให้นักศึกษาร่วมสร้างความสำเร็จในอนาคต"
        />
        <meta name="twitter:image" content="/storage/fms-admission-0.webp" />

        <!-- Additional Meta Tags -->
        <meta
            property="og:site_name"
            content="คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร"
        />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    </Head>

    <section id="header">
        <div class="bg-gray-50">
            <div class="container mx-auto">
                <img class="w-full" src="/images/welcome-image.webp" />
            </div>
        </div>
        <div class="pt-8 text-center">
            <a
                href="https://admission.kpru.ac.th/"
                target="_blank"
                class="inline-flex items-center justify-center py-6 mx-2 text-base font-medium text-center text-white bg-purple-500 border border-purple-500 rounded-md px-7 hover:bg-purple-700 hover:bg-purple-800k"
            >
                รับสมัครนักศึกษา 2568
            </a>
            <a
                :href="route('home')"
                class="inline-flex items-center justify-center px-8 py-6 mx-2 text-base font-medium text-center text-white border rounded-md border-primary-500 bg-primary-500 hover:bg-primary-700 hover:bg-primary-800k"
            >
                เข้าสู่เว็บไซต์
            </a>
        </div>
    </section>

    <div class="container mx-auto my-8">
        <h1 class="text-3xl font-bold text-center">
            ยินดีต้อนรับนักศึกษาใหม่ ปีการศึกษา 2568
        </h1>
        <p class="text-center">
            คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร
            เปิดการศึกษาหลักสูตรปริญญาตรี 8 หลักสูตร ปริญญาโท 1 หลักสูตร ดังนี้
        </p>
    </div>
    <section
        id="landingpage-curriculum"
        class="container flex flex-wrap justify-between gap-2 mx-auto my-8 max-sm:justify-center"
    >
        <div v-for="item in items" :key="item.modal">
            <!-- Card -->
            <div class="w-fit">
                <img
                    class="object-cover h-auto max-w-xs transition-transform shadow-xl cursor-pointer"
                    v-bind:alt="item.alt"
                    v-bind:src="item.image"
                    :data-modal-target="item.modal"
                    :data-modal-toggle="item.modal"
                />
                <div class="my-2 text-center">
                    <a
                        v-bind:href="item.linkweb"
                        :class="[
                            'inline-flex items-center justify-center py-3 mx-2 text-base font-medium text-center  border rounded-md px-7',
                            `text-${item.color}`,
                            `border-${item.color}`,
                        ]"
                    >
                        เว็บไซต์
                    </a>
                    <a
                        v-bind:href="item.curriculum"
                        :class="[
                            'inline-flex items-center justify-center py-3 mx-2 text-base font-medium text-center border rounded-md px-7 text-white',
                            `bg-${item.color}`,
                            `border-${item.color}`,
                        ]"
                    >
                        หลักสูตร
                    </a>
                </div>
            </div>
            <!-- Modal -->
            <div
                v-bind:id="item.modal"
                tabindex="-1"
                aria-hidden="true"
                class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto h-[100vh] bg-black bg-opacity-50 flex items-center justify-center"
            >
                <div class="relative max-w-3xl">
                    <button
                        type="button"
                        class="absolute p-2 text-white bg-gray-800 rounded-full top-3 right-3 hover:bg-gray-700"
                        :data-modal-hide="item.modal"
                    >
                        &times;
                    </button>
                    <img
                        v-bind:src="item.image"
                        v-bind:alt="item.alt"
                        class="rounded-lg max-w-full max-h-[90vh]"
                    />
                </div>
            </div>
        </div>
    </section>

    <div class="container mx-auto my-8">
        <p class="text-4xl font-bold text-center">
            วิธีการสมัคร และกำหนดการเปิดรับสมัคร
        </p>
    </div>
    <section
        id="landingpage-admission"
        class="container flex flex-wrap justify-between gap-2 mx-auto my-8 max-sm:justify-center"
    >
        <div>
            <!-- Card -->
            <div class="w-fit">
                <img
                    src="\storage\fms-admission-0.webp"
                    class="object-cover h-auto max-w-xs transition-transform shadow-xl cursor-pointer"
                    data-modal-target="admission-0"
                    data-modal-toggle="admission-0"
                />
            </div>
            <!-- Modal -->
            <div
                id="admission-0"
                tabindex="-1"
                aria-hidden="true"
                class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto h-[100vh] bg-black bg-opacity-50 flex items-center justify-center"
            >
                <div class="relative max-w-3xl">
                    <button
                        type="button"
                        class="absolute p-2 text-white bg-gray-800 rounded-full top-3 right-3 hover:bg-gray-700"
                        data-modal-hide="admission-0"
                    >
                        &times;
                    </button>
                    <img
                        src="\storage\fms-admission-0.webp"
                        alt="item.alt"
                        class="rounded-lg max-w-full max-h-[90vh]"
                    />
                </div>
            </div>
        </div>
        <div>
            <!-- Card -->
            <div class="w-fit">
                <img
                    src="\storage\fms-admission-1.webp"
                    class="object-cover h-auto max-w-xs transition-transform shadow-xl cursor-pointer"
                    data-modal-target="admission-1"
                    data-modal-toggle="admission-1"
                />
            </div>
            <!-- Modal -->
            <div
                id="admission-1"
                tabindex="-1"
                aria-hidden="true"
                class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto h-[100vh] bg-black bg-opacity-50 flex items-center justify-center"
            >
                <div class="relative max-w-3xl">
                    <button
                        type="button"
                        class="absolute p-2 text-white bg-gray-800 rounded-full top-3 right-3 hover:bg-gray-700"
                        data-modal-hide="admission-1"
                    >
                        &times;
                    </button>
                    <img
                        src="\storage\fms-admission-1.webp"
                        alt="item.alt"
                        class="rounded-lg max-w-full max-h-[90vh]"
                    />
                </div>
            </div>
        </div>
        <div>
            <!-- Card -->
            <div class="w-fit">
                <img
                    src="\storage\fms-admission-2.webp"
                    class="object-cover h-auto max-w-xs transition-transform shadow-xl cursor-pointer"
                    data-modal-target="admission-2"
                    data-modal-toggle="admission-2"
                />
            </div>
            <!-- Modal -->
            <div
                id="admission-2"
                tabindex="-1"
                aria-hidden="true"
                class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto h-[100vh] bg-black bg-opacity-50 flex items-center justify-center"
            >
                <div class="relative max-w-3xl">
                    <button
                        type="button"
                        class="absolute p-2 text-white bg-gray-800 rounded-full top-3 right-3 hover:bg-gray-700"
                        data-modal-hide="admission-2"
                    >
                        &times;
                    </button>
                    <img
                        src="\storage\fms-admission-2.webp"
                        alt="item.alt"
                        class="rounded-lg max-w-full max-h-[90vh]"
                    />
                </div>
            </div>
        </div>
        <div>
            <!-- Card -->
            <div class="w-fit">
                <img
                    src="\storage\fms-admission-3.webp"
                    class="object-cover h-auto max-w-xs transition-transform shadow-xl cursor-pointer"
                    data-modal-target="admission-3"
                    data-modal-toggle="admission-3"
                />
            </div>
            <!-- Modal -->
            <div
                id="admission-3"
                tabindex="-1"
                aria-hidden="true"
                class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto h-[100vh] bg-black bg-opacity-50 flex items-center justify-center"
            >
                <div class="relative max-w-3xl">
                    <button
                        type="button"
                        class="absolute p-2 text-white bg-gray-800 rounded-full top-3 right-3 hover:bg-gray-700"
                        data-modal-hide="admission-3"
                    >
                        &times;
                    </button>
                    <img
                        src="\storage\fms-admission-3.webp"
                        alt="item.alt"
                        class="rounded-lg max-w-full max-h-[90vh]"
                    />
                </div>
            </div>
        </div>
        <div>
            <!-- Card -->
            <div class="w-fit">
                <img
                    src="\storage\fms-admission-4.webp"
                    class="object-cover h-auto max-w-xs transition-transform shadow-xl cursor-pointer"
                    data-modal-target="admission-4"
                    data-modal-toggle="admission-4"
                />
            </div>
            <!-- Modal -->
            <div
                id="admission-4"
                tabindex="-1"
                aria-hidden="true"
                class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto h-[100vh] bg-black bg-opacity-50 flex items-center justify-center"
            >
                <div class="relative max-w-3xl">
                    <button
                        type="button"
                        class="absolute p-2 text-white bg-gray-800 rounded-full top-3 right-3 hover:bg-gray-700"
                        data-modal-hide="admission-4"
                    >
                        &times;
                    </button>
                    <img
                        src="\storage\fms-admission-4.webp"
                        alt="item.alt"
                        class="rounded-lg max-w-full max-h-[90vh]"
                    />
                </div>
            </div>
        </div>
    </section>

    <footer class="py-10 text-center bg-gray-50">
        <div class="container px-4 mx-auto" id="contact">
            <h2 class="mb-4 text-3xl font-bold">ติดต่อ</h2>
            <p>คณะวิทยาการจัดการ ( ตึก 11 ) มหาวิทยาลัยราชภัฎกำแพงเพชร</p>
            <p>เลขที่ 69 หมู่ 1 ต.นครชุม อ.เมือง จ.กำแพงเพชร 62000</p>
            <ul class="flex justify-center mt-4 space-x-4">
                <li>
                    <a
                        href="https://www.facebook.com/fmskpru"
                        class="text-[#39569c] hover:text-gray-900"
                        target="_blank"
                        ref="nofollow"
                    >
                        <svg
                            class="w-8 h-8"
                            fill="currentColor"
                            viewBox="0 0 24 24"
                            aria-hidden="true"
                        >
                            <path
                                fill-rule="evenodd"
                                d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z"
                                clip-rule="evenodd"
                            />
                        </svg>
                    </a>
                </li>
                <li>
                    <a
                        href="https://www.instagram.com/fms.kpru/"
                        class="text-[#d62976] hover:text-gray-900"
                    >
                        <svg
                            class="w-8 h-8"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                        >
                            <path
                                fill="currentColor"
                                fill-rule="evenodd"
                                d="M3 8a5 5 0 0 1 5-5h8a5 5 0 0 1 5 5v8a5 5 0 0 1-5 5H8a5 5 0 0 1-5-5V8Zm5-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V8a3 3 0 0 0-3-3H8Zm7.597 2.214a1 1 0 0 1 1-1h.01a1 1 0 1 1 0 2h-.01a1 1 0 0 1-1-1ZM12 9a3 3 0 1 0 0 6 3 3 0 0 0 0-6Zm-5 3a5 5 0 1 1 10 0 5 5 0 0 1-10 0Z"
                                clip-rule="evenodd"
                            />
                        </svg>
                    </a>
                </li>
                <li>
                    <a
                        href="https://www.tiktok.com/@fms_kpru"
                        class="text-gray-800 hover:text-gray-900"
                    >
                        <img src="/images/icons/tiktok.svg" class="w-8 h-8" />
                    </a>
                </li>
                <li>
                    <a
                        href="https://www.youtube.com/@fmskpru324"
                        class="text-[#c4302b] hover:text-gray-900"
                    >
                        <svg
                            class="w-8 h-8"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor"
                            viewBox="0 0 24 24"
                        >
                            <path
                                fill-rule="evenodd"
                                d="M21.7 8.037a4.26 4.26 0 0 0-.789-1.964 2.84 2.84 0 0 0-1.984-.839c-2.767-.2-6.926-.2-6.926-.2s-4.157 0-6.928.2a2.836 2.836 0 0 0-1.983.839 4.225 4.225 0 0 0-.79 1.965 30.146 30.146 0 0 0-.2 3.206v1.5a30.12 30.12 0 0 0 .2 3.206c.094.712.364 1.39.784 1.972.604.536 1.38.837 2.187.848 1.583.151 6.731.2 6.731.2s4.161 0 6.928-.2a2.844 2.844 0 0 0 1.985-.84 4.27 4.27 0 0 0 .787-1.965 30.12 30.12 0 0 0 .2-3.206v-1.516a30.672 30.672 0 0 0-.202-3.206Zm-11.692 6.554v-5.62l5.4 2.819-5.4 2.801Z"
                                clip-rule="evenodd"
                            />
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </footer>
</template>
<script>
document.addEventListener("DOMContentLoaded", () => {
    // ค้นหา Modal และ Toggle ทั้งหมด
    const modals = document.querySelectorAll("[data-modal-toggle]");

    // วนลูปเพื่อเช็กแต่ละ Modal
    modals.forEach((toggleButton) => {
        const modalId = toggleButton.getAttribute("data-modal-toggle");
        const modalElement = document.querySelector(`#${modalId}`);

        if (modalElement && toggleButton) {
            console.log(`Modal "${modalId}" and its toggle button found!`);
        } else {
            console.error(`Modal "${modalId}" or its toggle button not found!`);
        }
    });
});
</script>
