<template>
    <!-- HTML Meta title -->

    <Head title="แนะนำคณะ" />

    <Head>
        <!-- HTML Meta Tags -->
        <meta
            name="description"
            content="มหาวิทยาลัยราชภัฏกำแพงเพชร เป็นมหาวิทยาลัยที่เป็นที่พึ่งทางวิชาการของท้องถิ่นให้มีความเข้มแข็งอย่างยั่งยืน สถาปนาเมื่อ ปี 2516 ปัจจุบันประกอบด้วย 5 คณะ"
        />
        <!-- Keywords Meta Tags -->
        <meta
            name="Keywords"
            lang="en"
            content="Covid, Kamphaeng Phet Rajabhat University, Rajabhat, KamphaengPhet, KPRU, KP, Kamphaeng, Thailand, Thai University"
        />
        <meta
            name="Keywords"
            lang="th"
            content="มหาวิทยาลัยราชภัฏกำแพงเพชร, ราชภัฏกำแพงเพชร, มรภ.กพ., วิทยาลัยครูกำแพงเพชร, วิทยาลัยครู, ราชภัฏภาคเหนือ, มหาวิทยาลัยราชภัฏ, มหาวิทยาลัย, สถาบันการศึกษา"
        />
        <!-- Google / Search Engine Tags -->
        <meta
            itemprop="name"
            content="แนะนำคณะ | คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร"
        />
        <meta
            itemprop="description"
            content="คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร เป็นศูนย์กลางในการพัฒนาองค์ความรู้ด้านการบริหารจัดการ โดยการบูรณาการทางวิชาการ วิชาชีพ เพื่อการพัฒนาชุมชนท้องถิ่นของมหาวิทยาลัยราชภัฏภาคเหนือตอนล่าง"
        />
        <meta itemprop="image" content="/storage/fb_og_image.jpg" />

        <!-- Facebook Meta Tags -->
        <meta property="og:url" content="https://fms.kpru.ac.th" />
        <meta property="og:type" content="website" />
        <meta
            property="og:title"
            content="แนะนำคณะ | คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร"
        />
        <meta
            property="og:description"
            content="คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร เป็นศูนย์กลางในการพัฒนาองค์ความรู้ด้านการบริหารจัดการ โดยการบูรณาการทางวิชาการ วิชาชีพ เพื่อการพัฒนาชุมชนท้องถิ่นของมหาวิทยาลัยราชภัฏภาคเหนือตอนล่าง"
        />
        <meta property="og:image" content="/storage/fb_og_image.jpg" />

        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta
            name="twitter:title"
            content="แนะนำคณะ | คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร"
        />
        <meta
            name="twitter:description"
            content="คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร เป็นศูนย์กลางในการพัฒนาองค์ความรู้ด้านการบริหารจัดการ โดยการบูรณาการทางวิชาการ วิชาชีพ เพื่อการพัฒนาชุมชนท้องถิ่นของมหาวิทยาลัยราชภัฏภาคเหนือตอนล่าง"
        />
        <meta name="twitter:image" content="/storage/fb_og_image.jpg" />
    </Head>

    <!-- Breadcrumb -->
    <div class="container pt-4 mx-auto">
        <nav
            class="flex px-5 py-3 text-gray-700 border border-gray-200 rounded-lg bg-gray-50"
            aria-label="Breadcrumb"
        >
            <ol
                class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse"
            >
                <li class="inline-flex items-center">
                    <a
                        :href="route('home')"
                        class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600"
                    >
                        <svg
                            class="w-3 h-3 me-2.5"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor"
                            viewBox="0 0 20 20"
                        >
                            <path
                                d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"
                            />
                        </svg>
                        หน้าแรก
                    </a>
                </li>
                <li>
                    <div class="flex items-center">
                        <svg
                            class="block w-3 h-3 mx-1 text-gray-400 rtl:rotate-180"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 6 10"
                        >
                            <path
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="m1 9 4-4-4-4"
                            />
                        </svg>
                        <a
                            :href="route('introduction')"
                            class="text-sm font-medium text-gray-700 ms-1 hover:text-blue-600 md:ms-2"
                            >แนะนำ</a
                        >
                    </div>
                </li>
                <li>
                    <div class="flex items-center">
                        <svg
                            class="block w-3 h-3 mx-1 text-gray-400 rtl:rotate-180"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 6 10"
                        >
                            <path
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="m1 9 4-4-4-4"
                            />
                        </svg>
                        <a
                            :href="route('faculty')"
                            class="text-sm font-medium text-gray-700 ms-1 hover:text-blue-600 md:ms-2"
                            >แนะนำคณะ</a
                        >
                    </div>
                </li>
            </ol>
        </nav>
    </div>

    <section id="intro">
        <div class="container mx-auto my-10">
            <h1 class="my-8 text-4xl text-center">แนะนำคณะวิทยาการจัดการ</h1>
        </div>
    </section>
    <section>
        <div class="container mx-auto my-10">
            <div class="flex justify-center gap-2">
                <div class="w-1/2">
                    <h1 class="mb-4 text-2xl">
                        ตึก 11 คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร
                    </h1>
                    <p class="">
                        มีทั้งหมด 8 ชั้น ประกอบห้องเรียน ห้องประชุม
                        ห้องปฏิบัติการคอมพิวเตอร์ ห้องพักอาจารย์และสำนักงานคณบดี
                    </p>
                    <ul class="ml-5">
                        <li class="my-1 font-bold">ชั้นที่ 1</li>
                        <li class="ml-5">
                            ห้องกิจการนักศึกษา และศูนย์ฝึกประสบการณ์ฯ
                        </li>
                        <li class="ml-5">เอ็มเค มินิมาร์ท (MK Minimart)</li>
                        <li class="ml-5">ห้องประชุมชั้น 1 คณะวิทยาการจัดการ</li>
                        <li class="ml-5">ห้องภัตตาคาร</li>
                        <li class="my-1 font-bold">ชั้นที่ 2</li>
                        <li class="ml-5">ห้องพักอาจารย์สาขาวิชาการตลาด</li>
                        <li class="ml-5">
                            ห้องพักอาจารย์สาขาวิชาการเงินและการธนาคาร
                            และห้องปฏิบัติการ
                        </li>
                        <li class="ml-5">11202 ห้องเรียน</li>
                        <li class="ml-5">11203 ห้องเรียน</li>
                        <li class="ml-5">11204 ห้องเรียน</li>
                        <li class="ml-5">ห้องพักอาจารย์ -</li>
                        <li class="ml-5">ห้องพักอาจารย์ -</li>
                        <li class="ml-5">
                            ห้องพักอาจารย์สาขาวิชาการเงินและการธนาคาร 2
                        </li>
                        <li class="my-1 font-bold">ชั้นที่ 3</li>
                        <li class="ml-5">11301 ห้องเรียน</li>
                        <li class="ml-5">11302 ห้องเรียน</li>
                        <li class="ml-5">11303 ห้องเรียน</li>
                        <li class="ml-5">
                            ห้องพักอาจารย์สาขาวิชาการเป็นผู้ประกอบการ
                        </li>
                        <li class="ml-5">ห้องประชุม KM</li>
                        <li class="ml-5">ห้องคณบดี</li>
                        <li class="ml-5">ห้องสำนักงานคณะ</li>
                        <li class="my-1 font-bold">ชั้นที่ 4</li>
                        <li class="ml-5">11401 ห้องเรียน</li>
                        <li class="ml-5">11402 ห้องเรียน</li>
                        <li class="ml-5">11403 ห้องเรียน</li>
                        <li class="ml-5">11404 ห้องเรียน</li>
                        <li class="ml-5">11405 ห้องเรียน</li>
                        <li class="ml-5">ห้องปฏิบัติการสืบค้น</li>
                        <li class="ml-5">
                            ห้องพักรองคณบดีฝ่ายวิชาการและประกันคุณภาพฯและรองคณบดีฝ่ายวิจัยและบริการวิชาการ
                        </li>
                        <li class="my-1 font-bold">ชั้นที่ 5</li>
                        <li class="ml-5">
                            ห้องพักอาจารย์
                            และห้องปฏิบัติการสาขาวิชาการจัดการธุรกิจ
                        </li>
                        <li class="ml-5">B.S. Com 1</li>
                        <li class="ml-5">B.S. Com 2</li>
                        <li class="ml-5">
                            ห้องปฏิบัติการสาขาวิชาเทคโนโลยีธุรกิจดิจิทัล
                        </li>
                        <li class="ml-5">
                            ห้องพักอาจารย์สาขาวิชาเทคโนโลยีธุรกิจดิจิทัล
                        </li>
                        <li class="ml-5">
                            ห้องพักเจ้าหน้าที่ห้องปฏิบัติการคอมพิวเตอร์
                            และงานเครือข่าย
                        </li>
                        <li class="my-1 font-bold">ชั้นที่ 6</li>
                        <li class="ml-5">ห้องพักอาจารย์สาขาวิชาการบัญชี</li>
                        <li class="ml-5">ห้องปฏิบัติการสาขาวิชาการบัญชี</li>
                        <li class="ml-5">ห้องประชุม ชั้น 6</li>
                        <li class="ml-5">
                            ห้องวารสารคณะวิทยาการจัดการ และห้องสำนักงาน
                            สาขาวิชาการจัดการสมัยใหม่ (ป.โท)
                        </li>
                        <li class="ml-5">ห้องอเนกประสงค์</li>
                        <li class="my-1 font-bold">ชั้นที่ 7</li>
                        <li class="ml-5">11701 ห้องเรียน</li>
                        <li class="ml-5">
                            ห้องปฏิบัติการวารสารหนังสือพิมพ์ สาขาวิชานิเทศศาสตร์
                        </li>
                        <li class="ml-5">
                            ห้องพักอาจารย์ สาขาวิชาอุตสาหกรรมการท่องเที่ยว
                        </li>
                        <li class="ml-5">
                            ห้องปฏิบัติการ สาขาวิชาอุตสาหกรรมการท่องเที่ยว
                        </li>
                        <li class="ml-5">ห้อง Studio สาขาวิชานิเทศศาสตร์</li>
                        <li class="ml-5">
                            ห้องปฏิบัติการสารสนเทศ สาขาวิชานิเทศศาสตร์
                        </li>
                        <li class="ml-5">
                            ห้องปฏิบัติการถ่ายภาพ สาขาวิชานิเทศศาสตร์
                        </li>
                        <li class="ml-5">
                            ห้องพักอาจารย์และห้องสำนักงาน สาขาวิชานิเทศศาสตร์
                        </li>
                        <li class="my-1 font-bold">ชั้นที่ 8</li>
                        <li class="ml-5">ห้องประชุม เล็กชั้น 8</li>
                        <li class="ml-5">ห้องประชุม ชั้น 8</li>
                    </ul>
                </div>
                <div class="w1/2">
                    <div class="grid grid-cols-2 gap-2">
                        <img
                            class="w-full"
                            src="/images/introduction/fms-building-11.webp"
                            alt="FMS Building 11 "
                        />
                        <img
                            class="w-full"
                            src="/images/introduction/fms-floor1-7.webp"
                            alt="I LOVE FMS"
                        />
                        <img
                            class="w-full"
                            src="/images/introduction/fms-floor1-8.webp"
                            alt="FMS KPRU Heart Landmark"
                        />
                        <img
                            class="w-full"
                            src="/images/introduction/fms-floor1-5.webp"
                            alt="FMS floor 1 Pavilion 1"
                        />
                        <img
                            class="w-full"
                            src="/images/introduction/fms-floor1-4.webp"
                            alt="FMS floor 1 Pavilion 2"
                        />
                        <img
                            class="w-full"
                            src="/images/introduction/fms-floor1-6.webp"
                            alt="FMS floor 1 door "
                        />
                        <!-- <img class="w-full" src="/images/introduction/fms-floor1-2.webp"
                            alt="FMS floor 1 student affairs"> -->
                        <img
                            class="w-full"
                            src="/images/introduction/fms-floor1-3.webp"
                            alt="FMS floor 1 front student affairs"
                        />
                        <img
                            class="w-full"
                            src="/images/introduction/fms-floor1-1.webp"
                            alt="FMS floor 1 seat "
                        />
                        <img
                            class="w-full"
                            src="/images/introduction/fms-kpru-11.webp"
                            alt="FMS KPRU"
                        />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="Card">
        <div class="container mx-auto my-10">
            <p class="my-8 text-xl text-center">
                การบริการนักศึกษา ในด้านการแนะนำคณะวิทยาการจัดการ
                ให้เห็นในมุมต่างๆ เพิ่มมากยิ่งขึ้น
            </p>
            <div class="grid justify-center grid-cols-4 gap-4">
                <!--   -->
                <div
                    v-for="(card, index) in cards"
                    :key="index"
                    class="border border-gray-200 rounded-lg shadow w-fit"
                >
                    <!--  -->
                    <img
                        :src="card.img"
                        :alt="card.title"
                        class="rounded-t-lg h-[255px]"
                    />
                    <div class="p-5">
                        <h3>{{ card.title }}</h3>
                    </div>
                    <div class="px-5 pb-5">
                        <p class="text-sm text-justify text-gray-700">
                            {{ card.detail }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script setup>
import { Head } from "@inertiajs/vue3";
import SiteLayout from "../../Layouts/SiteLayout.vue";
defineOptions({
    layout: SiteLayout,
});
const cards = [
    {
        img: "/images/introduction/fms-floor1-stu.webp",
        title: "กิจการนักศึกษา และศูนย์ฝึกประสบการณ์ฯ",
        detail: "ห้องกิจการนักศึกษา และศูนย์ฝึกประสบการณ์วิชาชีพ เป็นห้องสำหรับบริการนักศึกษาในเรื่องของกิจกรรมคณะ และการฝึกประสบการณ์วิชาชีพในสถานประกอบการต่างๆ ซึ่งตั้งอยู่ชั้น 1 ของคณะ",
    },
    {
        img: "/images/introduction/fms-floor1-MKminimart.webp",
        title: "เอ็มเค มินิมาร์ท (MK Minimart)",
        detail: "เอ็มเค มินิมาร์ท (MK Minimart) เป็นห้องฝึกประสบการณ์วิชาชีพของนักศึกษาโปรแกรมวิชาการตลาด เพื่อนักศึกษาจะได้มีประสบการณ์จริงในการทำงาน ซึ่งตั้งอยู่ชั้น 1 ของคณะ",
    },
    {
        img: "/images/introduction/fms-floor1-MeetingRoom.webp",
        title: "ห้องประชุม ชั้น 1",
        detail: "ห้องประชุม ชั้น 1 ซึ่งตั้งอยู่ชั้น 1 ของคณะ อยู่ภายในตัวอาคาร ตรงข้ามห้องภัตตาคาร",
    },
    {
        img: "/images/introduction/fms-floor1-restaurant.webp",
        title: "ห้องภัตตาคาร",
        detail: "ห้องภัตตาคาร  ซึ่งตั้งอยู่ชั้น 1 ของคณะ อยู่ติดกับห้องกิจการนักศึกษา และศูนย์ฝึกประสบการณ์วิชาชีพ",
    },
    {
        img: "/images/introduction/fms-marketingRoom.webp",
        title: "ห้องพักอาจารย์สาขาวิชาการตลาด",
        detail: "ห้องพักอาจารย์สาขาวิชาการตลาด ซึ่งตั้งอยู่ชั้น 2 ของคณะ ขึ้นบรรไดมา ห้องอยู่ด้านขวา ติดกับห้องพักแม่บ้าน",
    },
    {
        img: "/images/introduction/fms-floor2-bank.webp",
        title: "ห้องพักอาจารย์สาขาวิชาการเงิน",
        detail: "ห้องพักอาจารย์สาขาวิชาการเงิน  ซึ่งตั้งอยู่ชั้น 2 ของคณะ ห้องตรงข้ามลิฟท์",
    },
    {
        img: "/images/introduction/fms-floor3-ent.webp",
        title: "ห้องพักอาจารย์สาขาวิชาการเป็นผู้ประกอบการ",
        detail: "ห้องพักอาจารย์สาขาวิชาการเป็นผู้ประกอบการ ซึ่งตั้งอยู่ชั้น 3 ของคณะ ออกจากลิฟท์มา ห้องอยู่ด้านซ้าย ห้องริมสุด",
    },
    {
        img: "/images/introduction/fms-floor2-sub.webp",
        title: "ห้องสำนักงาน ฝ่ายงานธุรกิจ การเงินและพัสดุ คณะวิทยาการจัดการ",
        detail: "ห้องสำนักงานคณะวิทยาการจัดการ ซึ่งตั้งอยู่ชั้น 3 ของคณะ ออกจากลิฟท์มา ห้องอยู่ด้านซ้ายข้างห้องลิฟท์",
    },
    {
        img: "/images/introduction/fms-deanRoom.webp",
        title: "ห้องคณบดี คณะวิทยาการจัดการ",
        detail: "ห้องคณบดีคณะวิทยาการจัดการ ซึ่งตั้งอยู่ชั้น 3 ของคณะ ออกจาลิฟท์มา ห้องอยู่ด้านซ้าย ติดกับห้องสำนักงานคณะวิทยาการจัดการ",
    },
    {
        img: "/images/introduction/fms-floor3-KMRoom.webp",
        title: "KM Room",
        detail: "KM Room เป็นห้องสำหรับการแลกเปลี่ยนเรียนรู้ ประชุมต่างๆ ซึ่งตั้งอยู่ชั้น 3 ของคณะ ออกจาลิฟท์มา ห้องอยู่ด้านซ้าย ริมสุด ตรงข้ามห้องพักอาจารย์โปรแกรมวิชาเศรษฐศาสตร์ธุรกิจ",
    },
    {
        img: "/images/introduction/fms-floor4-sub.webp",
        title: "ห้องพักรองคณบดีฝ่ายวิชาการและประกันคุณภาพฯ และรองคณบดีฝ่ายวิจัยและบริการวิชาการ",
        detail: "ห้องพักรองคณบดีฝ่ายวิชาการ และฝ่ายบริหารและวิจัย ซึ่งตั้งอยู่ชั้น 4 ของคณะ ออกจาลิฟท์มา ห้องอยู่ด้านซ้าย ติดกับห้องลิฟท์",
    },
    {
        img: "/images/introduction/fms-floor4-IsearchRoom.webp",
        title: "ห้องปฏิบัติการสืบค้น",
        detail: "ห้องปฏิบัติการสืบค้น ตั้งอยู่ชั้น 4 ของคณะ ออกจาลิฟท์มา ห้องอยู่ด้านซ้าย ติดกับห้องพักรองคณบดีฝ่ายวิชาการ และฝ่ายบริหารและวิจัย",
    },
    {
        img: "/images/introduction/fms-floor5-DBT.webp",
        title: "ห้องพักอาจารย์สาขาวิชาเทคโนโลยีธุรกิจดิจิทัลและห้องปฏิบัติการคอมพิวเตอร์",
        detail: "ห้องพักอาจารย์สาขาวิชาเทคโนโลยีธุรกิจดิจิทัลและห้องปฏิบัติการคอมพิวเตอร์ ซึ่งตั้งอยู่ชั้น 5 ของคณะ ออกจาลิฟท์มา ห้องอยู่ทางด้านซ้าย",
    },
    {
        img: "/images/introduction/fms-floor5-BS_Com.webp",
        title: "ห้องปฏิบัติการคอมพิวเตอร์ ชั้น 5",
        detail: "ห้องปฏิบัติการคอมพิวเตอร์ หรือที่เรียกกันว่าห้องแล็บ มีทั้งหมด 2 ห้อง ตั้งอยู่ชั้น 5 ของคณะ ออกจากลิฟท์มา ห้องอยู่ทางซ้าย",
    },
    {
        img: "/images/introduction/fms-floor5-MB.webp",
        title: "ห้องพักอาจารย์สาขาวิชาการจัดการธุรกิจ",
        detail: "ห้องพักอาจารย์สาขาวิชาการจัดการธุรกิจ ซึ่งตั้งอยู่ชั้น 5 ของคณะ ออกจากลิฟท์ ห้องอยู่ทางขวา ติดกับห้องพักแม่บ้าน",
    },
    {
        img: "/images/introduction/fms-floor6-ACCRoom.webp",
        title: "ห้องพักอาจารย์สาขาวิชาการบัญชี",
        detail: "ห้องพักอาจารย์สาขาวิชาการบัญชี ซึ่งตั้งอยู่ชั้น 6 ของคณะ ออกจากลิฟท์มา ห้องอยู่ด้านขวา ติดกับห้องพักแม่บ้าน",
    },
    {
        img: "/images/introduction/fms-floor6-ACC-Com.webp",
        title: "ห้องปฏิบัติการสขาวิชาการบัญชี",
        detail: "ห้องพักอาจารย์สาขาวิชาการบัญชี ซึ่งตั้งอยู่ชั้น 6 ของคณะ ออกจากลิฟท์มา ห้องอยู่ด้านขวา ติดกับห้องพักแม่บ้าน",
    },
    {
        img: "/images/introduction/fms-floor6-MeetingRooom.webp",
        title: "ห้องประชุม ชั้น 6",
        detail: "ห้องประชุม ชั้น 6 ซึ่งตั้งอยู่ชั้น 6 ของคณะ ออกจากลิฟท์ ห้องอยู่ทางซ้าย ติดกับห้องปฏิบัติการการบัญชี",
    },
    {
        img: "/images/introduction/fms-floor6-MBA.webp",
        title: " ห้องวารสารคณะวิทยาการจัดการ และห้องสำนักงาน สาขาวิชาการจัดการสมัยใหม่ (ป.โท)",
        detail: "ห้องวารสารคณะวิทยาการจัดการ ตั้งอยู่ชั้น 6 ของคณะ ออกจาลิฟท์มา ห้องอยู่ทางด้านซ้าย ตรงข้ามห้องประชุม ชั้น 6",
    },
    {
        img: "/images/introduction/fms-floor7-Staff-CommArts.webp",
        title: "ห้องพักอาจารย์สาขาวิชานิเทศศาสตร์",
        detail: "ห้องพักอาจารย์สาขาวิชานิเทศศาสตร์ ตั้งอยู่ชั้น 7 ของคณะ ออกจากลิฟท์ ห้องอยู่ทางซ้าย ตรงข้ามห้องปฏิบัติการนิเทศศาสตร์",
    },
    {
        img: "/images/introduction/fms-floor7-journalism-Studio-CommArts.webp",
        title: "ห้องปฏิบัติการวารสาร-หนังสือพิมพ์ สาขาวิชานิเทศศาสตร์",
        detail: "ห้องปฏิบัติการวารสาร-หนังสือพิมพ์ สาขาวิชานิเทศศาสตร์ ตั้งอยู่ชั้น 7 ของคณะ",
    },
    {
        img: "/images/introduction/fms-floor7-StuLounge-CommArts.webp",
        title: "ห้องสารสนเทศ สาขาวิชานิเทศศาสตร์",
        detail: "ห้องสารสนเทศ สาขาวิชานิเทศศาสตร์ ตั้งอยู่ชั้น 7 ของคณะ",
    },
    {
        img: "/images/introduction/fms-floor7-Photographic-CommArts.webp",
        title: "ห้องปฏิบัติการถ่ายภาพ สาขาวิชานิเทศศาสตร์",
        detail: "ห้องปฏิบัติการถ่ายภาพ สาขาวิชานิเทศศาสตร์ ตั้งอยู่ชั้น 7 ของคณะ",
    },
    {
        img: "/images/introduction/fms-floor7-Radio-CommArts.webp",
        title: "ห้องปฏิบัติการวิทยุ-โทรทัศน์ สาขาวิชานิเทศศาสตร์",
        detail: "ห้องปฏิบัติการวิทยุ-โทรทัศน์ สาขาวิชานิเทศศาสตร์ ตั้งอยู่ชั้น 7 ของคณะ",
    },
    {
        img: "/images/introduction/fms-floor7-Tourism-Industry.webp",
        title: "ห้องพักอาจารย์สาขาวิชาอุตสาหกรรมการท่องเที่ยว",
        detail: "ห้องพักอาจารย์สาขาวิชาอุตสาหกรรมการท่องเที่ยว ซึ่งตั้งอยู่ชั้น 7 ของคณะ ออกจากลิฟท์มา ห้องอยู่ด้านซ้าย ตรงข้ามห้องสารสนเทศ โปรแกรมวิชานิเทศศาสตร์",
    },
    {
        img: "/images/introduction/fms-floor7-Tourism-Industry-laboratory.webp",
        title: "ห้องปฏิบัติการสาขาวิชาอุตสาหกรรมการท่องเที่ยว ",
        detail: "ห้องปฏิบัติการสาขาวิชาอุตสาหกรรมการท่องเที่ยวตั้งอยู่ชั้น 7 ของคณะ ถัดจากห้องพักอาจารย์สาขาวิชาอุตสาหกรรมการท่องเที่ยว",
    },
    {
        img: "/images/introduction/fms-floor8-meetingRoom.webp",
        title: "ห้องประชุม ชั้น 8",
        detail: "ห้องประชุม ชั้น 8 ตั้งอยู่ชั้น 8 ของคณะ ออกจากลิฟท์มา ห้องอยู่ด้านซ้าย",
    },
    {
        img: "/images/introduction/fms-ClassRoom.webp",
        title: "ห้องเรียนภายในอาคาร",
        detail: "ห้องเรียนภายในอาคาร เป็นห้องเรียนแบบมีเครื่องปรับอากาศทุกห้อง ตั้งอยู่ชั้น 2 - 4 และ 7 ของคณะ",
    },

    //{ img: '/images/introduction/NoPiC.webp', title: '', detail: '' },
];
</script>
