<template>
    <!-- HTML Meta title -->

    <Head title="แนะนำบรรยากาศ คณะ" />

    <Head>
        <!-- HTML Meta Tags -->
        <meta
            name="description"
            content="มหาวิทยาลัยราชภัฏกำแพงเพชร เป็นมหาวิทยาลัยที่เป็นที่พึ่งทางวิชาการของท้องถิ่นให้มีความเข้มแข็งอย่างยั่งยืน สถาปนาเมื่อ ปี 2516 ปัจจุบันประกอบด้วย 5 คณะ"
        />
        <!-- Keywords Meta Tags -->
        <meta
            name="Keywords"
            lang="en"
            content="Covid, Kamphaeng Phet Rajabhat University, Rajabhat, KamphaengPhet, KPRU, KP, Kamphaeng, Thailand, Thai University"
        />
        <meta
            name="Keywords"
            lang="th"
            content="มหาวิทยาลัยราชภัฏกำแพงเพชร, ราชภัฏกำแพงเพชร, มรภ.กพ., วิทยาลัยครูกำแพงเพชร, วิทยาลัยครู, ราชภัฏภาคเหนือ, มหาวิทยาลัยราชภัฏ, มหาวิทยาลัย, สถาบันการศึกษา"
        />
        <!-- Google / Search Engine Tags -->
        <meta
            itemprop="name"
            content="แนะนำบรรยากาศ คณะ | คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร"
        />
        <meta
            itemprop="description"
            content="คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร เป็นศูนย์กลางในการพัฒนาองค์ความรู้ด้านการบริหารจัดการ โดยการบูรณาการทางวิชาการ วิชาชีพ เพื่อการพัฒนาชุมชนท้องถิ่นของมหาวิทยาลัยราชภัฏภาคเหนือตอนล่าง"
        />
        <meta itemprop="image" content="/storage/fb_og_image.jpg" />

        <!-- Facebook Meta Tags -->
        <meta property="og:url" content="https://fms.kpru.ac.th" />
        <meta property="og:type" content="website" />
        <meta
            property="og:title"
            content="แนะนำบรรยากาศ คณะ | คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร"
        />
        <meta
            property="og:description"
            content="คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร เป็นศูนย์กลางในการพัฒนาองค์ความรู้ด้านการบริหารจัดการ โดยการบูรณาการทางวิชาการ วิชาชีพ เพื่อการพัฒนาชุมชนท้องถิ่นของมหาวิทยาลัยราชภัฏภาคเหนือตอนล่าง"
        />
        <meta property="og:image" content="/storage/fb_og_image.jpg" />

        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta
            name="twitter:title"
            content="แนะนำบรรยากาศ คณะ | คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร"
        />
        <meta
            name="twitter:description"
            content="คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร เป็นศูนย์กลางในการพัฒนาองค์ความรู้ด้านการบริหารจัดการ โดยการบูรณาการทางวิชาการ วิชาชีพ เพื่อการพัฒนาชุมชนท้องถิ่นของมหาวิทยาลัยราชภัฏภาคเหนือตอนล่าง"
        />
        <meta name="twitter:image" content="/storage/fb_og_image.jpg" />
    </Head>

    <!-- Breadcrumb -->
    <div class="container pt-4 mx-auto">
        <nav
            class="flex px-5 py-3 text-gray-700 border border-gray-200 rounded-lg bg-gray-50"
            aria-label="Breadcrumb"
        >
            <ol
                class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse"
            >
                <li class="inline-flex items-center">
                    <a
                        :href="route('home')"
                        class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600"
                    >
                        <svg
                            class="w-3 h-3 me-2.5"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor"
                            viewBox="0 0 20 20"
                        >
                            <path
                                d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"
                            />
                        </svg>
                        หน้าแรก
                    </a>
                </li>
                <li>
                    <div class="flex items-center">
                        <svg
                            class="block w-3 h-3 mx-1 text-gray-400 rtl:rotate-180"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 6 10"
                        >
                            <path
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="m1 9 4-4-4-4"
                            />
                        </svg>
                        <a
                            :href="route('introduction')"
                            class="text-sm font-medium text-gray-700 ms-1 hover:text-blue-600 md:ms-2"
                            >แนะนำ</a
                        >
                    </div>
                </li>
                <li>
                    <div class="flex items-center">
                        <svg
                            class="block w-3 h-3 mx-1 text-gray-400 rtl:rotate-180"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 6 10"
                        >
                            <path
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="m1 9 4-4-4-4"
                            />
                        </svg>
                        <a
                            :href="route('faculty-atmosphere')"
                            class="text-sm font-medium text-gray-700 ms-1 hover:text-blue-600 md:ms-2"
                            >แนะนำบรรยากาศคณะ</a
                        >
                    </div>
                </li>
            </ol>
        </nav>
    </div>

    <section id="intro">
        <div class="container mx-auto my-10">
            <h1 class="my-8 text-4xl text-center">
                แนะนำบรรยากาศ คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร
            </h1>
            <div class="grid justify-center grid-cols-2">
                <div class="flex flex-wrap justify-between w-full gap-2 px-5">
                    <img
                        class="items-center rounded-md h-60"
                        src="https://fms.kpru.ac.th/pr-fms/wp-content/uploads/2024/06/06062567-16-1.jpg"
                        alt="โครงการปฐมนิเทศนักศึกษาใหม่ 2567"
                    />
                    <img
                        class="items-center rounded-md h-60"
                        src="https://fms.kpru.ac.th/pr-fms/wp-content/uploads/2024/06/06062567-23-1.jpg"
                        alt="โครงการปฐมนิเทศนักศึกษาใหม่ 2567"
                    />
                    <img
                        class="items-center rounded-md h-60"
                        src="https://fms.kpru.ac.th/pr-fms/wp-content/uploads/2024/06/06062567-8-1.jpg"
                        alt="โครงการปฐมนิเทศนักศึกษาใหม่ 2567"
                    />
                    <img
                        class="items-center rounded-md h-60"
                        src="https://fms.kpru.ac.th/pr-fms/wp-content/uploads/2024/06/06062567-9-1.jpg"
                        alt="โครงการปฐมนิเทศนักศึกษาใหม่ 2567"
                    />
                </div>
                <div class="w-full p-10 bg-gray-100 rounded-md">
                    <h3 class="text-xl font-bold">ปฐมนิเทศนักศึกษาใหม่</h3>
                    <p>
                        กิจกรรมปฐมนิเทศนักศึกษาใหม่จัดขึ้นเพื่อเป็นการต้อนรับสมาชิกใหม่ของคณะวิทยาการจัดการ
                        มหาวิทยาลัยราชภัฏกำแพงเพชร อย่างอบอุ่นและเป็นกันเอง
                        ภายในงานเต็มไปด้วยรอยยิ้มและความประทับใจจากทั้งรุ่นพี่และคณาจารย์
                        ที่ได้ร่วมแนะนำข้อมูลที่เป็นประโยชน์เกี่ยวกับการเรียน
                        การใช้ชีวิตในรั้วมหาวิทยาลัย
                        ตลอดจนสร้างความคุ้นเคยระหว่างนักศึกษารุ่นพี่และรุ่นน้อง
                        บรรยากาศของงานอบอวลไปด้วยความอบอุ่นและความสนุกสนาน
                        ผ่านกิจกรรมหลากหลายรูปแบบที่ช่วยเสริมสร้างความสามัคคี
                        รู้จักการทำงานร่วมกัน และสร้างความสัมพันธ์อันดีในหมู่คณะ
                        อีกทั้งยังเป็นโอกาสอันดีที่นักศึกษาใหม่จะได้ทำความรู้จักกับเพื่อนร่วมรุ่น
                        คณาจารย์ และบรรยากาศใหม่ ๆ ในรั้วมหาวิทยาลัย
                        การปฐมนิเทศครั้งนี้ไม่ใช่แค่การให้ข้อมูลเพียงอย่างเดียว
                        แต่ยังเป็นก้าวแรกที่สำคัญของการเริ่มต้นชีวิตการเรียนมหาวิทยาลัยอย่างมั่นใจ
                        และพร้อมที่จะก้าวสู่อนาคตอย่างมีความสุขภายใต้การดูแลของคณะวิทยาการจัดการ
                    </p>
                </div>
            </div>
            <div class="grid justify-center grid-cols-2 my-10">
                <div class="w-full p-10 bg-gray-100 rounded-md">
                    <h3 class="text-xl font-bold">งานประกวดดาว-เดือน</h3>
                    <p>
                        การประกวดดาว-เดือนเป็นหนึ่งในกิจกรรมที่จัดขึ้นเพื่อเฟ้นหานักศึกษาที่มีความโดดเด่น
                        ทั้งในด้านบุคลิกภาพ ความสามารถ ทักษะการแสดงออก
                        และไหวพริบปฏิภาณ
                        เพื่อเป็นตัวแทนของรุ่นในการสร้างแรงบันดาลใจและเป็นแบบอย่างที่ดี
                        ภายในงานเต็มไปด้วยความคึกคักและสนุกสนานจากการร่วมเชียร์ของเพื่อน
                        ๆ นักศึกษา และคณะกรรมการที่ร่วมตัดสินอย่างเข้มข้น
                        พร้อมทั้งการแสดงความสามารถพิเศษจากผู้เข้าประกวด
                        ที่แสดงให้เห็นถึงความมุ่งมั่น ความกล้าแสดงออก
                        และความสามารถอันหลากหลาย
                        การประกวดครั้งนี้ไม่เพียงเฟ้นหาผู้ชนะที่มีความโดดเด่นที่สุดเท่านั้น
                        แต่ยังเป็นการเปิดโอกาสให้นักศึกษาใหม่ได้พัฒนาตัวเอง
                        สร้างความมั่นใจในการยืนอยู่ท่ามกลางผู้คน
                        และเป็นเวทีในการแสดงศักยภาพของตัวเองอย่างเต็มที่
                        งานประกวดดาว-เดือน
                        จึงเป็นอีกหนึ่งกิจกรรมที่สร้างความทรงจำดี ๆ
                        ในช่วงชีวิตมหาวิทยาลัย สร้างความสามัคคีในหมู่เพื่อน
                        และจุดประกายความฝันให้กับนักศึกษาใหม่ทุกคน
                    </p>
                </div>
                <div class="flex flex-wrap justify-between w-full gap-2 px-5">
                    <img
                        class="items-center h-56 rounded-md"
                        src="https://fms.kpru.ac.th/pr-fms/wp-content/uploads/2024/08/24082567-13.jpg"
                        alt="ประกวดเฟรชชี่"
                    />
                    <img
                        class="items-center h-56 rounded-md"
                        src="https://fms.kpru.ac.th/pr-fms/wp-content/uploads/2024/08/24082567-9.jpg"
                        alt="ประกวดเฟรชชี่"
                    />
                    <img
                        class="items-center h-56 rounded-md"
                        src="https://fms.kpru.ac.th/pr-fms/wp-content/uploads/2024/08/24082567-5.jpg"
                        alt="ประกวดเฟรชชี่"
                    />
                    <img
                        class="items-center h-56 rounded-md"
                        src="https://fms.kpru.ac.th/pr-fms/wp-content/uploads/2024/08/24082567-11.jpg"
                        alt="ประกวดเฟรชชี่"
                    />
                </div>
            </div>
            <div class="grid justify-center grid-cols-2 my-10">
                <div class="flex flex-wrap justify-between w-full gap-2 px-5">
                    <img
                        class="items-center h-48 rounded-md"
                        src="https://fms.kpru.ac.th/pr-fms/wp-content/uploads/2023/02/14022566-17.jpg"
                        alt="พิธีอัญเชิญตราพระราชลัญจกร พิธีรำลึกวันราชภัฏ"
                    />
                    <img
                        class="items-center h-48 rounded-md"
                        src="https://fms.kpru.ac.th/pr-fms/wp-content/uploads/2023/02/14022566-9.jpg"
                        alt="พิธีอัญเชิญตราพระราชลัญจกร พิธีรำลึกวันราชภัฏ"
                    />
                </div>
                <div class="w-full p-10 bg-gray-100 rounded-md">
                    <h3 class="text-xl font-bold">
                        พิธีอัญเชิญตราพระราชลัญจกร พิธีรำลึกวันราชภัฏ
                    </h3>
                    <p>
                        พิธีอันทรงเกียรติที่จัดขึ้นเพื่อแสดงความภาคภูมิใจและความกตัญญูต่อสถาบันและแผ่นดิน
                        นักศึกษาร่วมอัญเชิญตราพระราชลัญจกร (องค์จำลอง)
                        และรับมอบรางวัลเชิดชูเกียรติผู้นำนักศึกษาที่เป็นแบบอย่างแห่งความรับผิดชอบ
                        เสียสละ และสามัคคี
                        ซึ่งเป็นคุณลักษณะอันพึงประสงค์ของบัณฑิตที่สมบูรณ์แบบ
                        พิธีนี้ยังเป็นแรงบันดาลใจให้นักศึกษามุ่งมั่นพัฒนาตนเองเพื่อสังคมและประเทศชาติ
                        พิธีรำลึกวันราชภัฏ
                        จึงเป็นวาระสำคัญที่เติมเต็มความหมายแห่งการเป็น
                        "นักศึกษาราชภัฏ"
                        และสร้างความทรงจำอันทรงคุณค่าตลอดชีวิตในรั้วมหาวิทยาลัย
                    </p>
                </div>
            </div>
            <div class="grid justify-center grid-cols-2 my-10">
                <div class="w-full p-10 bg-gray-100 rounded-md">
                    <h3 class="text-xl font-bold">พิธีไหว้ครู</h3>
                    <p>
                        พิธีอันศักดิ์สิทธิ์ที่นักศึกษาได้แสดงความเคารพและขอบคุณแก่ครูอาจารย์ผู้สอน
                        ซึ่งเป็นผู้มอบความรู้และแนวทางในการพัฒนาชีวิต
                        การไหว้ครูคณะเป็นการเสริมสร้างความสัมพันธ์ที่ดีระหว่างอาจารย์และนักศึกษา
                        และยังเป็นการระลึกถึงคุณค่าของการศึกษาที่มีความสำคัญต่อการเติบโตในอนาคต
                        พิธีนี้จึงเป็นการเริ่มต้นเส้นทางการเรียนรู้ที่เต็มไปด้วยความตั้งใจและความเคารพในวิชาชีพอันสูงส่งของครู
                        ผู้เป็นต้นแบบในการสร้างสรรค์อนาคตของชาติ
                    </p>
                </div>
                <div class="flex flex-wrap justify-between w-full gap-2 px-5">
                    <img
                        class="items-center h-56 rounded-md"
                        src="https://fms.kpru.ac.th/pr-fms/wp-content/uploads/2020/08/060825632-7-scaled-1.jpg"
                        alt="พิธีไหว้ครู"
                    />
                    <img
                        src="https://fms.kpru.ac.th/pr-fms/wp-content/uploads/2020/08/060825632-2-scaled-1.jpg"
                        class="items-center h-56 rounded-md"
                        alt="พิธีไหว้ครู"
                    />
                </div>
            </div>
            <div class="grid justify-center grid-cols-2 my-10">
                <div class="flex flex-wrap justify-between w-full gap-2 px-5">
                    <img
                        class="items-center rounded-md h-60"
                        src="https://fms.kpru.ac.th/pr-fms/wp-content/uploads/2024/01/170125671-10-1.jpg"
                        alt="ทำบุญปีใหม่"
                    />
                    <img
                        class="items-center rounded-md h-60"
                        src="https://fms.kpru.ac.th/pr-fms/wp-content/uploads/2024/01/170125671-3-1.jpg"
                        alt="ทำบุญปีใหม่"
                    />
                </div>
                <div class="w-full p-10 bg-gray-100 rounded-md">
                    <h3 class="text-xl font-bold">ทำบุญปีใหม่</h3>
                    <p>
                        กิจกรรมที่จัดขึ้นเพื่อส่งเสริมการอนุรักษ์ศิลปวัฒนธรรมไทยและการปฏิบัติตามขนบธรรมเนียมในช่วงเทศกาลปีใหม่
                        เป็นโอกาสให้นักศึกษาได้ร่วมทำบุญและทำความดีตามหลักของศาสนาพุทธ
                        เช่น การตักบาตรและการถวายสังฆทาน เพื่อเสริมสร้างบุญบารมี
                        และเป็นการสร้างสำนึกในเรื่องการให้และการทำความดีในสังคม
                        นอกจากนี้ยังเปิดโอกาสให้นักศึกษาจากทุกศาสนา เช่น
                        ศาสนาคริสต์และศาสนาอิสลาม
                        ได้แสดงความเคารพต่อความเชื่อของตนเอง
                        โดยการร่วมกันทำบุญตามหลักของแต่ละศาสนา
                        ซึ่งเป็นการส่งเสริมความเข้าใจและความสามัคคีระหว่างศาสนา
                        ช่วยให้ทุกคนรู้สึกถึงความเป็นหนึ่งเดียวและการอยู่ร่วมกันอย่างสันติในสังคมที่หลากหลาย
                    </p>
                </div>
            </div>
            <div class="grid justify-center grid-cols-2 my-10">
                <div class="w-full p-10 bg-gray-100 rounded-md">
                    <h3 class="text-xl font-bold">นักศึกษากับการพัฒนาชุมชน</h3>
                    <p>
                        กิจกรรมที่มุ่งเน้นให้นักศึกษาได้มีส่วนร่วมในการพัฒนาชุมชน
                        ผ่านกิจกรรมค่ายอาสาและโครงการต่างๆ เช่น
                        การสร้างฝายชะลอน้ำ
                        การลงพื้นที่บริการวิชาการร่วมกับอาจารย์
                        รวมถึงการทำวิจัยในชุมชนท้องถิ่น
                        เพื่อพัฒนาและแก้ไขปัญหาของชุมชนอย่างยั่งยืน
                        กิจกรรมเหล่านี้ไม่เพียงแต่ช่วยให้นักศึกษาได้เรียนรู้การทำงานเพื่อสังคม
                        แต่ยังส่งเสริมการใช้ความรู้จากการเรียนมาแก้ไขปัญหาที่เกิดขึ้นในชุมชนจริง
                        นักศึกษาจะได้รับประสบการณ์ที่มีค่าในการสร้างความร่วมมือและพัฒนาชุมชนไปพร้อมๆ
                        กับการเติบโตทางด้านวิชาการและจิตอาสา
                    </p>
                </div>
                <div class="flex flex-wrap justify-between w-full gap-2 px-5">
                    <img
                        class="items-center h-56 rounded-md"
                        src="/images/introduction/fms-community-1.webp"
                        alt="นักศึกษากับการพัฒนาชุมชน"
                    />
                    <img
                        src="/images/introduction/fms-community-2.webp"
                        class="items-center h-56 rounded-md"
                        alt="นักศึกษากับการพัฒนาชุมชน"
                    />
                    <img
                        class="items-center h-56 rounded-md"
                        src="/images/introduction/fms-community-3.webp"
                        alt="นักศึกษากับการพัฒนาชุมชน"
                    />
                    <img
                        src="/images/introduction/fms-community-4.webp"
                        class="items-center h-56 rounded-md"
                        alt="นักศึกษากับการพัฒนาชุมชน"
                    />
                </div>
            </div>
            <div class="grid justify-center grid-cols-2 my-10">
                <div class="flex flex-wrap justify-between w-full gap-0 px-5">
                    <img
                        class="items-center rounded-md h-60"
                        src="https://fms.kpru.ac.th/pr-fms/wp-content/uploads/2024/09/01092567-8.jpg"
                        alt="ฝึกประสบการณ์"
                    />
                    <img
                        class="items-center rounded-md h-60"
                        src="https://fms.kpru.ac.th/pr-fms/wp-content/uploads/2024/09/01092567-9.jpg"
                        alt="ฝึกประสบการณ์"
                    />
                    <img
                        class="items-center rounded-md h-60"
                        src="https://fms.kpru.ac.th/pr-fms/wp-content/uploads/2024/09/01092567-6.jpg"
                        alt="ฝึกประสบการณ์"
                    />
                    <img
                        class="items-center rounded-md h-60"
                        src="https://fms.kpru.ac.th/pr-fms/wp-content/uploads/2024/09/01092567-7.jpg"
                        alt="ฝึกประสบการณ์"
                    />
                </div>
                <div class="w-full p-10 bg-gray-100 rounded-md">
                    <h3 class="text-xl font-bold">
                        ฝึกประสบการณ์ และ Goodbye Senior
                    </h3>
                    <p>
                        กิจกรรมฝึกประสบการณ์เป็นโอกาสให้นักศึกษาได้เรียนรู้และเข้าใจการทำงานจริงก่อนที่พวกเขาจะก้าวสู่โลกการทำงานหลังจากจบการศึกษา
                        ผ่านการฝึกทักษะในสภาพแวดล้อมจริงและเตรียมความพร้อมให้กับอนาคตในอาชีพการงาน.
                        ส่วนกิจกรรม Goodbye Senior
                        เป็นการแสดงความยินดีและขอบคุณรุ่นพี่ที่กำลังจะจบการศึกษา
                        เป็นการสร้างความสัมพันธ์ที่ดีระหว่างรุ่นพี่และรุ่นน้อง
                        พร้อมทั้งเป็นการส่งเสริมความรู้สึกอบอุ่นและการอำลาที่มีความหมาย
                        เพื่อให้นักศึกษารุ่นใหม่ได้มีโอกาสแสดงความยินดีกับรุ่นพี่ที่กำลังเข้าสู่โลกการทำงานจริง
                        และก้าวเดินต่อไปในเส้นทางชีวิต
                    </p>
                </div>
            </div>
            <div class="flex flex-wrap justify-between w-full gap-2 my-2">
                <img
                    class="items-center rounded-md h-60"
                    src="/images/introduction/fms-Senior-1.webp"
                    alt="Goodbye Senior"
                />
                <img
                    class="items-center rounded-md h-60"
                    src="/images/introduction/fms-Senior-2.webp"
                    alt="Goodbye Senior"
                />
                <img
                    class="items-center rounded-md h-60"
                    src="/images/introduction/fms-Senior-3.webp"
                    alt="Goodbye Senior"
                />
                <img
                    class="items-center rounded-md h-60"
                    src="/images/introduction/fms-Senior-4.webp"
                    alt="Goodbye Senior"
                />
            </div>
        </div>
    </section>
</template>

<script setup>
import { Head } from "@inertiajs/vue3";
import SiteLayout from "../../Layouts/SiteLayout.vue";
defineOptions({
    layout: SiteLayout,
});
</script>
