<script setup>
import { Head } from "@inertiajs/vue3";
import SiteLayout from "../../Layouts/SiteLayout.vue";
defineOptions({
    layout: SiteLayout,
});
</script>
<template>
    <!-- HTML Meta title -->

    <Head title="แนะนำ" />

    <Head>
        <!-- HTML Meta Tags -->
        <meta name="description"
            content="มหาวิทยาลัยราชภัฏกำแพงเพชร เป็นมหาวิทยาลัยที่เป็นที่พึ่งทางวิชาการของท้องถิ่นให้มีความเข้มแข็งอย่างยั่งยืน สถาปนาเมื่อ ปี 2516 ปัจจุบันประกอบด้วย 5 คณะ">
        <!-- Keywords Meta Tags -->
        <meta name="Keywords" lang="en"
            content="Covid, Kamphaeng Phet Rajabhat University, Rajabhat, KamphaengPhet, KPRU, KP, Kamphaeng, Thailand, Thai University">
        <meta name="Keywords" lang="th"
            content="มหาวิทยาลัยราชภัฏกำแพงเพชร, ราชภัฏกำแพงเพชร, มรภ.กพ., วิทยาลัยครูกำแพงเพชร, วิทยาลัยครู, ราชภัฏภาคเหนือ, มหาวิทยาลัยราชภัฏ, มหาวิทยาลัย, สถาบันการศึกษา">
        <!-- Google / Search Engine Tags -->
        <meta itemprop="name" content="แนะนำ | คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร">
        <meta itemprop="description"
            content="คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร เป็นศูนย์กลางในการพัฒนาองค์ความรู้ด้านการบริหารจัดการ โดยการบูรณาการทางวิชาการ วิชาชีพ เพื่อการพัฒนาชุมชนท้องถิ่นของมหาวิทยาลัยราชภัฏภาคเหนือตอนล่าง">
        <meta itemprop="image" content="/storage/fb_og_image.jpg">

        <!-- Facebook Meta Tags -->
        <meta property="og:url" content="https://fms.kpru.ac.th">
        <meta property="og:type" content="website">
        <meta property="og:title" content="แนะนำ | คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร">
        <meta property="og:description"
            content="คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร เป็นศูนย์กลางในการพัฒนาองค์ความรู้ด้านการบริหารจัดการ โดยการบูรณาการทางวิชาการ วิชาชีพ เพื่อการพัฒนาชุมชนท้องถิ่นของมหาวิทยาลัยราชภัฏภาคเหนือตอนล่าง">
        <meta property="og:image" content="/storage/fb_og_image.jpg">

        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="แนะนำ | คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร">
        <meta name="twitter:description"
            content="คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร เป็นศูนย์กลางในการพัฒนาองค์ความรู้ด้านการบริหารจัดการ โดยการบูรณาการทางวิชาการ วิชาชีพ เพื่อการพัฒนาชุมชนท้องถิ่นของมหาวิทยาลัยราชภัฏภาคเหนือตอนล่าง">
        <meta name="twitter:image" content="/storage/fb_og_image.jpg">
    </Head>

    <!-- Breadcrumb -->
    <div class="container pt-4 mx-auto">
        <nav class="flex px-5 py-3 text-gray-700 border border-gray-200 rounded-lg bg-gray-50 " aria-label="Breadcrumb">
            <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
                <li class="inline-flex items-center">
                    <a :href="route('home')"
                        class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 ">
                        <svg class="w-3 h-3 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor" viewBox="0 0 20 20">
                            <path
                                d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z" />
                        </svg>
                        หน้าแรก
                    </a>
                </li>
                <li>
                    <div class="flex items-center">
                        <svg class="block w-3 h-3 mx-1 text-gray-400 rtl:rotate-180 " aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m1 9 4-4-4-4" />
                        </svg>
                        <a :href="route('introduction')"
                            class="text-sm font-medium text-gray-700 ms-1 hover:text-blue-600 md:ms-2 ">แนะนำ</a>
                    </div>
                </li>
            </ol>
        </nav>
    </div>


    <section id="Carousel-Slide">
        <div class="container mx-auto my-5">
            <div class="mx-auto">
                <div id="default-carousel" class="relative w-full" data-carousel="slide">
                    <!-- Carousel wrapper -->
                    <div class="relative h-[500px] overflow-hidden">
                        <!-- Item 1 -->
                        <div class="hidden ease-linear duration-1200" data-carousel-item="active">
                            <img src="images/introduction-1.webp"
                                class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
                                alt="University">
                        </div>
                        <!-- Item 2 -->
                        <div class="hidden ease-linear duration-1200" data-carousel-item>
                            <img src="images/introduction-2.webp"
                                class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
                                alt="Faculty">
                        </div>
                        <!-- Item 3 -->
                        <div class="hidden ease-linear duration-1200" data-carousel-item>
                            <img src="images/introduction-3.webp"
                                class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
                                alt="University Atmosphere">
                        </div>
                        <!-- Item 4 -->
                        <div class="hidden ease-linear duration-1200" data-carousel-item>
                            <img src="images/introduction-4.webp"
                                class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
                                alt="Faculty Atmosphere">
                        </div>
                    </div>
                    <!-- Slider controls -->
                    <button type="button"
                        class="absolute top-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer start-0 group focus:outline-none"
                        data-carousel-prev>
                        <span
                            class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                            <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" d="M5 1 1 5l4 4" />
                            </svg>
                            <span class="sr-only">Previous</span>
                        </span>
                    </button>
                    <button type="button"
                        class="absolute top-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer end-0 group focus:outline-none"
                        data-carousel-next>
                        <span
                            class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                            <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" d="m1 9 4-4-4-4" />
                            </svg>
                            <span class="sr-only">Next</span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </section>

    <section id="intro">
        <div class="w-full p-4 mt-4 text-center bg-white rounded-lg sm:p-8 ">
            <h5 class="mb-2 text-3xl font-bold text-gray-900">คณะวิทยาการจัดการ
                มหาวิทยาลัยราชภัฏกำแพงเพชร</h5>
            <p class="mb-5 text-base text-gray-500 sm:text-lg ">บ้านแห่งการเรียนรู้และเติบโต</p>
            <div class="items-center justify-center space-y-4 sm:flex sm:space-y-0 sm:space-x-4">
                <a href="https://admission.kpru.ac.th/" target="_blank"
                    class="w-full sm:w-auto bg-blue-500 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 text-white rounded-lg inline-flex items-center justify-center px-4 py-2.5">
                    <svg class="w-6 h-6 text-white me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                        width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M5 18h14M5 18v3h14v-3M5 18l1-9h12l1 9M16 6v3m-4-3v3m-2-6h8v3h-8V3Zm-1 9h.01v.01H9V12Zm3 0h.01v.01H12V12Zm3 0h.01v.01H15V12Zm-6 3h.01v.01H9V15Zm3 0h.01v.01H12V15Zm3 0h.01v.01H15V15Z" />
                    </svg>


                    <div class="text-left">
                        <div class="mb-1 text-lg">สมัครเรียน</div>
                        <div class="-mt-1 font-sans text-sm">admission.kpru.ac.th</div>
                    </div>
                </a>
                <a href="https://www.kpru.ac.th/" target="_blank"
                    class="w-full sm:w-auto bg-orange-500 hover:bg-orange-700 focus:ring-4 focus:outline-none focus:ring-orange-300 text-white rounded-lg inline-flex items-center justify-center px-4 py-2.5">
                    <svg class="w-6 h-6 text-white me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                        width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m8.032 12 1.984 1.984 4.96-4.96m4.55 5.272.893-.893a1.984 1.984 0 0 0 0-2.806l-.893-.893a1.984 1.984 0 0 1-.581-1.403V7.04a1.984 1.984 0 0 0-1.984-1.984h-1.262a1.983 1.983 0 0 1-1.403-.581l-.893-.893a1.984 1.984 0 0 0-2.806 0l-.893.893a1.984 1.984 0 0 1-1.403.581H7.04A1.984 1.984 0 0 0 5.055 7.04v1.262c0 .527-.209 1.031-.581 1.403l-.893.893a1.984 1.984 0 0 0 0 2.806l.893.893c.372.372.581.876.581 1.403v1.262a1.984 1.984 0 0 0 1.984 1.984h1.262c.527 0 1.031.209 1.403.581l.893.893a1.984 1.984 0 0 0 2.806 0l.893-.893a1.985 1.985 0 0 1 1.403-.581h1.262a1.984 1.984 0 0 0 1.984-1.984V15.7c0-.527.209-1.031.581-1.403Z" />
                    </svg>

                    <div class="text-left">
                        <div class="mb-1 text-lg">เยี่ยมชมมหาวิทยาลัย</div>
                        <div class="-mt-1 font-sans text-sm">www.kpru.ac.th</div>
                    </div>
                </a>
            </div>
        </div>
    </section>

    <section id="All-University&Faculty">
        <div class="container grid items-center grid-cols-2 gap-8 px-4 py-4 mx-auto lg:py-8 lg:px-6">
            <div class="px-4 text-gray-500 sm:text-lg">
                <h2 class="mb-4 text-xl font-extrabold tracking-tight text-center text-gray-900">แนะนำสถานที่
                    และสิ่งอำนวยความสะดวก</h2>
                <div class="flex justify-start gap-2">
                    <div class="block w-full">
                        <a :href="route('university')">
                            <img class="w-full hover:rounded-3xl" src="/images/university.webp" alt="University">
                            <p
                                class="w-full px-5 py-1 mt-1 text-sm text-center text-white bg-orange-500 hover:font-bold hover:text-orange-900 xl:text-lg">
                                แนะนำมหาวิทยาลัยราชภัฏกำแพงเพชร</p>
                        </a>
                    </div>

                    <div class="block w-full">
                        <a :href="route('faculty')">
                            <img class="w-full hover:rounded-3xl" src="/images/university1.webp" alt="Faculty">

                            <p
                                class="w-full px-5 py-1 mt-1 text-sm text-center text-white bg-primary-500 hover:font-bold hover:rounded-lg hover:text-primary-900 xl:text-lg">
                                แนะนำคณะ
                            </p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="px-4 font-light text-gray-500 sm:text-lg">
                <h2 class="mb-4 text-xl font-extrabold tracking-tight text-center text-gray-900">แนะนำบรรยากาศ
                    และกิจกรรมระหว่างการศึกษา</h2>
                <p class="mb-4"></p>
                <div class="flex justify-start gap-2">
                    <div>
                        <a :href="route('university-atmosphere')">
                            <img class="w-full hover:rounded-3xl" src="/images/university2.webp"
                                alt="UniversityAtmosphere">
                            <p
                                class="w-full px-5 py-1 mt-1 text-sm text-center text-white bg-orange-500 hover:font-bold hover:rounded-lg hover:text-orange-900 xl:text-lg">
                                บรรยากาศในมหาวิทยาลัย
                            </p>
                        </a>
                    </div>
                    <div>
                        <a :href="route('faculty-atmosphere')">
                            <img class="w-full hover:rounded-3xl" src="/images/university3.webp"
                                alt="FacultyAtmosphere">
                            <p
                                class="w-full px-5 py-1 mt-1 text-sm text-center text-white bg-primary-500 hover:font-bold hover:rounded-lg hover:text-primary-900 xl:text-lg">
                                บรรยากาศกิจกรรมในคณะ
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="Awards&Pride">
        <div
            class="items-center max-w-screen-xl gap-8 px-4 py-4 mx-auto xl:gap-16 md:grid md:grid-cols-2 sm:py-8 lg:px-6">

            <img class="w-full" src="/undraw-svg/undraw_winners_re_wr1l.svg" alt="winners">
            <div class="mt-4 md:mt-0">
                <h2 class="mb-4 text-4xl font-extrabold tracking-tight text-gray-900 dark:text-white">รางวัล และ
                    ความภาคภูมิใจ</h2>
                <p class="mb-6 font-light text-gray-500 md:text-lg ">
                    รางวัลที่ได้รับคือผลลัพธ์แห่งความมุ่งมั่นและความพยายามของนักศึกษาและคณาจารย์
                    คณะวิทยาการจัดการภูมิใจนำเสนอความสำเร็จที่ยิ่งใหญ่
                    พร้อมสร้างแรงบันดาลใจให้ก้าวสู่เป้าหมายที่สูงขึ้นในอนาคต</p>
                <!-- <a href="#"
                    class="inline-flex items-center text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                    รายละเอียดเพิ่มเติม
                    <svg class="w-5 h-5 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                            clip-rule="evenodd"></path>
                    </svg>
                </a> -->
            </div>
        </div>
    </section>

    <section id="Activities&Experiences">
        <div
            class="items-center max-w-screen-xl gap-8 px-4 py-8 mx-auto xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6">
            <div class="mt-4 md:mt-0">
                <h2 class="mb-4 text-4xl font-extrabold tracking-tight text-gray-900 dark:text-white">กิจกรรม และ
                    ประสบการณ์</h2>
                <p class="mb-6 font-light text-gray-500 md:text-lg ">
                    เรียนรู้อย่างไร้ขอบเขตผ่านกิจกรรมสร้างสรรค์และประสบการณ์จริง ที่ช่วยเติมเต็มทักษะ
                    พร้อมเสริมศักยภาพให้นักศึกษาก้าวสู่ความสำเร็จในทุกมิติของชีวิตการเรียนและการทำงาน</p>
                <!-- <a href="#"
                    class="inline-flex items-center text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                    รายละเอียดเพิ่มเติม
                    <svg class="w-5 h-5 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                            clip-rule="evenodd"></path>
                    </svg>
                </a> -->
            </div>
            <img class="w-full" src="/undraw-svg/undraw_graduation_re_gthn.svg" alt="graduation">
        </div>
    </section>

    <section id="Alumni&Alumni Associations">
        <div
            class="items-center max-w-screen-xl gap-8 px-4 py-8 mx-auto xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6">
            <img class="w-full" src="/undraw-svg/undraw_experts_re_i40h.svg" alt="alumni">
            <div class="mt-4 md:mt-0">
                <h2 class="mb-4 text-4xl font-extrabold tracking-tight text-gray-900 dark:text-white">ศิษย์เก่า และ
                    ชมรมศิษย์เก่า</h2>
                <p class="mb-6 font-light text-gray-500 md:text-lg dark:text-gray-400">สายใยแห่งความผูกพันที่ไม่สิ้นสุด
                    ชมรมศิษย์เก่าคือพื้นที่แห่งการเชื่อมโยง สนับสนุน และแบ่งปันประสบการณ์
                    เพื่อร่วมกันสร้างเครือข่ายที่แข็งแกร่งและเติบโตไปด้วยกัน</p>
                <!-- <a href="#"
                    class="inline-flex items-center text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                    รายละเอียดเพิ่มเติม
                    <svg class="w-5 h-5 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                            clip-rule="evenodd"></path>
                    </svg>
                </a> -->
            </div>
        </div>
    </section>

    <section id="GoogleMap">
        <div>
            <iframe class="w-full h-[620px]"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15306.185136600709!2d99.51173354999999!3d16.44785375!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30de183ffc4a0b95%3A0x4e7f3e35b20d41b3!2z4Lih4Lir4Liy4Lin4Li04LiX4Lii4Liy4Lil4Lix4Lii4Lij4Liy4LiK4Lig4Lix4LiP4LiB4Liz4LmB4Lie4LiH4LmA4Lie4LiK4Lij!5e0!3m2!1sth!2sth!4v1733283001507!5m2!1sth!2sth"
                style="border:0;" allowfullscreen loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>
</template>


