<template>
    <!-- HTML Meta title -->

    <Head title="แนะนำมหาวิทยาลัยราชภัฏกำแพงเพชร" />

    <Head>
        <!-- HTML Meta Tags -->
        <meta name="description"
            content="มหาวิทยาลัยราชภัฏกำแพงเพชร เป็นมหาวิทยาลัยที่เป็นที่พึ่งทางวิชาการของท้องถิ่นให้มีความเข้มแข็งอย่างยั่งยืน สถาปนาเมื่อ ปี 2516 ปัจจุบันประกอบด้วย 5 คณะ">
        <!-- Keywords Meta Tags -->
        <meta name="Keywords" lang="en"
            content="Covid, Kamphaeng Phet Rajabhat University, Rajabhat, KamphaengPhet, KPRU, KP, Kamphaeng, Thailand, Thai University">
        <meta name="Keywords" lang="th"
            content="มหาวิทยาลัยราชภัฏกำแพงเพชร, ราชภัฏกำแพงเพชร, มรภ.กพ., วิทยาลัยครูกำแพงเพชร, วิทยาลัยครู, ราชภัฏภาคเหนือ, มหาวิทยาลัยราชภัฏ, มหาวิทยาลัย, สถาบันการศึกษา">
        <!-- Google / Search Engine Tags -->
        <meta itemprop="name" content="แนะนำมหาวิทยาลัยราชภัฏกำแพงเพชร | คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร">
        <meta itemprop="description"
            content="คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร เป็นศูนย์กลางในการพัฒนาองค์ความรู้ด้านการบริหารจัดการ โดยการบูรณาการทางวิชาการ วิชาชีพ เพื่อการพัฒนาชุมชนท้องถิ่นของมหาวิทยาลัยราชภัฏภาคเหนือตอนล่าง">
        <meta itemprop="image" content="/storage/fb_og_image.jpg">

        <!-- Facebook Meta Tags -->
        <meta property="og:url" content="https://fms.kpru.ac.th">
        <meta property="og:type" content="website">
        <meta property="og:title"
            content="แนะนำมหาวิทยาลัยราชภัฏกำแพงเพชร | คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร">
        <meta property="og:description"
            content="คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร เป็นศูนย์กลางในการพัฒนาองค์ความรู้ด้านการบริหารจัดการ โดยการบูรณาการทางวิชาการ วิชาชีพ เพื่อการพัฒนาชุมชนท้องถิ่นของมหาวิทยาลัยราชภัฏภาคเหนือตอนล่าง">
        <meta property="og:image" content="/storage/fb_og_image.jpg">

        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title"
            content="แนะนำมหาวิทยาลัยราชภัฏกำแพงเพชร | คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร">
        <meta name="twitter:description"
            content="คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร เป็นศูนย์กลางในการพัฒนาองค์ความรู้ด้านการบริหารจัดการ โดยการบูรณาการทางวิชาการ วิชาชีพ เพื่อการพัฒนาชุมชนท้องถิ่นของมหาวิทยาลัยราชภัฏภาคเหนือตอนล่าง">
        <meta name="twitter:image" content="/storage/fb_og_image.jpg">
    </Head>

    <!-- Breadcrumb -->
    <div class="container pt-4 mx-auto">
        <nav class="flex px-5 py-3 text-gray-700 border border-gray-200 rounded-lg bg-gray-50 " aria-label="Breadcrumb">
            <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
                <li class="inline-flex items-center">
                    <a :href="route('home')"
                        class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 ">
                        <svg class="w-3 h-3 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor" viewBox="0 0 20 20">
                            <path
                                d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z" />
                        </svg>
                        หน้าแรก
                    </a>
                </li>
                <li>
                    <div class="flex items-center">
                        <svg class="block w-3 h-3 mx-1 text-gray-400 rtl:rotate-180 " aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m1 9 4-4-4-4" />
                        </svg>
                        <a :href="route('introduction')"
                            class="text-sm font-medium text-gray-700 ms-1 hover:text-blue-600 md:ms-2 ">แนะนำ</a>
                    </div>
                </li>
                <li>
                    <div class="flex items-center">
                        <svg class="block w-3 h-3 mx-1 text-gray-400 rtl:rotate-180 " aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m1 9 4-4-4-4" />
                        </svg>
                        <a :href="route('university')"
                            class="text-sm font-medium text-gray-700 ms-1 hover:text-blue-600 md:ms-2 ">แนะนำมหาวิทยาลัยราชภัฏกำแพงเพชร</a>
                    </div>
                </li>
            </ol>
        </nav>
    </div>

    <section id="intro">
        <div class="container mx-auto my-10">
            <h1 class="my-8 text-4xl text-center">แนะนำมหาวิทยาลัยราชภัฏกำแพงเพชร</h1>
            <div class="flex gap-16">
                <div class="grid justify-center grid-cols-2 gap-4">
                    <img class="items-center h-60" src="/images/university.webp" alt="intro KPRU">
                    <img class="h-60" src="/images/university1.webp" alt="intro FMS KPRU">
                    <img class="h-60" src="/images/university2.webp" alt="intro KPRU Atmosphere">
                    <img class="h-60" src="/images/university3.webp" alt="intro FMS KPRU Atmosphere">
                </div>
                <div class="p-10">ปัจจุบัน มหาวิทยาลัยมีหน่วยงานที่ทั้งสิ้น 13 หน่วยงาน ประกอบด้วย
                    <ol class="ml-4 list-decimal">
                        <li>คณะครุศาสตร์</li>
                        <li>คณะมนุษยศาสตร์และสังคมศาสตร์</li>
                        <li>คณะวิทยาการจัดการ</li>
                        <li>คณะวิทยาศาสตร์และเทคโนโลยี</li>
                        <li>คณะเทคโนโลยีอุตสาหกรรม</li>
                        <li>คณะพยาบาลศาสตร์</li>
                        <li>มหาวิทยาลัยราชภัฏกำแพงเพชร แม่สอด</li>
                        <li>สำนักงานอธิการบดี</li>
                        <li>สำนักส่งเสริมวิชาการและงานทะเบียน</li>
                        <li>สำนักวิทยบริการและเทคโนโลยีสารสนเทศ</li>
                        <li>สำนักศิลปะและวัฒนธรรม</li>
                        <li>สถาบันวิจัยและพัฒนา</li>
                        <li>สำนักบริการวิชาการและจัดหารายได้</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section id="Card">
        <div class="container mx-auto my-10">
            <p class="my-8 text-xl text-center">การบริการนักศึกษา ในด้านการแนะนำอาคารต่างๆ ในมหาวิทยาลัยราชภัฏกำแพงเพชร
                ให้เห็นในมุมต่างๆ เพิ่มมากยิ่งขึ้น</p>
            <div class="grid justify-center grid-cols-4 gap-4">
                <div v-for="(card, index) in cards" :key="index" class="border border-gray-200 rounded-lg shadow w-fit">
                    <img :src="card.img" :alt="card.title" class="rounded-t-lg h-[255px]" />
                    <div class="p-5">
                        <h3>{{ card.title }}</h3>
                    </div>
                    <div class="px-5 pb-5">
                        <p class="text-sm text-justify text-gray-700">{{ card.detail }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="map KPRU">
        <div class="container mx-auto my-10">
            <p class="text-2xl text-center">แผนผังมหาวิทยาลัยราชภัฏกำแพงเพชร</p>
            <div class="flex gap-5">
                <img class="mx-auto h-fit" src="/images/MAP-KPRU-2022.jpg" alt="MAP KPRU 2022">
                <ul class="py-4 list-inside">
                    <li>1. อาคาร 1 (สำนักบริการวิชาการและจัดหารายได้)</li>
                    <li>2. อาคาร 2 (คณะครุศาสตร์เก่า)</li>
                    <li>3. อาคาร 3 (คณะมนุษยศาสตร์และสังคมศาสตร์เก่า)</li>
                    <li>4. อาคาร 4 คณะพยาบาลศาสตร์</li>
                    <li>5. โรงอาหาร</li>
                    <li>6. อาคารเรียนศูนย์การแพทย์ทางเลือก</li>
                    <li>7. อาคารน้ำเพชร 1</li>
                    <li>8. อาคารโปรแกรมดนตรี</li>
                    <li>9. อาคารโปรแกรมศิลปะ</li>
                    <li>10. กองพัฒนานักศึกษา (หลังเก่า)</li>
                    <li>11. อาคารเฉลิมพระเกียรติ ๖ รอบพระชนพรรษา อาคาร 2 (คณะวิทยาการจัดการ)</li>
                    <li>12. อาคารเฉลิมพระเกียรติ ๖ รอบพระชนพรรษา อาคาร 1 (อาคารเรียนรวม)</li>
                    <li>13. หอประชุมทีปังกรรัศมีโชติ</li>
                    <li>14. อาคารเรียนรวมและอำนวยการ</li>
                    <li>15. อาคารศูนย์กีฬารวม</li>
                    <li>16. อาคารจุฬาภรณ์วลัยลักษณ์</li>
                    <li>17. อาคารคณะวิทยาศาสตร์และเทคโนโลยี (เก่า)</li>
                    <li>18. อาคารเฉลิมพระเกียรติ ๕๐ พรรษา มหาวชิราลงกรณ์ (คณะเทคโนโลยีอุตสาหกรรม)</li>
                    <li>19. อาคารเรียนภาควิชาเกษตรศาสตร์</li>
                    <li>20. อาคารเทคโนโลยีไฟฟ้า</li>
                    <li>21. อาคารศูนย์ส่งเสริมและตรวจสอบการผลิตฯ</li>
                    <li>22. อาคารเรียนภาควิชาคหกรรมศาสตร์</li>
                    <li>23. อาคารศูนย์การศึกษาพิเศษ</li>
                    <li>24. อาคารศูนย์เด็กปฐมวัย</li>
                    <li>25. อาคารศูนย์ภาษาและคอมพิวเตอร์</li>
                    <li>26. อาคารบรรณราชนครินทร์ (สำนักวิทยบริการฯ)</li>
                    <li>27. อาคารเอวี</li>
                    <li>28. หอประชุมรัตนอาภา (หอประชุมเก่า)</li>
                    <li>29. อาคารออกแบบและพัฒนาผลิตภัณฑ์</li>
                    <li>30. อาคารเทคโนโลยีก่อสร้าง</li>
                    <li>32. ศูนย์กีฬาในร่มเอนกประสงค์ (โรงยิมใหม่)</li>
                    <li>38. คณะมนุษยศาสตร์และสังคมศาสตร์</li>
                    <li>41. อาคารภูมิภาคพิทยา (ศูนย์ศิลปะและวัฒนธรรม)</li>
                    <li>46. คณะครุศาสตร์</li>
                    <li>47. อาคารกองพัฒนานักศึกษา (SAC)</li>
                    <li>48. อาคารเรียนและปฏิบัติการทางวิทยาศาสตร์ (คณะวิทยาศาสตร์และเทคโนโลยีใหม่)</li>
                    <li>A. ศาลาพระพุทธวิทานปัญญาบดี</li>
                    <li>B. ลานกิจกรรมหน้าหอประชุมทีปังกรรัศมีโชติ</li>
                    <li>C. โรงยิมเก่า</li>
                    <li>D. KPRU Place</li>
                </ul>
            </div>
        </div>
    </section>

</template>

<script setup>
import { Head } from "@inertiajs/vue3";
import SiteLayout from "../../Layouts/SiteLayout.vue";
defineOptions({
    layout: SiteLayout,
});

const cards = [
    { img: '/images/introduction/fms-kpru-11.webp', title: 'คณะวิทยาการจัดการ (อาคาร 11)' , detail: 'คณะวิทยาการจัดการ ได้รับพระราชทาน นามว่า “อาคารเฉลิมพระเกียรติพระชนมพรรษา 2” หรือที่เรียกกันว่า อาคาร 11 ตั้งอยู่บริเวณใกล้เคียงประตูหน้าของมหาวิทยาลัย' },
    { img: '/images/introduction/fms-kpru-12.webp', title: 'อาคารเฉลิมพระเกียรติ 6 รอบ พระชนมพรรษา (อาคาร 12)', detail: 'อาคารเฉลิมพระเกียรติ 6 รอบ พระชนมพรรษา หรืออาคาร 12  เป็นอาคารเรียนรวมของนักศึกษาในมหาวิทยาลัยอีกที่หนึ่ง ซึ่งตั้งอยู่บริเวณด้านข้างสำนักงานอธิการบดี หรืออาคาร 14' },
    { img: '/images/introduction/fms-kpru-14.webp', title: 'สำนักงานอธิการบดี (อาคาร 14)', detail: 'อาคาร 14 หรือที่คนส่วนใหญ่เรียกกันว่า ตึกกระป๋องแป้ง เป็นทั้งอาคารเรียนรวม และสำนักอธิการบดี สำหรับนักศึกษาคนใดที่ต้องการติดต่อเรื่องของการเรียน ไม่ว่าจะเป็นสมัครเรียน ลงทะเบียนเรียน เพิ่ม-ถอนรายวิชานั้น สามารถติดต่อได้ที่สำนักส่งเสริมวิชาการและงานทะเบียน ชั้น 2 หรือต้องการชำระเงินค่าลงทะเบียน และค่าใช้จ่ายอื่นๆ สามารถติดต่อได้ที่การเงิน ชั้น 2 ซึ่งอาคาร 14 ตั้งอยู่บริเวณระหว่างกลางของอาคารเฉลิมพระเกียรติ 6 รอบ พระชนมพรรษา หรือ อาคาร 12 กับคณะครุศาสตร์' },
    { img: '/images/introduction/fms-kpru-18.webp', title: 'คณะเทคโนโลยีอุตสาหกรรม (อาคาร 18)', detail: 'คณะเทคโนโลยีอุตสาหกรรม หรืออาคาร 18 ตั้งอยู่บริเวณด้านข้างคณะวิทยาศาสตร์และเทคโนโลยี อาคาร 48 หรือทางมาหอประชุมรัตนอาภา' },
    { img: '/images/introduction/fms-kpru-38.webp', title: 'คณะมนุษยศาสตร์และสังคมศาสตร์ (อาคาร 38)' , detail: 'คณะมนุษยศาสตร์และสังคมศาสตร์ หรืออาคาร 38 มุ่งเน้นท้องถิ่น สานศิลป์วัฒนธรรม ซึ่งตั้งอยู่บริเวณทางเข้าหลังมหาวิทยาลัย หรือด้านข้างอาคารทีปังกรรัศมีโชติ' },
    { img: '/images/introduction/fms-kpru-46.webp', title: 'คณะครุศาสตร์ (อาคาร 46)', detail: 'คณะครุศาสตร์ หรืออาคาร 46 เป็นผู้นำในการประยุกต์ศาสตร์พระราชามาใช้ในการผลิตและพัฒนาวิชาชีพครู เพื่อการพัฒนาท้องถิ่นที่มีคุณภาพในระดับสากล ตั้งอยู่บริเวณระหว่างกลางของอาคารทีปังกรรัศมีโชติกับอาคารสำนักงานอธิการบดี (อาคาร 14)' },
    { img: '/images/introduction/fms-kpru-48.webp', title: 'คณะวิทยาศาสตร์และเทคโนโลยี (อาคาร 48)', detail: 'คณะวิทยาศาสตร์และเทคโนโลยี อาคาร 48 ตั้งอยู่บริเวณใกล้เคียงกับคณะเทคโนโลยีอุตสาหกรรม อาคาร 18' },
    { img: '/images/introduction/fms-kpru-nurse.webp', title: 'คณะพยาบาลศาสตร์', detail: 'ตั้งอยู่บริเวณข้างโรงอาหาร ตรงข้ามสำนักวิทยบริการและเทคโนโลยีสารสนเทศ' },
    { img: '/images/introduction/fms-kpru-47.webp', title: 'กองพัฒนานักศึกษา (อาคาร 47)', detail: 'กองพัฒนานักศึกษา หรืออาคาร 47 ตั้งอยู่บริเวณด้านข้างสนามกีฬากลางมหาวิทยาลัย' },
    { img: '/images/introduction/fms-kpru-25.webp', title: 'อาคารศูนย์ภาษาและคอมพิวเตอร์', detail: 'อาคารศูนย์ภาษาและคอมพิวเตอร์ ตั้งอยู่บริเวณด้านหลังโรงอาหารมหาวิทยาลัย' },
    { img: '/images/introduction/fms-kpru-26.webp', title: 'สำนักวิทยบริการและเทคโนโลยีสารสนเทศ (ห้องสมุด)', detail: 'สำนักวิทยบริการและเทคโนโลยีสารสนเทศ  หรืออาคารบรรณราชนครินทร์ เป็นแหล่งสืบค้นข้อมูล เพื่อเพิ่มพูนความรู้ ทั้งจากแหล่งหนังสือที่น่าสนใจ และแหล่งสืบค้นทางอินเตอร์เน็ต ซึ่งจะตั้งอยู่บริเวณด้านข้างโรงอาหารของมหาวิทยาลัย' },
    { img: '/images/introduction/fms-kpru-27.webp', title: 'บริการสื่อโสตทัศน์ สื่ออิเล็กทรอนิกส์', detail: 'บริการสื่อโสตทัศน์ สื่ออิเล็กทรอนิกส์ หรือที่เรียกกันว่า อาคาร AV เป็นสถานที่ที่นักศึกษา คณาจารย์ และบุคลากรใช้สืบค้นข้อมูลทางอินเตอร์เน็ต และติดต่อเรื่องอินเตอร์ภายในมหาวิทยาลัย ตั้งอยู่บริเวณด้านในตัวอาคารสำนักวิทยบริการฯ (ห้องสมุด)' },
    { img: '/images/introduction/fms-kpru-stadium.webp', title: 'สนามกีฬามหาวิทยาลัยราชภัฏกำแพงเพชร', detail: 'สนามกีฬามหาวิทยาลัยราชภัฏกำแพงเพชร ตั้งอยู่บริเวณประตูหลังของมหาวิทยาลัย' },
    { img: '/images/introduction/fms-kpru-hospital.webp', title: 'ห้องพยาบาลมหาวิทยาลัย' , detail: 'ห้องพยาบาลมหาวิทยาลัย ให้คำปรึกษาในด้านงานประกันอุบัติเหตุนักศึกษา และให้บริการพยาบาลภายในมหาวิทยาลัย ซึ่งตั้งอยู่บริเวณชั้น 1 ในตัวอาคารกองพัฒนานักศึกษา หรืออาคาร 47' },
    { img: '/images/introduction/fms-kpru-pond.webp', title: 'บ่อปลาบึก', detail: 'บ่อปลาบึก เป็นสถานที่สำหรับพัผ่อนหย่อนใจของนักศึกษา และอาจารย์ในมหาวิทยาลัย ซึ่งตั้งอยู่บริเวณด้านหน้าอาคารทีปังกรรัศมีโชติ หรือใจกลางมหาวิทยาลัย' },
    { img: '/images/introduction/fms-kpru-budda.webp', title: 'พระพุทธวิธานปัญญาบดี', detail: 'พระพุทธวิธานปัญญาบดี เป็นศูนย์รวมแห่งความรู้ และวิทยาการ สิ่งศักดิ์สิทธิ์ประจำมหาวิทยาลัย ที่นักศึกษา คณาจารย์ และบุคลากรเลื่อมใส ศรัทธา ตั้งอยู่บริเวณส่วนกลางของบ่อปลาบึก' },
    { img: '/images/introduction/fms-kpru-canteen.webp', title: 'โรงอาหารมหาวิทยาลัยราชภัฏกำแพงเพชร', detail: 'โรงอาหารมหาวิทยาลัยราชภัฏกำแพงเพชร ตั้งอยู่บริเวณด้านหลังคณะวิทยาการจัดการ หรืออาคาร 11 ด้านข้างสำนักวิทยบริการและเทคโนโลยีสารสนเทศ หรือห้องสมุดมหาวิทยาลัย' },
    { img: '/images/introduction/fms-kpru-28.webp', title: 'หอประชุมรัตนอาภา' , detail: 'หอประชุมรัตนอาภา ตั้งอยู่บริเวณคณะเทคโนโลยีอุตสาหกรรม (อาคาร 18) และคณะวิทยาศาสตร์และเทคโนโลยี (อาคาร 48)' },
    { img: '/images/introduction/fms-kpru-13.webp', title: 'อาคารทีปังกรรัศมีโชติ', detail: 'อาคารทีปังกรรัศมีโชติ ตั้งอยู่บริเวณประตูหลังของมหาวิทยาลัย ระหว่างกลางคณะมนุษยศาสตร์และสังคมศาสตร์ (อาคาร 38) กับคณะครุศาสตร์ (อาคาร 46) หรือตรงข้ามบ่อปลาบึก' },
    { img: '/images/introduction/fms-kpru-pool.webp', title: 'สระว่ายน้ำมหาวิทยาลัย', detail: 'สระว่ายน้ำมหาวิทยาลัย ตั้งอยู่บริเวณชั้น 1 อาคารพละศึกษา ด้านหลังสนามกีฬามหาวิทยาลัย' },
    { img: '/images/introduction/fms-kpru-Fitness.webp', title: 'ฟิตเนสมหาวิทยาลัย', detail: 'ฟิตเนสมหาวิทยาลัย ตั้งอยู่บริเวณชั้น 2 ของอาคารพละศึกษา ด้านหลังสนามกีฬามหาวิทยาลัย' },
    { img: '/images/introduction/fms-kpru-7.webp', title: 'โรงแรมน้ำเพชร' , detail: 'โรงแรมน้ำเพชร ตั้งอยู่บริเวณด้านหน้ามหาวิทยาลัย หรือตรงข้าม 7-11' },
    { img: '/images/introduction/fms-kpru-male-dormitory.webp', title: 'หอพักชาย', detail: 'หอพักชาย เป็นหอภายในของมหาวิทยาลัย ตั้งอยู่บริเวณด้านหลังอาคารศูนย์ภาษาและคอมพิวเตอร์' },
    { img: '/images/introduction/fms-kpru-female-dormitory.webp', title: 'หอพักหญิง', detail: 'หอพักหญิง เป็นหอภายในของมหาวิทยาลัย ตั้งอยู่บริเวณด้านข้างศูนย์พัฒนาเด็กเล็กมหาวิทยาลัย' },
    //{ img: '/images/introduction/fms-kpru-[...].jpg', title: '', detail: '' },
];
</script>

