<template>
    <!-- HTML Meta title -->

    <Head title="แนะนำบรรยากาศ มหาวิทยาลัย" />

    <Head>
        <!-- HTML Meta Tags -->
        <meta
            name="description"
            content="มหาวิทยาลัยราชภัฏกำแพงเพชร เป็นมหาวิทยาลัยที่เป็นที่พึ่งทางวิชาการของท้องถิ่นให้มีความเข้มแข็งอย่างยั่งยืน สถาปนาเมื่อ ปี 2516 ปัจจุบันประกอบด้วย 5 คณะ"
        />
        <!-- Keywords Meta Tags -->
        <meta
            name="Keywords"
            lang="en"
            content="Covid, Kamphaeng Phet Rajabhat University, Rajabhat, KamphaengPhet, KPRU, KP, Kamphaeng, Thailand, Thai University"
        />
        <meta
            name="Keywords"
            lang="th"
            content="มหาวิทยาลัยราชภัฏกำแพงเพชร, ราชภัฏกำแพงเพชร, มรภ.กพ., วิทยาลัยครูกำแพงเพชร, วิทยาลัยครู, ราชภัฏภาคเหนือ, มหาวิทยาลัยราชภัฏ, มหาวิทยาลัย, สถาบันการศึกษา"
        />
        <!-- Google / Search Engine Tags -->
        <meta
            itemprop="name"
            content="แนะนำบรรยากาศ มหาวิทยาลัย| คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร"
        />
        <meta
            itemprop="description"
            content="คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร เป็นศูนย์กลางในการพัฒนาองค์ความรู้ด้านการบริหารจัดการ โดยการบูรณาการทางวิชาการ วิชาชีพ เพื่อการพัฒนาชุมชนท้องถิ่นของมหาวิทยาลัยราชภัฏภาคเหนือตอนล่าง"
        />
        <meta itemprop="image" content="/storage/fb_og_image.jpg" />

        <!-- Facebook Meta Tags -->
        <meta property="og:url" content="https://fms.kpru.ac.th" />
        <meta property="og:type" content="website" />
        <meta
            property="og:title"
            content="แนะนำบรรยากาศ มหาวิทยาลัย | คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร"
        />
        <meta
            property="og:description"
            content="คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร เป็นศูนย์กลางในการพัฒนาองค์ความรู้ด้านการบริหารจัดการ โดยการบูรณาการทางวิชาการ วิชาชีพ เพื่อการพัฒนาชุมชนท้องถิ่นของมหาวิทยาลัยราชภัฏภาคเหนือตอนล่าง"
        />
        <meta property="og:image" content="/storage/fb_og_image.jpg" />

        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta
            name="twitter:title"
            content="แนะนำบรรยากาศ มหาวิทยาลัย | คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร"
        />
        <meta
            name="twitter:description"
            content="คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร เป็นศูนย์กลางในการพัฒนาองค์ความรู้ด้านการบริหารจัดการ โดยการบูรณาการทางวิชาการ วิชาชีพ เพื่อการพัฒนาชุมชนท้องถิ่นของมหาวิทยาลัยราชภัฏภาคเหนือตอนล่าง"
        />
        <meta name="twitter:image" content="/storage/fb_og_image.jpg" />
    </Head>

    <!-- Breadcrumb -->
    <div class="container pt-4 mx-auto">
        <nav
            class="flex px-5 py-3 text-gray-700 border border-gray-200 rounded-lg bg-gray-50"
            aria-label="Breadcrumb"
        >
            <ol
                class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse"
            >
                <li class="inline-flex items-center">
                    <a
                        :href="route('home')"
                        class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600"
                    >
                        <svg
                            class="w-3 h-3 me-2.5"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor"
                            viewBox="0 0 20 20"
                        >
                            <path
                                d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"
                            />
                        </svg>
                        หน้าแรก
                    </a>
                </li>
                <li>
                    <div class="flex items-center">
                        <svg
                            class="block w-3 h-3 mx-1 text-gray-400 rtl:rotate-180"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 6 10"
                        >
                            <path
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="m1 9 4-4-4-4"
                            />
                        </svg>
                        <a
                            :href="route('introduction')"
                            class="text-sm font-medium text-gray-700 ms-1 hover:text-blue-600 md:ms-2"
                            >แนะนำ</a
                        >
                    </div>
                </li>
                <li>
                    <div class="flex items-center">
                        <svg
                            class="block w-3 h-3 mx-1 text-gray-400 rtl:rotate-180"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 6 10"
                        >
                            <path
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="m1 9 4-4-4-4"
                            />
                        </svg>
                        <a
                            :href="route('university-atmosphere')"
                            class="text-sm font-medium text-gray-700 ms-1 hover:text-blue-600 md:ms-2"
                            >แนะนำบรรยากาศมหาวิทยาลัย</a
                        >
                    </div>
                </li>
            </ol>
        </nav>
    </div>

    <section id="intro">
        <div class="container mx-auto my-10">
            <h1 class="my-8 text-4xl text-center">
                แนะนำบรรยากาศ มหาวิทยาลัยราชภัฏกำแพงเพชร
            </h1>

            <div class="grid justify-center grid-cols-2">
                <div class="flex flex-wrap justify-between w-full gap-2 px-5">
                    <img
                        class="items-center rounded-md h-60"
                        src="/images/introduction/fms-kpru-26.webp"
                        alt="KPRU Service"
                    />
                    <img
                        class="items-center rounded-md h-60"
                        src="/images/introduction/fms-kpru-27.webp"
                        alt="KPRU Service"
                    />
                    <img
                        class="items-center rounded-md h-60"
                        src="/images/introduction/fms-kpru-25.webp"
                        alt="KPRU Service"
                    />
                    <img
                        class="items-center rounded-md h-60"
                        src="/images/introduction/fms-kpru-BookCenter.webp"
                        alt="KPRU Service"
                    />
                </div>
                <div class="w-full p-10 bg-gray-100 rounded-md">
                    <h3 class="text-xl font-bold">แหล่งสืบค้นหาความรู้</h3>
                    <p>
                        เป็นสถานที่ที่นักศึกษาสามารถค้นคว้าหาข้อมูลเพิ่มเติมได้อย่างครบถ้วน
                        ไม่ว่าจะเป็นหนังสือหลากหลายประเภทที่จัดไว้เป็นหมวดหมู่
                        หรือแหล่งข้อมูลออนไลน์ที่เปิดโอกาสให้ค้นคว้าอย่างสะดวกสบาย
                        สำหรับผู้ที่ต้องการเสริมทักษะ พัฒนาความรู้
                        และเพิ่มประสิทธิภาพในการเรียน
                        ห้องสมุดแห่งนี้ยังมีบรรยากาศเงียบสงบ เย็นสบาย
                        เหมาะสำหรับการอ่านหนังสือหรือทำงานวิจัย
                        ที่นี่จึงเป็นพื้นที่แห่งการเรียนรู้ที่ตอบโจทย์สำหรับนักศึกษาที่มองหาความสงบและแรงบันดาลใจในการค้นหาความรู้
                    </p>
                </div>
            </div>

            <div class="grid justify-center grid-cols-2 my-10">
                <div class="w-full p-10 bg-gray-100 rounded-md">
                    <h3 class="text-xl font-bold">แหล่งอาหารและเครื่องดื่ม</h3>
                    <p>
                        เป็นสถานที่ที่นักศึกษา
                        สามารถเลือกซื้ออาหารได้อย่างหลากหลาย
                        ในบริการศูนย์อาหารของมหาวิทยาลัยราชภัฏกำแพงเพชร
                        ไม่ว่าจะเป็นข้าวราดแกง อาหารตามสั่ง ก๋วยเตี๋ยว
                        และเครื่องดื่มอีกมากมาย ให้นักศึกษาได้เลือกซื้อ
                    </p>
                </div>
                <div class="flex justify-between w-full px-5">
                    <img
                        class="items-center rounded-md h-60"
                        src="/images/introduction/fms-FoodCenter-2.webp"
                        alt="Food Service"
                    />
                    <img
                        class="items-center rounded-md h-60"
                        src="/images/introduction/fms-FoodCenter-1.webp"
                        alt="Food Service"
                    />
                </div>
            </div>
            <div class="grid justify-center grid-cols-2 my-10">
                <div class="flex flex-wrap justify-between w-full gap-2 px-5">
                    <img
                        class="items-center rounded-md h-60"
                        src="/images/introduction/fms-kpru-stadium.webp"
                        alt="Stadium"
                    />
                    <img
                        class="items-center rounded-md h-60"
                        src="/images/introduction/fms-kpru-Fitness.webp"
                        alt="Fitness"
                    />
                    <img
                        class="items-center rounded-md h-60"
                        src="/images/introduction/fms-kpru-pond.webp"
                        alt="Pond"
                    />
                    <img
                        class="items-center rounded-md h-60"
                        src="/images/introduction/fms-kpru-pool.webp"
                        alt="Pool"
                    />
                </div>
                <div class="w-full p-10 bg-gray-100 rounded-md">
                    <h3 class="text-xl font-bold">แหล่งสุขภาพ</h3>
                    <p>
                        เป็นอีกหนึ่งสถานที่ที่นักศึกษานิยมมารวมตัวกันในช่วง เช้า
                        - เย็น เพื่อออกกำลังกาย พูดคุย รับประทานอาหาร
                        หรือเล่นกีฬาร่วมกัน
                        บรรยากาศที่นี่ช่วยให้นักศึกษารู้สึกผ่อนคลายพร้อมเสริมสร้างสุขภาพที่ดี
                        ไม่ว่าจะเป็นการวิ่งบนสนามกีฬามาตรฐาน
                        ฝึกความแข็งแรงที่ห้องฟิตเนสที่ครบครันด้วยอุปกรณ์
                        หรือเดินเล่นเบา ๆ รอบสระปลาบึก สูดอากาศบริสุทธิ์
                        ชื่นชมธรรมชาติ
                        และพักผ่อนบนเก้าอี้ที่จัดวางไว้อย่างเหมาะสม
                        นอกจากนี้ยังมีสระว่ายน้ำสำหรับออกกำลังกายและคลายร้อน
                        ทำให้ที่นี่เป็นพื้นที่แห่งการดูแลสุขภาพและเติมเต็มความสุขทั้งร่างกายและจิตใจ
                        เหมาะแก่การพบปะสังสรรค์ในเวลาว่างของทุกคน
                    </p>
                </div>
            </div>
            <div class="grid justify-center grid-cols-2 my-10">
                <div class="w-full p-10 bg-gray-100 rounded-md">
                    <h3 class="text-xl font-bold">แหล่งที่พักอาศัย</h3>
                    <p>
                        มหาวิทยาลัยราชภัฏกำแพงเพชร
                        มีบริการหอพักภายในให้กับนักศึกษาชาย และหญิง โดย
                        <a
                            href="https://std.kpru.ac.th/dormitory/index.php"
                            target="_blank"
                            class="text-primary-600 hover:text-primary-300"
                            >กองพัฒนานักศึกษา</a
                        >
                        และมีบริการห้องพักรายวันและรายเดือน โดย
                        <a
                            href="https://asl.kpru.ac.th/sakthonghome/"
                            target="_blank"
                            class="text-primary-600 hover:text-primary-300"
                            >สำนักบริการวิชาการและจัดการรายได้</a
                        >
                        เพื่อรองรับผู้เข้าพักหลากหลายกลุ่ม ไม่ว่าจะเป็นนักศึกษา
                        ผู้ปกครอง หรือผู้มาเยี่ยมเยือน
                        ให้คุณได้พักผ่อนในบรรยากาศที่อบอุ่น ปลอดภัย
                        และใกล้ชิดมหาวิทยาลัย
                    </p>
                </div>
                <div class="flex flex-wrap justify-between w-full gap-2 px-5">
                    <img
                        class="items-center rounded-md h-60"
                        src="/images/introduction/fms-kpru-female-dormitory.webp"
                        alt="Dormitory"
                    />
                    <img
                        class="items-center rounded-md h-60"
                        src="/images/introduction/fms-kpru-male-dormitory.webp"
                        alt="Dormitory"
                    />
                </div>
            </div>
            <div class="flex flex-wrap justify-between w-full gap-2 my-2">
                <img
                    class="items-center rounded-md h-60"
                    src="/images/introduction/KPRU-Namphet.webp"
                    alt="KPRU Namphet"
                />
                <img
                    class="items-center rounded-md h-60"
                    src="/images/introduction/KPRU-HOME-hotel.webp"
                    alt=" KPRU HOME hotel"
                />
                <img
                    class="items-center rounded-md h-60"
                    src="/images/introduction/fms-kpru-dormitory.webp"
                    alt="Dormitory"
                />
                <img
                    class="items-center rounded-md h-60"
                    src="/images/introduction/fms-kpru-dormitory-2.webp"
                    alt="Dormitory"
                />
            </div>
        </div>
    </section>
</template>

<script setup>
import { Head } from "@inertiajs/vue3";
import SiteLayout from "../../Layouts/SiteLayout.vue";
defineOptions({
    layout: SiteLayout,
});
</script>
