<template>
    <div>
        <section id="FullCarousel" class="z-10 bg-gray-100">
            <div class="mx-auto 2xl:container">
                <div id="controls-carousel" class="relative" data-carousel="slide">
                    <!-- sm:max-w-full md:max-w-3xl lg:max-w-4xl xl:max-w-5xl 2xl:max-w-6xl h-[500px] -->
                    <!-- Carousel wrapper -->
                    <div
                        class="relative w-[340px] h-[150px] sm:w-[610px] sm:h-[250px] md:w-[740px] md:h-[300px] lg:w-[920px] lg:h-[400px] xl:w-[1170px] xl:h-[500px] overflow-hidden mx-auto">
                        <div v-for="c in carousels" :key="c.id" class="hidden duration-700 ease-in-out"
                            data-carousel-item>
                            <a v-bind:href="c.link" target="_blank">
                                <img class="block object-cover w-full h-full" v-bind:src="c.media_details.sizes.full.source_url
                                    " v-bind:alt="c.title.rendered" />
                            </a>
                        </div>
                    </div>
                    <!-- Slider indicators -->
                    <div class="absolute z-30 flex space-x-3 -translate-x-1/2 bottom-5 left-1/2 rtl:space-x-reverse">
                        <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1"
                            v-bind:data-carousel-slide-to="carousels[0]"></button>
                        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2"
                            v-bind:data-carousel-slide-to="carousels[1]"></button>
                        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3"
                            v-bind:data-carousel-slide-to="carousels[2]"></button>
                        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 4"
                            v-bind:data-carousel-slide-to="carousels[3]"></button>
                        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 5"
                            v-bind:data-carousel-slide-to="carousels[4]"></button>
                        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 6"
                            v-bind:data-carousel-slide-to="carousels[5]"></button>
                        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 7"
                            v-bind:data-carousel-slide-to="carousels[6]"></button>
                        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 8"
                            v-bind:data-carousel-slide-to="carousels[7]"></button>
                        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 9"
                            v-bind:data-carousel-slide-to="carousels[8]"></button>
                        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 10"
                            v-bind:data-carousel-slide-to="carousels[9]"></button>
                    </div>
                    <!-- Slider controls -->
                    <button type="button"
                        class="absolute top-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer start-0 group focus:outline-none"
                        data-carousel-prev>
                        <span
                            class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-primary-200 group-hover:bg-primary-400 group-focus:ring-4 group-focus:ring-primary-600 group-focus:outline-none">
                            <svg class="w-4 h-4 text-primary-600 rtl:rotate-180" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" d="M5 1 1 5l4 4" />
                            </svg>
                            <span class="sr-only">Previous</span>
                        </span>
                    </button>
                    <button type="button"
                        class="absolute top-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer end-0 group focus:outline-none"
                        data-carousel-next>
                        <span
                            class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-primary-200 group-hover:bg-primary-400 group-focus:ring-4 group-focus:ring-primary-600 group-focus:outline-none">
                            <svg class="w-4 h-4 text-primary-600 rtl:rotate-180" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" d="m1 9 4-4-4-4" />
                            </svg>
                            <span class="sr-only">Next</span>
                        </span>
                    </button>
                </div>
            </div>
        </section>
    </div>
</template>

