<template>
    <section id="News&Dean" class="z-20">
        <div class="container py-6 mx-auto">
            <div class="grid grid-cols-1 gap-0 md:gap-8 md:grid-cols-6">
                <!-- News -->
                <div class="order-last col-span-3 md:order-first">
                    <p class="inline-flex mb-8 ml-5 text-4xl text-primary-500">
                        <svg class="w-10 h-10 mr-4 text-primary-800" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                            viewBox="0 0 24 24">
                            <path fill-rule="evenodd"
                                d="M5 3a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h11.5c.07 0 .14-.007.207-.021.095.014.193.021.293.021h2a2 2 0 0 0 2-2V7a1 1 0 0 0-1-1h-1a1 1 0 1 0 0 2v11h-2V5a2 2 0 0 0-2-2H5Zm7 4a1 1 0 0 1 1-1h.5a1 1 0 1 1 0 2H13a1 1 0 0 1-1-1Zm0 3a1 1 0 0 1 1-1h.5a1 1 0 1 1 0 2H13a1 1 0 0 1-1-1Zm-6 4a1 1 0 0 1 1-1h6a1 1 0 1 1 0 2H7a1 1 0 0 1-1-1Zm0 3a1 1 0 0 1 1-1h6a1 1 0 1 1 0 2H7a1 1 0 0 1-1-1ZM7 6a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1H7Zm1 3V8h1v1H8Z"
                                clip-rule="evenodd" />
                        </svg>
                        ข่าวประชาสัมพันธ์
                    </p>
                    <ul class="max-w-full px-5">
                        <li v-for="n in news" :key="n.id" class="px-2 py-4 hover:bg-primary-100">
                            <a v-bind:href="n.link" class="" target="_blank">
                                <div class="flex items-center space-x-4 rtl:space-x-reverse">

                                    <div class="flex-shrink-0">
                                        <img class="w-10 h-10"
                                            src="https://fms.kpru.ac.th/pr-fms/wp-content/uploads/2024/08/icon_news_112-120x120.jpg">

                                    </div>
                                    <div class="flex-1 min-w-0">
                                        <p v-html="n.title.rendered" class="font-medium text-gray-900 truncate">

                                        </p>
                                        <p v-html="n.formattedDate" class="text-gray-500 truncate">
                                        </p>
                                    </div>
                                    <div class="inline-flex items-center font-semibold text-gray-900 ">
                                        <svg class="w-6 h-6 mr-2 text-primary-800" aria-hidden="true"
                                            xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            fill="currentColor" viewBox="0 0 24 24">
                                            <path fill-rule="evenodd"
                                                d="M9 2.221V7H4.221a2 2 0 0 1 .365-.5L8.5 2.586A2 2 0 0 1 9 2.22ZM11 2v5a2 2 0 0 1-2 2H4a2 2 0 0 0-2 2v7a2 2 0 0 0 2 2 2 2 0 0 0 2 2h12a2 2 0 0 0 2-2 2 2 0 0 0 2-2v-7a2 2 0 0 0-2-2V4a2 2 0 0 0-2-2h-7Zm-6 9a1 1 0 0 0-1 1v5a1 1 0 1 0 2 0v-1h.5a2.5 2.5 0 0 0 0-5H5Zm1.5 3H6v-1h.5a.5.5 0 0 1 0 1Zm4.5-3a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h1.376A2.626 2.626 0 0 0 15 15.375v-1.75A2.626 2.626 0 0 0 12.375 11H11Zm1 5v-3h.375a.626.626 0 0 1 .625.626v1.748a.625.625 0 0 1-.626.626H12Zm5-5a1 1 0 0 0-1 1v5a1 1 0 1 0 2 0v-1h1a1 1 0 1 0 0-2h-1v-1h1a1 1 0 1 0 0-2h-2Z"
                                                clip-rule="evenodd" />
                                        </svg>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <div class="p-4 text-right"><a href="https://fms.kpru.ac.th/pr-fms/fms-news/"
                            class="inline-flex items-center justify-center py-3 font-medium text-center text-white border rounded-md border-primary-500 px-7 bg-primary-500 hover:bg-primary-700 hover:bg-primary-800k">
                            ข่าวประชาสัมพันธ์ทั้งหมด
                        </a></div>
                </div>
                <!-- Dean -->
                <div class="order-first col-span-1 md:order-last md:w-full xl:col-span-2">
                    <div
                        class="grid justify-start grid-cols-1 pt-4 mx-auto border rounded-lg md:mt-8 bg-pink-50 md:grid-cols-">
                        <div class="w-11/12 mx-auto">
                            <img class="object-cover rounded-tl-lg rounded-bl-lg"
                                src="/storage/images-personals/Deans/ผศ.การันต์-เจริญสุวรรณ.jpg" alt="FMS Dean" />
                        </div>
                        <div class="flex flex-col justify-between p-0 leading-normal md:p-4">
                            <div class="my-4">
                                <p class="text-xl font-bold tracking-tight text-center text-gray-900">
                                    ผศ.การันต์ เจริญสุวรรณ
                                </p>
                                <p class="font-bold text-center text-gray-700">
                                    คณบดีคณะวิทยาการจัดการ
                                </p>
                            </div>
                            <button disabled
                                class="flex focus:outline-none text-center cursor-not-allowed text-white bg-pink-700 hover:bg-pink-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg px-5 py-2.5 my-2 mx-4">
                                <svg class="w-6 h-6 mx-4 text-white" aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                    viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M11 16v-5.5A3.5 3.5 0 0 0 7.5 7m3.5 9H4v-5.5A3.5 3.5 0 0 1 7.5 7m3.5 9v4M7.5 7H14m0 0V4h2.5M14 7v3m-3.5 6H20v-6a3 3 0 0 0-3-3m-2 9v4m-8-6.5h1" />
                                </svg>

                                สายตรงคณบดี
                            </button>
                            <button disabled
                                class="flex focus:outline-none text-white text-center cursor-not-allowed bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg px-5 py-2.5 my-2 mx-4">
                                <svg class="w-6 h-6 mx-4 text-white" aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                    viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-width="2"
                                        d="M4.5 17H4a1 1 0 0 1-1-1 3 3 0 0 1 3-3h1m0-3.05A2.5 2.5 0 1 1 9 5.5M19.5 17h.5a1 1 0 0 0 1-1 3 3 0 0 0-3-3h-1m0-3.05a2.5 2.5 0 1 0-2-4.45m.5 13.5h-7a1 1 0 0 1-1-1 3 3 0 0 1 3-3h3a3 3 0 0 1 3 3 1 1 0 0 1-1 1Zm-1-9.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0Z" />
                                </svg>

                                ทำเนียบคณบดี
                            </button>
                            <!-- question-and-answer -->
                            <button disabled
                                class="flex focus:outline-none text-white text-center bg-red-700 cursor-not-allowed hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg px-5 py-2.5 mt-2 mb-4 mx-4">
                                <svg class="w-6 h-6 mx-4 text-white" aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                    viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M9.529 9.988a2.502 2.502 0 1 1 5 .191A2.441 2.441 0 0 1 12 12.582V14m-.01 3.008H12M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                </svg>

                                Q&A
                            </button>
                        </div>
                    </div>

                    <div id="ITA-Carousel" class="relative w-full mt-5" data-carousel="slide">
                        <!-- Carousel wrapper -->
                        <div class="relative h-56 overflow-hidden">
                            <!-- Item 1 -->
                            <div class="hidden duration-1000 ease-in-out" data-carousel-item>
                                <img src="images/ITA-1.jpg"
                                    class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
                                    alt="ITA KPRU">
                            </div>
                            <!-- Item 2 -->
                            <div class="hidden duration-1000 ease-in-out" data-carousel-item>
                                <img src="images/ITA-2.jpg"
                                    class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
                                    alt="ITA KPRU">
                            </div>
                            <!-- Item 3 -->
                            <div class="hidden duration-1000 ease-in-out" data-carousel-item>
                                <img src="images/ITA-3.jpg"
                                    class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
                                    alt="ITA KPRU">
                            </div>
                            <!-- Item 4 -->
                            <div class="hidden duration-1000 ease-in-out" data-carousel-item>
                                <img src="images/ITA-4.jpg"
                                    class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
                                    alt="ITA KPRU">
                            </div>

                        </div>
                        <!-- Slider indicators -->
                        <div
                            class="absolute z-30 flex space-x-3 -translate-x-1/2 bottom-8 left-1/2 rtl:space-x-reverse">
                            <button type="button" class="w-3 h-3 rounded-full" aria-current="true"
                                aria-label="ITA KPRU 1" data-carousel-slide-to="0"></button>
                            <button type="button" class="w-3 h-3 rounded-full" aria-current="false"
                                aria-label="ITA KPRU 2" data-carousel-slide-to="1"></button>
                            <button type="button" class="w-3 h-3 rounded-full" aria-current="false"
                                aria-label="ITA KPRU 3" data-carousel-slide-to="2"></button>
                            <button type="button" class="w-3 h-3 rounded-full" aria-current="false"
                                aria-label="ITA KPRU 4" data-carousel-slide-to="3"></button>
                        </div>
                        <!-- Slider controls -->
                        <button type="button"
                            class="absolute top-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer start-0 group focus:outline-none"
                            data-carousel-prev>
                            <span
                                class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 group-hover:bg-white/50 group-focus:ring-4 group-focus:ring-white group-focus:outline-none">
                                <svg class="w-4 h-4 text-primary-500 rtl:rotate-180" aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2" d="M5 1 1 5l4 4" />
                                </svg>
                                <span class="sr-only">Previous</span>
                            </span>
                        </button>
                        <button type="button"
                            class="absolute top-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer end-0 group focus:outline-none"
                            data-carousel-next>
                            <span
                                class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 group-hover:bg-white/50 group-focus:ring-4 group-focus:ring-white group-focus:outline-none">
                                <svg class="w-4 h-4 text-primary-500 rtl:rotate-180" aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2" d="m1 9 4-4-4-4" />
                                </svg>
                                <span class="sr-only">Next</span>
                            </span>
                        </button>
                    </div>

                    <div id="Green-Offfice-Carousel" class="relative w-full mt-5" data-carousel="slide">
                        <!-- Carousel wrapper -->
                        <div class="relative overflow-hidden h-80">
                            <!-- Item 1 -->
                            <div class="hidden duration-700 ease-in-out" data-carousel-item>
                                <img src="images/green-office-1.jpg"
                                    class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
                                    alt="no form">
                            </div>
                            <!-- Item 2 -->
                            <div class="hidden duration-700 ease-in-out" data-carousel-item>
                                <img src="images/green-office-2.jpg"
                                    class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
                                    alt="banner make merit noplastic">
                            </div>
                            <!-- Item 3 -->
                            <div class="hidden duration-700 ease-in-out" data-carousel-item>
                                <img src="images/green-office-3.jpg"
                                    class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
                                    alt="cloth-bag">
                            </div>
                        </div>
                        <!-- Slider indicators -->
                        <div
                            class="absolute z-30 flex space-x-3 -translate-x-1/2 bottom-14 left-1/2 rtl:space-x-reverse">
                            <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="no-form"
                                data-carousel-slide-to="0"></button>
                            <button type="button" class="w-3 h-3 rounded-full" aria-current="false"
                                aria-label="banner-make-merit-noplastic" data-carousel-slide-to="1"></button>
                            <button type="button" class="w-3 h-3 rounded-full" aria-current="false"
                                aria-label="cloth-bag" data-carousel-slide-to="2"></button>
                        </div>
                        <!-- Slider controls -->
                        <button type="button"
                            class="absolute top-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer start-0 group focus:outline-none"
                            data-carousel-prev>
                            <span
                                class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 group-hover:bg-white/50 group-focus:ring-4 group-focus:ring-white group-focus:outline-none">
                                <svg class="w-4 h-4 text-primary-500 rtl:rotate-180" aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2" d="M5 1 1 5l4 4" />
                                </svg>
                                <span class="sr-only">Previous</span>
                            </span>
                        </button>
                        <button type="button"
                            class="absolute top-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer end-0 group focus:outline-none"
                            data-carousel-next>
                            <span
                                class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 group-hover:bg-white/50 group-focus:ring-4 group-focus:ring-white group-focus:outline-none">
                                <svg class="w-4 h-4 text-primary-500 rtl:rotate-180" aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2" d="m1 9 4-4-4-4" />
                                </svg>
                                <span class="sr-only">Next</span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
