<template>
    <a :href="route('home')" class="flex">
        <img src="/images/fms-logo.webp" class="pr-2 scale-75 md:scale-90 lg:scale-95 xl:scale-100" alt="FMS-Logo">
        <div>
            <strong class="hidden text-xl font-bold text-pink-500 lg:block">คณะวิทยาการจัดการ</strong>
            <span class="hidden text-lg lg:block">มหาวิทยาลัยราชภัฏกำแพงเพชร</span>
        </div>
    </a>
</template>
