<script setup>
import ApplicationLogonotext from "@/Components/ApplicationLogonotext.vue";
</script>
<template>
    <footer>
        <!-- Footer Menu -->
        <section id="Footer-Menu" class="bg-footer-texture bg-primary-200">
            <div class="container mx-auto">
                <div
                    class="flex-wrap justify-between py-8 mx-auto space-y-2 text-center lg:text-left lg:flex"
                >
                    <div class="flex flex-wrap justify-center mb-4 sm:mb-0">
                        <ApplicationLogonotext class="w-12 h-12" />
                        <div class="px-5">
                            ตึก 11 เลขที่ 69 หมู่ 1 ต.นครชุม อ.เมือง <br />
                            จ.กำแพงเพชร 62000
                            <span
                                class="flex justify-center mt-2 lg:justify-start"
                            >
                                <svg
                                    class="w-6 h-6 mr-2"
                                    aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="24"
                                    height="24"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                >
                                    <path
                                        stroke="currentColor"
                                        stroke-linecap="round"
                                        stroke-width="2"
                                        d="m3.5 5.5 7.893 6.036a1 1 0 0 0 1.214 0L20.5 5.5M4 19h16a1 1 0 0 0 1-1V6a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1Z"
                                    />
                                </svg>
                                <a
                                    href="mailto:fms-info@kpru.ac.th"
                                    target="_blank"
                                    class="text-gray-800 hover:font-bold"
                                    >fms-info@kpru.ac.th</a
                                >
                            </span>
                            <span
                                class="flex justify-center mt-2 lg:justify-start"
                            >
                                <svg
                                    class="w-6 h-6 mr-2"
                                    aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="24"
                                    height="24"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                >
                                    <path
                                        stroke="currentColor"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M18.427 14.768 17.2 13.542a1.733 1.733 0 0 0-2.45 0l-.613.613a1.732 1.732 0 0 1-2.45 0l-1.838-1.84a1.735 1.735 0 0 1 0-2.452l.612-.613a1.735 1.735 0 0 0 0-2.452L9.237 5.572a1.6 1.6 0 0 0-2.45 0c-3.223 3.2-1.702 6.896 1.519 10.117 3.22 3.221 6.914 4.745 10.12 1.535a1.601 1.601 0 0 0 0-2.456Z"
                                    />
                                </svg>
                                <a
                                    href="tel:055706511"
                                    target="_blank"
                                    class="text-gray-800 hover:font-bold"
                                    >055-706-511</a
                                >
                            </span>
                            <ul class="flex justify-start mt-4 space-x-4">
                                <li>
                                    <a
                                        href="https://www.facebook.com/fmskpru"
                                        class="text-[#39569c] hover:text-gray-900"
                                        target="_blank"
                                        ref="nofollow"
                                    >
                                        <svg
                                            class="w-8 h-8"
                                            fill="currentColor"
                                            viewBox="0 0 24 24"
                                            aria-hidden="true"
                                        >
                                            <path
                                                fill-rule="evenodd"
                                                d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z"
                                                clip-rule="evenodd"
                                            />
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a
                                        href="https://www.instagram.com/fms.kpru/"
                                        class="text-[#d62976] hover:text-gray-900"
                                    >
                                        <svg
                                            class="w-8 h-8"
                                            aria-hidden="true"
                                            xmlns="http://www.w3.org/2000/svg"
                                            fill="none"
                                            viewBox="0 0 24 24"
                                        >
                                            <path
                                                fill="currentColor"
                                                fill-rule="evenodd"
                                                d="M3 8a5 5 0 0 1 5-5h8a5 5 0 0 1 5 5v8a5 5 0 0 1-5 5H8a5 5 0 0 1-5-5V8Zm5-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V8a3 3 0 0 0-3-3H8Zm7.597 2.214a1 1 0 0 1 1-1h.01a1 1 0 1 1 0 2h-.01a1 1 0 0 1-1-1ZM12 9a3 3 0 1 0 0 6 3 3 0 0 0 0-6Zm-5 3a5 5 0 1 1 10 0 5 5 0 0 1-10 0Z"
                                                clip-rule="evenodd"
                                            />
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a
                                        href="https://www.tiktok.com/@fms_kpru"
                                        class="text-gray-800 hover:text-gray-900"
                                    >
                                        <img
                                            src="/images/icons/tiktok.svg"
                                            class="w-8 h-8"
                                        />
                                    </a>
                                </li>
                                <li>
                                    <a
                                        href="https://www.youtube.com/@fmskpru324"
                                        class="text-[#c4302b] hover:text-gray-900"
                                    >
                                        <svg
                                            class="w-8 h-8"
                                            aria-hidden="true"
                                            xmlns="http://www.w3.org/2000/svg"
                                            fill="currentColor"
                                            viewBox="0 0 24 24"
                                        >
                                            <path
                                                fill-rule="evenodd"
                                                d="M21.7 8.037a4.26 4.26 0 0 0-.789-1.964 2.84 2.84 0 0 0-1.984-.839c-2.767-.2-6.926-.2-6.926-.2s-4.157 0-6.928.2a2.836 2.836 0 0 0-1.983.839 4.225 4.225 0 0 0-.79 1.965 30.146 30.146 0 0 0-.2 3.206v1.5a30.12 30.12 0 0 0 .2 3.206c.094.712.364 1.39.784 1.972.604.536 1.38.837 2.187.848 1.583.151 6.731.2 6.731.2s4.161 0 6.928-.2a2.844 2.844 0 0 0 1.985-.84 4.27 4.27 0 0 0 .787-1.965 30.12 30.12 0 0 0 .2-3.206v-1.516a30.672 30.672 0 0 0-.202-3.206Zm-11.692 6.554v-5.62l5.4 2.819-5.4 2.801Z"
                                                clip-rule="evenodd"
                                            />
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="pb-4 sm:pb-0">
                        <h2 class="mb-2 text-xl font-semibold">
                            ข้อมูลทรัพยากรคณะ
                        </h2>
                        <ul class="text-gray-800 font-sm">
                            <li class="mb-2">
                                <a href="#" class="hover:font-bold"
                                    >ที่ตั้ง และ สถานที่</a
                                >
                            </li>
                            <li class="mb-2">
                                <a
                                    :href="route('personnel')"
                                    class="hover:font-bold"
                                    >บุคลากร</a
                                >
                            </li>
                            <li class="mb-2">
                                <a href="#" class="hover:font-bold">หลักสูตร</a>
                            </li>
                            <li class="mb-2">
                                <a href="#" class="hover:font-bold">นักศึกษา</a>
                            </li>
                            <li class="mb-2">
                                <a href="#" class="hover:font-bold"
                                    >สิ่งสนับสนุนการเรียนการสอน</a
                                >
                            </li>
                            <li>
                                <a href="#" class="hover:font-bold"
                                    >บรรยากาศในมหาวิทยาลัย</a
                                >
                            </li>
                        </ul>
                    </div>
                    <div class="pb-4 sm:pb-0">
                        <h2 class="mb-3 text-xl font-semibold">
                            เว็บไซต์สาขาวิชา
                        </h2>
                        <ul class="my-2 text-gray-800 font-sm">
                            <li class="mb-1">
                                <a
                                    :href="route('accounting')"
                                    class="hover:font-bold"
                                    >สาขาวิชาการบัญชี</a
                                >
                            </li>
                            <li class="mb-1 text-gray-800">สาขาบริหารธุรกิจ</li>
                            <li class="pl-2 mb-1">
                                <a
                                    :href="route('business-management-major')"
                                    class="hover:font-bold"
                                    >- วิชาเอกการจัดการธุรกิจ</a
                                >
                            </li>
                            <li class="pl-2 mb-1">
                                <a
                                    :href="route('marketing-major')"
                                    class="hover:font-bold"
                                    >- วิชาเอกการตลาด</a
                                >
                            </li>
                            <li class="pl-2 mb-1">
                                <a
                                    :href="route('finance-and-banking-major')"
                                    class="hover:font-bold"
                                    >- วิชาเอกการเงินและการธนาคาร</a
                                >
                            </li>
                            <li class="pl-2 mb-1">
                                <a
                                    :href="
                                        route(
                                            'digital-business-technology-major'
                                        )
                                    "
                                    class="hover:font-bold"
                                    >- วิชาเอกเทคโนโลยีธุรกิจดิจิทัล</a
                                >
                            </li>
                            <li class="pl-2 mb-1">
                                <a
                                    :href="route('entrepreneurship-major')"
                                    class="hover:font-bold"
                                    >- วิชาเอกการเป็นผู้ประกอบการ</a
                                >
                            </li>
                            <li class="mb-1">
                                <a
                                    :href="route('tourism-industry')"
                                    class="hover:font-bold"
                                    >สาขาวิชาอุตสาหกรรมการท่องเที่ยว</a
                                >
                            </li>
                            <li class="mb-1">
                                <a
                                    :href="route('communication-arts')"
                                    class="hover:font-bold"
                                    >สาขาวิชานิเทศศาสตร์</a
                                >
                            </li>
                            <li class="mb-1">
                                <a :href="route('mba')" class="hover:font-bold"
                                    >สาขาวิชาการจัดการธุรกิจสมัยใหม่ (ป.โท)</a
                                >
                            </li>
                        </ul>
                    </div>
                    <div class="pb-4 sm:pb-0">
                        <h2 class="mb-3 text-xl font-semibold">
                            หน่วยงานภายในคณะ
                        </h2>

                        <button
                            id="btnDropdownFooter0"
                            data-dropdown-toggle="dropdown0"
                            class="text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:outline-none justify-center w-full focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 inline-flex items-center"
                            type="button"
                        >
                            ฝ่ายงาน / หน่วยงานย่อยคณะ<svg
                                class="w-2.5 h-2.5 ms-3"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 10 6"
                            >
                                <path
                                    stroke="currentColor"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="m1 1 4 4 4-4"
                                />
                            </svg>
                        </button>
                        <!-- Dropdown menu -->
                        <div
                            id="dropdown0"
                            class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-fit"
                        >
                            <ul
                                class="p-2 text-sm text-gray-700"
                                aria-labelledby="btnDropdownFooter0"
                            >
                                <li class="my-1">
                                    <a
                                        href="http://fms2.kpru.ac.th/student-affairs-page"
                                        class="hover:font-bold"
                                        target="_blank"
                                        >ฝ่ายกิจการนักศึกษา</a
                                    >
                                </li>
                                <li class="my-1">
                                    <a
                                        href="https://fms2.kpru.ac.th/knowledge-management/"
                                        class="hover:font-bold"
                                        target="_blank"
                                        >ฝ่ายงานการจัดการความรู้</a
                                    >
                                </li>
                                <li class="my-1">
                                    <a
                                        href="https://fms2.kpru.ac.th/academic-services/"
                                        class="hover:font-bold"
                                        target="_blank"
                                        >ฝ่ายงานบริการวิชาการ</a
                                    >
                                </li>
                                <li class="my-1">
                                    <a
                                        href="https://fms2.kpru.ac.th/plan-develop/"
                                        class="hover:font-bold"
                                        target="_blank"
                                        >ฝ่ายงานแผนและพัฒนา</a
                                    >
                                </li>
                                <li class="my-1">
                                    <a
                                        href="https://fms2.kpru.ac.th/research-innovation/"
                                        class="hover:font-bold"
                                        target="_blank"
                                        >ฝ่ายงานวิจัยและนวัตกรรม</a
                                    >
                                </li>
                                <li class="my-1">
                                    <a
                                        href="https://fms2.kpru.ac.th/academic-work/"
                                        class="hover:font-bold"
                                        target="_blank"
                                        >ฝ่ายงานวิชาการ</a
                                    >
                                </li>
                                <li class="my-1">
                                    <a
                                        href="http://fms2.kpru.ac.th/apprentice-services-page"
                                        class="hover:font-bold"
                                        target="_blank"
                                        >ศูนย์ฝึกประสบการณ์วิชาชีพ/สหกิจศึกษา</a
                                    >
                                </li>
                                <li class="my-1">
                                    <a
                                        :href="
                                            route('human-resource-development')
                                        "
                                        class="hover:font-bold"
                                        >ศูนย์พัฒนาศักยภาพทรัพยากรมนุษย์</a
                                    >
                                </li>
                                <li class="my-1">
                                    <a
                                        href="https://fms2.kpru.ac.th/alumni-page/"
                                        class="hover:font-bold"
                                        target="_blank"
                                        >ศิษย์เก่า / ชมรมศิษย์เก่า</a
                                    >
                                </li>
                            </ul>
                        </div>
                        <ul class="text-gray-600 font-sm"></ul>
                        <h2 class="my-4 text-xl font-semibold">
                            หน่วยงานภายในมหาวิทยาลัย
                        </h2>
                        <div id="Faculty&Unit" class="my-2">
                            <button
                                id="btnDropdownFooter1"
                                data-dropdown-toggle="dropdown1"
                                class="text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:outline-none justify-center w-full focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 inline-flex items-center"
                                type="button"
                            >
                                คณะ / หน่วยงาน<svg
                                    class="w-2.5 h-2.5 ms-3"
                                    aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="none"
                                    viewBox="0 0 10 6"
                                >
                                    <path
                                        stroke="currentColor"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        d="m1 1 4 4 4-4"
                                    />
                                </svg>
                            </button>
                            <!-- Dropdown menu -->
                            <div
                                id="dropdown1"
                                class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-fit"
                            >
                                <ul
                                    class="p-2 text-sm text-gray-700"
                                    aria-labelledby="btnDropdownFooter1"
                                >
                                    <li class="my-1">
                                        <a
                                            target="_blank"
                                            href="https://edu.kpru.ac.th"
                                            >คณะครุศาสตร์</a
                                        >
                                    </li>
                                    <li class="my-1">
                                        <a
                                            target="_blank"
                                            href="https://huso.kpru.ac.th"
                                            >คณะมนุษยศาสตร์และสังคมศาสตร์</a
                                        >
                                    </li>
                                    <li class="my-1">
                                        <a
                                            target="_blank"
                                            href="https://techno.kpru.ac.th"
                                            >คณะเทคโนโลยีอุตสาหกรรม</a
                                        >
                                    </li>
                                    <li class="my-1">
                                        <a
                                            target="_blank"
                                            href="https://scitech.kpru.ac.th"
                                            >คณะวิทยาศาสตร์และเทคโนโลยี</a
                                        >
                                    </li>
                                    <li class="my-1">
                                        <a
                                            target="_blank"
                                            href="https://fms.kpru.ac.th"
                                            >คณะวิทยาการจัดการ</a
                                        >
                                    </li>
                                    <li class="my-1">
                                        <a
                                            target="_blank"
                                            href="https://nurse.kpru.ac.th"
                                            >คณะพยาบาลศาสตร์</a
                                        >
                                    </li>
                                    <li class="my-1">
                                        <a
                                            target="_blank"
                                            href="https://maesot.kpru.ac.th"
                                            >มรภ.กำแพงเพชร แม่สอด</a
                                        >
                                    </li>
                                    <li class="my-1">
                                        <a
                                            target="_blank"
                                            href="https://graduates.kpru.ac.th"
                                            >บัณฑิตวิทยาลัย</a
                                        >
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div id="Office&Institute" class="my-2">
                            <button
                                id="btnDropdownFooter2"
                                data-dropdown-toggle="dropdown2"
                                class="text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 justify-center w-full inline-flex items-center"
                                type="button"
                            >
                                สำนัก / สถาบัน<svg
                                    class="w-2.5 h-2.5 ms-3"
                                    aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="none"
                                    viewBox="0 0 10 6"
                                >
                                    <path
                                        stroke="currentColor"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        d="m1 1 4 4 4-4"
                                    />
                                </svg>
                            </button>
                            <!-- Dropdown menu -->
                            <div
                                id="dropdown2"
                                class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-fit"
                            >
                                <ul
                                    class="p-2 text-sm text-gray-700"
                                    aria-labelledby="btnDropdownFooter2"
                                >
                                    <li class="my-1">
                                        <a
                                            target="_blank"
                                            href="https://ga.kpru.ac.th"
                                            >สำนักงานอธิการบดี</a
                                        >
                                    </li>
                                    <li class="my-1">
                                        <a
                                            target="_blank"
                                            href="https://reg.kpru.ac.th"
                                            >สำนักส่งเสริมวิชาการการฯ</a
                                        >
                                    </li>
                                    <li class="my-1">
                                        <a
                                            target="_blank"
                                            href="https://asl.kpru.ac.th"
                                            >สำนักบริการวิชาการและจัดหารายได้</a
                                        >
                                    </li>
                                    <li class="my-1">
                                        <a
                                            target="_blank"
                                            href="https://arit.kpru.ac.th"
                                            >สำนักวิทยบริการฯ (ห้้องสมุด)</a
                                        >
                                    </li>
                                    <li class="my-1">
                                        <a
                                            target="_blank"
                                            href="https://qa.kpru.ac.th"
                                            >สำนักประกันคุณภาพการศึกษา</a
                                        >
                                    </li>
                                    <li class="my-1">
                                        <a
                                            target="_blank"
                                            href="https://acc.kpru.ac.th"
                                            >สำนักศิลปะและวัฒนธรรม</a
                                        >
                                    </li>
                                    <li class="my-1">
                                        <a
                                            target="_blank"
                                            href="https://research.kpru.ac.th"
                                            >สถาบันวิจัยและพัฒนา</a
                                        >
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div id="Center&Division" class="my-2">
                            <button
                                id="btnDropdownFooter3"
                                data-dropdown-toggle="dropdown3"
                                class="text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 justify-center w-full inline-flex items-center"
                                type="button"
                            >
                                ศูนย์ | กอง<svg
                                    class="w-2.5 h-2.5 ms-3"
                                    aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="none"
                                    viewBox="0 0 10 6"
                                >
                                    <path
                                        stroke="currentColor"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        d="m1 1 4 4 4-4"
                                    />
                                </svg>
                            </button>
                            <!-- Dropdown menu -->
                            <div
                                id="dropdown3"
                                class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-fit"
                            >
                                <ul
                                    class="p-2 text-sm text-gray-700"
                                    aria-labelledby="btnDropdownFooter3"
                                >
                                    <li class="my-1">
                                        <a
                                            target="_blank"
                                            href="https://lc.kpru.ac.th"
                                            >ศูนย์ภาษา</a
                                        >
                                    </li>
                                    <li class="my-1">
                                        <a
                                            target="_blank"
                                            href="https://arit.kpru.ac.th/compcenter"
                                            >ศูนย์คอมพิวเตอร์</a
                                        >
                                    </li>
                                    <li class="my-1">
                                        <a
                                            target="_blank"
                                            href="https://scitech.kpru.ac.th/center/fosic"
                                            >ศูนย์ส่งเสริมและตรวจสอบการผลิต</a
                                        >
                                    </li>
                                    <li class="my-1">
                                        <a
                                            target="_blank"
                                            href="https://scitech.kpru.ac.th/center/sciencecenter"
                                            >ศูนย์วิทยาศาสตร์ฯ</a
                                        >
                                    </li>
                                    <li class="my-1">
                                        <a
                                            target="_blank"
                                            href="https://std.kpru.ac.th/"
                                            >กองพัฒนานักศึกษา</a
                                        >
                                    </li>
                                    <li class="my-1">
                                        <a
                                            target="_blank"
                                            href="https://scitech.kpru.ac.th/th/center/alternative-medicine"
                                            >ศูนย์บริการทางการแพทย์แผนไทยฯ</a
                                        >
                                    </li>
                                    <li class="my-1">
                                        <a
                                            target="_blank"
                                            href="https://plan.kpru.ac.th"
                                            >กองนโยบายและแผน</a
                                        >
                                    </li>
                                    <li class="font-bold">เว็บไชต์อื่นๆ</li>
                                    <li class="my-1">
                                        <a
                                            target="_blank"
                                            href="https://kpru.ac.th"
                                            >มหาวิทยาลัยราชภัฏกำแพงเพชร</a
                                        >
                                    </li>
                                    <li class="my-1">
                                        <a
                                            target="_blank"
                                            href="https://www.kpru.ac.th/th/council-kpru/mainpage.html"
                                            >สภามหาวิทยาลัย</a
                                        >
                                    </li>
                                    <li class="my-1">
                                        <a
                                            target="_blank"
                                            href="https://ga.kpru.ac.th/audit/"
                                            >หน่วยตรวจสอบภายใน</a
                                        >
                                    </li>
                                    <li class="my-1">
                                        <a
                                            target="_blank"
                                            href="https://iraa.kpru.ac.th/"
                                            >งานวิเทศสัมพันธ์และกิจการอาเซียน</a
                                        >
                                    </li>
                                    <li class="my-1">
                                        <a
                                            target="_blank"
                                            href="https://arit.kpru.ac.th/noc/"
                                            >งานพัฒนาระบบเครือข่ายฯ</a
                                        >
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer CopyRight -->
        <section id="Footer-CopyRight" class="bg-primary-500">
            <div class="container mx-auto">
                <div class="flex justify-between py-2 sm:px-2">
                    <!-- left -->
                    <div class="flex flex-wrap justify-center sm:justify-start">
                        <p class="mr-2 text-center text-white">
                            สงวนลิขสิทธิ์ © 2024 คณะวิทยาการจัดการ
                            มหาวิทยาลัยราชภัฏกำแพงเพชร
                        </p>
                    </div>

                    <!-- Right -->
                    <div class="hidden mt-4 sm:flex sm:mt-0">
                        <!-- <a :href="route('pdpa.reset')" class="mr-2 text-white hover:text-gray-900">
                            <svg class="w-6 h-6 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                                height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M12 7h.01m3.486 1.513h.01m-6.978 0h.01M6.99 12H7m9 4h2.706a1.957 1.957 0 0 0 1.883-1.325A9 9 0 1 0 3.043 12.89 9.1 9.1 0 0 0 8.2 20.1a8.62 8.62 0 0 0 3.769.9 2.013 2.013 0 0 0 2.03-2v-.857A2.036 2.036 0 0 1 16 16Z" />
                            </svg>

                        </a> -->
                        <a
                            href="/dashboard"
                            class="text-white hover:text-gray-900"
                        >
                            <svg
                                class="w-6 h-6"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                fill="currentColor"
                                viewBox="0 0 24 24"
                            >
                                <path
                                    fill-rule="evenodd"
                                    d="M4 4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2H4Zm10 5a1 1 0 0 1 1-1h3a1 1 0 1 1 0 2h-3a1 1 0 0 1-1-1Zm0 3a1 1 0 0 1 1-1h3a1 1 0 1 1 0 2h-3a1 1 0 0 1-1-1Zm0 3a1 1 0 0 1 1-1h3a1 1 0 1 1 0 2h-3a1 1 0 0 1-1-1Zm-8-5a3 3 0 1 1 6 0 3 3 0 0 1-6 0Zm1.942 4a3 3 0 0 0-2.847 2.051l-.044.133-.004.012c-.042.126-.055.167-.042.195.006.013.02.023.038.039.032.025.08.064.146.155A1 1 0 0 0 6 17h6a1 1 0 0 0 .811-.415.713.713 0 0 1 .146-.155c.019-.016.031-.026.038-.04.014-.027 0-.068-.042-.194l-.004-.012-.044-.133A3 3 0 0 0 10.059 14H7.942Z"
                                    clip-rule="evenodd"
                                />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </footer>
</template>
