<script setup>
import { Link } from "@inertiajs/vue3";
import { usePage } from "@inertiajs/vue3";
const page = usePage();
import ApplicationLogo from "@/Components/ApplicationLogo.vue";
</script>

<template>
    <header id="Header" class="z-30">
        <section id="Top-Menu" class="bg-primary-500">
            <nav class="container mx-auto">
                <div
                    class="relative justify-center block gap-2 p-0 md:flex md:justify-between md:p-1 lg:p-2 xl:p-2 2xl:p-0">
                    <!-- left top-->
                    <ul class="flex-wrap items-center justify-center block text-center md:flex md:justify-between">
                        <li class="p-2 border-b-2 md:border-none">
                            <a href="https://www.kpru.ac.th/student.php" class="p-2 text-white hover:text-pink-800"
                                target="_blank">นักศึกษา</a>
                        </li>
                        <li class="p-2 border-b-2 md:border-none">
                            <a :href="route('personnel')" class="p-2 text-white hover:text-pink-800">บุคลากร</a>
                        </li>
                        <li class="p-2 border-b-2 md:border-none">
                            <a href="https://research.kpru.ac.th/th/" class="p-2 text-white hover:text-pink-800"
                                target="_blank">วิจัย</a>
                        </li>
                        <li class="p-2 border-b-2 md:border-none">
                            <a href="https://so11.tci-thaijo.org/index.php/jMLD/" target="_blank" rel="nofollow" class="p-2 text-white hover:text-pink-800">วารสาร</a>
                        </li>
                    </ul>
                    <!-- Right top -->
                    <ul
                        class="flex flex-wrap items-center justify-center h-10 p-2 text-center md:p-0 md:justify-between">
                        <!-- ตัวเปลี่ยนภาษา -->
                        <li class="hidden p-2">
                            <a href="#" class="text-white hover:text-pink-800">
                                <svg class="w-[24px] h-[24px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                    width="24" height="24" fill="none" viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2"
                                        d="m13 19 3.5-9 3.5 9m-6.125-2h5.25M3 7h7m0 0h2m-2 0c0 1.63-.793 3.926-2.239 5.655M7.5 6.818V5m.261 7.655C6.79 13.82 5.521 14.725 4 15m3.761-2.345L5 10m2.761 2.655L10.2 15" />
                                </svg>
                            </a>
                        </li>
                        <li class="p-2">
                            <a href="https://fms.kpru.ac.th/pr-fms/" class="flex text-white hover:text-pink-800">
                                <svg class="w-[24px] h-[24px] mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                    width="24" height="24" fill="none" viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M19 7h1v12a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V5a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h11.5M7 14h6m-6 3h6m0-10h.5m-.5 3h.5M7 7h3v3H7V7Z" />
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </section>
        <section id="Main-Menu" class="border-b-2 border-gray-200 bg-primary-50">
            <nav class="container mx-auto">
                <div class="flex flex-wrap items-center justify-between p-1 mx-auto lg:p-2 xl:p-3 2xl:p-4">
                    <ApplicationLogo />
                    <button data-collapse-toggle="mega-menu-full" type="button"
                        class="inline-flex items-center justify-center w-10 h-10 p-2 text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 "
                        aria-controls="mega-menu-full" aria-expanded="false">
                        <span class="sr-only">Open main menu</span>
                        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 17 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M1 1h15M1 7h15M1 13h15" />
                        </svg>
                    </button>
                    <div id="mega-menu-full"
                        class="items-center justify-between hidden w-full font-medium md:flex md:w-auto md:order-1">
                        <ul
                            class="flex flex-col p-4 mt-4 border border-gray-100 md:p-0 md:space-x-8 md:flex-row md:mt-0 md:border-0">
                            <li>
                                <a :href="route('home')" :class="{
                                    'p-4 border-b-2 text-pink-500 border-pink-500': page.component === 'Home',
                                }"
                                    class="block px-4 py-3 text-gray-900 hover:bg-gray-100 md:hover:bg-transparent md:hover:text-primary-700 md:p-4">หน้าแรก</a>
                            </li>
                            <li>
                                <a :href="route('about')" :class="{
                                    'p-4 border-b-2 text-pink-500 border-pink-500':
                                        page.component === 'About',
                                }"
                                    class="block px-4 py-3 text-gray-900 hover:bg-gray-100 md:hover:bg-transparent md:hover:text-primary-700 md:p-4">
                                    เกี่ยวกับคณะ
                                </a>
                            </li>
                            <!-- About Mega Menu -->
                            <!-- <li>
                                <button id="curriculun-mega-menu-dropdown-button"  data-dropdown-toggle="about-mega-menu"
                                    class="flex items-center justify-between w-full px-3 py-2 text-gray-900 rounded md:w-auto hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-primary-600 md:p-4 ">เกี่ยวกับคณะ<svg
                                        class="w-2.5 h-2.5 ms-2.5" aria-hidden="false"
                                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                            stroke-width="2" d="m1 1 4 4 4-4" />
                                    </svg></button>

                                <div id="about-mega-menu"
                                    class="absolute z-50 hidden w-auto mt-1 border-gray-200 shadow-sm group-hover:block bg-gray-50/90 md:bg-white/90 border-y">
                                    <div
                                        class="grid max-w-screen-xl px-4 py-5 mx-auto text-gray-900 sm:grid-cols-2 md:px-6">
                                        <ul aria-labelledby="curriculun-mega-menu-dropdown-button">
                                            <li>
                                                <a :href="route('about')"
                                                   class="block p-3 hover:bg-gray-100 hover:text-primary-700">
                                                    <div class="font-semibold">เกี่ยวกับคณะ</div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="history"
                                                    class="block p-3 hover:bg-gray-100 hover:text-primary-700">
                                                    <div class="font-semibold">ประวัติความเป็นมา</div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#"
                                                    class="block p-3 pointer-events-none hover:bg-gray-100 hover:text-primary-700">
                                                    <div class="font-semibold">ทำเนียบคณบดี</div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="block p-3 hover:bg-gray-100 hover:text-primary-700">
                                                    <div class="font-semibold">โครงสร้างหน่วยงาน</div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="block p-3 hover:bg-gray-100 hover:text-primary-700">
                                                    <div class="font-semibold">โครงสร้างคณะกรรมการบริหารคณะ</div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="block p-3 hover:bg-gray-100 hover:text-primary-700">
                                                    <div class="font-semibold">โครงสร้างผู้บริหารคณะ</div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="block p-3 hover:bg-gray-100 hover:text-primary-700">
                                                    <div class="font-semibold">โครงสร้างคณะกรรมการประจำคณะ</div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="block p-3 hover:bg-gray-100 hover:text-primary-700">
                                                    <div class="font-semibold">โครงสร้างสำนักงานคณบดี</div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="block p-3 hover:bg-gray-100 hover:text-primary-700">
                                                    <div class="font-semibold">สัญลักษณ์</div>
                                                </a>
                                            </li>
                                        </ul>

                                        <ul>
                                            <li>
                                                <a href="#" class="block p-3 hover:bg-gray-100 hover:text-primary-700">
                                                    <div class="font-semibold">วิสัยทัศน์</div>
                                                    <span class="text-gray-500 ">Connect with third-party tools that
                                                        you're already
                                                        using.</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="block p-3 hover:bg-gray-100 hover:text-primary-700">
                                                    <div class="font-semibold">พันธกิจ</div>
                                                    <span class="text-gray-500 ">Connect with third-party tools that
                                                        you're already
                                                        using.</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="block p-3 hover:bg-gray-100 hover:text-primary-700">
                                                    <div class="font-semibold">ค่านิยม "HAPPY"</div>
                                                    <span class="text-gray-500 ">Connect with third-party tools that
                                                        you're already
                                                        using.</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="block p-3 hover:bg-gray-100 hover:text-primary-700">
                                                    <div class="font-semibold">สมรรถนะหลัก</div>
                                                    <span class="text-gray-500 ">Connect with third-party tools that
                                                        you're already
                                                        using.</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="block p-3 hover:bg-gray-100 hover:text-primary-700">
                                                    <div class="font-semibold">วัฒนธรรม</div>
                                                    <span class="text-gray-500 ">Connect with third-party tools that
                                                        you're already
                                                        using.</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li> -->
                            <li class="p-4">
                                <button id="dropdownNavbarLink" data-dropdown-toggle="dropdownNavbar"
                                    class="flex items-center justify-between w-full p-8 px-3 py-2 text-gray-900 hover:bg-gray-100 hover:text-pink-500 md:p-0 md:w-auto">
                                    หลักสูตร
                                    <svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true"
                                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                            stroke-width="2" d="m1 1 4 4 4-4" />
                                    </svg>
                                </button>
                                <!-- Dropdown menu -->
                                <div id="dropdownNavbar"
                                    class="z-50 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow">
                                    <ul class="p-2 text-sm text-gray-700 dark:text-gray-400"
                                        aria-labelledby="dropdownLargeButton">
                                        <li>
                                            <Link :href="route(
                                                'curriculum-accounting'
                                            )
                                                "
                                                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                                            สาขาวิชาการบัญชี
                                            (ป.ตรี)</Link>
                                        </li>
                                        <li>
                                            <Link :href="route(
                                                'curriculum-business-administration'
                                            )
                                                "
                                                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                                            สาขาวิชาบริหารธุรกิจ</Link>
                                        </li>
                                        <li>
                                            <Link :href="route(
                                                'curriculum-business-management-major'
                                            )
                                                "
                                                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                                            - วิชาเอกการจัดการธุรกิจ
                                            (ป.ตรี)</Link>
                                        </li>
                                        <li>
                                            <Link :href="route(
                                                'curriculum-marketing-major'
                                            )
                                                "
                                                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                                            - วิชาเอกการตลาด
                                            (ป.ตรี)</Link>
                                        </li>
                                        <li>
                                            <Link :href="route(
                                                'curriculum-finance-and-banking-major'
                                            )
                                                "
                                                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                                            - วิชาเอกการเงินและการธนาคาร
                                            (ป.ตรี)</Link>
                                        </li>
                                        <li>
                                            <Link :href="route(
                                                'curriculum-digital-business-technology-major'
                                            )
                                                "
                                                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                                            -
                                            วิชาเอกเทคโนโลยีธุรกิจดิจิทัล
                                            (ป.ตรี)</Link>
                                        </li>
                                        <li>
                                            <Link :href="route(
                                                'curriculum-entrepreneurship-major'
                                            )
                                                "
                                                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                                            - วิชาเอกการเป็นผู้ประกอบการ
                                            (ป.ตรี)</Link>
                                        </li>
                                        <li>
                                            <Link :href="route(
                                                'curriculum-tourism-industry'
                                            )
                                                "
                                                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                                            สาขาวิชาอุตสาหกรรมการท่องเที่ยว
                                            (ป.ตรี)</Link>
                                        </li>
                                        <li>
                                            <Link :href="route(
                                                'curriculum-communication-arts'
                                            )
                                                "
                                                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                                            สาขาวิชานิเทศศาสตร์
                                            (ป.ตรี)</Link>
                                        </li>
                                    </ul>
                                    <div class="py-1 text-sm">
                                        <Link :href="route('curriculum-mba')" class="block px-4 py-2 hover:bg-gray-100">
                                        สาขาวิชาการจัดการธุรกิจสมัยใหม่
                                        (ป.โท)</Link>
                                    </div>
                                </div>
                            </li>
                            <!-- Curriculun Mega Menu -->
                            <!-- <li>
                                <button id="curriculun-mega-menu-dropdown-button"
                                    data-dropdown-toggle="curriculun-mega-menu"
                                    class="flex items-center justify-between w-full px-3 py-2 text-gray-900 rounded md:w-auto hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-primary-600 md:p-4 ">หลักสูตร<svg
                                        class="w-2.5 h-2.5 ms-2.5" aria-hidden="false"
                                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                            stroke-width="2" d="m1 1 4 4 4-4" />
                                    </svg></button>


                                <div id="curriculun-mega-menu"
                                    class="absolute z-50 hidden w-auto mt-1 border-gray-200 shadow-sm group-hover:block bg-gray-50/90 md:bg-white/90 border-y">
                                    <div
                                        class="grid max-w-screen-xl px-4 py-5 mx-auto text-gray-900 sm:grid-cols-2 md:px-6">
                                        <ul aria-labelledby="curriculun-mega-menu-dropdown-button">
                                            <li>
                                                <a href="#" class="block p-3 rounded-lg hover:bg-gray-100">
                                                    <div class="font-semibold">หลักสูตร</div>
                                                    <span class="text-gray-500 ">Connect with third-party tools that
                                                        you're already
                                                        using.</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="block p-3 rounded-lg hover:bg-gray-100">
                                                    <div class="font-semibold">Segmentation</div>
                                                    <span class="text-gray-500 ">Connect with third-party tools that
                                                        you're already
                                                        using.</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="block p-3 rounded-lg hover:bg-gray-100">
                                                    <div class="font-semibold">Marketing CRM</div>
                                                    <span class="text-gray-500 ">Connect with third-party tools that
                                                        you're already
                                                        using.</span>
                                                </a>
                                            </li>
                                        </ul>
                                        <ul>
                                            <li>
                                                <a href="#" class="block p-3 rounded-lg hover:bg-gray-100">
                                                    <div class="font-semibold">Online Stores</div>
                                                    <span class="text-gray-500 ">Connect with third-party tools that
                                                        you're already
                                                        using.</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="block p-3 rounded-lg hover:bg-gray-100">
                                                    <div class="font-semibold">Segmentation</div>
                                                    <span class="text-gray-500 ">Connect with third-party tools that
                                                        you're already
                                                        using.</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="block p-3 rounded-lg hover:bg-gray-100">
                                                    <div class="font-semibold">Marketing CRM</div>
                                                    <span class="text-gray-500 ">Connect with third-party tools that
                                                        you're already
                                                        using.</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li> -->
                            <li>
                                <a :href="route('service')" :class="{
                                    'p-4 border-b-2 text-pink-500 border-pink-500':
                                        page.component === 'Service',
                                }"
                                    class="block px-4 py-3 text-gray-900 hover:bg-gray-100 md:hover:bg-transparent md:hover:text-primary-700 md:p-4">
                                    บริการ
                                </a>
                            </li>
                            <li>
                                <a :href="route('contact')" :class="{
                                    'p-4 border-b-2 text-pink-500 border-pink-500':
                                        page.component === 'ContactUs',
                                }"
                                    class="block px-4 py-3 text-gray-900 hover:bg-gray-100 md:hover:bg-transparent md:hover:text-primary-700 md:p-4">
                                    ติดต่อเรา
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </nav>
        </section>
    </header>
</template>
