<script setup>
import { Link } from "@inertiajs/vue3";
import { usePage } from "@inertiajs/vue3";
const page = usePage();
</script>

<template>
    <img src="/images/fms-logo.png" alt="FMS-Logo">
    <div>
        <strong class="block text-xl font-bold text-pink-500">Department</strong>
        <span class="block text-lg">คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร</span>
    </div>
</template>
