<script setup>
import { ref, computed } from 'vue';
import { Head } from "@inertiajs/vue3";
import SiteLayout from '../../Layouts/SiteLayout.vue';
defineOptions({ layout: SiteLayout });

// รับ props ที่ส่งมาจาก Inertia
const props = defineProps({
    personnels: Object // ข้อมูลบุคลากรที่ได้รับมา
});

// ตัวแปรสำหรับเก็บค่าแผนกที่เลือก
const selectedDepartment = ref('');

// ตัวแปรสำหรับเก็บข้อความค้นหา (search query)
const searchQuery = ref('');

// กรองข้อมูลบุคลากรตามแผนกที่เลือกและคำค้นหา
const filteredPersonnels = computed(() => {
    return props.personnels.filter(personnel => {
        // ตรวจสอบการกรองตามแผนก
        const matchesDepartment = Array.isArray(selectedDepartment.value)
            ? selectedDepartment.value.some(dept => personnel.sunit_name.includes(dept)) // ถ้าเป็น Array, ตรวจสอบว่าตรงกับค่าที่มีใน Array
            : selectedDepartment.value === '' || personnel.sunit_name.includes(selectedDepartment.value); // ถ้าเป็น String

        // ตรวจสอบการกรองตามคำค้นหา
        const matchesSearch =
            searchQuery.value === '' ||
            personnel.first_name_tha.toLowerCase().includes(searchQuery.value.toLowerCase()) ||
            personnel.last_name_tha.toLowerCase().includes(searchQuery.value.toLowerCase()) ||
            personnel.position_rank_name.toLowerCase().includes(searchQuery.value.toLowerCase());

        // ต้องผ่านทั้งสองเงื่อนไข
        return matchesDepartment && matchesSearch;
    });
});

</script>

<template>
    <!-- HTML Meta title -->

    <Head title="คณาจารย์และบุคลากร" />

    <Head>
        <!-- HTML Meta Tags -->
        <meta name="description"
            content="มหาวิทยาลัยราชภัฏกำแพงเพชร เป็นมหาวิทยาลัยที่เป็นที่พึ่งทางวิชาการของท้องถิ่นให้มีความเข้มแข็งอย่างยั่งยืน สถาปนาเมื่อ ปี 2516 ปัจจุบันประกอบด้วย 5 คณะ">
        <!-- Keywords Meta Tags -->
        <meta name="Keywords" lang="en"
            content="Covid, Kamphaeng Phet Rajabhat University, Rajabhat, KamphaengPhet, KPRU, KP, Kamphaeng, Thailand, Thai University">
        <meta name="Keywords" lang="th"
            content="มหาวิทยาลัยราชภัฏกำแพงเพชร, ราชภัฏกำแพงเพชร, มรภ.กพ., วิทยาลัยครูกำแพงเพชร, วิทยาลัยครู, ราชภัฏภาคเหนือ, มหาวิทยาลัยราชภัฏ, มหาวิทยาลัย, สถาบันการศึกษา">
        <!-- Google / Search Engine Tags -->
        <meta itemprop="name" content="หน้าแรก | คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร">
        <meta itemprop="description"
            content="คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร เป็นศูนย์กลางในการพัฒนาองค์ความรู้ด้านการบริหารจัดการ โดยการบูรณาการทางวิชาการ วิชาชีพ เพื่อการพัฒนาชุมชนท้องถิ่นของมหาวิทยาลัยราชภัฏภาคเหนือตอนล่าง">
        <meta itemprop="image" content="/storage/fb_og_image.jpg">

        <!-- Facebook Meta Tags -->
        <meta property="og:url" content="https://fms.kpru.ac.th">
        <meta property="og:type" content="website">
        <meta property="og:title" content="หน้าแรก | คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร">
        <meta property="og:description"
            content="คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร เป็นศูนย์กลางในการพัฒนาองค์ความรู้ด้านการบริหารจัดการ โดยการบูรณาการทางวิชาการ วิชาชีพ เพื่อการพัฒนาชุมชนท้องถิ่นของมหาวิทยาลัยราชภัฏภาคเหนือตอนล่าง">
        <meta property="og:image" content="/storage/fb_og_image.jpg">

        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="หน้าแรก | คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร">
        <meta name="twitter:description"
            content="คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร เป็นศูนย์กลางในการพัฒนาองค์ความรู้ด้านการบริหารจัดการ โดยการบูรณาการทางวิชาการ วิชาชีพ เพื่อการพัฒนาชุมชนท้องถิ่นของมหาวิทยาลัยราชภัฏภาคเหนือตอนล่าง">
        <meta name="twitter:image" content="/storage/fb_og_image.jpg">

    </Head>
    <!-- Breadcrumb -->
    <div class="container pt-4 mx-auto">
        <nav class="flex px-5 py-3 text-gray-700 border border-gray-200 rounded-lg bg-gray-50 " aria-label="Breadcrumb">
            <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
                <li class="inline-flex items-center">
                    <a href="/" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 ">
                        <svg class="w-3 h-3 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor" viewBox="0 0 20 20">
                            <path
                                d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z" />
                        </svg>
                        หน้าแรก
                    </a>
                </li>
                <li class="inline-flex items-center">
                    <svg class="block w-3 h-3 mx-1 text-gray-400 rtl:rotate-180 " aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m1 9 4-4-4-4" />
                    </svg>
                    <a href="/personnel"
                        class="text-sm font-medium text-gray-700 ms-1 hover:text-blue-600 md:ms-2 ">บุคลากร</a>
                </li>

            </ol>
        </nav>
    </div>
    <section id="personnel">
        <div class="container px-4 py-8 mx-auto text-center lg:py-16 lg:px-6">
            <div class="mb-8">
                <h2 class="mb-4 text-4xl font-extrabold tracking-tight text-gray-900 ">คณาจารย์ และ บุคลากร</h2>
                <p class="mb-4 font-light text-gray-500 sm:text-xl">คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร</p>

                <form class="max-w-screen-sm mx-auto">
                    <div class="flex">
                        <div class="relative w-full">
                            <input type="search" id="search-dropdown"
                                class="block p-2.5 w-full z-20 text-sm text-gray-900 bg-gray-50 rounded-e-lg border-s-1 border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
                                placeholder="ค้นหา ชื่อ-นามสกุล ตำแหน่งทางวิชาการ บุคลากร คณะวิทยาการจัดการ "
                                v-model="searchQuery" />
                            <button type="submit"
                                class="absolute top-0 end-0 p-2.5 text-sm font-medium h-full text-white bg-blue-700 rounded-e-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 ">
                                <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                                    viewBox="0 0 20 20">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                                </svg>
                                <span class="sr-only">Search</span>
                            </button>
                        </div>
                    </div>
                </form>

            </div>

            <div class="flex flex-wrap items-center justify-center pt-4 pb-8">
                <button type="button" @click="selectedDepartment = ''"
                    class="text-primary-700 hover:text-white border border-primary-600 bg-white hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3">บุคลากรทั้งหมด</button>
                <button type="button" @click="selectedDepartment = 'สาขาวิชาการบัญชี'"
                    class="text-gray-900 border border-white hover:border-primary-200  bg-white focus:ring-4 focus:outline-none focus:ring-primary-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3">สาขาวิชาการบัญชี</button>
                <button type="button" @click="selectedDepartment = 'สาขาวิชาบริหารธุรกิจ วิชาเอกการจัดการธุรกิจ'"
                    class="text-gray-900 border border-white hover:border-primary-200  bg-white focus:ring-4 focus:outline-none focus:ring-primary-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3">สาขาวิชาบริหารธุรกิจ
                    วิชาเอกการจัดการธุรกิจ</button>
                <button type="button" @click="selectedDepartment = 'สาขาวิชาบริหารธุรกิจ วิชาเอกการตลาด'"
                    class="text-gray-900 border border-white hover:border-primary-200  bg-white focus:ring-4 focus:outline-none focus:ring-primary-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3">สาขาวิชาบริหารธุรกิจ
                    วิชาเอกการตลาด</button>
                <button type="button" @click="selectedDepartment = 'สาขาวิชาบริหารธุรกิจ วิชาเอกการเงินและการธนาคาร'"
                    class="text-gray-900 border border-white hover:border-primary-200  bg-white focus:ring-4 focus:outline-none focus:ring-primary-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3">สาขาวิชาบริหารธุรกิจ
                    วิชาเอกการเงินและการธนาคาร</button>
                <button type="button" @click="selectedDepartment = 'สาขาวิชาบริหารธุรกิจ วิชาเอกเทคโนโลยีธุรกิจดิจิทัล'"
                    class="text-gray-900 border border-white hover:border-primary-200  bg-white focus:ring-4 focus:outline-none focus:ring-primary-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3">สาขาวิชาบริหารธุรกิจ
                    วิชาเอกเทคโนโลยีธุรกิจดิจิทัล</button>
                <button type="button" @click="selectedDepartment = 'สาขาวิชาบริหารธุรกิจ วิชาเอกเป็นผู้ประกอบการ'"
                    class="text-gray-900 border border-white hover:border-primary-200  bg-white focus:ring-4 focus:outline-none focus:ring-primary-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3">สาขาวิชาบริหารธุรกิจ
                    วิชาเอกการเป็นผู้ประกอบการ</button>
                <button type="button" @click="selectedDepartment = 'สาขาวิชาอุตสาหกรรมการท่องเที่ยว'"
                    class="text-gray-900 border border-white hover:border-primary-200  bg-white focus:ring-4 focus:outline-none focus:ring-primary-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3">สาขาวิชาอุตสาหกรรมการท่องเที่ยว</button>
                <button type="button" @click="selectedDepartment = 'สาขาวิชานิเทศศาสตร์'"
                    class="text-gray-900 border border-white hover:border-primary-200  bg-white focus:ring-4 focus:outline-none focus:ring-primary-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3">สาขาวิชานิเทศศาสตร์</button>
                <button type="button" @click="selectedDepartment = ['สาขาวิชาการจัดการธุรกิจสมัยใหม่','สาขาวิชานวัตกรรมและธุรกิจอาหาร']"
                    class="text-gray-900 border border-white hover:border-primary-200  bg-white focus:ring-4 focus:outline-none focus:ring-primary-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3">สาขาวิชาการจัดการธุรกิจสมัยใหม่
                (ป.โท)</button>
                <button type="button" @click="selectedDepartment = 'คณะวิทยาการจัดการ'"
                    class="text-gray-900 border border-white hover:border-primary-200  bg-white focus:ring-4 focus:outline-none focus:ring-primary-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3">สำนักงานคณบดี</button>
            </div>
            <div class="grid gap-8 lg:gap-16 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">

                <div v-for="item in filteredPersonnels" :key="item.id" class="text-center text-gray-500 ">
                    <img class="mx-auto mb-4 rounded-full w-36 h-36" v-bind:src="item.picture" alt="Bonnie Avatar">
                    <div v-if="item.bullet_link4" class="flex justify-center text-primary-500">
                        <svg class="w-6 h-6 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m8.032 12 1.984 1.984 4.96-4.96m4.55 5.272.893-.893a1.984 1.984 0 0 0 0-2.806l-.893-.893a1.984 1.984 0 0 1-.581-1.403V7.04a1.984 1.984 0 0 0-1.984-1.984h-1.262a1.983 1.983 0 0 1-1.403-.581l-.893-.893a1.984 1.984 0 0 0-2.806 0l-.893.893a1.984 1.984 0 0 1-1.403.581H7.04A1.984 1.984 0 0 0 5.055 7.04v1.262c0 .527-.209 1.031-.581 1.403l-.893.893a1.984 1.984 0 0 0 0 2.806l.893.893c.372.372.581.876.581 1.403v1.262a1.984 1.984 0 0 0 1.984 1.984h1.262c.527 0 1.031.209 1.403.581l.893.893a1.984 1.984 0 0 0 2.806 0l.893-.893a1.985 1.985 0 0 1 1.403-.581h1.262a1.984 1.984 0 0 0 1.984-1.984V15.7c0-.527.209-1.031.581-1.403Z" />
                        </svg>
                        <p class="mr-1 text-lg text-primary-500" v-html="item.bullet_link4"></p>
                    </div>
                    <div v-else class="hidden"></div>
                    <div class="flex justify-center text-xl font-bold tracking-tight text-gray-900">
                        <span class="mr-1" v-if="item.position_rank_name === 'อาจารย์'">อ.</span>
                        <span class="mr-1" v-else-if="item.position_rank_name === 'อาจารย์ประจำตามสัญญาจ้าง'">อ.</span>
                        <span class="mr-1" v-else-if="item.position_rank_name === 'อาจารย์รายชั่วโมง'">อ.</span>
                        <span class="mr-1" v-else-if="item.position_rank_name === 'ผู้ช่วยศาสตราจารย์'">ผศ.</span>
                        <span class="mr-1" v-else-if="item.position_rank_name === 'รองศาสตราจารย์'">รศ.</span>
                        <span class="mr-1" v-else-if="item.position_rank_name === 'ศาสตราจารย์'">ศ.</span>
                        <span class="mr-1" v-html="item.bullet_link3"></span>
                        <h3 class="mb-1 text-left" v-html="item.first_name_tha + '&nbsp&nbsp' + item.last_name_tha">
                        </h3>
                    </div>


                    <p class="text-blue-600" v-html="item.position_rank_name"></p>
                    <p class="text-xs" v-html="item.sunit_name"></p>


                    <ul class="flex justify-center mt-4 space-x-4">

                        <li v-if="item.bullet_link1" class="block">
                            <a :href="item.bullet_link1" class="text-[#39569c] hover:text-gray-900" target="_blank"
                                rel="nofollow">
                                <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                                    <path fill-rule="evenodd"
                                        d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z"
                                        clip-rule="evenodd" />
                                </svg>

                            </a>
                        </li>
                        <li v-else class="hidden"></li>
                        <li v-if="item.bullet_link2" class="block">
                            <a :href="item.bullet_link2" target="_blank" rel="nofollow">
                                <svg class="w-6 h-6 hover:text-gray-900" xmlns="http://www.w3.org/2000/svg" x="0px"
                                    y="0px" viewBox="0 0 48 48">
                                    <path fill="#1e88e5"
                                        d="M24,4C12.954,4,4,12.954,4,24s8.954,20,20,20s20-8.954,20-20S35.046,4,24,4z">
                                    </path>
                                    <path fill="#1565c0"
                                        d="M35,16.592v-3.878L37,11H27l0.917,1.833c-1.236,0-2.265,0-2.265,0S19.095,13,19.095,18.748	c0,5.752,5.732,5.088,5.732,5.088s0,0.865,0,1.453c0,0.594,0.77,0.391,0.864,1.583c-0.388,0-7.964-0.208-7.964,4.998	s6.679,4.959,6.679,4.959s7.722,0.365,7.722-6.104c0-3.871-4.405-5.121-4.405-6.686c0-1.563,3.319-2.012,3.319-5.684	c0-0.823-0.028-1.524-0.149-2.12L34,13.571v3.02c-0.581,0.207-1,0.756-1,1.408v4.5c0,0.829,0.672,1.5,1.5,1.5s1.5-0.671,1.5-1.5V18	C36,17.348,35.581,16.799,35,16.592z M30.047,31.169c0.131,2.024-1.929,3.811-4.603,3.998c-2.671,0.188-4.946-1.295-5.077-3.316	c-0.133-2.016,1.927-3.805,4.6-3.996C27.641,27.667,29.914,29.152,30.047,31.169z M26.109,22.453	c-1.592,0.451-3.375-1.062-3.982-3.367c-0.604-2.312,0.195-4.543,1.786-4.992c1.593-0.453,3.374,1.059,3.981,3.367	C28.499,19.77,27.702,22.004,26.109,22.453z">
                                    </path>
                                    <path fill="#e8eaf6"
                                        d="M34,16.592V12c0-0.051-0.015-0.097-0.029-0.143L35,11H21l-9,8h5.383	c0.174,5.466,5.715,4.836,5.715,4.836s0,0.865,0,1.453c0,0.594,0.771,0.391,0.865,1.583c-0.388,0-7.964-0.208-7.964,4.998	s6.679,4.959,6.679,4.959s7.721,0.365,7.721-6.104c0-3.871-4.404-5.121-4.404-6.686c0-1.563,3.318-2.012,3.318-5.684	c0-0.971-0.047-1.763-0.232-2.422L33,12.667v3.925c-0.581,0.207-1,0.756-1,1.408v4.5c0,0.829,0.672,1.5,1.5,1.5s1.5-0.671,1.5-1.5	V18C35,17.348,34.581,16.799,34,16.592z M28.319,31.169c0.131,2.024-1.928,3.811-4.602,3.998c-2.671,0.188-4.946-1.295-5.077-3.316	c-0.133-2.016,1.927-3.805,4.599-3.996C25.914,27.667,28.187,29.152,28.319,31.169z M24.38,22.453	c-1.591,0.451-3.373-1.062-3.981-3.367c-0.604-2.312,0.194-4.543,1.785-4.992c1.593-0.453,3.374,1.059,3.982,3.367	C26.77,19.77,25.973,22.004,24.38,22.453z">
                                    </path>
                                </svg>
                            </a>
                        </li>
                        <li v-else class="hidden"></li>
                        <!-- <li v-if="item.bullet_link3" class="block">
                            <a :href="item.bullet_link3" target="_blank" rel="nofollow">
                                bullet_link3
                            </a>
                        </li>
                        <li v-else class="hidden"></li> -->
                        <!-- <li v-if="item.bullet_link3" class="block">
                            <a :href="'mailto:' + item.bullet_link3" class="text-yellow-500 hover:text-gray-900">
                                <svg class="w-6 h-6 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                                    viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-width="2"
                                        d="m3.5 5.5 7.893 6.036a1 1 0 0 0 1.214 0L20.5 5.5M4 19h16a1 1 0 0 0 1-1V6a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1Z" />
                                </svg>
                            </a>
                        </li>
                        <li v-else class="hidden"></li> -->
                        <li>
                            <a :href="`/personnel/${item.employee_id}`" class="text-green-400 hover:text-gray-900"
                                aria-label="Profile">
                                <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                                    viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M7 6H5m2 3H5m2 3H5m2 3H5m2 3H5m11-1a2 2 0 0 0-2-2h-2a2 2 0 0 0-2 2M7 3h11a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1Zm8 7a2 2 0 1 1-4 0 2 2 0 0 1 4 0Z" />
                                </svg>
                            </a>

                        </li>

                        <li>
                            <a :href="'https://arit.kpru.ac.th/ap/KPRUme/' + item.employee_id "
                                class="text-primary-500 hover:text-gray-900" target="_blank" rel="nofollow">
                                <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                                    viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M13.213 9.787a3.391 3.391 0 0 0-4.795 0l-3.425 3.426a3.39 3.39 0 0 0 4.795 4.794l.321-.304m-.321-4.49a3.39 3.39 0 0 0 4.795 0l3.424-3.426a3.39 3.39 0 0 0-4.794-4.795l-1.028.961" />
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>

    </section>
</template>


