<script setup>
import { Head } from "@inertiajs/vue3";
import SiteLayout from "../../Layouts/SiteLayout.vue";
defineOptions({
    layout: SiteLayout,
});
defineProps({
    employee : Object,
    research : Object,
    academic : Object,
    educational : Object
});
</script>

<template>

    <Head v-bind:title="'โปรไฟล์ : '+ employee.first_name_tha + '&nbsp&nbsp'+employee.last_name_tha" />
    <!-- ยังไม่ได่ปรับปรุง 7-10-2567 -->
    <Head>
        <!-- HTML Meta Tags -->
        <meta name="description"
            content="มหาวิทยาลัยราชภัฏกำแพงเพชร เป็นมหาวิทยาลัยที่เป็นที่พึ่งทางวิชาการของท้องถิ่นให้มีความเข้มแข็งอย่างยั่งยืน สถาปนาเมื่อ ปี 2516 ปัจจุบันประกอบด้วย 5 คณะ">
        <!-- Keywords Meta Tags -->
        <meta name="Keywords" lang="en"
            content="Covid, Kamphaeng Phet Rajabhat University, Rajabhat, KamphaengPhet, KPRU, KP, Kamphaeng, Thailand, Thai University">
        <meta name="Keywords" lang="th"
            content="มหาวิทยาลัยราชภัฏกำแพงเพชร, ราชภัฏกำแพงเพชร, มรภ.กพ., วิทยาลัยครูกำแพงเพชร, วิทยาลัยครู, ราชภัฏภาคเหนือ, มหาวิทยาลัยราชภัฏ, มหาวิทยาลัย, สถาบันการศึกษา">
        <!-- Google / Search Engine Tags -->
        <meta itemprop="name" content="หน้าแรก | คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร">
        <meta itemprop="description"
            content="คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร เป็นศูนย์กลางในการพัฒนาองค์ความรู้ด้านการบริหารจัดการ โดยการบูรณาการทางวิชาการ วิชาชีพ เพื่อการพัฒนาชุมชนท้องถิ่นของมหาวิทยาลัยราชภัฏภาคเหนือตอนล่าง">
        <meta itemprop="image" content="/storage/fb_og_image.jpg">

        <!-- Facebook Meta Tags -->
        <meta property="og:url" content="https://fms.kpru.ac.th">
        <meta property="og:type" content="website">
        <meta property="og:title" content="หน้าแรก | คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร">
        <meta property="og:description"
            content="คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร เป็นศูนย์กลางในการพัฒนาองค์ความรู้ด้านการบริหารจัดการ โดยการบูรณาการทางวิชาการ วิชาชีพ เพื่อการพัฒนาชุมชนท้องถิ่นของมหาวิทยาลัยราชภัฏภาคเหนือตอนล่าง">
        <meta property="og:image" content="/storage/fb_og_image.jpg">

        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="หน้าแรก | คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร">
        <meta name="twitter:description"
            content="คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร เป็นศูนย์กลางในการพัฒนาองค์ความรู้ด้านการบริหารจัดการ โดยการบูรณาการทางวิชาการ วิชาชีพ เพื่อการพัฒนาชุมชนท้องถิ่นของมหาวิทยาลัยราชภัฏภาคเหนือตอนล่าง">
        <meta name="twitter:image" content="/storage/fb_og_image.jpg">
    </Head>

    <!-- Breadcrumb -->
    <div class="container pt-4 mx-auto">
        <nav class="flex px-5 py-3 text-gray-700 border border-gray-200 rounded-lg bg-gray-50 " aria-label="Breadcrumb">
            <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
                <li class="inline-flex items-center">
                    <a href="/" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 ">
                        <svg class="w-3 h-3 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor" viewBox="0 0 20 20">
                            <path
                                d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z" />
                        </svg>
                        หน้าแรก
                    </a>
                </li>
                <li class="inline-flex items-center">
                    <svg class="block w-3 h-3 mx-1 text-gray-400 rtl:rotate-180 " aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m1 9 4-4-4-4" />
                    </svg>
                    <a href="/personnel"
                        class="text-sm font-medium text-gray-700 ms-1 hover:text-blue-600 md:ms-2 ">บุคลากร</a>
                </li>
                <li class="inline-flex items-center">
                    <svg class="block w-3 h-3 mx-1 text-gray-400 rtl:rotate-180 " aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m1 9 4-4-4-4" />
                    </svg>
                    <span class="text-sm font-medium text-gray-700 ms-1 hover:text-blue-600 md:ms-2"
                        v-html="employee.prename_full_tha + ' '+ employee.first_name_tha +  ' &nbsp&nbsp'+employee.last_name_tha"></span>
                </li>
            </ol>
        </nav>
    </div>

    <section id="employee" class="my-4">
        <div class="container mx-auto">
            <div class="mx-auto max-w-fit">
                <div class="flex flex-row items-center">
                    <div class="flex-shrink-0">
                        <img class="p-8 rounded-full w-72 h-72" v-bind:src="employee.picture"
                            v-bind:alt="employee.prename_full_tha +'&nbsp'+ employee.first_name_tha + '&nbsp&nbsp'+employee.last_name_tha">

                    </div>
                    <div class="flex-shrink-0">
                        <h1 class="mb-2 text-4xl "
                            v-html="employee.prename_full_tha +'&nbsp'+ employee.first_name_tha + '&nbsp&nbsp'+employee.last_name_tha">
                        </h1>
                        <h2 class="my-2 text-2xl text-right" v-html="employee.position_rank_name"></h2>
                        <p class="my-2 text-xl text-right" v-html="employee. organization_name_tha"></p>
                        <p class="my-2 text-right text-primary-600" v-html="employee.organization_parent"></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="educational" class="my-4">
        <!-- การศึกษา -->
        <div class="container mx-auto">
            <div class="mx-auto max-w-max">
                <p class="my-4 text-4xl text-center text-primary-600">การศึกษา</p>
            </div>
            <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                <table class="w-full text-left">
                    <thead class="text-gray-700 uppercase ">
                        <tr>
                            <th scope="col" class="px-6 py-3 text-center bg-gray-50">
                                ระดับวุฒิการศึกษา
                            </th>
                            <th scope="col" class="px-6 py-3 text-center">
                                สถาบัน
                            </th>
                            <th scope=" col" class="px-6 py-3 text-center bg-gray-50">
                                ชื่อปริญญา
                            </th>
                            <th scope="col" class="px-6 py-3 text-center">
                                สาขา

                            </th>
                            <th scope="col" class="px-6 py-3 text-center bg-gray-50">
                                ปีที่จบ
                            </th>
                            <th scope="col" class="px-6 py-3 text-center">
                                ประเทศ
                            </th>
                        </tr>
                    </thead>
                    <tbody v-for="e in educational" :key="e.id">
                        <tr class="border-b border-gray-200">
                            <th scope="row"
                                class="px-6 py-4 font-medium text-center text-gray-900 whitespace-nowrap bg-gray-50"
                                v-html="e.education_level_name">
                            </th>
                            <td class="px-6 py-4 " v-html="e.institute_name"></td>
                            <td class="px-6 py-4 bg-gray-50">
                                <p class="text-lg" v-html="e.certificate_name"></p>
                                <p v-html="e.curriculum_name_tha"></p>

                            </td>
                            <td class="px-6 py-4" v-html="e.program_name_th"></td>
                            <td class="px-6 py-4 text-center bg-gray-50" v-html="e.graduate_year"></td>
                            <td class="px-6 py-4 text-center" v-html="e.country_name_tha"></td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </section>
    <section id="photoAlbum" class="my-4">
        <!-- อัลบั้ม -->
        <div class="container mx-auto">
            <p class="my-8 text-4xl text-center text-primary-600">อัลบั้ม</p>
            <hr>
            <!-- <div class="grid grid-cols-2 gap-4 md:grid-cols-4">
                <div class="grid gap-4">
                    <div>
                        <img class="h-auto max-w-full rounded-lg"
                            src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image.jpg" alt="">
                    </div>
                    <div>
                        <img class="h-auto max-w-full rounded-lg"
                            src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-1.jpg" alt="">
                    </div>
                    <div>
                        <img class="h-auto max-w-full rounded-lg"
                            src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-2.jpg" alt="">
                    </div>
                </div>
                <div class="grid gap-4">
                    <div>
                        <img class="h-auto max-w-full rounded-lg"
                            src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-3.jpg" alt="">
                    </div>
                    <div>
                        <img class="h-auto max-w-full rounded-lg"
                            src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-4.jpg" alt="">
                    </div>
                    <div>
                        <img class="h-auto max-w-full rounded-lg"
                            src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-5.jpg" alt="">
                    </div>
                </div>
                <div class="grid gap-4">
                    <div>
                        <img class="h-auto max-w-full rounded-lg"
                            src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-6.jpg" alt="">
                    </div>
                    <div>
                        <img class="h-auto max-w-full rounded-lg"
                            src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-7.jpg" alt="">
                    </div>
                    <div>
                        <img class="h-auto max-w-full rounded-lg"
                            src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-8.jpg" alt="">
                    </div>
                </div>
                <div class="grid gap-4">
                    <div>
                        <img class="h-auto max-w-full rounded-lg"
                            src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-9.jpg" alt="">
                    </div>
                    <div>
                        <img class="h-auto max-w-full rounded-lg"
                            src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-10.jpg" alt="">
                    </div>
                    <div>
                        <img class="h-auto max-w-full rounded-lg"
                            src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-11.jpg" alt="">
                    </div>
                </div>
            </div> -->
        </div>
    </section>
    <section id="research" class="my-4">
        <!-- งานวิจัย -->
        <div class="container mx-auto">
            <div class="mx-auto max-w-max">
                <p class="my-4 text-4xl text-center text-primary-500">งานวิจัย</p>
            </div>
            <table class="w-full text-left">
                <thead class="text-gray-700 uppercase bg-gray-50">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            รหัสโครงการวิจัย
                        </th>
                        <th scope="col" class="px-6 py-3">
                            ประเภท
                        </th>
                        <th scope="col" class="px-6 py-3">
                            ชื่อโครงการวิจัย
                        </th>
                        <th scope="col" class="px-6 py-3">
                            สถานะ
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="bg-white border-b" v-for="r in research" :key="r.id">
                        <th v-if="r.research_project_id" scope="row"
                            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
                            v-html="r.research_project_id">
                        </th>
                        <th v-else scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                            ไม่มีข้อมูล
                        </th>
                        <td class="px-6 py-4" v-html="r.project_continue_type_name_tha">
                        </td>
                        <td class="px-6 py-4" v-html="r.research_project_name_tha">
                        </td>
                        <td class="px-6 py-4" v-html="r.project_research_member_action_name_tha">
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </section>
    <section id="academic&lecturer-expertise" class="my-4">
        <div class="container mx-auto">
            <div class="grid grid-cols-2 gap-2">
                <!-- ผลงานทางวิชาการ -->
                <div class="grid-cols-1">
                    <p class="my-4 text-2xl text-center text-primary-500">ผลงานทางวิชาการ</p>
                    <table class="w-full text-left text-gray-500">
                        <thead class="text-gray-700 uppercase bg-gray-50">
                            <tr>
                                <th scope="col" class="px-6 py-3">
                                    ลำดับ
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    ละเอียดผลงาน
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    บทบาท
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    ลิงก์
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- v-for="a in academic" :key="a.id" -->
                            <tr class="bg-white border-b ">
                                <!-- <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                                    1
                                </th> -->
                                <td class="px-6 py-4 text-center" colspan="4">
                                    ไม่พบข้อมูล
                                </td>
                                <!-- <td class="px-6 py-4"></td>
                                <td class="px-6 py-4"></td> -->
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="grid-cols-1">
                    <p class="my-4 text-2xl text-center text-primary-500">การเป็นวิทยากร และความเชี่ยวชาญ</p>
                    <table class="w-full text-left text-gray-500">
                        <thead class="text-gray-700 uppercase bg-gray-50">
                            <tr>
                                <th scope="col" class="px-6 py-3">
                                    ลำดับ
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    หัวข้อ
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    หน่วยงาน
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    หนังสือ
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- v-for="a in academic" :key="a.id" -->
                            <tr class="bg-white border-b">
                                <!-- <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                                    Apple MacBook Pro 17"
                                </th> -->
                                <td class="px-6 py-4 text-center" colspan="4">
                                    ไม่พบข้อมูล
                                </td>
                                <!-- <td class="px-6 py-4">
                                    Laptop
                                </td>
                                <td class="px-6 py-4">
                                    $2999
                                </td> -->
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <div class="pb-4"></div>
</template>
