<script setup>
import { Head } from '@inertiajs/vue3';
import SiteLayout from '../../Layouts/SiteLayout.vue';
defineOptions({ layout: SiteLayout })
</script>

<template>

    <Head title="หลักสูตรบริหารธุรกิจบัณฑิต" />

    <Head>
        <!-- HTML Meta Tags -->
        <meta name="description"
            content="มหาวิทยาลัยราชภัฏกำแพงเพชร เป็นมหาวิทยาลัยที่เป็นที่พึ่งทางวิชาการของท้องถิ่นให้มีความเข้มแข็งอย่างยั่งยืน สถาปนาเมื่อ ปี 2516 ปัจจุบันประกอบด้วย 5 คณะ">
        <!-- Keywords Meta Tags -->
        <meta name="Keywords" lang="en"
            content="Covid, Kamphaeng Phet Rajabhat University, Rajabhat, KamphaengPhet, KPRU, KP, Kamphaeng, Thailand, Thai University">
        <meta name="Keywords" lang="th"
            content="มหาวิทยาลัยราชภัฏกำแพงเพชร, ราชภัฏกำแพงเพชร, มรภ.กพ., วิทยาลัยครูกำแพงเพชร, วิทยาลัยครู, ราชภัฏภาคเหนือ, มหาวิทยาลัยราชภัฏ, มหาวิทยาลัย, สถาบันการศึกษา">
        <!-- Google / Search Engine Tags -->
        <meta itemprop="name" content="หลักสูตรบริหารธุรกิจบัณฑิต | คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร">
        <meta itemprop="description"
            content="คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร เป็นศูนย์กลางในการพัฒนาองค์ความรู้ด้านการบริหารจัดการ โดยการบูรณาการทางวิชาการ วิชาชีพ เพื่อการพัฒนาชุมชนท้องถิ่นของมหาวิทยาลัยราชภัฏภาคเหนือตอนล่าง">
        <meta itemprop="image" content="/storage/fb_og_image.jpg">

        <!-- Facebook Meta Tags -->
        <meta property="og:url" content="https://fms.kpru.ac.th">
        <meta property="og:type" content="website">
        <meta property="og:title" content="หลักสูตรบริหารธุรกิจบัณฑิต | คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร">
        <meta property="og:description"
            content="คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร เป็นศูนย์กลางในการพัฒนาองค์ความรู้ด้านการบริหารจัดการ โดยการบูรณาการทางวิชาการ วิชาชีพ เพื่อการพัฒนาชุมชนท้องถิ่นของมหาวิทยาลัยราชภัฏภาคเหนือตอนล่าง">
        <meta property="og:image" content="/storage/fb_og_image.jpg">

        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="หลักสูตรบริหารธุรกิจบัณฑิต | คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร">
        <meta name="twitter:description"
            content="คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร เป็นศูนย์กลางในการพัฒนาองค์ความรู้ด้านการบริหารจัดการ โดยการบูรณาการทางวิชาการ วิชาชีพ เพื่อการพัฒนาชุมชนท้องถิ่นของมหาวิทยาลัยราชภัฏภาคเหนือตอนล่าง">
        <meta name="twitter:image" content="/storage/fb_og_image.jpg">
    </Head>

    <!-- Breadcrumb -->
    <section class="Breadcrumb">
        <div class="container pt-4 mx-auto">
            <nav class="flex px-5 py-3 text-gray-700 border border-gray-200 rounded-lg bg-gray-50 "
                aria-label="Breadcrumb">
                <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
                    <li class="inline-flex items-center">
                        <a href="/"
                            class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 ">
                            <svg class="w-3 h-3 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                fill="currentColor" viewBox="0 0 20 20">
                                <path
                                    d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z" />
                            </svg>
                            หน้าแรก
                        </a>
                    </li>
                    <li>
                        <div class="flex items-center">
                            <svg class="block w-3 h-3 mx-1 text-gray-400 rtl:rotate-180 " aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" d="m1 9 4-4-4-4" />
                            </svg>
                            <a :href="route('undergraduate')"
                                class="text-sm font-medium text-gray-700 ms-1 hover:text-blue-600 md:ms-2 ">หลักสูตรปริญญาตรี</a>
                        </div>
                    </li>
                    <li>
                        <div class="flex items-center">
                            <svg class="block w-3 h-3 mx-1 text-gray-400 rtl:rotate-180 " aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" d="m1 9 4-4-4-4" />
                            </svg>
                            <a :href="route('curriculum-business-administration')"
                                class="text-sm font-medium text-gray-700 ms-1 hover:text-blue-600 md:ms-2 ">หลักสูตรบริหารธุรกิจบัณฑิต</a>
                        </div>
                    </li>
                </ol>
            </nav>
        </div>
    </section>

    <!-- Curriculum Business Administration -->
    <section id="Curriculum-Business-Administration">
        <div class="container px-4 py-8 mx-auto lg:py-16 lg:px-12">
            <div class="grid grid-cols-2">
                <div>
                    <h1 class="mb-4 text-4xl text-pink-600">หลักสูตรบริหารธุรกิจบัณฑิต</h1>
                    <p class="mb-5 text-lg font-normal">รายละเอียดของหลักสูตร <span
                            class="text-sm font-normal text-pink-500 ">ปรับปรุงล่าสุด 2564</span></p>
                </div>
                <div class="text-right">
                    <!-- <a href="https://fms2.kpru.ac.th/business-administration/" target="_blank"
                        class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-pink-600 to-pink-500 group-hover:from-pink-600 group-hover:to-pink-500 hover:text-white  focus:ring-4 focus:outline-none focus:ring-pink-300">
                        <span
                            class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white rounded-md group-hover:bg-opacity-0">
                            เว็บไซต์หลักสูตรบริหารธุรกิจบัณฑิต
                        </span>
                    </a> -->
                </div>

            </div>
            <div class="my-2">
                <a href="https://reg.kpru.ac.th/th/data/curkpru/2564/6407.pdf" target="_blank"
                    class="relative inline-flex items-center justify-center p-0.5 mb-5 ml-5 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-pink-600 to-pink-500 group-hover:from-pink-600 group-hover:to-pink-500 hover:text-white ">
                    <svg class="w-6 h-6 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                        height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M5 17v-5h1.5a1.5 1.5 0 1 1 0 3H5m12 2v-5h2m-2 3h2M5 10V7.914a1 1 0 0 1 .293-.707l3.914-3.914A1 1 0 0 1 9.914 3H18a1 1 0 0 1 1 1v6M5 19v1a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-1M10 3v4a1 1 0 0 1-1 1H5m6 4v5h1.375A1.627 1.627 0 0 0 14 15.375v-1.75A1.627 1.627 0 0 0 12.375 12H11Z" />
                    </svg>

                    <span
                        class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white rounded-md group-hover:bg-opacity-0">
                        เอกสารหลักสูตร
                    </span>
                </a>
                <a href="https://reg.kpru.ac.th/th/data/curkpru/2564/6407a.pdf" target="_blank"
                    class="relative inline-flex items-center justify-center p-0.5 mb-5 ml-5 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-pink-600 to-pink-500 group-hover:from-pink-600 group-hover:to-pink-500 hover:text-white ">
                    <svg class="w-6 h-6 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                        height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M5 17v-5h1.5a1.5 1.5 0 1 1 0 3H5m12 2v-5h2m-2 3h2M5 10V7.914a1 1 0 0 1 .293-.707l3.914-3.914A1 1 0 0 1 9.914 3H18a1 1 0 0 1 1 1v6M5 19v1a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-1M10 3v4a1 1 0 0 1-1 1H5m6 4v5h1.375A1.627 1.627 0 0 0 14 15.375v-1.75A1.627 1.627 0 0 0 12.375 12H11Z" />
                    </svg>

                    <span
                        class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white rounded-md group-hover:bg-opacity-0">
                        เอกสารสภามหาวิทยาลัย
                    </span>
                </a>
                <a href="https://reg.kpru.ac.th/th/data/curkpru/2564/6407p.pdf" target="_blank"
                    class="relative inline-flex items-center justify-center p-0.5 mb-5 ml-5 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-pink-600 to-pink-500 group-hover:from-pink-600 group-hover:to-pink-500 hover:text-white ">
                    <svg class="w-6 h-6 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                        height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M5 17v-5h1.5a1.5 1.5 0 1 1 0 3H5m12 2v-5h2m-2 3h2M5 10V7.914a1 1 0 0 1 .293-.707l3.914-3.914A1 1 0 0 1 9.914 3H18a1 1 0 0 1 1 1v6M5 19v1a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-1M10 3v4a1 1 0 0 1-1 1H5m6 4v5h1.375A1.627 1.627 0 0 0 14 15.375v-1.75A1.627 1.627 0 0 0 12.375 12H11Z" />
                    </svg>

                    <span
                        class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white rounded-md group-hover:bg-opacity-0">
                        เอกสารสป.อว.
                    </span>
                </a>
                <a href="https://reg.kpru.ac.th/th/data/curkpru/2564/6407c1.pdf" target="_blank"
                    class="relative inline-flex items-center justify-center p-0.5 mb-5 ml-5 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-pink-600 to-pink-500 group-hover:from-pink-600 group-hover:to-pink-500 hover:text-white ">
                    <svg class="w-6 h-6 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                        height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M5 17v-5h1.5a1.5 1.5 0 1 1 0 3H5m12 2v-5h2m-2 3h2M5 10V7.914a1 1 0 0 1 .293-.707l3.914-3.914A1 1 0 0 1 9.914 3H18a1 1 0 0 1 1 1v6M5 19v1a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-1M10 3v4a1 1 0 0 1-1 1H5m6 4v5h1.375A1.627 1.627 0 0 0 14 15.375v-1.75A1.627 1.627 0 0 0 12.375 12H11Z" />
                    </svg>

                    <span
                        class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white rounded-md group-hover:bg-opacity-0">
                        เอกสาร สมอ.08-1
                    </span>
                </a>
                <a href="https://reg.kpru.ac.th/th/data/curkpru/2564/6407c2.pdf" target="_blank"
                    class="relative inline-flex items-center justify-center p-0.5 mb-5 ml-5 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-pink-600 to-pink-500 group-hover:from-pink-600 group-hover:to-pink-500 hover:text-white ">
                    <svg class="w-6 h-6 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                        height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M5 17v-5h1.5a1.5 1.5 0 1 1 0 3H5m12 2v-5h2m-2 3h2M5 10V7.914a1 1 0 0 1 .293-.707l3.914-3.914A1 1 0 0 1 9.914 3H18a1 1 0 0 1 1 1v6M5 19v1a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-1M10 3v4a1 1 0 0 1-1 1H5m6 4v5h1.375A1.627 1.627 0 0 0 14 15.375v-1.75A1.627 1.627 0 0 0 12.375 12H11Z" />
                    </svg>

                    <span
                        class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white rounded-md group-hover:bg-opacity-0">
                        เอกสาร สมอ.08-2
                    </span>
                </a>
            </div>
            <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                <table class="w-full text-left">
                    <thead class="text-gray-700 uppercase">
                        <tr>
                            <th scope="col" class="px-6 py-3 bg-gray-50 ">
                                ชื่อหลักสูตร
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="border-b border-gray-200 ">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 ">
                                ภาษาไทย
                            </th>
                            <td class="px-6 py-4">
                                หลักสูตรบริหารธุรกิจบัณฑิต สาขาวิชาบริหารธุรกิจ
                            </td>
                        </tr>
                        <tr class="border-b border-gray-200 ">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 ">
                                ภาษาอังกฤษ
                            </th>
                            <td class="px-6 py-4">
                                Bachelor of Business Administration in Business Administration
                            </td>
                        </tr>
                            <tr>
                                <th scope="col" class="px-6 py-3 bg-gray-50 ">
                                    ชื่อปริญญาและสาขาวิชา
                                </th>
                            </tr>
                        <tr class="border-b border-gray-200 ">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 ">
                                ภาษาไทย ชื่อเต็ม
                            </th>
                            <td class="px-6 py-4">
                                บริหารธุรกิจบัณฑิต (บริหารธุรกิจ)
                            </td>
                            <td class="px-6 py-4 bg-gray-50 ">
                                ชื่อย่อ
                            </td>
                            <td class="px-6 py-4">
                                บธ.บ. (บริหารธุรกิจ)
                            </td>
                        </tr>
                        <tr class="border-b border-gray-200 ">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 ">
                                ภาษาอังกฤษ ชื่อเต็ม
                            </th>
                            <td class="px-6 py-4">
                                Bachelor of Business Administration (Business Administration)
                            </td>
                            <td class="px-6 py-4 bg-gray-50 ">
                                ชื่อย่อ
                            </td>
                            <td class="px-6 py-4">
                                B.B.A. (Business Administration)
                            </td>
                        </tr>

                            <tr>
                                <th scope="col" class="px-6 py-3 bg-gray-50 ">
                                    วิชาเอก
                                </th>
                                <td class="px-6 py-4">
                                    1) การเงินและการธนาคาร<br>
                                    2) การตลาด<br>
                                    3) การจัดการธุรกิจ<br>
                                    4) เทคโนโลยีธุรกิจดิจิทัล<br>
                                    5) การเป็นผู้ประกอบการ<br>
                                </td>
                            </tr>

                            <tr>
                                <th scope="col" class="px-6 py-3 bg-gray-50 ">
                                    จำนวนหน่วยกิตที่เรียนตลอดหลักสูตร
                                </th>
                                <td class="px-6 py-4">
                                    ไม่น้อยกว่า 127 หน่วยกิต
                                </td>
                            </tr>
                    </tbody>
                </table>
            </div>
            <div class="mt-8">
                <h2 class="mb-8 text-3xl text-center text-pink-600">เปิดสอนทั้งหมด 5 วิชาเอก</h2>
                <div class="grid grid-cols-3 center">
                    <figure
                        class="flex flex-col items-center justify-center p-8 text-center bg-white border-t border-b border-l border-gray-200 rounded-t-lg md:rounded-t-none md:rounded-ss-lg md:border-e">
                        <figcaption class="flex items-center justify-center ">
                            <!--  -->
                            <svg class="w-[48px] h-[48px] text-gray-800 dark:text-white" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M8 7H5a2 2 0 0 0-2 2v4m5-6h8M8 7V5a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2m0 0h3a2 2 0 0 1 2 2v4m0 0v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-6m18 0s-4 2-9 2-9-2-9-2m9-2h.01" />
                            </svg>

                        </figcaption>
                        <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 ">
                            <p class="my-4">วิชาเอกการจัดการธุรกิจ</p>
                            <a :href="route('curriculum-business-management-major')"
                                class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-800 focus:outline-none bg-white
                             rounded-lg border border-gray-200 hover:bg-pink-500 hover:text-white focus:z-10 focus:ring-4 focus:ring-pink-100 ">รายระเอียดเพิ่มเติม</a>
                        </blockquote>

                    </figure>
                    <figure
                        class="flex flex-col items-center justify-center p-8 text-center bg-white border-t border-b border-gray-200 rounded-t-lg md:rounded-t-none md:rounded-ss-lg md:border-e dark:bg-gray-800 dark:border-gray-700">

                        <figcaption class="flex items-center justify-center ">
                            <!--  -->
                            <svg class="w-[48px] h-[48px] text-gray-800 dark:text-white" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M13.6 16.733c.234.269.548.456.895.534a1.4 1.4 0 0 0 1.75-.762c.172-.615-.446-1.287-1.242-1.481-.796-.194-1.41-.861-1.241-1.481a1.4 1.4 0 0 1 1.75-.762c.343.077.654.26.888.524m-1.358 4.017v.617m0-5.939v.725M4 15v4m3-6v6M6 8.5 10.5 5 14 7.5 18 4m0 0h-3.5M18 4v3m2 8a5 5 0 1 1-10 0 5 5 0 0 1 10 0Z" />
                            </svg>

                        </figcaption>
                        <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 ">
                            <p class="my-4">วิชาเอกการตลาด</p>
                            <a :href="route('curriculum-marketing-major')"
                                class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-800 focus:outline-none bg-white
                             rounded-lg border border-gray-200 hover:bg-pink-500 hover:text-white focus:z-10 focus:ring-4 focus:ring-pink-100 ">รายระเอียดเพิ่มเติม</a>
                        </blockquote>

                    </figure>
                    <figure
                        class="flex flex-col items-center justify-center p-8 text-center bg-white border-t border-b border-gray-200 rounded-t-lg md:rounded-t-none md:rounded-ss-lg md:border-e dark:bg-gray-800 dark:border-gray-700">

                        <figcaption class="flex items-center justify-center ">
                            <!--  -->
                            <svg class="w-[48px] h-[48px] text-gray-800 dark:text-white" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-width="2"
                                    d="M8 7V6a1 1 0 0 1 1-1h11a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1h-1M3 18v-7a1 1 0 0 1 1-1h11a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1Zm8-3.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Z" />
                            </svg>


                        </figcaption>

                        <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8">
                            <p class="my-4">วิชาเอกการเงินและการธนาคาร</p>
                            <a :href="route('curriculum-finance-and-banking-major')"
                                class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-800 focus:outline-none bg-white
                             rounded-lg border border-gray-200 hover:bg-pink-500 hover:text-white focus:z-10 focus:ring-4 focus:ring-pink-100 ">รายระเอียดเพิ่มเติม</a>
                        </blockquote>

                    </figure>
                    <figure
                        class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-l border-gray-200 rounded-t-lg md:rounded-t-none md:rounded-ss-lg md:border-e dark:bg-gray-800 dark:border-gray-700">
                        <figcaption class="flex items-center justify-center ">
                            <svg class="w-[48px] h-[48px] text-gray-800 dark:text-white" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M9 16H5a1 1 0 0 1-1-1V5a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v1M9 12H4m8 8V9h8v11h-8Zm0 0H9m8-4a1 1 0 1 0-2 0 1 1 0 0 0 2 0Z" />
                            </svg>
                        </figcaption>
                        <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8">
                            <p class="my-4">วิชาเอกเทคโนโลยีธุรกิจดิจิทัล</p>
                            <a :href="route('curriculum-digital-business-technology-major')"
                                class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-800 focus:outline-none bg-white
                             rounded-lg border border-gray-200 hover:bg-pink-500 hover:text-white focus:z-10 focus:ring-4 focus:ring-pink-100 ">รายระเอียดเพิ่มเติม</a>
                        </blockquote>
                    </figure>
                    <figure
                        class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 rounded-t-lg md:rounded-t-none md:rounded-ss-lg md:border-e dark:bg-gray-800 dark:border-gray-700">
                        <figcaption class="flex items-center justify-center ">
                            <!--  -->
                            <svg class="w-[48px] h-[48px] text-gray-800 dark:text-white" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M6 4h12M6 4v16M6 4H5m13 0v16m0-16h1m-1 16H6m12 0h1M6 20H5M9 7h1v1H9V7Zm5 0h1v1h-1V7Zm-5 4h1v1H9v-1Zm5 0h1v1h-1v-1Zm-3 4h2a1 1 0 0 1 1 1v4h-4v-4a1 1 0 0 1 1-1Z" />
                            </svg>

                        </figcaption>
                        <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8">
                            <p class="my-4">วิชาเอกการเป็นผู้ประกอบการ</p>
                            <a :href="route('curriculum-entrepreneurship-major')"
                                class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-800 focus:outline-none bg-white
                             rounded-lg border border-gray-200 hover:bg-pink-500 hover:text-white focus:z-10 focus:ring-4 focus:ring-pink-100 ">รายระเอียดเพิ่มเติม</a>
                        </blockquote>
                    </figure>
                </div>
            </div>
        </div>
    </section>
</template>


