<script setup>
import { Head } from '@inertiajs/vue3';
import SiteLayout from '../../Layouts/SiteLayout.vue';
defineOptions({ layout: SiteLayout })
</script>

<template>

    <Head title="หลักสูตรบริหารธุรกิจมหาบัณฑิต สาขาวิชาการจัดการสมัยใหม่" />

    <Head>
        <!-- HTML Meta Tags -->
        <meta name="description"
            content="มหาวิทยาลัยราชภัฏกำแพงเพชร เป็นมหาวิทยาลัยที่เป็นที่พึ่งทางวิชาการของท้องถิ่นให้มีความเข้มแข็งอย่างยั่งยืน สถาปนาเมื่อ ปี 2516 ปัจจุบันประกอบด้วย 5 คณะ">
        <!-- Keywords Meta Tags -->
        <meta name="Keywords" lang="en"
            content="Covid, Kamphaeng Phet Rajabhat University, Rajabhat, KamphaengPhet, KPRU, KP, Kamphaeng, Thailand, Thai University">
        <meta name="Keywords" lang="th"
            content="มหาวิทยาลัยราชภัฏกำแพงเพชร, ราชภัฏกำแพงเพชร, มรภ.กพ., วิทยาลัยครูกำแพงเพชร, วิทยาลัยครู, ราชภัฏภาคเหนือ, มหาวิทยาลัยราชภัฏ, มหาวิทยาลัย, สถาบันการศึกษา">
        <!-- Google / Search Engine Tags -->
        <meta itemprop="name"
            content="หลักสูตรบริหารธุรกิจมหาบัณฑิต สาขาวิชาการจัดการสมัยใหม่ | คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร">
        <meta itemprop="description"
            content="คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร เป็นศูนย์กลางในการพัฒนาองค์ความรู้ด้านการบริหารจัดการ โดยการบูรณาการทางวิชาการ วิชาชีพ เพื่อการพัฒนาชุมชนท้องถิ่นของมหาวิทยาลัยราชภัฏภาคเหนือตอนล่าง">
        <meta itemprop="image" content="/storage/fb_og_image.jpg">

        <!-- Facebook Meta Tags -->
        <meta property="og:url" content="https://fms.kpru.ac.th">
        <meta property="og:type" content="website">
        <meta property="og:title" content="หลักสูตรบริหารธุรกิจมหาบัณฑิต สาขาวิชาการจัดการธุรกิจสมัยให | คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร">
        <meta property="og:description"
            content="คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร เป็นศูนย์กลางในการพัฒนาองค์ความรู้ด้านการบริหารจัดการ โดยการบูรณาการทางวิชาการ วิชาชีพ เพื่อการพัฒนาชุมชนท้องถิ่นของมหาวิทยาลัยราชภัฏภาคเหนือตอนล่าง">
        <meta property="og:image" content="/storage/fb_og_image.jpg">

        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="หลักสูตรบริหารธุรกิจมหาบัณฑิต สาขาวิชาการจัดการธุรกิจสมัยให | คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร">
        <meta name="twitter:description"
            content="คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร เป็นศูนย์กลางในการพัฒนาองค์ความรู้ด้านการบริหารจัดการ โดยการบูรณาการทางวิชาการ วิชาชีพ เพื่อการพัฒนาชุมชนท้องถิ่นของมหาวิทยาลัยราชภัฏภาคเหนือตอนล่าง">
        <meta name="twitter:image" content="/storage/fb_og_image.jpg">
    </Head>
    <!-- Breadcrumb -->
    <div class="container pt-4 mx-auto">
        <nav class="flex px-5 py-3 text-gray-700 border border-gray-200 rounded-lg bg-gray-50 " aria-label="Breadcrumb">
            <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
                <li class="inline-flex items-center">
                    <a href="/" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 ">
                        <svg class="w-3 h-3 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor" viewBox="0 0 20 20">
                            <path
                                d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z" />
                        </svg>
                        หน้าแรก
                    </a>
                </li>
                <li>
                    <div class="flex items-center">
                        <svg class="block w-3 h-3 mx-1 text-gray-400 rtl:rotate-180 " aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m1 9 4-4-4-4" />
                        </svg>
                        <a :href="route('mastergraduate')"
                            class="text-sm font-medium text-gray-700 ms-1 hover:text-blue-600 md:ms-2 ">หลักสูตรปริญญาโท</a>
                    </div>
                </li>
                <li>
                    <div class="flex items-center">
                        <svg class="block w-3 h-3 mx-1 text-gray-400 rtl:rotate-180 " aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m1 9 4-4-4-4" />
                        </svg>
                        <a :href="route('curriculum-mba')"
                            class="text-sm font-medium text-gray-700 ms-1 hover:text-blue-600 md:ms-2 ">หลักสูตรบริหารธุรกิจมหาบัณฑิต
                            สาขาวิชาการจัดการสมัยใหม่</a>
                    </div>
                </li>
            </ol>
        </nav>
    </div>
    <section class="bg-white">

        <div class="container px-4 py-8 mx-auto lg:py-16 lg:px-12">
            <div class="grid grid-cols-2">
                <div>
                    <h1 class="mb-4 text-4xl text-pink-600">
                        หลักสูตรบริหารธุรกิจมหาบัณฑิต<br>สาขาวิชาการจัดการสมัยใหม่
                    </h1>
                    <p class="mb-5 text-lg font-normal">รายละเอียดของหลักสูตร <span
                            class="text-sm font-normal text-pink-500 ">ล่าสุด 2566</span></p>
                </div>
                <div class="text-right">
                    <a :href="route('mba')"
                        class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-pink-600 to-pink-500 group-hover:from-pink-600 group-hover:to-pink-500 hover:text-white  focus:ring-4 focus:outline-none focus:ring-pink-300">
                        <span
                            class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white rounded-md group-hover:bg-opacity-0">
                            เว็บไซต์สาขาวิชาการจัดการสมัยใหม่
                        </span>
                    </a>
                </div>

            </div>
            <div>
                <a href="https://reg.kpru.ac.th/th/data/curkpru/2566/6601.pdf" target="_blank"
                    class="relative inline-flex items-center justify-center p-0.5 mb-5 ml-5 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-pink-600 to-pink-500 group-hover:from-pink-600 group-hover:to-pink-500 hover:text-white ">
                    <svg class="w-6 h-6 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                        height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M5 17v-5h1.5a1.5 1.5 0 1 1 0 3H5m12 2v-5h2m-2 3h2M5 10V7.914a1 1 0 0 1 .293-.707l3.914-3.914A1 1 0 0 1 9.914 3H18a1 1 0 0 1 1 1v6M5 19v1a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-1M10 3v4a1 1 0 0 1-1 1H5m6 4v5h1.375A1.627 1.627 0 0 0 14 15.375v-1.75A1.627 1.627 0 0 0 12.375 12H11Z" />
                    </svg>

                    <span
                        class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white rounded-md group-hover:bg-opacity-0">
                        เอกสารหลักสูตร
                    </span>
                </a>
                <a href="https://reg.kpru.ac.th/th/data/curkpru/2566/6601a.pdf" target="_blank"
                    class="relative inline-flex items-center justify-center p-0.5 mb-5 ml-5 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-pink-600 to-pink-500 group-hover:from-pink-600 group-hover:to-pink-500 hover:text-white ">
                    <svg class="w-6 h-6 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                        height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M5 17v-5h1.5a1.5 1.5 0 1 1 0 3H5m12 2v-5h2m-2 3h2M5 10V7.914a1 1 0 0 1 .293-.707l3.914-3.914A1 1 0 0 1 9.914 3H18a1 1 0 0 1 1 1v6M5 19v1a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-1M10 3v4a1 1 0 0 1-1 1H5m6 4v5h1.375A1.627 1.627 0 0 0 14 15.375v-1.75A1.627 1.627 0 0 0 12.375 12H11Z" />
                    </svg>

                    <span
                        class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white rounded-md group-hover:bg-opacity-0">
                        เอกสารสภามหาวิทยาลัย
                    </span>
                </a>
            </div>
            <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                <table class="w-full text-left">
                    <thead class="text-gray-700 uppercase">
                        <tr>
                            <th scope="col" class="px-6 py-3 bg-gray-50 ">
                                ชื่อหลักสูตร
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="border-b border-gray-200 ">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 ">
                                ภาษาไทย
                            </th>
                            <td class="px-6 py-4">
                                หลักสูตรบริหารธุรกิจมหาบัณฑิต สาขาวิชาการจัดการสมัยใหม่
                            </td>
                        </tr>
                        <tr class="border-b border-gray-200 ">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 ">
                                ภาษาอังกฤษ
                            </th>
                            <td class="px-6 py-4">
                                Master of Business Administration Program in Modern Management
                            </td>
                        </tr>
                            <tr>
                                <th scope="col" class="px-6 py-3 bg-gray-50 ">
                                    ชื่อปริญญาและสาขาวิชา
                                </th>
                            </tr>
                        <tr class="border-b border-gray-200 ">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 ">
                                ภาษาไทย ชื่อเต็ม
                            </th>
                            <td class="px-6 py-4">
                                บริหารธุรกิจมหาบัณฑิต (การจัดการสมัยใหม่)
                            </td>
                            <td class="px-6 py-4 bg-gray-50 ">
                                ชื่อย่อ
                            </td>
                            <td class="px-6 py-4">
                                บธ.ม. (การจัดการสมัยใหม่)
                            </td>
                        </tr>
                        <tr class="border-b border-gray-200 ">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 ">
                                ภาษาอังกฤษ ชื่อเต็ม
                            </th>
                            <td class="px-6 py-4">
                                Master of Business Administration (Modern Management)
                            </td>
                            <td class="px-6 py-4 bg-gray-50 ">
                                ชื่อย่อ
                            </td>
                            <td class="px-6 py-4">
                                M.B.A. (Modern Management)
                            </td>
                        </tr>

                            <tr>
                                <th scope="col" class="px-6 py-3 bg-gray-50 ">
                                    วิชาเอก
                                </th>
                                <td class="px-6 py-4">
                                    ไม่มี
                                </td>
                            </tr>

                            <tr>
                                <th scope="col" class="px-6 py-3 bg-gray-50 ">
                                    จำนวนหน่วยกิตที่เรียนตลอดหลักสูตร
                                </th>
                                <td class="px-6 py-4">
                                    ไม่น้อยกว่า 36 หน่วยกิต
                                </td>
                            </tr>
                    </tbody>
                </table>
            </div>
            <div class="mt-8">
                <h2 class="mb-8 text-3xl text-center text-pink-600">แนวทางการประกอบอาชีพ</h2>
                <div class="grid grid-cols-2">
                    <figure
                        class="flex flex-col items-center justify-center p-8 text-center bg-white border-t border-b border-l border-gray-200 rounded-t-lg md:rounded-t-none md:rounded-ss-lg md:border-e">
                        <figcaption class="flex items-center justify-center ">
                            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                viewBox="0 0 24 24">
                                <path fill-rule="evenodd"
                                    d="M4 4a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2v14a1 1 0 1 1 0 2H5a1 1 0 1 1 0-2V5a1 1 0 0 1-1-1Zm5 2a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1H9Zm5 0a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1h-1Zm-5 4a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1v-1a1 1 0 0 0-1-1H9Zm5 0a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1v-1a1 1 0 0 0-1-1h-1Zm-3 4a2 2 0 0 0-2 2v3h2v-3h2v3h2v-3a2 2 0 0 0-2-2h-2Z"
                                    clip-rule="evenodd" />
                            </svg>

                        </figcaption>
                        <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 ">
                            <p class="my-4">ผู้บริหาร หรือที่ปรึกษาองค์การภาครัฐ</p>
                        </blockquote>

                    </figure>
                    <figure
                        class="flex flex-col items-center justify-center p-8 text-center bg-white border-t border-b border-gray-200 rounded-t-lg md:rounded-t-none md:rounded-ss-lg md:border-e ">

                        <figcaption class="flex items-center justify-center ">
                            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M8 7H5a2 2 0 0 0-2 2v4m5-6h8M8 7V5a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2m0 0h3a2 2 0 0 1 2 2v4m0 0v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-6m18 0s-4 2-9 2-9-2-9-2m9-2h.01" />
                            </svg>

                        </figcaption>
                        <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 ">
                            <p class="my-4">ผู้จัดการ หรือหัวหน้างานองค์การเอกชน</p>
                        </blockquote>

                    </figure>
                    <figure
                        class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-l border-gray-200 rounded-t-lg md:rounded-t-none md:rounded-ss-lg md:border-e ">

                        <figcaption class="flex items-center justify-center ">
                            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-width="2"
                                    d="M3 21h18M4 18h16M6 10v8m4-8v8m4-8v8m4-8v8M4 9.5v-.955a1 1 0 0 1 .458-.84l7-4.52a1 1 0 0 1 1.084 0l7 4.52a1 1 0 0 1 .458.84V9.5a.5.5 0 0 1-.5.5h-15a.5.5 0 0 1-.5-.5Z" />
                            </svg>

                        </figcaption>

                        <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8">
                            <p class="my-4">ผู้ประกอบการขนาดกลาง/ขนาดย่อม/วิสาหกิจชุมชน ผู้ประกอบการธุรกิจรายใหม่</p>
                        </blockquote>

                    </figure>
                    <figure
                        class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 rounded-t-lg md:rounded-t-none md:rounded-ss-lg md:border-e ">

                        <figcaption class="flex items-center justify-center ">
                            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M15 9h3m-3 3h3m-3 3h3m-6 1c-.306-.613-.933-1-1.618-1H7.618c-.685 0-1.312.387-1.618 1M4 5h16a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1Zm7 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0Z" />
                            </svg>

                        </figcaption>
                        <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8">
                            <p class="my-4">อาจารย์ นักวิชาการ นักวิจัยด้านบริหารธุรกิจ</p>
                        </blockquote>

                    </figure>
                </div>
            </div>

            <div class="mt-8">
                <h2 class="mb-8 text-3xl text-center text-pink-600">ประวัติการปรับปรุงหลักสูตร</h2>
                <table class="w-full text-left">
                    <thead class="text-gray-700 uppercase">
                        <tr class="text-center">
                            <th scope="col" class="px-6 py-3 bg-gray-50 ">
                                ปี พ.ศ.
                            </th>
                            <th scope="col" class="px-6 py-3 bg-gray-50 ">
                                หลักสูตร
                            </th>
                            <th scope="col" class="px-6 py-3 bg-gray-50 ">
                                สาขาวิชา / วิชาเอก
                            </th>
                            <th scope="col" class="px-6 py-3 bg-gray-50 ">
                                ใช้กับ นศ.
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center border-b border-gray-200 ">
                            <td class="px-6 py-3">
                                2566
                            </td>
                            <td class="px-6 py-3">
                                บริหารธุรกิจมหาบัณฑิต (บธ.ม.)
                            </td>
                            <td class="px-6 py-3">
                                การจัดการสมัยใหม่
                            </td>
                            <td class="px-6 py-3">
                                รหัส 66 - 70
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </section>
</template>


