<script setup>
import { Head } from "@inertiajs/vue3";
import BlankLayout from "../../../Layouts/BlankLayout.vue";
defineOptions({ layout: BlankLayout });
</script>
<template>
    <Head title="FMS@KPRU LIVE ROV FMS Championship 2025" />
    <Head>
        <!-- HTML Meta Tags -->
        <meta
            name="description"
            content="มหาวิทยาลัยราชภัฏกำแพงเพชร เป็นมหาวิทยาลัยที่เป็นที่พึ่งทางวิชาการของท้องถิ่นให้มีความเข้มแข็งอย่างยั่งยืน สถาปนาเมื่อ ปี 2516 ปัจจุบันประกอบด้วย 5 คณะ"
        />
        <!-- Keywords Meta Tags -->
        <meta
            name="Keywords"
            lang="en"
            content="NACM14th,FMS@KPRU ,LIVE, ROV, FMS Championship 2025, Kamphaeng Phet Rajabhat University, Rajabhat, KamphaengPhet, KPRU, KP, Kamphaeng, Thailand, Thai University"
        />
        <meta
            name="Keywords"
            lang="th"
            content="งานประชุมวิชาการครั้งที่ 14, มหาวิทยาลัยราชภัฏกำแพงเพชร, ราชภัฏกำแพงเพชร, มรภ.กพ., วิทยาลัยครูกำแพงเพชร, วิทยาลัยครู, ราชภัฏภาคเหนือ, มหาวิทยาลัยราชภัฏ, มหาวิทยาลัย, สถาบันการศึกษา, คณะวิทยาการจัดการ, มหาวิทยาลัยราชภัฏภาคเหนือ 8 แห่ง"
        />
        <!-- Google / Search Engine Tags -->
        <meta
            itemprop="name"
            content="FMS@KPRU LIVE ROV FMS Championship 2025 | คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร"
        />
        <meta
            itemprop="description"
            content="คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร เป็นศูนย์กลางในการพัฒนาองค์ความรู้ด้านการบริหารจัดการ โดยการบูรณาการทางวิชาการ วิชาชีพ เพื่อการพัฒนาชุมชนท้องถิ่นของมหาวิทยาลัยราชภัฏภาคเหนือตอนล่าง"
        />
        <meta itemprop="image" content="/storage/fb_og_image.jpg" />

        <!-- Facebook Meta Tags -->
        <meta property="og:url" content="https://fms.kpru.ac.th" />
        <meta property="og:type" content="website" />
        <meta
            property="og:title"
            content="FMS@KPRU LIVE ROV FMS Championship 2025 | คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร"
        />
        <meta
            property="og:description"
            content="คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร เป็นศูนย์กลางในการพัฒนาองค์ความรู้ด้านการบริหารจัดการ โดยการบูรณาการทางวิชาการ วิชาชีพ เพื่อการพัฒนาชุมชนท้องถิ่นของมหาวิทยาลัยราชภัฏภาคเหนือตอนล่าง"
        />
        <meta property="og:image" content="/storage/fb_og_image.jpg" />

        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta
            name="twitter:title"
            content="FMS@KPRU LIVE ROV FMS Championship 2025 | คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร"
        />
        <meta
            name="twitter:description"
            content="คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏกำแพงเพชร เป็นศูนย์กลางในการพัฒนาองค์ความรู้ด้านการบริหารจัดการ โดยการบูรณาการทางวิชาการ วิชาชีพ เพื่อการพัฒนาชุมชนท้องถิ่นของมหาวิทยาลัยราชภัฏภาคเหนือตอนล่าง"
        />
        <meta name="twitter:image" content="/storage/fb_og_image.jpg" />
    </Head>
    <div class="h-full bg-black">
        <section id="iframe">
            <div class="container mx-auto">
                <div class="grid grid-cols-1">
                    <div>
                        <header class="flex justify-between">
                            <div class="w-1/2">
                                <h1 class="py-5 text-2xl text-white">
                                    <a :href="route('rovfms')">
                                        ROV FMS Championship 2025
                                        <span class="ml-2 text-red-500"
                                            >LIVE</span
                                        >
                                    </a>
                                </h1>
                            </div>

                            <div class="w-1/2 my-2 text-white">
                                <ul class="flex justify-end">
                                    <li class="p-5">
                                        <a
                                            :href="route('home')"
                                            class="p-5 hover:bg-slate-600"
                                            >หน้าแรกคณะ</a
                                        >
                                    </li>
                                    <li class="p-5">
                                        <a
                                            :href="route('NACM14th')"
                                            class="p-5 hover:bg-slate-600"
                                            >NACM14th</a
                                        >
                                    </li>
                                </ul>
                            </div>
                            <p></p>
                        </header>
                        <!-- ช่อง iframe -->
                        <div>
                            <iframe
                                src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Ffmskpru%2Fvideos%2F1559907701335928%2F&width=1280"
                                width="1280"
                                height="720"
                                style="border: none; overflow: hidden"
                                scrolling="no"
                                frameborder="0"
                                allowfullscreen="true"
                                allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
                                allowFullScreen="true"
                            ></iframe>
                        </div>
                    </div>

                    <div class="hidden mt-5">
                        <!-- ช่อง Competition -->
                        <img
                            src="/NACM14th/images/Competition-Line.jpg"
                            class="rounded-md"
                        />
                    </div>
                </div>
            </div>
        </section>
        <footer class="w-full py-10 mt-10 text-center text-white bg-gray-800">
            <div class="container px-4 mx-auto" id="contact">
                <h2 class="mb-4 text-3xl font-bold">ช่องทางอื่น</h2>
                <ul class="flex justify-center mt-4 space-x-4">
                    <li>
                        <a
                            href="https://www.facebook.com/fmskpru"
                            class="text-[#39569c] hover:text-gray-900"
                            target="_blank"
                            ref="nofollow"
                        >
                            <svg
                                class="w-8 h-8"
                                fill="currentColor"
                                viewBox="0 0 24 24"
                                aria-hidden="true"
                            >
                                <path
                                    fill-rule="evenodd"
                                    d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z"
                                    clip-rule="evenodd"
                                />
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </footer>
    </div>
</template>
