<script>
export default {
    data() {
        return {
            showButton: false
        };
    },
    mounted() {
        window.addEventListener("scroll", this.handleScroll);
    },
    methods: {
        handleScroll() {
            this.showButton = window.scrollY > 200;
        },
        scrollToTop() {
            window.scrollTo({ top: 0, behavior: "smooth" });
        }
    },
    beforeDestroy() {
        window.removeEventListener("scroll", this.handleScroll);
    }
};
</script>

<template>
    <slot />
    <button v-show="showButton" @click="scrollToTop"
        class="fixed p-2 text-white rounded-full bg-primary-600 bottom-5 right-5">
        <svg class="w-6 h-6 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
            width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M12 6v13m0-13 4 4m-4-4-4 4" />
        </svg>
    </button>
</template>

