<template>
    <HeaderSite />
    <div>
        <slot />
    </div>
    <FooterSite />
</template>

<script setup>
import { usePage } from '@inertiajs/vue3';
const page = usePage()
import HeaderSite from '@/Components/HeaderSite.vue';
import FooterSite from '@/Components/FooterSite.vue';
</script>
